@charset "utf-8";

/* default s */
*{margin:0;padding:0;border:none;font-size:0;line-height:0;box-sizing:border-box;vertical-align:top;}
html, body{position:relative;overflow-x:hidden;overflow-y:hidden;-ms-overflow-style:none;scrollbar-width:none;text-align:center;}
html::-webkit-scrollbar, body::-webkit-scrollbar{display:none;}
html.scroll_on, html.scroll_on body{overflow-y:auto;}
/* default e */

/* intro s */
.intro_box{display:block;position:fixed;top:0;left:0;width:100%;height:100vh;}
.intro_box .intro_svg_box{display:inline-block;position:relative;width:100vw;height:100vh;vertical-align:top;transform-origin:50% 50%;transform:scale(1.2);visibility:visible;opacity:1;transition:transform 3s cubic-bezier(.52, .08, .04, 1.18), visibility 3s 3s cubic-bezier(.52, .08, .04, 1.18), opacity 3s 3s cubic-bezier(.52, .08, .04, 1.18);}
body.loading .intro_box .intro_svg_box{transform:scale(0.6);visibility:hidden;opacity:0;}
.intro_box .intro_svg_box .beluga_svg{display:block;width:100%;height:100%;}
.intro_box .intro_svg_box .beluga_svg .path{display:block;width:100%;height:100%;}
.intro_box .intro_svg_box .beluga_svg .path{stroke-dashoffset:10000px;stroke-dasharray:10000px;transition:stroke-dashoffset 10s cubic-bezier(.86, 0, .07, 1);}
body.loading .intro_box .intro_svg_box .beluga_svg .path{stroke-dashoffset:0;}
/* intro e */

/* wrapper s */
#wrapper{display:block;position:relative;z-index:1;width:100%;background-color:rgba(0, 0, 0, 1);text-align:left;visibility:hidden;opacity:0;transition:visibility 3s 3s cubic-bezier(.52, .08, .04, 1.18), opacity 3s 3s cubic-bezier(.52, .08, .04, 1.18);}
body.loading #wrapper{visibility:visible;opacity:1;}
/* wrapper e */

/* header s */
#header{display:block;position:absolute;top:0;left:0;width:100%;}
/* header e */

/* container s */
#container{display:block;position:relative;width:100%;height:300vh;}
/* container e */

/* rowgroup s */
.rowgroup{display:block;position:relative;width:100%;height:calc(100% / 3);}

.campany{display:block;position:relative;width:100%;height:100%;}
.campany .campany_wrap{display:block;position:relative;width:100%;height:100%;}
.campany .campany_wrap .campany_box{display:block;position:relative;width:100%;height:100%;}
.campany .campany_wrap .campany_box .campany_svg_box{display:inline-block;position:relative;width:100%;height:100%;vertical-align:top;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg{display:block;width:100%;height:100%;padding:3vh 2vw;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path{display:block;width:100%;height:100%;transition-property:stroke-dashoffset;transition-duration:4s;transition-timing-function:cubic-bezier(0.7, -0.6, 0.3, 2);}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="1"]{stroke-dashoffset:310px;stroke-dasharray:310px;transition-delay:0s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="2"]{stroke-dashoffset:452px;stroke-dasharray:452px;transition-delay:0.15s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="3"]{stroke-dashoffset:399px;stroke-dasharray:399px;transition-delay:0.3s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="4"]{stroke-dashoffset:422px;stroke-dasharray:422px;transition-delay:0.45s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="5"]{stroke-dashoffset:1665px;stroke-dasharray:1665px;transition-delay:0.6s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="6"]{stroke-dashoffset:593px;stroke-dasharray:593px;transition-delay:0.75s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="7"]{stroke-dashoffset:1153px;stroke-dasharray:1153px;transition-delay:0.9s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="8"]{stroke-dashoffset:251px;stroke-dasharray:251px;transition-delay:1.05s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="9"]{stroke-dashoffset:365px;stroke-dasharray:365px;transition-delay:1.2s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="10"]{stroke-dashoffset:133px;stroke-dasharray:133px;transition-delay:1.35s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="11"]{stroke-dashoffset:305px;stroke-dasharray:305px;transition-delay:1.5s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="12"]{stroke-dashoffset:619px;stroke-dasharray:619px;transition-delay:1.65s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="13"]{stroke-dashoffset:544px;stroke-dasharray:544px;transition-delay:1.8s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="14"]{stroke-dashoffset:1799px;stroke-dasharray:1799px;transition-delay:1.95s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="15"]{stroke-dashoffset:1253px;stroke-dasharray:1253px;transition-delay:2.05s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="16"]{stroke-dashoffset:926px;stroke-dasharray:926px;transition-delay:2.2s;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path[data-path="17"]{stroke-dashoffset:3048px;stroke-dasharray:3048px;transition-delay:2.35s;}

.campany .campany_wrap .campany_box .campany_svg_box .campany_svg.active g .path{stroke-dashoffset:0;}
/* rowgroup e */




/* footer s */
#footer{display:block;position:absolute;bottom:0;left:0;width:100%;}
/* footer e */