@charset "utf-8";

/* default s */
*{margin:0;padding:0;border:none;font-size:0;line-height:0;box-sizing:border-box;vertical-align:top;}
html{overflow-y:hidden;}
/*
html{overflow-y:hidden;-ms-overflow-style:none;scrollbar-width:none;}
html.scroll_on{overflow-y:auto;}
html::-webkit-scrollbar{display:none;}
html, body{position:relative;overflow-x:hidden;text-align:center;}
*/
/* default e */

/* intro s */
.intro_box{display:block;position:fixed;top:0;left:0;width:100%;height:100vh;}
.intro_box .intro_svg_box{display:inline-block;position:relative;width:100vw;height:100vh;vertical-align:top;transform-origin:50% 50%;transform:scale(1.2);visibility:visible;opacity:1;transition:transform 3s cubic-bezier(.52, .08, .04, 1.18), visibility 3s 3s cubic-bezier(.52, .08, .04, 1.18), opacity 3s 3s cubic-bezier(.52, .08, .04, 1.18);}
body.loading .intro_box .intro_svg_box{transform:scale(0.6);visibility:hidden;opacity:0;}
.intro_box .intro_svg_box .beluga_svg{display:block;width:100%;height:100%;}
.intro_box .intro_svg_box .beluga_svg .path{display:block;width:100%;height:100%;}
.intro_box .intro_svg_box .beluga_svg .path{stroke-dashoffset:10000px;stroke-dasharray:10000px;transition:stroke-dashoffset 10s cubic-bezier(.86, 0, .07, 1);}
body.loading .intro_box .intro_svg_box .beluga_svg .path{stroke-dashoffset:0;}
/* intro e */

/* wrapper s */
#wrapper{display:block;position:relative;z-index:1;width:100%;background-color:rgba(0, 0, 0, 1);text-align:left;visibility:hidden;opacity:0;transition:visibility 3s 3s cubic-bezier(.52, .08, .04, 1.18), opacity 3s 3s cubic-bezier(.52, .08, .04, 1.18);}
body.loading #wrapper{visibility:visible;opacity:1;}
/* wrapper e */

/* header s */
#header{display:block;position:absolute;top:0;left:0;width:100%;}
/* header e */

/* container s */
#container{display:block;position:relative;width:100%;height:300vh;}
/* container e */

/* rowgroup s */
.rowgroup{display:block;position:relative;width:100%;height:calc(100% / 3);}

.campany{display:block;position:relative;width:100%;height:100%;}
.campany .campany_wrap{display:block;position:relative;width:100%;height:100%;}
.campany .campany_wrap .campany_box{display:block;position:relative;width:100%;height:100%;}
.campany .campany_wrap .campany_box .campany_svg_box{display:inline-block;position:relative;width:100%;height:100%;vertical-align:top;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg{display:block;width:100%;height:100%;padding:3vh 2vw;}
.campany .campany_wrap .campany_box .campany_svg_box .campany_svg .path{display:block;width:100%;height:100%;}
/* rowgroup e */

/* footer s */
#footer{display:block;position:absolute;bottom:0;left:0;width:100%;}
/* footer e */