@charset "UTF-8";

/* 본고딕 NotoKR */
@font-face{
	font-family:'CJK';
	font-weight: 600;
	src:url("../../site/ddcedu/font/NotoSansCJKkr-Bold.woff2") format('woff2'),
	url("../../site/ddcedu/font/NotoSansCJKkr-Bold.woff") format('woff');
}
@font-face{
	font-family:'CJK';
	font-weight: 400;
	src:url("../../site/ddcedu/font/NotoSansCJKkr-Regular.woff2") format('woff2'),
	url("../../site/ddcedu/font/NotoSansCJKkr-Regular.woff") format('woff');
}
@font-face{
	font-family:'CJK';
	font-weight: 200;
	src:url("../../site/ddcedu/font/NotoSansCJKkr-Light.woff2") format('woff2'),
	url("../../site/ddcedu/font/NotoSansCJKkr-Light.woff") format('woff');
}