@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.10 */

/* 상단깨기 */
@media screen and (min-width:1501px){
    .lnb .menu .depth1{padding-left: 339px;}
}
@media screen and (min-width:1001px) and (max-width:1500px){

}

/* 하단깨기 */
@media screen and (min-width:1501px){
    .footer_box .footer_middle,
    .footer_box .footer_bottom{padding-left:271px;}
}
@media screen and (min-width:1001px) and (max-width:1500px){
    .footer_box .footer_middle,
    .footer_box .footer_bottom{padding-left:130px;}
}