@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.08 */

/* 제목, 본문 */
h3, .h3{display:block;position:relative;width:100%;margin-top:50px;margin-bottom:22px;font-size:0;line-height:0;text-align:center;box-sizing:border-box;}
h3 span, .h3 span{display:inline-block;position:relative;padding-left:29px;font-size:30px;color:#242424;line-height:44px;letter-spacing:-0.03em;font-weight:500;font-family:'Score';vertical-align:top;box-sizing:border-box;}
h3 span:before, .h3 span:before{display:block;position:absolute;top:8px;left:0;width:16px;height:27px;background-image:url(../images/template/template_sprite.png);background-repeat:no-repeat;background-position:left top;content:'';}
h4, .h4{display:block;position:relative;width:100%;margin-top:22px;margin-bottom:14px;padding-left:13px;font-size:0;line-height:0;box-sizing:border-box;}
h4:before, .h4:before{display:block;position:absolute;top:-4px;left:0;width:22px;height:22px;background-image:linear-gradient(to bottom, #70d8b0 0%, #f4fcda 100%);border-radius:100%;content:'';opacity:0.56;}
h4 span, .h4 span{display:inline-block;position:relative;font-size:26px;color:#0a9361;line-height:42px;letter-spacing:-0.03em;font-weight:500;font-family:'Score';vertical-align:top;box-sizing:border-box;}
h5, .h5{display:block;position:relative;width:100%;margin-top:14px;margin-bottom:12px;padding-left:15px;font-size:0;line-height:0;box-sizing:border-box;}
h5:before, .h5:before{display:block;position:absolute;top:11px;left:1px;width:5px;height:19px;background-color:#068f8b;border-radius:2px;content:'';}
h5 span, .h5 span{display:inline-block;position:relative;font-size:22px;color:#068f8b;line-height:40px;letter-spacing:-0.03em;font-weight:500;font-family:'Score';vertical-align:top;box-sizing:border-box;}
h6, .h6{display:block;position:relative;width:100%;margin-top:12px;margin-bottom:12px;padding-left:21px;font-size:0;line-height:0;box-sizing:border-box;}
h6:before, .h6:before{display:block;position:absolute;top:13px;left:0;width:13px;height:11px;background-image:url(../images/template/template_sprite.png);background-repeat:no-repeat;background-position:-30px top;content:'';}
h6 span, .h6 span{display:inline-block;position:relative;font-size:20px;color:#926f0f;line-height:38px;letter-spacing:-0.03em;font-weight:500;font-family:'Score';vertical-align:top;box-sizing:border-box;}
@media screen and (max-width:1430px){
    h3, .h3{margin-top:30px;margin-bottom:15px;}
    h3 span, .h3 span{font-size:28px;line-height:42px;}
    h4, .h4{margin-top:15px;margin-bottom:10px;}
    h4 span, .h4 span{font-size:24px;line-height:40px;}
    h5, .h5{margin-top:10px;margin-bottom:5px;}
    h5 span, .h5 span{font-size:20px;line-height:38px;}
    h6, .h6{margin-top:5px;margin-bottom:5px;}
    h6 span, .h6 span{font-size:18px;line-height:36px;}
}
@media screen and (max-width:1000px){
    h3 span, .h3 span{padding-left:21px;}
    h3 span:before, .h3 span:before{top:7px;}
    h3 span, .h3 span{font-size:26px;line-height:38px;}
    h4, .h4{padding-left:0;}
    h4:before, .h4:before{left:-8px;}
    h4 span, .h4 span{font-size:22px;line-height:36px;}
    h5, .h5{padding-left:10px;}
    h5 span, .h5 span{font-size:18px;line-height:34px;}
    h5:before, .h5:before{top:7px;}
    h6, .h6{padding-left:18px;}
    h6 span, .h6 span{font-size:16px;line-height:32px;}
    h6:before, .h6:before{top:11px;}
}
@media screen and (max-width:640px){
    h3, .h3{margin-top:20px;margin-bottom:10px;}
    h3 span, .h3 span{font-size:20px;line-height:30px;}
    h3 span:before, .h3 span:before{top:3px;}
    h4, .h4{margin-top:10px;margin-bottom:5px;}
    h4 span, .h4 span{font-size:18px;line-height:24px;}
    h5, .h5{margin-top:8px;margin-bottom:3px;}
    h5:before, .h5:before{top:2px;}
    h5 span, .h5 span{font-size:16px;line-height:22px;}
    h6, .h6{margin-top:5px;}
    h6:before, .h6:before{top:5px;}
    h6 span, .h6 span{font-size:15px;line-height:20px;}
    p{font-size:15px;line-height:24px;}
}

/* 강조 */
.em_green{color:#0a9361;}
.em_blue{color:#3b82e7;}
.em_red{color:#e5440c;}
.em_orange{color:#dc650d;}
.em_b_green{color:#0a9361;font-weight:400;}
.em_b_blue{color:#3b82e7;font-weight:400;}
.em_b_red{color:#e5440c;font-weight:400;}
.em_b_orange{color:#dc650d;font-weight:400;}
.desc_bold{color:#242424;font-weight:400;}

/* 목록 */
/* 1차 */
.bu{display:block;width:100%;box-sizing:border-box;}
.bu > li{display:block;position:relative;width:100%;padding-left:16px;font-size:16px;color:#242424;line-height:28px;letter-spacing:-0.03em;word-break:keep-all;font-weight:300;font-family:'Score';box-sizing:border-box;}
.bu > li:before{display:block;position:absolute;top:9px;left:0;width:7px;height:8px;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;background-position:left -240px;content:'';box-sizing:border-box;}
/* 2차 */
.bu > li ul,
.bu > li .bu{}
.bu > li ul > li,
.bu > li .bu > li{display:block;position:relative;width:100%;padding-left:23px;font-size:15px;color:#555;line-height:26px;letter-spacing:-0.03em;word-break:keep-all;font-weight:200;font-family:'Score';box-sizing:border-box;}
.bu > li ul > li:before,
.bu > li .bu > li:before{display:block;position:absolute;top:10px;left:9px;width:6px;height:6px;border-radius:100%;background-color:#57b750;background-image:none;content:'';box-sizing:border-box;}
/* 3차 */
.bu > li ul > li ul,
.bu > li .bu > li ul,
.bu > li ul > li .bu,
.bu > li .bu > li .bu{}
.bu > li ul > li ul > li,
.bu > li .bu > li ul > li,
.bu > li ul > li .bu > li,
.bu > li .bu > li .bu > li{display:block;position:relative;width:100%;padding-left:16px;font-size:14px;color:#6c6c6c;line-height:24px;letter-spacing:-0.03em;word-break:keep-all;font-weight:300;font-family:'Score';box-sizing:border-box;}
.bu > li ul > li ul > li:before,
.bu > li .bu > li ul > li:before,
.bu > li ul > li .bu > li:before,
.bu > li .bu > li .bu > li:before{display:block;position:absolute;top:11px;left:1px;width:8px;height:2px;border-radius:0;background-color:#318b31;background-image:none;content:'';box-sizing:border-box;}
@media screen and (max-width:1000px){
    .bu > li{padding-left:10px;font-size:15px;}
    .bu > li ul > li,
    .bu > li .bu > li{padding-left:10px;font-size:14px;}
    .bu > li ul > li:before,
    .bu > li .bu > li:before{left:0;}
    .bu > li ul > li ul > li,
    .bu > li .bu > li ul > li,
    .bu > li ul > li .bu > li,
    .bu > li .bu > li .bu > li{padding-left:12px;font-size:13px;}
}
@media screen and (max-width:640px){
    .bu > li{line-height:26px;}
    .bu > li ul > li,
    .bu > li .bu > li{line-height:24px;}
    .bu > li ul > li ul > li,
    .bu > li .bu > li ul > li,
    .bu > li ul > li .bu > li,
    .bu > li .bu > li .bu > li{line-height:22px;}
}

/* 목록 type2 */
/* 1차 */
.bu.type2 > li{display:block;position:relative;width:100%;padding-left:14px;font-size:15px;color:#555;line-height:26px;letter-spacing:-0.03em;word-break:keep-all;font-weight:200;font-family:'Score';box-sizing:border-box;}
.bu.type2 > li:before{display:block;position:absolute;top:10px;left:0;width:6px;height:6px;border-radius:100%;background-color:#57b750;background-image:none;content:'';box-sizing:border-box;}
/* 2차 */
.bu.type2 > li ul,
.bu.type2 > li .bu{}
.bu.type2 > li ul > li,
.bu.type2 > li .bu > li{display:block;position:relative;width:100%;padding-left:16px;font-size:14px;color:#6c6c6c;line-height:24px;letter-spacing:-0.03em;word-break:keep-all;font-weight:300;font-family:'Score';box-sizing:border-box;}
.bu.type2 > li ul > li:before,
.bu.type2 > li .bu > li:before{display:block;position:absolute;top:11px;left:1px;width:8px;height:2px;border-radius:0;background-color:#318b31;background-image:none;content:'';box-sizing:border-box;}
@media screen and (max-width:1000px){
    .bu.type2 > li{padding-left:10px;font-size:14px;}
    .bu.type2 > li:before{left:0;}
    .bu.type2 > li ul > li,
    .bu.type2 > li .bu > li{padding-left:12px;font-size:13px;}
}
@media screen and (max-width:640px){
    .bu.type2 > li{line-height:24px;}
    .bu.type2 > li ul > li,
    .bu.type2 > li .bu > li{line-height:22px;}
}

/* 목록 타이틀형 */
ul.title_type{display:block;width:100%;box-sizing:border-box;}
ul.title_type > li{display:block;position:relative;width:100%;padding-left:16px;font-size:0;line-height:0;box-sizing:border-box;}
ul.title_type > li:before{display:block;position:absolute;top:9px;left:0;width:7px;height:8px;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;background-position:left -240px;content:'';box-sizing:border-box;}
ul.title_type > li > span{display:inline-block;font-size:16px;color:#242424;line-height:28px;letter-spacing:-0.03em;word-break:keep-all;font-family:'Score';vertical-align:top;box-sizing:border-box;}
ul.title_type > li > span.text{font-weight:500;}
ul.title_type > li > span.desc{margin-left:5px;font-weight:200;}
/* 2차 */
ul.title_type > li ul,
ul.title_type > li .bu{}
ul.title_type > li ul > li,
ul.title_type > li .bu > li{display:block;position:relative;width:100%;padding-left:23px;font-size:15px;color:#555;line-height:26px;letter-spacing:-0.03em;word-break:keep-all;font-weight:200;font-family:'Score';box-sizing:border-box;}
ul.title_type > li ul > li:before,
ul.title_type > li .bu > li:before{display:block;position:absolute;top:10px;left:9px;width:6px;height:6px;border-radius:100%;background-color:#57b750;background-image:none;content:'';box-sizing:border-box;}
/* 3차 */
ul.title_type > li ul > li ul,
ul.title_type > li .bu > li ul,
ul.title_type > li ul > li .bu,
ul.title_type > li .bu > li .bu{}
ul.title_type > li ul > li ul > li,
ul.title_type > li .bu > li ul > li,
ul.title_type > li ul > li .bu > li,
ul.title_type > li .bu > li .bu > li{display:block;position:relative;width:100%;padding-left:16px;font-size:14px;color:#6c6c6c;line-height:24px;letter-spacing:-0.03em;word-break:keep-all;font-weight:300;font-family:'Score';box-sizing:border-box;}
ul.title_type > li ul > li ul > li:before,
ul.title_type > li .bu > li ul > li:before,
ul.title_type > li ul > li .bu > li:before,
ul.title_type > li .bu > li .bu > li:before{display:block;position:absolute;top:11px;left:1px;width:8px;height:2px;border-radius:0;background-color:#318b31;background-image:none;content:'';box-sizing:border-box;}
@media screen and (max-width:1000px){
    ul.title_type > li{padding-left:10px;}
    ul.title_type > li > span{font-size:15px;}
    ul.title_type > li ul > li,
    ul.title_type > li .bu > li{padding-left:10px;font-size:14px;}
    ul.title_type > li ul > li:before,
    ul.title_type > li .bu > li:before{left:0;}
    ul.title_type > li ul > li ul > li,
    ul.title_type > li .bu > li ul > li,
    ul.title_type > li ul > li .bu > li,
    ul.title_type > li .bu > li .bu > li{padding-left:12px;font-size:13px;}
}
@media screen and (max-width:640px){
    ul.title_type > li > span{line-height:26px;}
    ul.title_type > li ul > li,
    ul.title_type > li .bu > li{line-height:24px;}
    ul.title_type > li ul > li ul > li,
    ul.title_type > li .bu > li ul > li,
    ul.title_type > li ul > li .bu > li,
    ul.title_type > li .bu > li .bu > li{line-height:22px;}
}

/* 목록 타이틀형 type2 */
ul.title_type2{display:block;width:100%;box-sizing:border-box;}
ul.title_type2 > li{display:block;position:relative;width:100%;padding-left:18px;font-size:0;line-height:0;box-sizing:border-box;}
ul.title_type2 > li:before{display:block;position:absolute;top:8px;left:0;width:12px;height:12px;border:3px solid #1947ba;border-radius:100%;content:'';box-sizing:border-box;}
ul.title_type2 > li > span{display:inline-block;font-size:16px;line-height:28px;letter-spacing:-0.03em;word-break:keep-all;font-weight:200;font-family:'Score';vertical-align:top;box-sizing:border-box;}
ul.title_type2 > li > span.text{color:#0158a2;font-weight:300;}
ul.title_type2 > li > span.desc{margin-left:5px;color:#242424;}
/* 2차 */
ul.title_type2 > li ul,
ul.title_type2 > li .bu{}
ul.title_type2 > li ul > li,
ul.title_type2 > li .bu > li{display:block;position:relative;width:100%;padding-left:23px;font-size:15px;color:#555;line-height:26px;letter-spacing:-0.03em;word-break:keep-all;font-weight:200;font-family:'Score';box-sizing:border-box;}
ul.title_type2 > li ul > li:before,
ul.title_type2 > li .bu > li:before{display:block;position:absolute;top:10px;left:9px;width:6px;height:6px;border-radius:100%;background-color:#57b750;background-image:none;content:'';box-sizing:border-box;}
/* 3차 */
ul.title_type2 > li ul > li ul,
ul.title_type2 > li .bu > li ul,
ul.title_type2 > li ul > li .bu,
ul.title_type2 > li .bu > li .bu{}
ul.title_type2 > li ul > li ul > li,
ul.title_type2 > li .bu > li ul > li,
ul.title_type2 > li ul > li .bu > li,
ul.title_type2 > li .bu > li .bu > li{display:block;position:relative;width:100%;padding-left:16px;font-size:14px;color:#6c6c6c;line-height:24px;letter-spacing:-0.03em;word-break:keep-all;font-weight:300;font-family:'Score';box-sizing:border-box;}
ul.title_type2 > li ul > li ul > li:before,
ul.title_type2 > li .bu > li ul > li:before,
ul.title_type2 > li ul > li .bu > li:before,
ul.title_type2 > li .bu > li .bu > li:before{display:block;position:absolute;top:11px;left:1px;width:8px;height:2px;border-radius:0;background-color:#318b31;background-image:none;content:'';box-sizing:border-box;}
@media screen and (max-width:1000px){
    ul.title_type2 > li{padding-left:10px;}
    ul.title_type2 > li:before{top:10px;width:8px;height:8px;}
    ul.title_type2 > li > span{font-size:15px;}
    ul.title_type2 > li ul > li,
    ul.title_type2 > li .bu > li{padding-left:10px;font-size:14px;}
    ul.title_type2 > li ul > li:before,
    ul.title_type2 > li .bu > li:before{left:0;}
    ul.title_type2 > li ul > li ul > li,
    ul.title_type2 > li .bu > li ul > li,
    ul.title_type2 > li ul > li .bu > li,
    ul.title_type2 > li .bu > li .bu > li{padding-left:12px;font-size:13px;}
}
@media screen and (max-width:640px){
    ul.title_type2 > li > span{line-height:26px;}
    ul.title_type2 > li ul > li,
    ul.title_type2 > li .bu > li{line-height:24px;}
    ul.title_type2 > li ul > li ul > li,
    ul.title_type2 > li .bu > li ul > li,
    ul.title_type2 > li ul > li .bu > li,
    ul.title_type2 > li .bu > li .bu > li{line-height:22px;}
}

/* 순서목록(ul / ol 사용 가능) */
.num{display:block;width:100%;box-sizing:border-box;}
.num > li{display:block;position:relative;width:100%;padding-left:30px;font-size:0;line-height:0;box-sizing:border-box;}
.num > li > .number{display:block;position:absolute;top:3px;left:0;width:22px;background-color:#0a9361;border:1px solid #419f24;border-radius:6px 0 6px 0;font-size:14px;color:#fff;line-height:20px;letter-spacing:-0.03em;font-weight:500;font-family:'Score';text-align:center;}
.num > li > .text{display:inline-block;font-size:16px;color:#49804f;line-height:28px;letter-spacing:-0.03em;word-break:keep-all;font-weight:200;font-family:'Score';vertical-align:top;box-sizing:border-box;}
.num > li > .num{}
.num > li > .num li{display:block;position:relative;width:100%;padding-left:0;font-size:0;line-height:0;box-sizing:border-box;}
.num > li > .num li > .number{display:inline-block;position:relative;top:0;width:auto;background-color:transparent;border:none;border-radius:0;font-size:15px;color:#5b9449;line-height:26px;letter-spacing:-0.03em;word-break:keep-all;font-weight:300;font-family:'Score';text-align:left;}
.num > li > .num li > .text{display:inline-block;margin-left:6px;font-size:15px;color:#666;line-height:26px;letter-spacing:-0.03em;word-break:keep-all;font-weight:200;font-family:'Score';vertical-align:top;box-sizing:border-box;}
@media screen and (max-width:1000px){
    .num > li{padding-left:22px;}
    .num > li > .number{top:4px;width:20px;font-size:13px;}
    .num > li > .text{font-size:15px;}
    .num > li > .num li > .number{font-size:14px;}
    .num > li > .num li > .text{margin-left:3px;font-size:14px;}
}
@media screen and (max-width:640px){
    .num > li > .text{line-height:26px;}
    .num > li > .number{font-size:12px;line-height:16px;}
    .num > li > .num li > .number{line-height:24px;}
    .num > li > .num li > .text{line-height:24px;}
}

/* 블릿 */
.blt{display:inline-block;position:relative;padding-left:16px;font-size:16px;color:#242424;line-height:28px;letter-spacing:-0.03em;word-break:keep-all;font-weight:300;font-family:'Score';box-sizing:border-box;}
.blt:before{display:block;position:absolute;top:9px;left:0;width:7px;height:8px;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;background-position:left -240px;content:'';box-sizing:border-box;}
.blt.type2{color:#555;}
.blt.type2:before{top:11px;left:0;width:6px;height:6px;border-radius:100%;background-color:#57b750;background-image:none;}
.blt.type3{color:#6c6c6c;}
.blt.type3:before{top:13px;left:1px;width:8px;height:2px;border-radius:0;background-color:#318b31;background-image:none;}
@media screen and (max-width:1000px){
    .blt{padding-left:12px;font-size:15px;line-height:26px;}
}

/* 주의,경고 */
.warning{display:inline-block;position:relative;padding-left:28px;font-size:15px;color:#5e5e5e;line-height:28px;letter-spacing:-0.03em;word-break:keep-all;font-weight:300;font-family:'Score';vertical-align:top;box-sizing:border-box;}
.warning.red{color:#ed2952;}
.warning.blue{color:#3b82e7;}
.warning:before,
.warning:after{display:block;position:absolute;content:'';box-sizing:border-box;}
.warning:before{top:4px;left:0;width:20px;height:20px;background-color:#5e5e5e;border-radius:5px 0 5px 0;}
.warning.red:before{background-color:#ed2952;}
.warning.blue:before{background-color:#3b82e7;}
.warning:after{top:8px;left:5px;width:10px;height:11px;background-image:url(../images/template/template_sprite.png);background-repeat:no-repeat;background-position:left -30px;}
.warning.type2:after{top:8px;left:9px;width:2px;height:12px;background-position:-30px -30px;}
.warning.type3:after{top:8px;left:6px;width:8px;height:12px;background-position:-60px -30px;}
.warning_box{display:block;width:100%;padding:10px 17px;border:1px solid #d5d5d5;border-radius:6px;font-size:0;line-height:0;box-sizing:border-box;}
@media screen and (max-width:1000px){
    .warning{line-height:26px;}
}
@media screen and (max-width:640px){
    .warning{padding-left:22px;}
    .warning:before,
    .warning:after{transform:scale(0.8);}
}

/* 박스 */
.box{display:block;width:100%;margin:30px 0;box-sizing:border-box;}
.box .box_inner{display:block;position:relative;width:100%;padding:36px 48px;border:1px solid #0a9361;border-radius:10px;box-sizing:border-box;overflow:hidden;box-shadow:0px 11px 27px rgba(10, 147, 97, 0.1);}
.box .box_inner:before{display:block;position:absolute;top:-172px;left:-161px;width:407px;height:292px;background-image:url(../images/template/template_box_deco.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;}
.box .box_inner:after{display:block;position:absolute;background-repeat:no-repeat;content:'';box-sizing:border-box;}
.box .box_inner .box_title{display:block;position:relative;z-index:2;width:100%;font-size:26px;color:#0a9361;line-height:38px;letter-spacing:-0.03em;word-break:keep-all;font-weight:500;font-family:'Score';box-sizing:border-box;}
.box .box_inner .box_desc{display:block;position:relative;z-index:2;width:100%;padding-top:15px;padding-bottom:5px;font-size:16px;color:#242424;line-height:28px;letter-spacing:-0.03em;word-break:keep-all;font-weight:200;font-family:'Score';box-sizing:border-box;}
@media screen and (max-width:1430px){
    .box{margin:20px 0;}
}
@media screen and (max-width:1000px){
    .box .box_inner{padding:20px 3%;}
    .box .box_inner .box_title{font-size:22px;line-height:32px;}
    .box .box_inner .box_desc{padding:10px 0;font-size:15px;line-height:24px;}
}
@media screen and (max-width:640px){
    .box .box_inner .box_title{font-size:17px;line-height:28px;}
    .box .box_inner .box_desc{padding:5px 0;}
}

/* 아이콘박스 */
.box.icon_type{position:relative;padding-right:19px;}
.box.icon_type:before{display:block;position:absolute;top:16px;left:16px;width:calc(100% - 19px);height:100%;background-color:#fdfffb;border-radius:18px 18px 50px 18px;content:'';box-sizing:border-box;}
.box.icon_type .box_inner{padding:58px 48px 52px 163px;border-radius:18px 18px 50px 18px;box-shadow:none;overflow:visible;}
.box.icon_type .box_inner:before{z-index:1;top:15px;left:15px;width:140px;height:100%;background-image:url(../images/template/template_box_deco2.png);background-size:auto;}
.box.icon_type .box_inner:after{z-index:0;bottom:-19px;left:15px;width:207px;height:100%;background-image:url(../images/template/template_box_deco3.png);background-size:auto;background-position:left bottom;opacity:0.9;}
.box.icon_type .box_inner .icon{display:block;position:absolute;z-index:1;top:74px;left:52px;width:88px;height:63px;background-image:url(../images/template/template_box_icon_sprite.png);background-repeat:no-repeat;background-position:left top;box-sizing:border-box;}
.box.icon_type .box_inner .box_title{color:#0c7774;}
.box.icon_type .box_inner .box_desc{}
@media screen and (max-width:1000px){
    .box.icon_type{padding-right:0;}
    .box.icon_type:before{display:none;}
    .box.icon_type .box_inner{padding:90px 3% 20px 3%;border-radius:30px 30px 50px 30px;overflow:hidden;}
    .box.icon_type .box_inner:before{top:0;left:0;}
    .box.icon_type .box_inner:after{bottom:0;left:auto;right:0;background-position:right bottom;transform:rotate(180deg);}
    .box.icon_type .box_inner .icon{top:15px;left:50%;transform:translateX(-50%) scale(0.8);}
}

/* 그라데이션박스 */
.box.gra_type{}
.box.gra_type .box_inner{padding:31px 0;background-image:linear-gradient(to right, rgba(249, 253, 221, 0.3) 0%, rgba(207, 246, 193, 0.3) 100%);;border:0;border-radius:0;box-shadow:none;}
.box.gra_type .box_inner:before,
.box.gra_type .box_inner:after{display:none;}

/* 설명박스 */
.box.info_type{}
.box.info_type .box_inner{padding:68px 166px 57px;border-radius:50px 0 50px 0;border:5px solid rgba(181, 181, 181, 0.22);box-shadow:none;text-align:center;}
.box.info_type .box_inner:before,
.box.info_type .box_inner:after{display:block;position:absolute;background-repeat:no-repeat;background-size:auto;content:'';}
.box.info_type .box_inner:before{top:-6px;left:auto;right:-6px;width:171px;height:126px;background-image:url(../images/template/template_box_deco4.png);background-position:right top;}
.box.info_type .box_inner:after{bottom:-6px;left:-6px;width:171px;height:119px;background-image:url(../images/template/template_box_deco5.png);background-position:left bottom;}
.box.info_type .box_inner .box_title{color:#242424;}
.box.info_type .box_inner .box_title .box_desc{}
@media screen and (max-width:1000px){
    .box.info_type .box_inner{padding:20px 3%;}
}

/* 테이블 */
.table_unit{display:block;width:100%;margin-bottom:2px;box-sizing:border-box;text-align:right;}
.table{position:relative;width:100%;margin-bottom:30px;}
.table caption{font-size:0 !important;color:transparent !important;line-height:0 !important;}
.table th, .table td{padding:10px 10px;border-top:1px solid #e0e1e3;border-right:1px solid #e0e1e3;border-left:1px solid #e0e1e3;vertical-align:middle;}
.table thead tr:first-child th{border-top:2px solid #478968;}
.table th:first-child, .table td:first-child{border-left:none;}
.table th:last-child, .table td:last-child{border-right:none;}
.table thead th,
.table tbody th,
.table tfoot th{background-color:transparent;font-size:16px;color:#054e28;line-height:28px;letter-spacing:-0.04em;font-weight:400;font-family:'Score';word-break:keep-all;}
.table thead th{background-color:#f2f9f1;color:#054e28;}
.table thead tr:nth-child(n+2) th{background-color:#fafafa;color:#242424;}
.table tbody td,
.table tfoot td{background-color:transparent;font-size:16px;color:#242424;line-height:28px;letter-spacing:-0.04em;font-weight:300;font-family:'Score';word-break:keep-all;text-align:center;}
.table tbody th{font-size:17px;color:#242424;}
.table tbody tr:first-child th,
.table tbody tr:first-child td{border-top-color:#9eaaa4;}
.table tbody tr:last-child th,
.table tbody tr:last-child td{border-bottom:1px solid #e0e1e3;}
/* 세로형테이블 */
.table.type2 tbody tr th{background-color:#f2f9f1;font-size:16px;color:#054e28;}
.table.type2 tbody tr:first-child th,
.table.type2 tbody tr:first-child td{border-top:2px solid #478968;}
@media screen and (max-width:1000px){
    .table{margin-bottom:20px;}
    .table th, .table td{padding:5px 5px;}
    .table thead th,
    .table tbody th,
    .table tfoot th{font-size:15px;line-height:24px;}
    .table thead td,
    .table tbody td,
    .table tfoot td{font-size:15px;line-height:24px;}
    .table.type2 tbody tr th{font-size:15px;}
}
@media screen and (max-width:640px){
    .table_unit{text-align:left;}
    .table tbody tr:last-child th,
    .table tbody tr:last-child td{border-bottom:0;}
}
/* 반응형테이블 */
@media screen and (max-width:640px){
    .table.responsive{border-top:#000 solid 1px;}
    .table.responsive thead{display:none;}
    .table.responsive colgroup{display:none;}
    .table.responsive tbody tr{position:relative;display:block;border-bottom:1px solid #478968;}
    .table.responsive tbody tr:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
    .table.responsive tbody tr:nth-child(odd){background:#f2f9f1;}
    .table.responsive tbody td{display:block;padding:4px 3%;border:none;font-size:15px;line-height:24px;text-align:left;box-sizing:border-box;background-color:transparent;}
    .table.responsive tbody th{display:block;padding:4px 3%;text-align:left;font-size:15px;vertical-align:middle;background-color:transparent;border:none;}
    .table.responsive tbody tr:first-child td, .table.responsive tbody tr:first-child th{border-top:none;}
    .table.responsive thead + tbody th:before, .table.responsive tbody td:before{display:inline;font-size:15px;color:#0a9361;line-height:24px;font-weight:500;content:attr(data-content)' : ';}/* thead의 내용을 tbody의 th, td에 각각 삽입 */
    .table.type2.responsive thead + tbody th:before, .table.type2.responsive tbody td:before{padding-left:10px;font-size:0;color:transparent;content:'';}
    .table.type2.responsive tbody tr th{background-color:transparent;font-weight:500;}
    .table.responsive tfoot tr{position:relative;display:block;border-bottom:1px solid #d2d2d2;}
    .table.responsive tfoot tr:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
    .table.responsive tfoot tr:nth-child(odd){background:#fafafa;}
    .table.responsive tfoot td{display:block;padding:4px 3%;border:none;text-align:left;box-sizing:border-box;background-color:transparent;}
    .table.responsive tfoot th{display:block;padding:4px 3%;text-align:left;vertical-align:middle;background-color:transparent;border:none;}
    .table.responsive tfoot tr:first-child td, .table.responsive tfoot tr:first-child th{border-top:none;}
    .table.responsive tfoot th:before, .table.responsive tfoot td:before{display:inline;content:attr(data-content)' : ';}/* thead의 내용을 tbody의 th, td에 각각 삽입 */
}
/* 스크롤테이블 */
.table_scroll .table thead tr th,
.table_scroll .table tbody tr th,
.table_scroll .table tbody tr td{word-break:keep-all;}
@media all and (max-width:640px){
    .table_scroll{position:relative;max-width:100%;overflow-x:auto;}
    .table_scroll .table{min-width:800px;}
    .table_scroll .table tbody tr:last-child th,
    .table_scroll .table tbody tr:last-child td{border-bottom:1px solid #e0e1e3;}
}

/* 링크 */
.midong_link{display:inline-block;position:relative;padding-left:23px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.midong_link:before{display:block;position:absolute;top:7px;left:0;width:14px;height:15px;background-image:url(../images/template/template_sprite.png);background-repeat:no-repeat;background-position:-90px -30px;content:'';}
.midong_link.down:before{height:15px;background-position:-120px -30px;}
.midong_link .text{display:inline-block;font-size:16px;color:#0a9361;line-height:28px;letter-spacing:-0.03em;font-weight:300;font-family:'Score';text-decoration:underline;text-underline-position:under;vertical-align:top;box-sizing:border-box;}
@media screen and (max-width:1000px){
    .midong_link{padding-left:20px;}
    .midong_link .text{font-size:15px;line-height:25px;}
}

/* 버튼 */
.temp_midong{display:inline-block;position:relative;background-color:#fff;border:1px solid #b1b1b1;border-radius:8px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;text-align:center;transition-property:background-color, border-color, box-shadow;transition-duration:250ms;transition-timing-function:ease-in-out;}
.temp_midong:hover{background-color:#5e5e5e;border-color:#5e5e5e;}
.temp_midong .btn{display:inline-block;position:relative;min-width:178px;padding:13px 20px 12px;border:none;font-size:17px;color:#222;line-height:25px;letter-spacing:-0.03em;font-weight:400;font-family:'Score';vertical-align:top;box-sizing:border-box;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.temp_midong .btn:hover{color:#fff;text-decoration:none;}
/* 버튼type2 */
.temp_midong.type2{border-color:#2ca55c;}
.temp_midong.type2:hover{background-color:#e3fae9;}
.temp_midong.type2 .btn:hover{color:#242424;}
/* 버튼type3 */
.temp_midong.type3{background-color:#2ca55c;border-color:#2ca55c;box-shadow:0px 0px 0px transparent;}
.temp_midong.type3:before{display:block;position:absolute;top:-1px;left:-1px;width:calc(100% + 2px);height:calc(100% + 2px);background-image:linear-gradient(to right, #59cf88 0%, #0e926c 52%, #0c7774 100%);border-radius:8px;content:'';transition-property:opacity;opacity:0;transition-property:opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}
.temp_midong.type3:hover{background-color:transparent;border-color:transparent;box-shadow:0px 6px 16px rgba(13, 145, 108, 0.3);}
.temp_midong.type3:hover:before{opacity:1;}
.temp_midong.type3 .btn{color:#fff;}
.temp_midong.type3 .btn:hover{color:#fff;}
/* 버튼small */
.temp_midong.small .btn{min-width:123px;padding-top:7px;padding-bottom:6px;font-size:15px;}
/* 버튼 아이콘형 */
.temp_midong.icon_type .btn{z-index:1;min-width:0;padding-right:63px;padding-left:37px;}
.temp_midong.icon_type .icon{display:inline-block;position:absolute;right:35px;background-image:url(../images/template/template_sprite.png);background-repeat:no-repeat;vertical-align:top;box-sizing:border-box;}
.temp_midong.icon_type .icon.type1{top:calc(50% - 8px);width:16px;height:16px;background-position:left -60px;}
.temp_midong.icon_type .icon.type2{top:calc(50% - 10px);width:18px;height:19px;background-position:-30px -60px;}
.temp_midong.icon_type .icon.type3{top:calc(50% - 9px);width:18px;height:18px;background-position:-60px -60px;}
.temp_midong.icon_type .icon.type4{top:calc(50% - 9px);width:19px;height:19px;background-position:-90px -60px;}
.temp_midong.icon_type .icon.type5{top:calc(50% - 10px);width:20px;height:20px;background-position:-120px -60px;}
.temp_midong.icon_type .icon.type6{top:calc(50% - 9px);width:18px;height:18px;background-position:-150px -60px;}
.temp_midong.icon_type:hover .icon.type1{background-position:left -90px;}
.temp_midong.icon_type:hover .icon.type2{background-position:-30px -90px;}
.temp_midong.icon_type:hover .icon.type3{background-position:-60px -90px;}
.temp_midong.icon_type:hover .icon.type4{background-position:-90px -90px;}
.temp_midong.icon_type:hover .icon.type5{background-position:-120px -90px;}
.temp_midong.icon_type:hover .icon.type6{background-position:-150px -90px;}
.temp_midong.type2.icon_type:hover .icon.type1{background-position:left -60px;}
.temp_midong.type2.icon_type:hover .icon.type2{background-position:-30px -60px;}
.temp_midong.type2.icon_type:hover .icon.type3{background-position:-60px -60px;}
.temp_midong.type2.icon_type:hover .icon.type4{background-position:-90px -60px;}
.temp_midong.type2.icon_type:hover .icon.type5{background-position:-120px -60px;}
.temp_midong.type2.icon_type:hover .icon.type6{background-position:-150px -60px;}
.temp_midong.type3.icon_type .icon.type1{background-position:left -90px;}
.temp_midong.type3.icon_type .icon.type2{background-position:-30px -90px;}
.temp_midong.type3.icon_type .icon.type3{background-position:-60px -90px;}
.temp_midong.type3.icon_type .icon.type4{background-position:-90px -90px;}
.temp_midong.type3.icon_type .icon.type5{background-position:-120px -90px;}
.temp_midong.type3.icon_type .icon.type6{background-position:-150px -90px;}
/* 버튼 아이콘형small */
.temp_midong.small.icon_type .btn{padding-right:38px;padding-left:16px;}
.temp_midong.small.icon_type .icon{right:15px;transform:scale(0.8);}
@media screen and (max-width:1000px){
    .temp_midong .btn{min-width:123px;padding-top:7px;padding-bottom:6px;font-size:15px;}
    .temp_midong.icon_type .btn{padding-right:38px;padding-left:16px;}
    .temp_midong.icon_type .icon{right:15px;transform:scale(0.8);}
}
@media screen and (max-width:640px){
    .temp_midong .btn{min-width:100px;padding-top:3px;padding-bottom:3px;line-height:24px;font-size:14px;}
    .temp_midong.small .btn{min-width:100px;padding-top:3px;padding-bottom:3px;line-height:24px;font-size:14px;}
    .temp_midong.icon_type .btn{padding-right:30px;}
    .temp_midong.icon_type .icon{right:8px;transform:scale(0.7);}
    .temp_midong.small.icon_type .btn{padding-right:30px;}
    .temp_midong.small.icon_type .icon{right:8px;transform:scale(0.7);}
}