@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.12 */

/* 횡성 통합예약 전용 폰트 추가 시작 */
/* SB */
@font-face{
    font-family:'SB';
    font-weight:600;
    src:url("../font/SBAggroB.woff2") format('woff2'),
    url("../font/SBAggroB.woff") format('woff');
}
@font-face{
    font-family:'SB';
    font-weight:400;
    src:url("../font/SBAggroL.woff2") format('woff2'),
    url("../font/SBAggroL.woff") format('woff');
}
/* 횡성 통합예약 전용 폰트 추가 끝 */


/* 비주얼 검색 영역 시작 */
.rowgroup1{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.visual_search{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.visual_search .total_wrap{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.visual_search .total_wrap .visual_wrap{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.visual_search .total_wrap .visual_wrap .img_wrap{display:block;position:relative;min-height:539px;font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;}
@keyframes visual-img {
    from{transform:scale(1.05);transform-origin:center center;}
    to{transform:scale(1);transform-origin:center center;}
}
.visual_search .total_wrap .visual_wrap .img_wrap i{display:block;position:absolute;top:0;left:calc(50% - 960px);width:1920px;height:100%;background-repeat:no-repeat;background-position:left top;background-size:contain;font-size:0;line-height:0;box-sizing:border-box;}
.visual_search .total_wrap .visual_wrap .img_wrap i{animation-name:visual-img;animation-duration:1000ms;animation-delay:500ms;animation-timing-function:ease-out;animation-fill-mode:both;}
.visual_search .total_wrap .visual_wrap .title_wrap{display:block;position:absolute;top:0;left:50%;transform:translateX(-50%);width:1500px;margin:0 auto;font-size:0;line-height:0;text-align:right;box-sizing:border-box;}
.visual_search .total_wrap .visual_wrap .title_wrap .text_inner{display:inline-block;position:relative;width:800px;padding-top:170px;font-size:0;line-height:0;text-align:left;vertical-align:top;box-sizing:border-box;}
.visual_search .total_wrap .visual_wrap .title_wrap .text_inner span{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.visual_search .total_wrap .visual_wrap .title_wrap .text_inner span em{display:inline-block;position:relative;vertical-align:top;box-sizing:border-box;}
.visual_search .total_wrap .visual_wrap .title_wrap .text_inner span em + em{margin-left:16px;}
@keyframes visual-text {
    0%{letter-spacing:0.4em;opacity:0;}
    100%{letter-spacing:-0.03em;opacity:1;}
}
.visual_search .total_wrap .visual_wrap .title_wrap .text_inner .black{font-size:50px;color:#333444;line-height:66px;letter-spacing:-0.03em;font-weight:400;font-family:'SB';}
.visual_search .total_wrap .visual_wrap .title_wrap .text_inner .navy em{font-size:55px;color:#1b1464;line-height:66px;letter-spacing:-0.03em;font-weight:600;font-family:'SB';}
.visual_search .total_wrap .visual_wrap .title_wrap .text_inner .black,
.visual_search .total_wrap .visual_wrap .title_wrap .text_inner .navy em{animation-name:visual-text;animation-duration:700ms;animation-timing-function:cubic-bezier(0.215, 0.610, 0.355, 1.000);animation-fill-mode:both;}
.visual_search .total_wrap .visual_wrap .title_wrap .text_inner .black{animation-delay:1000ms;}
.visual_search .total_wrap .visual_wrap .title_wrap .text_inner .navy em{animation-delay:1400ms;}




.visual_search .total_wrap .search_wrap{}
/* 비주얼 검색 영역 끝 */
