@charset "UTF-8";

/* (주)한신정보기술 박남규 - 2022.02 */

@media all and (min-width:1401px){
#header .lnb .menu .depth1_list{width:894px;}
#header .lnb .menu .depth1_text{padding:42px 49px;}
}

@media all and (min-width:1001px) and (max-width:1400px){
.logo .text{font-size:18px;}
#header .lnb .menu .depth1_list{width:679px;}
#header .lnb .menu .depth1_text{padding:42px 28px;}
}