@charset "UTF-8";

/* (주)한신정보기술 박남규 - 2023.05 */

/* sub_visual 시작 */
.sub_visual{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.sub_visual *{font-size:0;line-height:0;box-sizing:border-box;}
/* sub_visual 끝 */


/* container 공통 시작 */
#container .wrap main,
#container .wrap main article{display:block;width:100%;box-sizing:border-box;}
@media screen and (min-width:1501px){
    #container .wrap{width:1500px;}
}
@media screen and (min-width:1001px) and (max-width:1500px){
    #container .wrap{width:1000px}
}
/* container 공통 끝 */


/* cms_top_menu 시작 */
.cms_top_menu{}
/* cms_top_menu 끝 */


/* sub_head 시작 */
.sub_head{}
/* sub_head 끝 */


/* contents 시작 */
#contents{display:block;width:100%;min-height:500px;box-sizing:border-box;}
@media screen and (max-width:1000px){
    #contents{min-height:300px;}
}
/* contents 끝 */