@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.08 */

/* 기본세팅 */
body{position:relative;font-size:18px;color:#424242;line-height:35px;letter-spacing:-0.01em;font-weight:400;font-family:'Score','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
a:link{color:#444;text-decoration:none;}
a:visited{color:#444;text-decoration:none;}
a:hover{color:#444;text-decoration:underline;}
a:active{color:#444;text-decoration:underline;}
a span{cursor:pointer;}
button{cursor:pointer;font-family:'Score','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input{font-family:'Score','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input[type="submit"]{cursor:pointer;}
/* 본문바로가기  */
.accessibility{position:relative;overflow:hidden;z-index:3000;width:100%;}
.accessibility a{display:block;overflow:hidden;z-index:3000;height:0;width:1px;font-size:0;line-height:0;text-align:center}
.accessibility a:focus, #accessibility a:hover, #accessibility a:active{width:auto;height:auto;margin:0;padding:8px 0;background:#06796a;font-size:14px;font-weight:700;line-height:30px;color:#fff;}
/* Slider */
.slick-slider{position:relative;display:block;box-sizing:border-box;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;}
.slick-track{ position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;width:100%;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
#scrollbar{display:block;visibility:hidden;overflow-x:scroll;overflow-y:scroll;position:absolute;top:-100px;left:-100px;z-index:-1;width:100px;height:100px;}
/* 메뉴공통css */
/* 메뉴 */
.menu.init, .menu.init:before, .menu.init:after, .menu.init .depth, .menu.init .depth:before, .menu.init .depth:after, .menu.init .depth_list, .menu.init .depth_list:before, .menu.init .depth_list:after, .menu.init .depth_item, .menu.init .depth_item:before, .menu.init .depth_item:after, .menu.init .depth_text, .menu.init .depth_text:before, .menu.init .depth_text:after, .menu.init .depth_title, .menu.init .depth_title:before, .menu.init .depth_title:after{transition-property:all;transition-duration:0.25s;transition-timing-function:linear;}
.menu, .menu .depth, .menu .depth_list, .menu .depth_item, .menu .depth_text{position:relative;}
.menu{font-size:0px;line-height:0px;}
.menu .depth:not(.depth1){visibility:hidden;opacity:0;overflow:hidden;}
.menu .depth1{z-index:30;}
.menu .depth_list{z-index:10;}
.menu .depth_text{display:inline-block;}
/* 1, 2차 메뉴 배경 */
.menu.before:before, .menu.after:after{display:block;position:absolute;}
.menu.before:before{z-index:10;}
.menu.after:after{z-index:20;}
/* 제목 상자 */
.menu .depth_title{overflow:hidden;position:absolute;z-index:20;}
/* 옵션 */
.menu .depth1.clearfix .depth1_list{float:right;}
.menu .depth_list.clearfix > .depth_item{float:left;}
.menu .depth_list.cut > .depth_item{display:inline-block;vertical-align:top;}
/* 풀 다운 */
.menu.pulldown .depth1{height:100%;}
.menu.pulldown .depth1_list, .menu.pulldown .depth1_item{height:inherit;}
.menu.pulldown .depth2{position:absolute;bottom:0;left:0;width:100%;}
/* 이치 다운 */
.menu.eachdown .depth1{height:100%;}
.menu.eachdown .depth1_list, .menu.eachdown .depth1_item{position:static;height:inherit;}
.menu.eachdown .depth2{position:absolute;bottom:0;left:0;width:100%;}
/* 드롭 다운 */
.menu.dropdown .depth2{position:absolute;top:100%;left:0;width:100%;transform-origin:center top;transform:scaleY(0);}

/* wrapper, wrap */
#wrapper{position:relative;min-width:1430px;overflow:hidden;}
.wrap{position:relative;width:1430px;margin:0 auto;}
.skip{overflow:hidden;}
@media screen and (max-width:1430px){
    #wrapper{min-width:1000px;}
    .wrap{width:1000px;}
}
@media screen and (max-width:1000px){
    #wrapper{min-width:0;}
    .wrap{width:94%;}
}

/* 공통 헤더 */
#header{display:block;position:absolute;z-index:50;top:0;left:0;width:100%;box-sizing:border-box;}

/* 헤더GNB */
.header_gnb{display:block;position:absolute;z-index:31;top:10px;right:calc((100% - 1640px) / 2);width:auto;font-size:0;line-height:0;box-sizing:border-box;text-align:right;}
.header_gnb .gnb{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_gnb .gnb .gnb_item{display:inline-block;position:relative;margin-left:39px;padding-left:35px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_gnb .gnb .gnb_item:before{display:block;position:absolute;top:9px;left:0;width:2px;height:13px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAGCAYAAADpJ08yAAAAAXNSR0IArs4c6QAAABZJREFUGFdj/P///38GBgYGRhBBLAMAziUEA/YFJ3UAAAAASUVORK5CYII=);background-repeat:repeat-y;background-position:left top;content:'';box-sizing:border-box;}
.header_gnb .gnb .gnb_item:first-child{margin-left:0;padding-left:0;}
.header_gnb .gnb .gnb_item:first-child:before{display:none;}
.header_gnb .gnb .gnb_item .gnb_link{display:inline-block;position:relative;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_gnb .gnb .gnb_item .gnb_link:hover{text-decoration:none;}
.header_gnb .gnb .gnb_item .gnb_link .gnb_text{display:inline-block;position:relative;padding-right:30px;padding-left:35px;font-size:16px;color:#fff;line-height:30px;letter-spacing:-0.02em;font-weight:500;font-family:'Score';vertical-align:top;box-sizing:border-box;}
.header_gnb .gnb .gnb_item .gnb_link .gnb_text:before,
.header_gnb .gnb .gnb_item .gnb_link .gnb_text:after{display:block;position:absolute;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;content:'';box-sizing:border-box;}
.header_gnb .gnb .gnb_item.chungbuk_www .gnb_link .gnb_text:before{top:5px;left:0;width:22px;height:19px;background-position:left -60px;}
.header_gnb .gnb .gnb_item.chungbuk_tour .gnb_link .gnb_text:before{top:5px;left:4px;width:19px;height:20px;background-position:left -90px;}
@keyframes gnb-text-after {
    from{right:0px;}
    to{right:-8px;}
}
.header_gnb .gnb .gnb_item .gnb_link .gnb_text:after{top:11px;right:0;width:14px;height:8px;background-position:left top;}
.header_gnb .gnb .gnb_item .gnb_link:hover .gnb_text:after{animation-name:gnb-text-after;animation-duration:250ms;animation-delay:0s;animation-direction:alternate;animation-timing-function:ease-in-out;animation-iteration-count:4;}
@media screen and (max-width:1640px){
    .header_gnb{right:calc((100% - 1430px) / 2);}
    .header_gnb .gnb{padding-right:20px;}
    .header_gnb .gnb .gnb_item{margin-left:20px;padding-left:20px;}
}
@media screen and (max-width:1430px){
    .header_gnb{right:3%;}
}
@media screen and (max-width:1000px){
    .header_gnb{display:none;}
}

/* 헤더박스 */
.header_box{display:block;position:relative;width:100%;height:145px;box-sizing:border-box;}
.header_box .logo{display:block;position:absolute;z-index:31;top:82px;left:-106px;font-size:0;line-height:0;box-sizing:border-box;}
.header_box .logo a{display:inline-block;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_box .logo a:hover{text-decoration:none;}
.header_box .logo a span{display:inline-block;position:relative;padding-left:62px;font-size:22px;color:#fff;line-height:28px;letter-spacing:-0.03em;font-weight:600;font-family:'Score';vertical-align:top;box-sizing:border-box;transition-property:color;transition-duration:250ms;transition-timing-function:linear;}
.lnb_open .header_box .logo a span{color:#000;}
.header_box .logo a .logo_icon{display:block;position:absolute;top:-5px;left:0;width:48px;height:39px;background-image:url(../images/common/logo_sprite.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;}
@media screen and (min-width:1001px){
    .header_box .menu_show{display:none;}
}
@media screen and (max-width:1640px){
    .header_box .logo{left:0;}
}
@media screen and (max-width:1000px){
    .header_box{height:79px;padding-top:25px;background-color:#fff;}
    .header_box .wrap{padding-right:24px;}
    .header_box:before,
    .header_box:after{display:block;position:absolute;background-repeat:no-repeat;background-position:left top;content:'';visibility:visible;opacity:1;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:linear;}
    .header_box:before{top:0;right:0;width:493px;height:413px;background-image:url(../images/common/header_box_deco_before_800.png);}
    .header_box:after{top:73px;right:calc(3% + 167px);width:96px;height:100px;background-image:url(../images/common/header_box_deco_after_800.png);}
    .header_box .logo{display:inline-block;position:static;vertical-align:top;box-sizing:border-box;}
    .header_box .logo a .logo_icon{top:-4px;}
    .header_box .logo a span{padding-left:62px;color:#000;line-height:30px;}
    .header_box .menu_show{display:block;position:absolute;top:0;right:0;width:24px;height:30px;font-size:0;line-height:0;box-sizing:border-box;}
    .header_box .menu_show .menu_button{display:block;position:relative;width:100%;height:100%;border:none;font-size:0;line-height:0;box-sizing:border-box;}
    .header_box .menu_show .menu_button:before{display:block;position:absolute;top:calc(50% - 9px);right:0;width:23px;height:18px;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;background-position:left -30px;content:'';box-sizing:border-box;}
}

/* LNB */
.lnb{display:block;position:absolute;z-index:30;top:0;left:0;width:100%;background-color:transparent;box-shadow:0px 0px 0px transparent;box-sizing:border-box;transition-property:background-color, box-shadow;transition-duration:250ms;transition-timing-function:linear;}
.lnb_curtain{display:none;}
.lnb .lnb_topbox{display:none;}
.lnb .menu_hide{display:none;}
@media screen and (min-width:1001px){
    .lnb_open .lnb{background-color:#fff;box-shadow:0px 20px 40px rgba(0, 0, 0, 0.1);overflow:hidden;}
}
@media screen and (max-width:1000px){
    .lnb{position:fixed;z-index:73;top:0;left:auto;right:0;width:100%;max-width:calc(3% + 406px);height:auto;background-color:#fff;border-radius:0 0 0 50px;overflow:hidden;transform:translateX(100%);transition-property:max-width, transform;transition-duration:250ms;transition-timing-function:linear;}
    .lnb_show .lnb{transform:translateX(0px);}
    .lnb_curtain{display:block;position:fixed;z-index:72;top:0;left:0;width:100%;height:100vh;font-size:0;line-height:0;box-sizing:border-box;visibility:hidden;opacity:0;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:linear;}
    .lnb_show .lnb_curtain{visibility:visible;opacity:1;}
    .lnb_curtain button{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.7);border:none;font-size:0;line-height:0;box-sizing:border-box;}
    .lnb .lnb_topbox{display:block;width:100%;padding-right:3%;font-size:0;line-height:0;box-sizing:border-box;}
    .lnb .lnb_topbox .topbox_inner{display:block;position:relative;width:100%;padding:25px 55px 24px 30px;font-size:0;line-height:0;box-sizing:border-box;}
    .lnb .lnb_topbox .topbox_inner .logo{display:inline-block;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
    .lnb .lnb_topbox .topbox_inner .logo a{display:inline-block;position:relative;font-size:0;line-height:0;box-sizing:border-box;}
    .lnb .lnb_topbox .topbox_inner .logo a .logo_icon{display:block;position:absolute;top:-3px;left:0;width:43px;height:35px;background-image:url(../images/common/logo_sprite.png);background-repeat:no-repeat;background-position:-50px top;box-sizing:border-box;}
    .lnb .lnb_topbox .topbox_inner .logo a span{display:inline-block;padding-left:57px;font-size:20px;color:#000;line-height:30px;letter-spacing:-0.03em;font-weight:600;font-family:'Score';vertical-align:top;box-sizing:border-box;}
    .lnb .lnb_topbox .topbox_inner .lnb_login{display:block;position:absolute;top:25px;right:33px;font-size:0;line-height:0;box-sizing:border-box;}
    .lnb .lnb_topbox .topbox_inner .lnb_login a{display:inline-block;position:relative;width:22px;height:30px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
    .lnb .lnb_topbox .topbox_inner .lnb_login a:before{display:block;position:absolute;top:calc(50% - 10px);left:0;width:22px;height:20px;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;background-position:left -300px;content:'';box-sizing:border-box;}
    .lnb .lnb_topbox .topbox_inner .lnb_login.logout a:before{background-position:-30px -300px;}
    .lnb .menu_hide{display:block;position:absolute;top:25px;right:3%;font-size:0;line-height:0;box-sizing:border-box;}
    .lnb .menu_hide .menu_button{display:block;position:relative;width:24px;height:30px;border:none;font-size:0;line-height:0;box-sizing:border-box;}
    .lnb .menu_hide .menu_button:before{display:block;position:absolute;top:calc(50% - 7px);left:calc(50% - 8px);width:16px;height:15px;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;background-position:-30px -30px;content:'';box-sizing:border-box;}
}

/* lnb_deco */
@keyframes lnb-deco-before {
    from{transform:scale(0);opacity:0;}
    to{transform:scale(1);opacity:1;}
}
@keyframes lnb-deco-after {
    from{transform:translateY(-200%) rotate(1080deg);opacity:0;}
    to{transform:translateY(0px) rotate(0deg);opacity:1;}
}
.lnb .lnb_deco{display:block;position:absolute;top:0;right:0;width:555px;height:463px;box-sizing:border-box;opacity:1;}
.lnb_open .lnb .lnb_deco{opacity:0;}
.lnb .lnb_deco:before,
.lnb .lnb_deco:after{display:block;position:absolute;background-repeat:no-repeat;content:'';box-sizing:border-box;animation-duration:600ms;animation-timing-function:ease-in-out;animation-fill-mode:both;}
.lnb .lnb_deco:before{top:0;right:0;width:100%;height:100%;background-image:url(../images/common/common_lnb_deco_before.png);background-position:right top;transform-origin:right top;animation-name:lnb-deco-before;animation-delay:0s;}
.lnb .lnb_deco:after{top:80px;left:130px;width:129px;height:136px;background-image:url(../images/common/common_lnb_deco_after.png);animation-name:lnb-deco-after;animation-delay:300ms;}
@media screen and (max-width:1640px){
    .lnb .lnb_deco{right:-100px;}
    .lnb .lnb_deco:after{left:70px;}
}
@media screen and (max-width:1430px){
    .lnb .lnb_deco{right:0;}
    .lnb .lnb_deco:before{top:-60px;right:-120px;}
    .lnb .lnb_deco:after{top:150px;left:auto;right:30px;}
}
@media screen and (min-width:1201px) and (max-width:1430px){
    .lnb .lnb_deco:before{right:-40px;}
}
@media screen and (max-width:1000px){
    .lnb .lnb_deco{top:79px;right:auto;left:0;width:0px;height:calc(100% - 79px);background-image:linear-gradient(to bottom, #0a9274 0%, #4db665 100%);border-radius:0 0 0 0;visibility:hidden;opacity:0;transition-property:width, border-radius, visibility, opacity;transition-duration:250ms;transition-timing-function:linear;}
    .lnb .lnb_deco:before,
    .lnb .lnb_deco:after{display:none;}
    .lnb_show .lnb .lnb_deco{width:100%;visibility:visible;opacity:1;}
    .lnb_show.lnb_open .lnb .lnb_deco{width:191px;border-radius:0 50px 0 0;}
}

/* MENU */
.lnb .menu{position:relative;height:145px;transition-property:height;transition-duration:250ms;transition-timing-function:linear;}
.lnb .menu:before,
.lnb .menu:after{display:block;position:absolute;content:'';box-sizing:border-box;visibility:hidden;opacity:0;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:linear;}
.lnb_open .lnb .menu:before{top:145px;left:0;width:100%;min-height:201px;background-color:#d7f5e2;visibility:visible;opacity:1;}
.lnb_open .lnb .menu:after{top:0;right:0;width:555px;min-height:941px;background-image:url(../images/common/common_lnb_open_deco_before.png);background-repeat:no-repeat;background-position:right top;visibility:visible;opacity:1;}
@media screen and (max-width:1640px){
    .lnb_open .lnb .menu:after{right:-100px;}
}
@media screen and (max-width:1430px){
    .lnb_open .lnb .menu:after{top:-60px;right:-150px;}
}
@media screen and (min-width:1001px) and (max-width:1430px){
    .lnb_open .lnb .menu:after{display:none;}
}
@media screen and (max-width:1000px){
    .lnb .menu{height:auto;}
    .lnb .menu:before,
    .lnb .menu:after{display:none;}
}

/* MENU OPEN deco */
@keyframes menu-open-text-deco {
    100%{transform:translate(-50%, -50%) rotate(360deg);}
}
@keyframes menu-open-round-ani1 {
    0%{transform:translateY(0px) scale(1);}
    50%{transform:translateY(3%) scale(0.9);}
    100%{transform:translateY(0px) scale(1);}
}
@keyframes menu-open-roud-ani2 {
    0%{transform:rotate(0deg);}
    25%{transform:rotate(-3deg);}
    75%{transform:rotate(3deg);}
    100%{transform:rotate(0deg);}
}
.lnb .menu .menu_open_deco{display:block;position:absolute;z-index:30;top:80px;right:calc(((100% - 1640px) / 2) + 143px);font-size:0;line-height:0;box-sizing:border-box;visibility:hidden;opacity:0;transform:translateY(100%) scale(0);transition-property:visibility, opacity, transform;transition-duration:350ms;transition-timing-function:linear;}
.lnb_open .lnb .menu .menu_open_deco{visibility:visible;opacity:1;transform:translateY(0px) scale(1);}
.lnb .menu .menu_open_deco .text_deco{display:block;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);width:197px;height:197px;background-image:url(../images/common/menu_open_text_deco.png);background-repeat:no-repeat;background-position:center center;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .menu_open_deco .text_deco{transform-origin:center center;animation-name:menu-open-text-deco;animation-duration:10000ms;animation-iteration-count:infinite;animation-timing-function:linear;}
.lnb .menu .menu_open_deco .round_deco{display:block;position:relative;width:156px;height:156px;background-color:#fff799;border-radius:100%;box-sizing:border-box;overflow:hidden;}
.lnb .menu .menu_open_deco .round_deco .deco{display:block;position:absolute;background-repeat:no-repeat;background-position:center center;box-sizing:border-box;transform-origin:center bottom;animation-duration:3000ms;animation-iteration-count:infinite;animation-direction:alternate;}
.lnb .menu .menu_open_deco .round_deco .deco.type1{bottom:-16px;right:-28px;width:219px;height:253px;background-image:url(../images/common/menu_open_round_deco1.png);}
.lnb_open .lnb .menu .menu_open_deco .round_deco .deco.type1{animation-name:menu-open-round-ani1;animation-delay:0s;}
.lnb .menu .menu_open_deco .round_deco .deco.type2{z-index:1;bottom:-7px;right:52px;width:52px;height:112px;background-image:url(../images/common/menu_open_round_deco2.png);}
.lnb_open .lnb .menu .menu_open_deco .round_deco .deco.type2{animation-name:menu-open-round-ani1;animation-delay:1600ms;}
.lnb .menu .menu_open_deco .round_deco .deco.type3{z-index:2;bottom:-16px;right:5px;width:141px;height:86px;background-image:url(../images/common/menu_open_round_deco3.png);}
.lnb_open .lnb .menu .menu_open_deco .round_deco .deco.type3{animation-name:menu-open-round-ani1;animation-delay:800ms;}
.lnb .menu .menu_open_deco .round_deco .deco.type4{z-index:3;bottom:25px;right:92px;width:37px;height:68px;background-image:url(../images/common/menu_open_round_deco4.png);transform-origin:left bottom;}
.lnb_open .lnb .menu .menu_open_deco .round_deco .deco.type4{animation-name:menu-open-roud-ani2;}
.lnb .menu .menu_open_deco .round_deco .deco.type5{z-index:3;bottom:26px;right:16px;width:52px;height:92px;background-image:url(../images/common/menu_open_round_deco5.png);transform-origin:right bottom;}
.lnb_open .lnb .menu .menu_open_deco .round_deco .deco.type5{animation-name:menu-open-roud-ani2;}
@media screen and (max-width:1640px){
    .lnb .menu .menu_open_deco{right:240px;}
}
@media screen and (max-width:1430px){
    .lnb .menu .menu_open_deco{z-index:9;top:150px;right:30px;}
}
@media screen and (min-width:1001px) and (max-width:1430px){
    .lnb .menu .menu_open_deco{transform:translateY(-100%) scale(0);}
    .menu_open_deco:before{display:block;position:absolute;top:-210px;right:-150px;width:555px;height:463px;background-image:url(../images/common/common_lnb_deco_before.png);background-repeat:no-repeat;background-position:right top;content:'';visibility:hidden;opacity:0;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:linear;}
    .lnb_open .menu_open_deco:before{visibility:visible;opacity:1;}
}
@media screen and (min-width:1201px) and (max-width:1430px) {
    .menu_open_deco:before{right:-70px;}
}
@media screen and (max-width:1000px){
    .lnb .menu .menu_open_deco{display:none;}
}

/* MENU depth1 */
.lnb .menu .depth1{display:block;position:static;width:1640px;margin:auto;box-sizing:border-box;}
.lnb .menu .depth1 .depth1_list{display:block;position:static;width:100%;padding-top:45px;padding-left:333px;box-sizing:border-box;text-align:left;}
.lnb .menu .depth1 .depth1_list .depth1_item{display:inline-block;float:none;width:auto;vertical-align:top;box-sizing:border-box;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{display:block;position:relative;width:auto;padding-left:84px;box-sizing:border-box;}
.lnb .menu .depth1 .depth1_list .depth1_item:first-child .depth1_text{padding-left:0;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:hover{text-decoration:none;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{display:block;position:relative;width:auto;height:100px;font-size:0;line-height:0;vertical-align:middle;box-sizing:border-box;text-align:center;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span:before{display:block;position:absolute;top:calc(50% + 7px);left:0;width:100%;height:0px;background-color:#dcf3e6;content:'';box-sizing:border-box;transition-property:height;transition-duration:250ms;transition-timing-function:linear;}
.lnb_open .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text span:before{height:8px;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{display:inline-block;position:relative;top:50%;transform:translateY(-50%);font-size:19px;color:#fff;line-height:28px;letter-spacing:-0.03em;font-weight:500;font-family:'Score';vertical-align:top;box-sizing:border-box;transition-property:color;transition-duration:250ms;transition-timing-function:linear;}
.lnb_open .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{color:#000;}
.lnb_open .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text span em{color:#1b6d40;font-weight:600;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em:before{display:block;position:absolute;top:-6px;left:calc(100% + 3px);width:11px;height:11px;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;background-position:left -150px;content:'';box-sizing:border-box;transform-origin:left bottom;transform:scale(0);transition-property:transform;transition-duration:250ms;transition-timing-function:linear;}
.lnb_open .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text span em:before{transform:scale(1);}
@media screen and (min-width:1641px) and (max-width:1800px){
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{padding-left:67px;}
}
@media screen and (max-width:1640px){
    .lnb .menu .depth1{width:1430px;}
    .lnb .menu .depth1 .depth1_list{padding-left:230px;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{padding-left:65px;}
}
@media screen and (max-width:1430px){
    .lnb .menu .depth1{width:1000px;}
    .lnb .menu .depth1 .depth1_list{padding-left:210px;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{padding-left:20px;}
}
@media screen and (min-width:1001px) and (max-width:1430px){
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{z-index:10;}
}
@media screen and (max-width:1000px){
    .lnb .menu .depth1{width:100%;min-height:634px;}
    .lnb .menu .depth1 .depth1_list{padding:28px 0 0 0;}
    .lnb_show .lnb .menu .depth1 .depth1_list{padding-right:0;}
    .lnb_show.lnb_open .lnb .menu .depth1 .depth1_list{padding-right:3%;}
    .lnb .menu .depth1 .depth1_list .depth1_item{position:static;width:100%;padding-right:0px;padding-left:87px;transition-property:padding-right, padding-left;transition-duration:250ms;transition-timing-function:linear;}
    .lnb_show.lnb_open .lnb .menu .depth1 .depth1_list .depth1_item{padding-right:calc(100% - 191px);padding-left:30px;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{width:100%;padding-right:0px;padding-left:0;transition-property:padding-right;transition-duration:250ms;transition-timing-function:linear;}
    .lnb_show .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text{padding-right:17px;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{height:50px;padding-left:0px;text-align:left;transition-property:padding-left;transition-duration:250ms;transition-timing-function:linear;}
    .lnb_show .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text span{padding-left:16px;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span:before{top:50%;left:0;transform:translateY(-50%);width:0px;height:0px;background-color:#fff;border-radius:6px 20px 20px 6px;box-shadow:6px 6px 10px rgba(0, 0, 0, 0.1);visibility:hidden;opacity:0;transition-property:width, height, visibility, opacity;transition-duration:250ms;transition-timing-function:linear;}
    .lnb_show .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text span:before{width:100%;height:45px;visibility:visible;opacity:1;}
    .lnb_show .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{padding-left:0px;font-size:18px;color:#fff;line-height:20px;font-weight:500;transition-property:padding-left, color;transition-duration:250ms;transition-timing-function:linear;}
    .lnb_show .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em:before{top:7px;left:0;width:7px;height:7px;background-image:none;background-color:#0d9373;border-radius:4px 0 4px 0;transform:scale(0);transition-property:transform;transition-duration:250ms;transition-timing-function:linear;}
    .lnb_show .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text span em{padding-left:17px;color:#0d9373;font-weight:600;}
    .lnb_show .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text span em:before{transform:scale(1);}
}

/* MENU depth2 menu title */
@keyframes left-deco-ani1 {
    from{transform:scale(0) translateY(50%);}
    to{transform:scale(1) translateY(0px);}
}
@keyframes left-deco-ani2 {
    0%{transform:rotate(0deg) translateY(0px);}
    50%{transform:rotate(3deg) translateY(5%);}
    100%{transform:rotate(-1deg) translateY(0px);}
}
.lnb .menu .depth2{display:block;position:absolute;bottom:auto;top:145px;left:0;width:100%;padding:0;box-sizing:border-box;visibility:hidden;opacity:0;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:linear;}
.lnb_open .lnb .menu .depth1_item.active .depth2{visibility:visible;opacity:1;}
.lnb .menu .depth2 .menu_title{display:block;position:absolute;z-index:11;top:0;left:0;width:100%;padding:0 calc((100% - 1640px) / 2);font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth2 .menu_title .innerbox{display:block;position:relative;width:100%;min-height:201px;padding-top:58px;padding-right:663px;padding-left:526px;font-size:0;line-height:0;text-align:center;box-sizing:border-box;}
.lnb .menu .depth2 .menu_title .innerbox .title{display:inline-block;position:relative;font-size:30px;color:#175a10;line-height:56px;letter-spacing:-0.03em;font-weight:600;font-family:'Score';vertical-align:top;box-sizing:border-box;}
.lnb .menu .depth2 .menu_title .innerbox .text{display:block;position:relative;width:100%;font-size:16px;color:#000;line-height:32px;letter-spacing:-0.03em;font-weight:300;font-family:'Score';box-sizing:border-box;}
.lnb .menu .depth2 .menu_title .deco_box{display:block;position:absolute;bottom:0;height:100%;font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;}
.lnb .menu .depth2 .menu_title .deco_box .deco{display:block;position:absolute;background-repeat:no-repeat;background-position:left top;box-sizing:border-box;}
.lnb .menu .depth2 .menu_title .deco_box.left{left:0;width:calc(526px + ((100% - 1640px) / 2));}
.lnb .menu .depth2 .menu_title .deco_box.left .deco{transform-origin:center bottom;animation-duration:2000ms;animation-delay:0s;animation-direction:alternate;animation-iteration-count:infinite;animation-timing-function:linear;opacity:0;}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.left .deco{opacity:1;}
.lnb .menu .depth2 .menu_title .deco_box.left .deco.type1{bottom:-46px;right:34px;width:555px;height:207px;background-image:url(../images/common/deco_box_left_img1.png);}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.left .deco.type1{animation-name:left-deco-ani1;animation-duration:800ms;animation-iteration-count:1;animation-fill-mode:both;}
.lnb .menu .depth2 .menu_title .deco_box.left .deco.type2{z-index:1;bottom:-125px;right:153px;width:538px;height:292px;background-image:url(../images/common/deco_box_left_img2.png);}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.left .deco.type2{animation-name:left-deco-ani1;animation-duration:800ms;animation-iteration-count:1;animation-fill-mode:both;}
.lnb .menu .depth2 .menu_title .deco_box.left .deco.type3{z-index:2;bottom:-144px;right:384px;width:332px;height:412px;background-image:url(../images/common/deco_box_left_img3.png);}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.left .deco.type3{animation-name:left-deco-ani1;animation-duration:800ms;animation-iteration-count:1;animation-fill-mode:both;transform-origin:left top;}
.lnb .menu .depth2 .menu_title .deco_box.left .deco.type4{z-index:3;bottom:0;right:396px;width:134px;height:129px;background-image:url(../images/common/deco_box_left_img4.png);}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.left .deco.type4{animation-name:left-deco-ani2;animation-delay:700ms;}
.lnb .menu .depth2 .menu_title .deco_box.left .deco.type5{z-index:4;bottom:-68px;right:323px;width:135px;height:172px;background-image:url(../images/common/deco_box_left_img5.png);}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.left .deco.type5{animation-name:left-deco-ani2;animation-delay:600ms;}
.lnb .menu .depth2 .menu_title .deco_box.left .deco.type6{z-index:5;bottom:-65px;right:308px;width:70px;height:149px;background-image:url(../images/common/deco_box_left_img6.png);}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.left .deco.type6{animation-name:left-deco-ani2;animation-delay:500ms;}
.lnb .menu .depth2 .menu_title .deco_box.left .deco.type7{z-index:6;bottom:-138px;right:95px;width:255px;height:299px;background-image:url(../images/common/deco_box_left_img7.png);}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.left .deco.type7{animation-name:left-deco-ani2;animation-delay:400ms;}
.lnb .menu .depth2 .menu_title .deco_box.right{right:0;width:calc(663px + ((100% - 1640px) / 2));}
.lnb .menu .depth2 .menu_title .deco_box.right .deco{transform-origin:center bottom;animation-duration:2000ms;animation-delay:0s;animation-direction:alternate;animation-iteration-count:infinite;animation-timing-function:linear;opacity:0;}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.right .deco{opacity:1;}
.lnb .menu .depth2 .menu_title .deco_box.right .deco.type1{bottom:-35px;left:155px;width:514px;height:227px;background-image:url(../images/common/deco_box_right_img1.png);}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.right .deco.type1{animation-name:left-deco-ani1;animation-duration:800ms;animation-iteration-count:1;animation-fill-mode:both;}
.lnb .menu .depth2 .menu_title .deco_box.right .deco.type2{z-index:1;bottom:-90px;left:175px;width:177px;height:213px;background-image:url(../images/common/deco_box_right_img2.png);}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.right .deco.type2{animation-name:left-deco-ani2;animation-delay:400ms;}
.lnb .menu .depth2 .menu_title .deco_box.right .deco.type3{z-index:2;bottom:-30px;left:291px;width:67px;height:71px;background-image:url(../images/common/deco_box_right_img3.png);}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.right .deco.type3{animation-name:left-deco-ani2;animation-delay:500ms;}
.lnb .menu .depth2 .menu_title .deco_box.right .deco.type4{z-index:2;bottom:-160px;left:42px;width:202px;height:313px;background-image:url(../images/common/deco_box_right_img4.png);}
.lnb_open .lnb .menu .depth2 .menu_title .deco_box.right .deco.type4{animation-name:left-deco-ani2;animation-delay:600ms;}
@media screen and (max-width:1640px){
    .lnb .menu .depth2 .menu_title{padding:0 calc((100% - 1430px) / 2);}
    .lnb .menu .depth2 .menu_title .deco_box.left{left:-10%;width:50%;}
    .lnb .menu .depth2 .menu_title .deco_box.right{right:-15%;width:50%;}
    .lnb .menu .depth2 .menu_title .innerbox{z-index:5;padding-right:3%;padding-left:3%;}
}
@media screen and (min-width:1001px) and (max-width:1430px){
    .lnb .menu .depth2 .menu_title{z-index:9;}
    .lnb .menu .depth2 .menu_title .innerbox .text{font-size:15px;letter-spacing:-0.08em;}
}
@media screen and (max-width:1000px){
    .lnb .menu .depth2 .menu_title{display:none;}
}

/* MENU depth2 */
.lnb .menu .depth2 .depth2_list{display:block;width:100%;padding:214px calc(298px + ((100% - 1640px) / 2)) 53px calc((100% - 1640px) / 2);font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth2 .depth2_list .depth2_item{display:inline-block;float:none;width:calc((100% - 180px) / 4);margin-top:40px;margin-left:60px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;text-align:left;}
.lnb .menu .depth2 .depth2_list .depth2_item:nth-child(4n-3){margin-left:0;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{display:block;position:relative;width:100%;border:1px solid #5e8174;border-radius:5px;font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;transition-property:border-color;transition-duration:400ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text{border-color:#0b926e;}
.lnb .menu .depth2 .depth2_list .depth2_item.actived .depth2_text{border-color:#0b926e;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:before,
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:after{display:block;position:absolute;z-index:1;content:'';box-sizing:border-box;transform-origin:right center;transition-property:transform;transition-duration:600ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:before{top:20px;right:-67px;width:185px;height:159px;background-image:linear-gradient(to bottom, #72c341 0%, #72c341 70%, #52f9c0 100%);border-radius:100%;transform:translateY(100%) scale(0);opacity:0.25;}
.lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text:before{transform:translateY(0px) scale(1);}
.lnb .menu .depth2 .depth2_list .depth2_item.actived .depth2_text:before{transform:translateY(0px) scale(1);}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:after{top:-7px;right:-15px;width:75px;height:75px;background-image:linear-gradient(157deg, #acd423 0%, #1d9851 100%);border-radius:100%;transform:translateX(100%) scale(0);opacity:0.6;transition-delay:200ms;}
.lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text:after{transform:translateX(0px) scale(1);}
.lnb .menu .depth2 .depth2_list .depth2_item.actived .depth2_text:after{transform:translateX(0px) scale(1);}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span{display:block;position:relative;height:58px;padding-right:18px;padding-left:23px;background-color:transparent;font-size:0;line-height:0;box-sizing:border-box;transition-property:background-color;transition-duration:400ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text span{background-color:#38ae57;}
.lnb .menu .depth2 .depth2_list .depth2_item.actived .depth2_text span{background-color:#38ae57;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-image:linear-gradient(135deg, transparent 0%, #149569 50%, #0aa285 100%);border-radius:0 100% 100% 0;content:'';box-sizing:border-box;transform-origin:left center;opacity:0;transform:scaleX(0);filter:blur(10px);transition-property:border-radius, transform, opacity, filter;transition-duration:250ms;transition-timing-function:linear;}
.lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text span:before{border-radius:0px;opacity:1;transform:scaleX(1);filter:blur(0px);}
.lnb .menu .depth2 .depth2_list .depth2_item.actived .depth2_text span:before{border-radius:0px;opacity:1;transform:scaleX(1);filter:blur(0px);}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span em{display:inline-block;position:relative;z-index:3;top:50%;transform:translateY(-50%);width:100%;padding-right:20px;font-size:19px;color:#5e8174;line-height:22px;letter-spacing:-0.03em;font-weight:400;font-family:'Score';word-break:keep-all;vertical-align:top;box-sizing:border-box;transition-property:color;transition-duration:250ms;transition-timing-function:linear;}
.lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text span em{color:#fff;font-weight:600;}
.lnb .menu .depth2 .depth2_list .depth2_item.actived .depth2_text span em{color:#fff;font-weight:600;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span em:before{display:block;position:absolute;z-index:2;top:calc(50% - 10px);right:10px;width:20px;height:20px;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;background-position:left -180px;content:'';box-sizing:border-box;transform:scale(0);transition-property:right, transform, opacity;transition-duration:250ms;transition-timing-function:linear;}
.lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text span em:before{right:0px;transform:scale(1);}
.lnb .menu .depth2 .depth2_list .depth2_item.actived .depth2_text span em:before{right:0px;transform:scale(1);}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"] span em:before{top:calc(50% - 8px);right:0px;width:16px;height:16px;background-position:left -210px;transform:scale(1);}
.lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text[target="_blank"] span em:before{opacity:0;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"] span em:after{display:block;position:absolute;z-index:2;top:calc(50% - 8px);right:0px;width:16px;height:16px;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;background-position:-30px -210px;opacity:0;content:'';box-sizing:border-box;transition-property:opacity;transition-duration:250ms;transition-timing-function:linear;}
.lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text[target="_blank"] span em:after{opacity:1;}
@media screen and (max-width:1640px){
    .lnb .menu .depth2 .depth2_list{padding:214px calc(330px + ((100% - 1430px) / 2)) 53px calc((100% - 1430px) / 2);}
    .lnb .menu .depth2 .depth2_list .depth2_item{width:calc((100% - 90px) / 4);margin-left:30px;}
}
@media screen and (max-width:1430px){
    .lnb .menu .depth2 .depth2_list{padding:214px calc((100% - 1000px) / 2) 53px calc((100% - 1000px) / 2);}
    .lnb .menu .depth2 .depth2_list .depth2_item{width:calc((100% - 60px) / 4);margin-left:20px;}
}
@media screen and (max-width:1000px){
    .lnb .menu .depth2{position:absolute;top:0;left:auto;right:0;width:calc(100% - 191px);height:100%;padding-right:3%;overflow-y:scroll;visibility:hidden;opacity:0;transform:translateX(100%);transition-property:visibility, opacity, transform;transition-duration:250ms;transition-timing-function:linear;}
    .lnb_show .lnb .menu .depth1_item.active .depth2{visibility:visible;opacity:1;transform:translateX(0px);}
    .lnb .menu .depth2 .depth2_list{padding:0;}
}

/* MENU depth3 */
.lnb .menu .depth3{display:block;width:100%;padding-top:20px;padding-bottom:8px;font-size:0;line-height:0;box-sizing:border-box;visibility:hidden;opacity:0;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:linear;}
.lnb_open .lnb .menu .depth3{visibility:visible;opacity:1;}
.lnb .menu .depth3 .depth3_list{display:block;width:100%;padding-left:25px;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth3 .depth3_list .depth3_item{display:block;float:none;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth3 .depth3_list .depth3_item .depth3_text{display:block;position:relative;width:100%;padding-left:15px;font-size:0;line-height:0;box-sizing:border-box;text-align:left;}
.lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:hover{text-decoration:none;}
.lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:before{display:block;position:absolute;top:6px;left:0;width:7px;height:8px;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;background-position:left -240px;content:'';box-sizing:border-box;transform:rotate(0deg);transition-property:transform;transition-duration:250ms;transition-timing-function:linear;}
.lnb .menu .depth3 .depth3_list .depth3_item.active .depth3_text:before{transform:rotate(360deg);}
.lnb .menu .depth3 .depth3_list .depth3_item .depth3_text span{display:inline-block;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.lnb .menu .depth3 .depth3_list .depth3_item .depth3_text span em{display:inline-block;font-size:16px;color:#5a8779;line-height:28px;letter-spacing:-0.03em;font-weight:300;font-family:'Score';vertical-align:top;box-sizing:border-box;}
.lnb .menu .depth3 .depth3_list .depth3_item.active .depth3_text span em{font-weight:500;text-decoration:underline;}
.lnb .menu .depth3 .depth3_list .depth3_item.actived .depth3_text span em{font-weight:500;text-decoration:underline;}
@media screen and (min-width:1001px){
    .lnb .menu .depth4{display:none;}
}

/* 헤더 로그인 및 사이트맵 */
.header_sub_box{display:block;position:absolute;z-index:30;bottom:36px;right:calc((100% - 1640px) / 2);width:auto;font-size:0;line-height:0;box-sizing:border-box;text-align:right;}
.header_sub_box .sub_box_list{display:inline-block;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_sub_box .sub_box_list .sub_box_item{display:inline-block;margin-left:38px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_sub_box .sub_box_list .sub_box_item:first-child{margin-left:0;}
.header_sub_box .sub_box_list .sub_box_item .sub_box_link{display:inline-block;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_sub_box .sub_box_list .sub_box_item .sub_box_link .text{display:inline-block;font-size:19px;color:#fff;line-height:28px;letter-spacing:-0.03em;font-weight:500;font-family:'Score';vertical-align:top;box-sizing:border-box;}
.header_sub_box .sub_box_list .sub_box_item.sitemap .sub_box_link .text{position:relative;width:23px;font-size:0;color:transparent;}
.header_sub_box .sub_box_list .sub_box_item.sitemap .sub_box_link .text:before{display:block;position:absolute;top:6px;left:0;width:23px;height:18px;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;background-position:left -30px;content:'';box-sizing:border-box;}
@media screen and (max-width:1640px){
    .header_sub_box{right:calc((100% - 1430px) / 2);}
    .header_sub_box .sub_box_list{padding-right:20px;}
    .header_sub_box .sub_box_list .sub_box_item{margin-left:20px;}
}
@media screen and (max-width:1430px){
    .header_sub_box{right:3%;}
}
@media screen and (max-width:1000px){
    .header_sub_box{display:none;}
}

/* 컨테이너 영역 */
#container{display:block;position:relative;z-index:49;width:100%;box-sizing:border-box;}

/* 공통 푸터 */
#footer{display:block;position:relative;z-index:50;padding-bottom:180px;background-color:#181818;box-sizing:border-box;}
.footer_box{display:block;width:100%;padding-top:39px;font-size:0;line-height:0;box-sizing:border-box;}
.footer_box .top_go{display:block;position:absolute;bottom:100%;right:0;width:78px;height:78px;font-size:0;line-height:0;box-sizing:border-box;}
.footer_box .top_go .up_button{display:block;width:100%;height:100%;padding-top:18px;background-image:linear-gradient(45deg, #3d9959 0%,#008e97 100%);border-radius:100%;border:none;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
.footer_box .top_go .up_button span{display:inline-block;position:relative;padding-top:12px;font-size:13px;color:#fff;line-height:28px;letter-spacing:-0.02em;font-weight:400;font-family:'CJK';vertical-align:top;box-sizing:border-box;}
.footer_box .top_go .up_button span:before{display:block;position:absolute;top:0;left:calc(50% - 7px);width:14px;height:8px;background-image:url(../images/common/common_sprite.png);background-repeat:no-repeat;background-position:-60px -270px;content:'';box-sizing:border-box;transform:translateY(0px);transition-property:transform;transition-duration:250ms;transition-timing-function:linear;}
.footer_box .top_go .up_button:hover span:before{transform:translateY(-50%);}
.footer_box .footer_nav{display:block;position:relative;width:100%;padding-bottom:23px;font-size:0;line-height:0;box-sizing:border-box;}
.footer_box .footer_nav:before{display:block;position:absolute;bottom:0;left:50%;transform:translateX(-50%);width:100vw;height:1px;background-color:rgba(255, 255, 255, 0.2);content:'';box-sizing:border-box;}
.footer_box .footer_nav ul{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.footer_box .footer_nav ul li{display:inline-block;position:relative;padding-right:20px;margin-left:20px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.footer_box .footer_nav ul li:before{display:block;position:absolute;top:10px;right:0;width:1px;height:15px;background-color:rgba(255, 255, 255, 0.34);content:'';box-sizing:border-box;}
.footer_box .footer_nav ul li:first-child{margin-left:0;}
.footer_box .footer_nav ul li:last-child{padding-right:0;}
.footer_box .footer_nav ul li:last-child:before{display:none;}
.footer_box .footer_nav ul li a{display:inline-block;font-size:16px;color:#fff;line-height:32px;letter-spacing:-0.03em;font-weight:400;font-family:'CJK';vertical-align:top;box-sizing:border-box;}
.footer_box .footer_nav ul li.privacy a{color:#f2d89c;}
.footer_box .addressbox{display:block;width:100%;margin-top:19px;box-sizing:border-box;}
.footer_box .addressbox address{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.footer_box .addressbox address span{display:inline-block;margin-left:23px;font-size:15px;color:rgba(255, 255, 255, 0.64);line-height:28px;letter-spacing:-0.02em;font-weight:400;font-family:'Score';vertical-align:top;box-sizing:border-box;}
.footer_box .addressbox address span:first-child{margin-left:0;}
.footer_box .addressbox .address_list{display:block;width:100%;margin-bottom:13px;font-size:0;line-height:0;box-sizing:border-box;}
.footer_box .addressbox .address_list li{display:inline-block;position:relative;margin-left:10px;padding-right:13px;font-size:15px;color:rgba(255, 255, 255, 0.64);line-height:28px;letter-spacing:-0.02em;font-weight:400;font-family:'Score';vertical-align:top;box-sizing:border-box;}
.footer_box .addressbox .address_list li:before{display:block;position:absolute;top:8px;right:0;width:1px;height:15px;background-color:rgba(255, 255, 255, 0.34);content:'';box-sizing:border-box;}
.footer_box .addressbox .address_list li:first-child{margin-left:0;}
.footer_box .addressbox .address_list li:last-child{padding-right:0;}
.footer_box .addressbox .address_list li:last-child:before{display:none;}
.footer_box .copyright{display:block;width:100%;font-size:15px;color:rgba(255, 255, 255, 0.64);line-height:28px;letter-spacing:-0.02em;font-weight:400;font-family:'Score';box-sizing:border-box;}
@media screen and (max-width:1000px){
    .lnb_show #footer{z-index:49;}
}