@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.08 */

/* 메인전용 상단 깨기 */
.header_box .logo a span{color:#000;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{color:#000;}
@media screen and (min-width:1641px){
    .lnb .menu .depth1 .depth1_list{}
}
@media screen and (min-width:1001px){
    .lnb .lnb_deco{height:549px;}
    .lnb .lnb_deco:before{background-image:url(../images/main/main_lnb_deco_before.png);}
}