@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.08 */

/* 메인전용 상단 깨기 */
.header_box .logo a span{color:#000;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{color:#000;}

/* 메인전용 하단 깨기 */
@media screen and (min-width:1641px){
    #footer .wrap{width:1640px;}
}
@media screen and (min-width:1431px) and (max-width:1640px){
    #footer .wrap{width:1430px;}
}
@media screen and (min-width:1001px){
    #footer{padding-bottom:152px;}
    .footer_box .top_go{top:138px;bottom:auto;right:-39px;}
}
@media screen and (min-width:1001px) and (max-width:1640px){
    .footer_box .top_go{right:0;}
}