@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.08 */

/* 서브비주얼 */
.sub_visual{display:block;position:relative;width:100%;min-height:506px;box-sizing:border-box;}
.sub_visual:before{display:block;position:absolute;top:0;left:calc(50% - 960px);width:1920px;height:100%;background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;}
.sub_visual.type1:before{background-image:url(../images/sub/visual_img_type1.jpg);}