@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.08 */

/* 제목 */
h3, .h3{display:block;width:100%;margin-top:50px;margin-bottom:50px;font-size:30px;color:#242424;line-height:44px;letter-spacing:-0.03em;font-weight:500;font-family:'Score';text-align:center;}
h3:before, .h3:before{display:inline-block;width:16px;height:27px;margin-top:8px;margin-right:13px;background-color:#f00;vertical-align:top;box-sizing:border-box;}
