/********** 리스트 **********/
/* 리스트_1 */
.list1 > li {position:relative;margin-bottom:5px;padding-left:16px;font-size:15px;color:#000;}
.list1 > li:after {display: block; content:"";position:absolute;left:0;top:10px;width:4px;height:4px;background:#ff0000;}
/* 리스트_2 */
.list2 > li {padding:0 0 0 9px;background:url(../images/contents/sh_dot1.gif) no-repeat 0 10px;color:#444;}
/* 리스트_3 */
.list3 > li {position:relative;padding-left:12px;font-size:14px;color:#666;}
.list3 > li:after {display: block;content:"";position:absolute;left:0;top:11px;width:3px;height:1px;background:#777;}
/* 리스트_4 */
.list4 > li {position:relative;margin-bottom:5px;padding:8px 0 0 40px;font-size:18px;color:#333;font-weight:700;}
.list4 > li:after {display: block;content:"";position:absolute;left:0;top:0;width:26px;height:34px;background:url(../images/contents/list4_bg.png) no-repeat;}
/* 리스트_5 */
.list5 {margin:10px 0 0 10px;}
.list5 > li {position:relative;margin-bottom:5px;padding-left:12px;font-size:16px;font-weight:400;color:#555;}
.list5 > li:after {display: block;content:"";position:absolute;left:0;top:11px;width:5px;height:1px;background:#555;}

@media only screen and (max-width:640px){
.list4 > li{padding-left: 30px; font-size: 14px; line-height: 20px;}
.list4 > li:after{transform: scale(0.7); transform-origin: center center;}
.list5 > li{font-size: 14px;}
}

/********** 폰트색상 **********/
.cr_red {color:#f00404;}
.cr_blue {color:#004c9d;}
.cr_green {color:#0f7c00;}
.cr_yellow {color:#ffa800;}
.cr_gray {color:#999;}
.cr_brown {color:#b55900;}
.cr_purple {color:#9e068a;}

/* 사용자군분류 */
.cts933_wrap .userg_box {display:inline-block;width:100%;margin-top:45px;}
.cts933_wrap .userg_box:after {content:"";display:block;clear:both;}
.cts933_wrap .userg_box li {float:left;width:33.3%;padding:0 2%;text-align:center;}
.cts933_wrap .userg_box li strong {position:relative;z-index:5;display:block;width:100%;height:45px;line-height:45px;margin-top:20px;font-size:18px;color:#fff;background:#cf300b;border-radius:100px;}
.cts933_wrap .userg_box li p {position:relative;height:200px;margin-top:-25px;padding:45px 20px 20px 20px;font-size:15px;text-align:left;border:1px solid #cf300b;}
.cts933_wrap .userg_box li p em {position:absolute;left:0;right:0;bottom:20px;display:block;margin:0 auto;color:#cf300b;font-size:16px;font-weight:700;text-align:center;}
.cts933_wrap .userg_box li.yuserg strong {background:#f4b20e;}
.cts933_wrap .userg_box li.yuserg p {border:1px solid #f4b20e;}
.cts933_wrap .userg_box li.yuserg p em {color:#f4b20e;}
.cts933_wrap .userg_box li.buserg strong {background:#4da3d2;}
.cts933_wrap .userg_box li.buserg p {border:1px solid #4da3d2;}
.cts933_wrap .userg_box li.buserg p em {color:#4da3d2;}

.cts933_wrap .target {display:inline-block;width:100%;}
.cts933_wrap .target li {float:left;width:25%;padding:0 10px;text-align:center;}
.cts933_wrap .target li strong {display:inline-block;width:100%;height:45px;line-height:45px;font-size:18px;color:#fff;background:#556279;border-radius:100px;}
.cts933_wrap .diag {display:inline-block;width:100%;}
.cts933_wrap .diag li {float:left;width:50%;padding:0 10px;text-align:center;}
.cts933_wrap .diag li .tit {width:100%;padding:10px;color:#fff;font-size:18px;font-weight:700;background:#5ac9e8;}
.cts933_wrap .diag li .con {width:100%;padding:15px;font-size:16px;background:#fbfbfb;}
.cts933_wrap .counse {display:inline-block;width:100%;}
.cts933_wrap .counse > li {position:relative;float:left;width:33.3%;padding:0 5px;}
.cts933_wrap .counse > li:last-child:after {content:"";position:absolute;left:0;top:57px;width:1px;height:14px;background:#ccc;}
.cts933_wrap .counse > li .tit {position:relative;width:100%;padding:10px;font-size:18px;font-weight:700;text-align:center;color:#fff;background:#cf300b;}
.cts933_wrap .counse > li .tit:before {content:"";position:absolute;left:50%;bottom:-13px;width:57%;height:1px;background:#ccc;}
.cts933_wrap .counse > li .tit:after {content:"";position:absolute;left:0;right:0;bottom:-13px;width:1px;height:13px;margin:0 auto;background:#ccc;}
.cts933_wrap .counse > li:first-child .tit:before {display:none;}
.cts933_wrap .counse > li:first-child .tit:after {bottom:-40px;height:40px;}
.cts933_wrap .counse > li:last-child .tit:before {left:0;right:57%;width:50%;}
.cts933_wrap .counse > li .tit.bgy {background:#f4b20e;}
.cts933_wrap .counse > li .tit.bgb {background:#4da3d2;}
.cts933_wrap .counse > li .con {position:relative;height:245px;margin-top:40px;padding:20px 13px;background:#fbfbfb;}
.cts933_wrap .counse > li .con:before {content:"";position:absolute;left:50%;top:-13px;width:57%;height:1px;background:#ccc;}
.cts933_wrap .counse > li .con:after {content:"";position:absolute;left:0;right:0;top:-13px;width:1px;height:13px;margin:0 auto;background:#ccc;}
.cts933_wrap .counse > li:first-child .con:before,
.cts933_wrap .counse > li:first-child .con:after {display:none;}
.cts933_wrap .counse > li:last-child .con:before {left:0;right:50%;width:50%;}
.cts933_wrap .counse > li .con strong {display:block;width:100%;height:35px;line-height:35px;margin-bottom:15px;text-align:center;background:#e7e7e7;border-radius:100px;}
.cts933_wrap .counse > li .con > ul.list1 {margin:0 5px;}
.cts933_wrap .mana strong {float:left;display:inline-block;width:230px;height:45px;line-height:45px;font-size:18px;text-align:center;color:#fff;background:#556279;border-radius:100px;}
.cts933_wrap .mana > ul.list1 {float:left;width:65%;padding:10px 0 0 50px;}
.cts933_wrap .mana > ul.list1 li {float:left;width:33.3%;}

@media all and (max-width:1023px){
.cts933_wrap .userg_box li p {height:230px;}
.cts933_wrap .target li {width:50%;}
.cts933_wrap .target li + li + li {margin-top:15px;}
.cts933_wrap .diag li {width:100%;padding:0;}
.cts933_wrap .diag li + li {margin-top:15px;}
.cts933_wrap .counse > li {width:100%;padding:0;}
.cts933_wrap .counse > li + li {margin-top:20px;}
.cts933_wrap .counse > li .con {height:auto;margin-top:0;}
.cts933_wrap .counse > li:last-child:after,
.cts933_wrap .counse > li .tit:before,
.cts933_wrap .counse > li .tit:after,
.cts933_wrap .counse > li .con:before,
.cts933_wrap .counse > li .con:after {display:none;}
.cts933_wrap .mana strong {float:none;height:40px;line-height:40px;}
.cts933_wrap .mana > ul.list1 {float:none;display:inline-block;width:100%;margin-top:20px;padding:0;}
}

@media all and (max-width:767px){
.cts933_wrap .userg_box li {width:100%;margin-bottom:40px;padding:0;}
.cts933_wrap .userg_box li p {height:auto;}
.cts933_wrap .userg_box li p em {position:relative;bottom:0;margin-top:15px;}
.cts933_wrap .target li {padding:0 5px;}
.cts933_wrap .target li + li + li {margin-top:10px;}
.cts933_wrap .target li strong {height:40px;line-height:40px;}
.cts933_wrap .mana strong {width:100%;}
.cts933_wrap .mana > ul.list1 li {width:50%;}
}

/* 스마트폰과의존 예방가이드 */
.cts934_wrap .rest_step {position:relative;margin-bottom:50px;}
.cts934_wrap .rest_step:before {content:"";position:absolute;left:10%;top:66px;width:80%;height:1px;background:#ccc;z-index:-1;}
.cts934_wrap .rest_step:after {content:"";clear:both;display:block;}
.cts934_wrap .rest_step li {float:left;width:25%;line-height:22px;text-align:center;font-weight:700;}
.cts934_wrap .rest_step li strong {display:block;font-size:40px;}
.cts934_wrap .rest_step li em {display:block;width:110px;height:30px;line-height:30px;margin:30px auto 20px auto;color:#fff;font-weight:700;background:#556279;border-radius:100px;}
.cts934_wrap .cbox {display:inline-block;width:100%;padding:5%;background:#fef5df;}
.cts934_wrap .cbox.cbg {background:#e2f4bf;}
.cts934_wrap .cbox.cbb {background:#c4ebf8;}
.cts934_wrap .cbox.cbp {background:#f5e6f3;}
.cts934_wrap .cbox h3 {margin:40px 0 30px 0;text-align:center;font-weight:800;font-size:40px;font-family:'NanumSquareRound',sans-serif; color: #111;}
.cts934_wrap .cbox > p {line-height:34px;text-align:center;color:#333;font-size:20px;font-weight:700;}
.cts934_wrap .cbox .rest_box {position:relative;margin-top:55px;}
.cts934_wrap .cbox .rest_box:after {display: block; content:"";position:absolute;right:0;top:-258px;width:205px;height:277px;background:url(../images/contents/cbox_bg1.png) no-repeat;}
.cts934_wrap .cbox .rest_box .rest {margin-bottom:40px;}
.cts934_wrap .cbox .rest_box .rest .cap {position:relative;z-index:1;width:140px;height:70px;line-height:70px;color:#fff;background:#b55900;font-size:44px;font-weight:700;text-align:center;border-top-right-radius:20px;border-bottom-left-radius:20px;}
.cts934_wrap .cbox .rest_box .rest .list4 {margin:-50px 0 0 20px;padding:35px 30px 25px 160px;background:#fffcf5;border-radius:15px;}
.cts934_wrap .cbox.cbg .rest_box:after {content:"";position:absolute;right:20px;top:-259px;width:169px;height:278px;background:url(../images/contents/cbox_bg2.png) no-repeat;}
.cts934_wrap .cbox.cbg .rest_box .rest .cap {background:#0f7c00;}
.cts934_wrap .cbox.cbg .rest_box .rest .list4 {background:#f3fbe5;}
.cts934_wrap .cbox.cbb .rest_box:after {content:"";position:absolute;right:0;top:-257px;width:267px;height:277px;background:url(../images/contents/cbox_bg3.png) no-repeat;}
.cts934_wrap .cbox.cbb .rest_box .rest .cap {background:#134aa5;}
.cts934_wrap .cbox.cbb .rest_box .rest .list4 {background:#e7f7fc;}
.cts934_wrap .cbox.cbp .rest_box:after {content:"";position:absolute;right:0;top:-309px;width:267px;height:329px;background:url(../images/contents/cbox_bg4.png) no-repeat;}
.cts934_wrap .cbox.cbp .rest_box .rest .cap {background:#9e068a;}
.cts934_wrap .cbox.cbp .rest_box .rest .list4 {background:#fbf5fa;}

@media (min-width:1001px) and (max-width:1400px){
.cts934_wrap .cbox .rest_box:after{display: none;}
}

@media all and (max-width:1023px){
.cts934_wrap .cbox {padding:3%;}
.cts934_wrap .cbox .rest_box:after {right:-10px;top:-199px;width:158px;height:228px;background-size:cover !important;}
.cts934_wrap .cbox h3 {position:relative;margin:30px 0 20px 0;font-size:35px;z-index:1;}
.cts934_wrap .cbox > p {position:relative;line-height:28px;font-size:18px;z-index:1;}
.cts934_wrap .cbox .rest_box {margin-top:35px;}
.cts934_wrap .cbox .rest_box .rest .cap {width:100px;height:55px;line-height:55px;font-size:40px;}
.cts934_wrap .cbox .rest_box .rest .list4 {margin:-25px 0 0 20px;padding:55px 30px 25px 5%;}

.cts934_wrap .cbox.cbg .rest_box:after {right:0;top:-182px;width:126px;height:212px;background-size:cover !important;}
.cts934_wrap .cbox.cbb .rest_box:after {top:-186px;width:205px;height:216px;background-size:cover !important;}
.cts934_wrap .cbox.cbp .rest_box:after {top:-214px;width:205px;height:244px;background-size:cover !important;}
}
@media all and (max-width:767px){
.cts934_wrap .rest_step {margin-bottom:30px;}
.cts934_wrap .rest_step li {width:50%;height:190px;letter-spacing:-1px;}
.cts934_wrap .rest_step:before {display:none;}
.cts934_wrap .rest_step li + li + li {margin-top:20px;}
.cts934_wrap .cbox {padding:15px;}
.cts934_wrap .cbox .rest_box:after {display:none;}
.cts934_wrap .cbox h3 {margin:30px 0 15px 0;font-size:30px;}
.cts934_wrap .cbox .rest_box {margin-top:20px;}
.cts934_wrap .cbox .rest_box .rest {margin-bottom:30px;}
.cts934_wrap .cbox .rest_box .rest .cap {width:70px;height:45px;line-height:45px;font-size:35px;}
.cts934_wrap .cbox .rest_box .rest .list4 {margin:-25px 0 0 5px;padding:45px 5% 5% 5%;}
}

@media all and (max-width:640px){
.cts934_wrap .cbox h3{font-size: 20px; line-height: 22px;}
.cts934_wrap .cbox > p{font-size: 14px; line-height: 20px;}
.cts934_wrap .cbox .rest_box .rest .cap{font-size: 25px;}
}

/* 과의존진단 */
.cts939_wrap ul:after {content:"";clear:both;display:block;}
.cts939_wrap ul li {float:left;width:33.3%;padding:0 15px;text-align:center;}
.cts939_wrap ul li a {display:inline-block;width:100%;height:100%;padding:50px 0 40px 0;font-size:22px;color:#fff;background:#43ccd8;border-top-left-radius:20px;border-bottom-right-radius:20px;}
.cts939_wrap ul li a:hover {background:#555 !important;}
.cts939_wrap ul li a .ico_box {width:210px;height:210px;margin:0 auto 40px auto;text-align:center;background:url(../images/contents/sub02_img1.png) center bottom -1px no-repeat #fff;border-radius:100%;}
.cts939_wrap ul li.teen a {background:#1b99b9;}
.cts939_wrap ul li.teen a .ico_box {background:url(../images/contents/sub02_img2.png) center bottom -1px no-repeat #fff;}
.cts939_wrap ul li.adu a {background:#1a508e;}
.cts939_wrap ul li.adu a .ico_box {background:url(../images/contents/sub02_img3.png) center bottom -1px no-repeat #fff;}

@media all and (max-width:1023px){
.cts939_wrap ul li {padding:0 10px;}
.cts939_wrap ul li a .ico_box {width:150px;height:150px;margin:0 auto 40px auto;background-size:100px !important;}
}
@media all and (max-width:767px){
.cts939_wrap ul li {width:100%;padding:0;}
.cts939_wrap ul li + li {margin-top:15px;}
.cts939_wrap ul li a {padding:20px 15px;line-height:80px;font-size:20px;}
.cts939_wrap ul li a .ico_box {float:left;width:80px;height:80px;margin:0 20px 0 0;background-size:50px !important;}
.cts939_wrap ul li a strong {float:left;}
}

/*센터둘러보기*/
.cts947_wrap .img_box{position: relative; padding: 0 100px;}
.cts947_wrap .img_list .img_item .img_wrap{position: relative;}
.cts947_wrap .img_list .img_item .img_wrap img{width: 100%;}
.cts947_wrap .img_list .img_item .img_wrap .title{position: absolute; left: 0; bottom: 0; width: 100%; background-color: rgba(0,0,0,0.5); color: #fff; text-align: center; font-size: 24px; line-height: 70px; font-weight: 600;}

.cts947_wrap .img_control{position: absolute; width: 100%; left: 0; top: calc(50% - 15px);  z-index: 50; text-align: center;}
.cts947_wrap .img_control button {position: absolute; top: 0; width: 60px; height: 60px; border-radius: 50%; border: 0; margin: 0 3px; font-size: 0; color: transparent; vertical-align: middle; background-color: #377dce;}
.cts947_wrap .img_control button:before{display: block; position: absolute; left: 0; top: 0; width: 60px; height: 60px; }
.cts947_wrap .img_control button.prev{left: 0px;}
.cts947_wrap .img_control button.next{right: 0px;}
.cts947_wrap .img_control button.prev:before{background: url(../images/contents/prev.png) left 20px center no-repeat;}
.cts947_wrap .img_control button.next:before{background: url(../images/contents/next.png) right 20px center no-repeat;}

.cts947_wrap .img_control button:hover{background-color: #555;}

@media only screen and (max-width:640px){
.cts947_wrap .img_box{padding: 0;}
.cts947_wrap .img_list .img_item .img_wrap .title{line-height: 40px; font-size: 18px;}
.cts947_wrap .img_control button{top: -20px; transform: scale(0.7); background-color: rgba(0,0,0,0.4);}
.cts947_wrap .img_control button.prev{left: 10px; transform-origin: left center;}
.cts947_wrap .img_control button.next{right: 10px; transform-origin: right center;}
.cts947_wrap .img_control button:hover{background-color: rgba(0,0,0,0.4);}
}