@charset "UTF-8";

@font-face {
    font-family: 'CoreDream';
    font-weight: 200;
    src:url("../../../common/font/S-CoreDream-3Light.woff2") format('woff2');
}
#header .wrap {width: 1650px}
@media all and (max-width:1670px){
    #header .wrap {width: 1410px}
}
@media all and (max-width:1430px){
    #header .wrap {width: 1200px}
}
@media all and (max-width:1200px){
    #header .wrap {width:auto;}
}
#header{position:absolute;background-color: transparent}

#header .logo{top:60px;}
#header .logo_image{width:211px;height:62px;background:url('../images/common/white_logo.png') no-repeat}
#header .logo_name{margin-left:17px;color: #fff;font-size: 28px;line-height: 62px}
[data-open="myinfo"] .gnb {z-index:100;}
.gnb{border-bottom:0}
.gnb:before{display: block;position:absolute;bottom:0;width: 100%;height: 1px;background-color:rgba(255,255,255,0.2) }
.gnb .site{padding: 5px 0;}
.gnb .site_item{margin-left:27px}
.gnb .site_item.family{margin-left:30px}
.gnb .site_anchor{font-family:'CoreDream';color:#fff;line-height: 26px;}
.gnb .site_anchor:hover{color: #D90017}
.gnb button.site_anchor{width: 120px;padding: 0 11px;border: 2px solid #fff;border-radius: 15px}
.gnb button.site_anchor:hover{border: 2px solid #D90017}
.gnb button.site_anchor span{padding-right: 15px;}
.gnb button.site_anchor:after {position: absolute;top: 3px;right: 4px;width: 19px;height: 19px;background-color: transparent;content: "";background: url(../images/common/common_sprite.png) no-repeat -62px -55px;}
.gnb button.site_anchor:hover:after{background-position:-62px -79px}
[data-open="family"] .gnb .site_item button.site_anchor:after{transform: rotate(0)}
.home:before{display: none}
.home .link{display: block;position: relative;z-index: 50;}
.home .sitemap{left: auto;right: 0}
.home .sitemap_anchor{position: absolute;top: 38px;left: auto;right: -2px;color: #fff;font-size: 25px;line-height: 25px;}
.login .link_anchor{position:absolute;top: 42px;right: 44px;}
.login .link_anchor i{color: #fff;margin: 0;font-size: 25px;line-height: 22px;}
.login .login_panel{top: 80px;right: 8px;}
.home{height: 106px}
.home .search{top:106px}
.home .search:before{top:150px}
.home .search .search_open{top: -68px;right: 85px;}
.home .search .search_open:before{content: '';width:22px;height:21px;background:url('../images/common/common_sprite.png') no-repeat -1px -2px;font-size: 0;line-height: 0;}
.home .search .search_panel:before{background-color: #d90017}
.home .search .search_panel{min-height: 116px;padding: 0;}
.home .search .search_fieldset{top: auto;padding: 0 30px 0  0;border:0;border-bottom:2px solid #fff;border-radius: 0}
.home .search .search_form{width: 673px;height: auto;margin:0 auto;padding: 29px 0 35px;z-index: 1;}
.home .search .search_close{top:auto;bottom:-41px;right:calc(50% - 39px);width: 78px;height: 78px;background-color:#d90017 ;z-index: 0;/* text-align: center; */}
.home .search .search_close:before{content: '';width: 21px;height: 21px;margin: 10px auto 0;font-size: 0;background:url('../images/common/common_sprite.png') no-repeat -32px -33px;}
.home .search .search_input:before{display: none}
.home .search .search_query{color: #fff; font-size:18px;font-family:'CoreDream';}
.home .search .search_query::placeholder{color:#fff; font-size:18px; line-height:20px; letter-spacing:0.025em;}
.home .search .search_submit{top: 9px;right: 0;width: 23px;height: 24px;background:url('../images/common/common_sprite.png') no-repeat -2px -31px;}




footer {padding:93px 0 69px;background-color:#313033;text-align: center;font-family:'CoreDream';font-weight: 200;}
footer .link:before{display: none}
footer .link{float: none;position:relative;width: 100%;padding: 0}
footer .link:before{display: block;position:absolute;top:72px;left:calc(50% - 685px);width: 1370px;height: 1px;background-color:#464548 }
footer .link .link_item{display: inline-block;position:relative;margin-right: 45px}
footer .link .link_item:before{display: block;position:absolute;top:calc(50% - 2px);right:-23px;width:5px;height: 5px;background-color: #fff;border-radius: 50%; }
footer .link .link_item:last-child{margin-right: 0}
footer .link .link_item:last-child:before{display: none}
footer .link_anchor{color: #fff }
footer .n1 .link_anchor{color: #c8ca0f}
footer .footer_visual{display: none}
footer .footer_info{float:none;width: 100%;margin-top:88px;color: #fff}
footer .footer_info .address{line-height: 24px}
footer .footer_info .tel_area{display: inline-block;margin-top: 0}
footer .footer_info .fax{display: inline-block}
footer .footer_info .copyright{margin-top:20px;color: #fff}
@media all and (min-width:1201px) {
    .menu.eachdown .depth1_list, .menu.eachdown .depth1_item {position: relative}
    .lnb{height: 106px;}
    .lnb:before{display: none}

    .lnb .menu{background-color: transparent;border:0;}
    .lnb .menu .depth1_list{padding-right: 150px;text-align: right}
    .lnb .menu .depth1_item {margin-left:28px;}
    .lnb .menu .depth1_text:hover{color:#d90017;}
    .lnb .menu .depth1_item.active .depth1_text{color:#d90017;}

    .lnb .menu .depth1_text {padding: 42px 0;font-size:21px;color: #fff;letter-spacing: -0.025em;}
    .lnb .menu .depth1_text:before{display: none}

    .lnb .menu .depth2{top:85px;left:calc(50% - 130px);width:260px;height:auto;background-color:#d90017;border-radius: 5px 35px 5px 35px;text-align: center}
    .lnb .menu .depth2_content{padding:43px 0 52px}
    .lnb .menu .depth2_list{overflow: visible;text-align: center}
    .lnb .menu .depth2_item{display: block;width:auto;margin-right: 0;}
    .lnb .menu .depth2_item + .depth2_item{margin-top:12px}
    .lnb .menu .depth2_text{overflow: visible;display: inline-block;color: #fff;font-family:'CoreDream';font-size: 17px;line-height:28px;font-weight: 400}
    .lnb .menu .depth2_text:hover, .lnb .menu .depth2_item.active .depth2_text{color: #fff; }
    .lnb .menu .depth2_text:before{display: none}
    .lnb .menu .depth2_text:hover:before,.lnb .menu .depth2_item.active .depth2_text:before{display: block;height:1px;background-color: #fff}
    .lnb .menu .depth2_text:hover:after,.lnb .menu .depth2_item.active .depth2_text:after{display: block;position:absolute;right:-10px;top:-1px;width:8px;height:8px;background-color: #fff;border-radius:50%}

    .lnb .menu .depth2_text[target=_blank]:after{width:16px;height:16px;background:transparent url('../images/common/link_icon.png');font-size:0;line-height:26px;;vertical-align: 1px;}
    .lnb .menu .depth2_text[target=_blank]:hover:after,
    .lnb .menu .depth2_item.active .depth2_text[target=_blank]:after{display: inline-block;position: static;width: 16px;height: 16px;border-radius: 0;background:transparent url('../images/common/link_icon.png')}
    .lnb .menu .depth3{visibility: hidden;opacity: 0;height: 0;overflow: hidden}
    .lnb .menu .depth3 .depth3_list{padding: 0}

    [data-open="search"] .lnb .menu,
    .lnb_open .lnb .menu{box-shadow: none}
    [data-open="search"] .lnb .menu .depth1_text,
    .lnb_open .lnb .menu .depth1_text{color: #333}
    [data-open="search"] .home .search .search_open{display: block;}
    [data-open="search"] #header .logo_image,
    .lnb_open #header .logo_image{background:url('../images/common/logo.png') no-repeat;background-size: contain }
    [data-open="search"] #header .logo_name,
    .lnb_open #header .logo_name{color: #333;}
    [data-open="search"] #header,
    .lnb_open #header{background-color: #fff}
    [data-open="search"] .gnb:before,
    .lnb_open .gnb:before{background-color: #ccc}
    [data-open="search"] .gnb .site_anchor,
    .lnb_open .gnb .site_anchor{color:#333}
    [data-open="search"] .gnb button.site_anchor,
    .lnb_open .gnb button.site_anchor{padding: 2px;color: #029a8f;background: linear-gradient(to right,#d9ce06 , #029a8f);line-height: 24px;}
    [data-open="search"] .gnb button.site_anchor span,
    .lnb_open .gnb button.site_anchor span{width: 100%;background-color: #fff;border-radius: 16px;}
    [data-open="search"] .gnb button.site_anchor:after,
    .lnb_open .gnb button.site_anchor:after {top:5px;background-position:-62px -31px}
    [data-open="search"] .home .sitemap_anchor,
    .lnb_open .home .sitemap_anchor{color: #333}
    [data-open="search"] .login .link_anchor i,
    .lnb_open .login .link_anchor i{color: #333}
    [data-open="search"] .home .search .search_open:before{background-position: -58px -2px;}
    .lnb_open .home .search .search_open:before{background-position: -31px -2px;}
}
@media all and (max-width:1430px) and (min-width:1201px) {
    .lnb .menu .depth1_text{font-size: 18px}
    .lnb .menu .depth1_text{padding:36px 0 }
}
@media all and (max-width:1430px){
    #header .logo_image{width: 179px;height: 52px;background-size: contain}
    #header .logo_name{font-size:24px;line-height: 52px;}
    footer .link:before{left:calc(50% - 500px);width: 1000px;}
}
@media all and (max-width:1200px){
    .fixed #header{position: absolute}
    #header .logo{top:22px}


    .gnb:before{display: none}
    .gnb .site{padding: 0}
    .login .link_anchor{top: 0;right: 0}
    .home{height:90px}

    .home .link{top:26px;right:calc(3% + 42px)}
    .login .login_panel{top:40px;right: -30px}
    .home .login .link_anchor i{font-size:24px }
    [data-open="search"] .home {z-index: 80}
    .home .search{top:0}
    .home .search:before{top:90px}
    .home .search .search_open{top:24px;right: calc(3% + 78px)}
    .home .search .search_query {height:50px;}
    .home .search .search_query::placeholder {font-size:17px;line-height:24px}

    .lnb .menu_show {top: 24px;right:3%}
    .lnb .menu_show .menu_btn{font-size: 25px;line-height: 25px;color: #fff}
    .lnb .menu_header {text-align:right;padding-right:50px;}
    .lnb .menu_header:before {display:inline-block;height:100%;vertical-align:middle;}
    .lnb .menu_header > a {display:inline-block;padding-right:10px;font-size:15px;line-height:1em;color:#fff;letter-spacing:-0.02em;vertical-align:middle;}
    .lnb .site {padding:20px 0}
    .lnb .menu {padding-top: 110px;background: #d90017 url('../images/common/lnb_bg.png') no-repeat 0 0;}
    .lnb .site_link {width:100%;margin: -8px 20px 0;padding: 3px 0;background-color: rgba(255,255,255,0.2);border-radius:20px;font-size: 0;line-height: 0;text-align: center;}
    .lnb .site_link li {display: inline-block;position:relative;}
    .lnb .site_link li:after {display:block;position:absolute;top:9px;right:-1px;width:1px;height:12px;background-color: rgba(255,255,255,0.2)}
    .lnb .site_link li:last-child:after{display:none}
    .lnb .site_link a {padding: 0 9px;font-size: 14px;line-height: 30px;color: #fff;}
    .lnb .sitemap {top:400px;left: calc(50% - 144px);}
    .lnb_open .lnb .sitemap {top:400px}
    .lnb .menu .depth1_item {margin-left:0;}
    .lnb_open .lnb .menu .depth1_item .depth1_text span {width:120px;font-size:16px;}
    .lnb_open .lnb .menu .depth1_item.active .depth1_text span {padding-right:20px;}
    .lnb .menu .depth1_item.active .depth1_text span:after{right: 10px}
    .lnb .menu .depth2_item.active .depth2_text{color:#000; }
    .lnb .menu .depth2_item.active.has .depth2_text:after{background-color:#414a73 }
    .lnb .menu .depth4{background-color: transparent}

}
@media all and (max-width:1000px){
    footer {padding: 41px 0 50px;}
    footer .footer_info{margin-top: 75px;font-size:14px}
    footer .link:before{top: 60px;left:30px;width:calc(100% - 60px);}
}
@media all and (max-width:740px){
    .home .search .search_form{width: 80%;padding: 17px 0 30px;}
    .home .search .search_query::placeholder {font-size:15px;line-height:24px}
    footer .footer_info .fax{/* display: block; */}
    footer .footer_info .tel_area span{display:inline-block}

}
@media all and (max-width:640px){
    #header .logo{top:18px}
    #header .logo_image{width: 136px;height:40px;}
    #header .logo_name{margin-left: 7px;font-size:17px;line-height:40px;}
    .home{height:56px}
    .home .link{top: 28px;right: calc(3% + 28px);}
    .login .login_panel{top:40px;right: -30px}
    .home .login .link_anchor i{font-size: 20px;}
    .home .search{top:0}
    .home .search:before{top:90px}
    .home .search .search_panel{min-height:90px}
    .home .search .search_open:before{transform:scale(0.8)}
    .home .search .search_open{top: 25px;right: calc(3% + 49px);}

    .home .search .search_query {height:40px;}
    .home .search .search_close{bottom: -33px;width: 64px;height: 64px}
    .home .search .search_close:before{margin:15px auto 0;transform:scale(0.8)}
    .lnb .menu_show {top: 24px;right:3%}
    .lnb .menu_show .menu_btn{font-size: 21px;line-height: 21px;}

    .lnb .menu_show {top: 28px;}
    .lnb .menu .depth1_text {font-size:16px;}
    .lnb_open .lnb .menu .depth1_item .depth1_text span {font-size:15px;}
    .lnb .sitemap {top:400px;left: calc(50% - 124px);}

    footer {padding:32px 0 }
    footer .link:before{top: 50px;width: 106%;left: -3%;}
    footer .footer_info{margin-top:60px}
    footer .footer_info .address{font-size:13px}
}

