@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.06 */

/* 기본세팅 */
body{position:relative;font-size:18px;color:#424242;line-height:35px;letter-spacing:-0.03em;font-weight:400;font-family:'Pretendard','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
a:link{color:#444;text-decoration:none;}
a:visited{color:#444;text-decoration:none;}
a:hover{color:#444;text-decoration:underline;}
a:active{color:#444;text-decoration:underline;}
a span{cursor:pointer;}
button{cursor:pointer;font-family:'Notokr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input{font-family:'Notokr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input[type="submit"]{cursor:pointer;}

/* 본문바로가기  */
.accessibility{position:relative;overflow:hidden;z-index:3000;width:100%;}
.accessibility a{display:block;overflow:hidden;z-index:3000;height:1px;width:1px;margin:0 -1px -1px 0;font-size:0;line-height:0;text-align:center}
.accessibility a:focus, #accessibility a:hover, #accessibility a:active{width:auto;height:30px;margin:0;padding:8px 0;background:#20262c;font-size:14px;font-weight:700;line-height:30px;color:#fff;}

/* Slider */
.slick-slider{position:relative;display:block;box-sizing:border-box;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;}
.slick-track{ position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;width:100%;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
#scrollbar{display:block;visibility:hidden;overflow-x:scroll;overflow-y:scroll;position:absolute;top:-100px;left:-100px;z-index:-1;width:100px;height:100px;}

/* 메뉴공통css */
/* 메뉴 */
.menu.init, .menu.init:before, .menu.init:after, .menu.init .depth, .menu.init .depth:before, .menu.init .depth:after, .menu.init .depth_list, .menu.init .depth_list:before, .menu.init .depth_list:after, .menu.init .depth_item, .menu.init .depth_item:before, .menu.init .depth_item:after, .menu.init .depth_text, .menu.init .depth_text:before, .menu.init .depth_text:after, .menu.init .depth_title, .menu.init .depth_title:before, .menu.init .depth_title:after{transition-property:all;transition-duration:0.25s;transition-timing-function:linear;}
.menu, .menu .depth, .menu .depth_list, .menu .depth_item, .menu .depth_text{position:relative;}
.menu{font-size:0px;line-height:0px;}
.menu .depth:not(.depth1){visibility:hidden;opacity:0;overflow:hidden;}
.menu .depth1{z-index:30;}
.menu .depth_list{z-index:10;}
.menu .depth_text{display:inline-block;}

/* 1, 2차 메뉴 배경 */
.menu.before:before, .menu.after:after{display:block;position:absolute;}
.menu.before:before{z-index:10;}
.menu.after:after{z-index:20;}

/* 제목 상자 */
.menu .depth_title{overflow:hidden;position:absolute;z-index:20;}

/* 옵션 */
.menu .depth1.clearfix .depth1_list{float:right;}
.menu .depth_list.clearfix > .depth_item{float:left;}
.menu .depth_list.cut > .depth_item{display:inline-block;vertical-align:top;}

/* 풀 다운 */
.menu.pulldown .depth1{height:100%;}
.menu.pulldown .depth1_list, .menu.pulldown .depth1_item{height:inherit;}
.menu.pulldown .depth2{position:absolute;bottom:0;left:0;width:100%;}

/* 이치 다운 */
.menu.eachdown .depth1{height:100%;}
.menu.eachdown .depth1_list, .menu.eachdown .depth1_item{position:static;height:inherit;}
.menu.eachdown .depth2{position:absolute;bottom:0;left:0;width:100%;}

/* 드롭 다운 */
.menu.dropdown .depth2{position:absolute;top:100%;left:0;width:100%;transform-origin:center top;transform:scaleY(0);}

/* wrapper, wrap */
#wrapper{position:relative;min-width:1560px;overflow:hidden;}
.wrap{position:relative;width:1560px;margin:0 auto;}
.skip{overflow:hidden;}
@media all and (max-width:1560px){
    #wrapper{min-width:1000px;}
    .wrap{width:1000px;}
}
@media all and (max-width:1000px){
    #wrapper{min-width:0;}
    .wrap{width:94%;}
}@media all and (max-width:640px){

}

/* 헤더(header) */
#header{display:block;position:fixed;z-index:80;width:100%;box-sizing:border-box;}

/* header_box */
.header_box{display:block;position:relative;height:100px;background-color:transparent;box-sizing:border-box;}
.header_box:before{display:block;position:absolute;top:50%;left:50%;width:102%;height:100%;background-color:transparent;transform:translate(-50%, -50%);content:'';box-sizing:border-box;transition-property:background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb_scroll .header_box:before{background-color:#009fe0;}
.header_box .logo{display:block;position:absolute;z-index:31;top:22px;left:0;font-size:0;line-height:0;box-sizing:border-box;}
.header_box .logo a{display:inline-block;position:relative;width:211px;height:54px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_box .logo a:before,
.header_box .logo a:after{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-image:url(../images/common/logo_sprite.png);background-repeat:no-repeat;box-sizing:border-box;content:'';transition-property:opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}
.header_box .logo a:before{background-position:left top;opacity:1;}
.lnb_open .header_box .logo a:before{background-position:left -108px;}
.header_box .logo a:after{background-position:left -54px;opacity:0;}
.lnb_scroll .header_box .logo a:before{opacity:0;}
.lnb_scroll.lnb_open .header_box .logo a:before{opacity:1;}
.lnb_scroll .header_box .logo a:after{opacity:1;}
.lnb_scroll.lnb_open .header_box .logo a:after{opacity:0;}
.header_box .logo a span{display:inline-block;position:absolute;top:0;left:0;width:0;height:0;font-size:0;color:transparent;line-height:0;}
.header_box .gnb{display:block;position:absolute;z-index:31;top:0;right:0;width:auto;height:auto;font-size:0;line-height:0;box-sizing:border-box;}
.header_box .gnb ul{display:inline-block;width:auto;min-width:260px;height:auto;padding-top:29px;padding-bottom:32px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_box .gnb ul .item{display:inline-block;width:auto;margin-right:23px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_box .gnb ul .item:last-child{margin-right:0;}
.header_box .gnb ul .item a{display:inline-block;position:relative;width:34px;height:39px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_box .gnb ul .item a:before{display:block;position:absolute;background-image:url(../images/common/gnb_icon_sprite.png);background-repeat:no-repeat;content:'';box-sizing:border-box;}
.header_box .gnb ul .item a span{display:inline-block;position:relative;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_box .gnb ul .item.www{position:relative;margin-right:18px;padding-right:26px;}
.header_box .gnb ul .item.www:before{display:block;position:absolute;top:calc(50% - 12px);right:0;width:1px;height:25px;background-color:rgba(255, 255, 255, 0.4);content:'';box-sizing:border-box;transition-property:background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb_open .header_box .gnb ul .item.www:before{background-color:rgba(21, 21, 21, 0.4);}
.header_box .gnb ul .item.www a{width:125px;padding-left:17px;background-color:transparent;border:1px solid rgba(255, 255, 255, 0.46);border-radius:19px;transition-property:background-color, border-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb_open .header_box .gnb ul .item.www a{border-color:rgba(1, 62, 168, 0.15);}
.header_box .gnb ul .item.www a:before{display:none;}
.header_box .gnb ul .item.www a:hover{background-color:#fff;border-color:rgba(255, 255, 255, 1);}
.header_box .gnb ul .item.www a span{padding-left:30px;font-size:16px;color:#fff;line-height:37px;letter-spacing:-0.03em;font-weight:400;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.header_box .gnb ul .item.www a:hover span{color:#161616;}
.lnb_open .header_box .gnb ul .item.www a span{color:#013ea8;}
.header_box .gnb ul .item.www a span:before{display:block;position:absolute;top:6px;left:0;width:24px;height:27px;background-image:url(../images/common/gnb_icon_sprite.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;}
.header_box .gnb ul .item.www a:hover span:before{background-position:left -80px;}
.lnb_open .header_box .gnb ul .item.www a span:before{background-position:left -40px;}
.header_box .gnb ul .item.login a:before{top:7px;right:0;width:26px;height:27px;background-position:-40px top;}
.lnb_open .header_box .gnb ul .item.login a:before{background-position:-40px -40px;}
.header_box .gnb ul .item.sitemap a:before{top:8px;right:0;width:31px;height:25px;background-position:-80px top;}
.lnb_open .header_box .gnb ul .item.sitemap a:before{background-position:-80px -40px;}
@media all and (min-width:1001px){
    .header_box{height:100px;}
    .header_box .show_box{display:none;}
}
@media all and (max-width:1560px){
    .header_box .wrap{width:94%;}
    .header_box .gnb ul{min-width:0;}
    .header_box .gnb ul .item{margin-right:10px;}
    .header_box .gnb ul .item.www{margin-right:10px;padding-right:10px;}
}
@media all and (max-width:1000px){
    .header_box:after{display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:rgba(255, 255, 255, 0.2);content:'';box-sizing:border-box;transition-property:background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
    .lnb_scroll .header_box:after{background-color:transparent;}
    .header_box .gnb{display:none;}
    .header_box .logo a:after{display:none;}
    .lnb_open .header_box .logo a:before{background-position:left top;opacity:1;}
    .lnb_scroll .header_box .logo a:before{background-position:left -54px;opacity:1;}
    .lnb_open.lnb_scroll .header_box .logo a:before{background-position:left -54px;opacity:1;}
    .lnb_open.lnb_show .header_box .logo a:before{background-position:left top;opacity:1;}
    .lnb_show.lnb_scroll .header_box .logo a:before{background-position:left -54px;opacity:1;}
    .lnb_open.lnb_show.lnb_scroll .header_box .logo a:before{background-position:left -54px;opacity:1;}
    .header_box .show_box{display:block;position:absolute;top:30px;right:0;width:auto;font-size:0;line-height:0;box-sizing:border-box;}
    .header_box .show_box .menu_login{display:inline-block;width:40px;height:40px;margin-right:17px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
    .header_box .show_box .menu_login .menu_login_button{display:block;position:relative;width:100%;height:100%;border:none;font-size:0;line-height:0;box-sizing:border-box;}
    .header_box .show_box .menu_login .menu_login_button:before{display:block;position:absolute;top:6px;right:0;width:26px;height:27px;background-image:url(../images/common/gnb_icon_sprite.png);background-repeat:no-repeat;background-position:-40px top;content:'';box-sizing:border-box;}
    .header_box .show_box .menu_show{display:inline-block;width:40px;height:40px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
    .header_box .show_box .menu_show .menu_button{display:block;position:relative;width:100%;height:100%;border:none;font-size:0;line-height:0;box-sizing:border-box;}
    .header_box .show_box .menu_show .menu_button:before{display:block;position:absolute;top:7px;right:0;width:31px;height:25px;background-image:url(../images/common/gnb_icon_sprite.png);background-repeat:no-repeat;background-position:-80px top;content:'';box-sizing:border-box;}
}
@media all and (max-width:640px){
    .header_box{height:60px;}
    .header_box .logo{top:11px;}
    .header_box .logo a{width:135px;height:35px;}
    .header_box .logo a:before{background-position:-211px top;}
    .lnb_open .header_box .logo a:before{background-position:-211px top;}
    .lnb_open.lnb_show .header_box .logo a:before{background-position:-211px top;}
    .lnb_scroll .header_box .logo a:before{background-position:-211px -35px;}
    .lnb_open.lnb_scroll .header_box .logo a:before{background-position:-211px -35px;}
    .lnb_scroll.lnb_show .header_box .logo a:before{background-position:-211px -35px;}
    .lnb_open.lnb_scroll.lnb_show .header_box .logo a:before{background-position:-211px -35px;}

    .header_box .show_box{top:16px;}
    .header_box .show_box .menu_login{width:30px;height:30px;margin-right:10px;}
    .header_box .show_box .menu_login .menu_login_button:before{top:4px;width:20px;height:20px;background-position:-120px top;}
    .header_box .show_box .menu_show{width:30px;height:30px;}
    .header_box .show_box .menu_show .menu_button:before{top:5px;width:21px;height:18px;background-position:-120px -40px;}

}

/* lnb */
.lnb{display:block;position:absolute;z-index:30;top:0;left:0;width:100%;box-sizing:border-box;box-shadow:0px 0px 0px rgba(0, 0, 0, 0);transition-property:background-color, box-shadow;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb_open .lnb{background-color:#fff;box-shadow:0px 20px 40px rgba(0, 0, 0, 0.16);}
.lnb .menu{height:100px;transition-property:height;transition-duration:250ms;transition-timing-function:ease-in-out;overflow:hidden;}
.lnb .menu:before{display:block;position:absolute;top:99px;left:0;width:100%;height:1px;background-color:rgba(255, 255, 255, 0.2);content:'';box-sizing:border-box;transition-property:background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb_scroll .lnb .menu:before{background-color:transparent;}
.lnb_open .lnb .menu:before{background-color:rgba(21, 21, 21, 0.2);}
.lnb .menu .depth1{display:block;position:static;width:1560px;margin:auto;padding-right:450px;padding-left:519px;box-sizing:border-box;overflow:hidden;}
.lnb .menu .depth1 .menu_deco{display:block;position:absolute;top:140px;left:0;width:590px;height:295px;padding-top:15px;padding-right:15px;font-size:0;line-height:0;box-sizing:border-box;visibility:hidden;opacity:0;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb_open .lnb .menu .depth1 .menu_deco{visibility:visible;opacity:1;}
.lnb .menu .depth1 .menu_deco:before{display:block;position:absolute;top:0;left:0;width:100%;height:268px;background-image:url(../images/common/menu_deco_bg.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox{display:block;position:relative;width:100%;height:100%;padding-top:161px;padding-left:268px;background-color:#fff;box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .side_deco{display:block;position:absolute;top:47px;left:37px;width:199px;height:233px;box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .side_deco:before,
.lnb .menu .depth1 .menu_deco .innerbox .side_deco:after{display:block;position:absolute;background-repeat:no-repeat;background-position:center center;content:'';box-sizing:border-box;transform:scale(0.5);opacity:0.5;transition-property:transform, opacity;transition-duration:500ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth1 .menu_deco .innerbox .side_deco:before{top:24px;left:0;width:199px;height:169px;background-image:url(../images/common/side_deco_before.png);}
.lnb .menu .depth1 .menu_deco .innerbox .side_deco:after{z-index:1;top:0;left:28px;width:140px;height:233px;background-image:url(../images/common/side_deco_after.png);}
.lnb_open .lnb .menu .depth1 .menu_deco .innerbox .side_deco:before{transform:scale(1);opacity:1;}
.lnb_open .lnb .menu .depth1 .menu_deco .innerbox .side_deco:after{transform:scale(1);opacity:1;transition-delay:50ms;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box{display:block;width:100%;box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .top_title{display:block;position:absolute;top:39px;right:47px;width:260px;height:98px;font-size:0;color:transparent;line-height:0;background-image:url(../images/common/menu_deco_title.png);background-repeat:no-repeat;background-position:center center;box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc span{display:inline-block;font-size:21px;color:#004098;line-height:26px;letter-spacing:-0.06em;font-weight:400;vertical-align:top;box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc.time .text{margin-right:5px;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc.time .text:last-child{margin-right:0;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc.time .text.year{margin-top:5px;font-size:17px;line-height:21px;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc.time .text.arrow{position:relative;width:8px;font-size:0;color:transparent;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc.time .text.arrow:before{display:block;position:absolute;top:8px;left:0;width:8px;height:9px;background:url(../images/common/menu_deco_desc_arrow.png) no-repeat left top;content:'';box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc.time .text.term{background-color:#004098;margin-top:4px;padding:0 4px;font-size:13px;color:#fff;line-height:18px;letter-spacing:-0.03em;font-weight:500;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc.space .text{letter-spacing:-0.01em;font-weight:300;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .black_desc{display:block;width:100%;margin-top:4px;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .black_desc .desc_list{display:block;width:100%;box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .black_desc .desc_list .desc_item{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .black_desc .desc_list .desc_item .text{display:inline-block;font-size:14px;color:#000;line-height:19px;letter-spacing:-0.03em;font-weight:400;vertical-align:top;box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .black_desc .desc_list .desc_item .text.title{position:relative;width:54px;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .black_desc .desc_list .desc_item .text.title:before{display:block;position:absolute;top:calc(50% - 6px);right:9px;width:2px;height:12px;background-color:#668cc1;content:'';box-sizing:border-box;}
.lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .black_desc .desc_list .desc_item .text.desc{width:calc(100% - 54px);word-break:keep-all;}
.lnb .menu .depth1 .emblem_box{display:block;position:absolute;bottom:0;right:calc((100% - 1560px) / 2);width:333px;height:286px;box-sizing:border-box;overflow:hidden;visibility:hidden;opacity:0;transform:translateY(100%);transition-property:visibility, opacity, transform;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb_open .lnb .menu .depth1 .emblem_box{visibility:visible;opacity:1;transform:translateY(0px);}
.lnb .menu .depth1 .emblem_box .mascot{display:block;position:absolute;z-index:1;top:0;right:60px;width:217px;height:166px;background:url(../images/common/emblem_mascot.png) no-repeat center center;box-sizing:border-box;transform:scale(0.5);opacity:0.5;transition-property:transform, opacity;transition-duration:500ms;transition-timing-function:ease-in-out;}
.lnb_open .lnb .menu .depth1 .emblem_box .mascot{transform:scale(1);opacity:1;}
.lnb .menu .depth1 .emblem_box .round_box{display:block;position:absolute;bottom:0;right:0;width:100%;height:187px;font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;}
.lnb .menu .depth1 .emblem_box .round_box:before,
.lnb .menu .depth1 .emblem_box .round_box:after{display:block;position:absolute;background-repeat:no-repeat;background-position:center center;content:'';}
.lnb .menu .depth1 .emblem_box .round_box:before{top:80px;left:85px;width:175px;height:181px;background-image:url(../images/common/emblem_round_before.png);}
@keyframes round{
    100%{transform:rotate(360deg);}
}
.lnb .menu .depth1 .emblem_box .round_box:after{top:0;left:0;width:335px;height:335px;background-image:url(../images/common/emblem_round_after.png);animation-name:round;animation-duration:20000ms;animation-timing-function:linear;animation-iteration-count:infinite;}
.lnb .menu .depth1 .depth1_list{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth1 .depth1_list .depth1_item{display:inline-block;float:none;min-width:calc(100% / 4);max-width:calc(100% / 4);font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{display:table;position:relative;width:100%;box-sizing:border-box;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:hover{text-decoration:none;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:before{display:block;position:absolute;top:calc(100% - 5px);left:0;width:0px;height:11px;background-image:url(../images/common/lnb_icon_sprite.png);background-repeat:no-repeat;background-position:-20px top;content:'';box-sizing:border-box;visibility:hidden;opacity:0;transition-property:width, visibility, opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text:before{width:108px;visibility:visible;opacity:1;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{display:table-cell;height:100px;padding-left:7px;font-size:19px;color:#fff;line-height:46px;letter-spacing:-0.03em;font-weight:500;word-break:keep-all;vertical-align:middle;box-sizing:border-box;text-align:left;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:hover span{color:#004098;text-decoration:none;}
.lnb_open .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{color:#151515;}
.lnb_open .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:hover span{color:#004098;}
.lnb .menu .depth2{position:static;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb_open .lnb .menu .depth2{visibility:visible;opacity:1;}
.lnb .menu .depth2 .depth2_list{display:block;width:100%;padding-top:37px;padding-bottom:37px;box-sizing:border-box;}
.lnb .menu .depth2 .depth2_list .depth2_item{display:block;float:none;width:100%;margin-top:18px;padding-left:7px;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth2 .depth2_list .depth2_item:first-child{margin-top:0;}
.lnb .menu .depth2 .depth2_list .depth2_item.has + .depth2_item.has,
.lnb .menu .depth2 .depth2_list .depth2_item.has + .depth2_item.solo{margin-top:15px;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{display:inline-block;position:relative;width:100%;padding-left:0px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;transition-property:padding-left;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover{padding-left:20px;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:before{display:block;position:absolute;top:8px;left:0;width:14px;height:8px;background-image:url(../images/common/lnb_icon_sprite.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;transform:scale(0) translateX(-100%);transition-property:transform;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover:before{transform:scale(1) translateX(0px);}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span{display:inline-block;position:relative;font-size:17px;color:#353535;line-height:24px;letter-spacing:-0.03em;font-weight:200;word-break:keep-all;vertical-align:top;box-sizing:border-box;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover span{color:#013ea8;font-weight:300;text-decoration:underline;text-underline-position:under;}
.lnb .menu .depth3{position:static;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb_open .lnb .menu .depth3{visibility:visible;opacity:1;}
.lnb .menu .depth3 .depth3_list{display:block;width:100%;padding-top:9px;box-sizing:border-box;}
.lnb .menu .depth3 .depth3_list .depth3_item{display:block;float:none;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth3 .depth3_list .depth3_item .depth3_text{display:inline-block;position:relative;width:100%;padding-left:10px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:before{display:block;position:absolute;top:9px;left:0;width:7px;height:2px;background-color:#7e7e7e;content:'';box-sizing:border-box;transition-property:background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:hover:before{background-color:#013ea8;}
.lnb .menu .depth3 .depth3_list .depth3_item .depth3_text span{display:inline-block;font-size:16px;color:#6a6a6a;line-height:24px;letter-spacing:-0.03em;font-weight:200;word-break:keep-all;vertical-align:top;box-sizing:border-box;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth3 .depth3_list .depth3_item .depth3_text:hover span{color:#013ea8;}

/* lnb_curtain */
.lnb_curtain{display:block;position:fixed;z-index:0;top:0;left:0;width:100%;height:100%;background-color:transparent;font-size:0;line-height:0;box-sizing:border-box;visibility:hidden;opacity:0;transition-property:visibility, opacity, background-color;transition-duration:300ms;transition-timing-function:ease-in-out;}
@media all and (min-width:1001px){
    .lnb_open:not(.lnb_open.lnb_show) .lnb_curtain{z-index:21;background-color:rgba(0, 0, 0, 0.6);opacity:1;visibility:visible;}
}
.lnb_curtain button{display:block;position:absolute;top:0;left:0;width:0;height:0;border:none;font-size:0;line-height:0;box-sizing:border-box;visibility:hidden;}
@media all and (min-width:1001px){
    .lnb .lnb_topbox{display:none;}
    .lnb .menu_hide{display:none;}
    .lnb_curtain{display:none;}
    .lnb .m_emblem_box{display:none;}
}
@media all and (max-width:1800px) and (min-width:1561px){
    .lnb .menu .depth1 .menu_deco{left:-100px;}
    .lnb .menu .depth1 .emblem_box{right:100px;}
}
@media all and (max-width:1560px){
    .lnb .menu .depth1{width:94%;padding-right:22.3%;padding-left:22.3%;}
    @keyframes menu-deco-before{
        from{background-position:left 0% top;}
        to{background-position:left 100% top;}
    }
}
@media all and (max-width:1560px) and (min-width:1001px){
    .lnb .menu .depth1 .menu_deco{top:100px;width:25.3%;height:calc(100% - 100px);padding-top:10px;padding-right:10px;}
    .lnb .menu .depth1 .menu_deco:before{height:100%;background-size:cover;animation-name:menu-deco-before;animation-duration:3000ms;animation-delay:0s;animation-direction:alternate;animation-timing-function:linear;animation-iteration-count:infinite;}
    .lnb .menu .depth1 .menu_deco .innerbox{padding-top:90px;padding-left:0;}
    .lnb .menu .depth1 .menu_deco .innerbox .side_deco{top:auto;bottom:5px;left:calc(50% - 70px);width:140px;height:200px;opacity:0.4;}
    .lnb .menu .depth1 .menu_deco .innerbox .side_deco:before{top:calc(100% - 150px);left:calc(50% - 70px);width:140px;height:120px;background-size:140px 120px;}
    .lnb .menu .depth1 .menu_deco .innerbox .side_deco:after{top:calc(100% - 200px);left:calc(50% - 60px);width:120px;height:200px;background-size:120px 200px;}
    .lnb .menu .depth1 .menu_deco .innerbox .text_box .top_title{top:5px;left:calc(50% - 100px);width:200px;height:80px;background-size:200px 80px;}
    .lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc{text-align:center;}
    .lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc.time .text{margin-right:2px;font-size:17px;line-height:20px;}
    .lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc.time .text.year{margin-top:0;line-height:20px;}
    .lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc.time .text.arrow:before{top:6px;}
    .lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc.time .text.term{margin-top:0;line-height:20px;}
    .lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .blue_desc .desc.space .text{font-size:17px;line-height:20px;}
    .lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .black_desc{position:relative;z-index:1;max-width:80%;margin:0 auto;}
    .lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .black_desc .desc_list .desc_item{text-align:center;}
    .lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .black_desc .desc_list .desc_item .text.title{width:auto;margin-right:5px;padding-right:7px;}
    .lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .black_desc .desc_list .desc_item .text.title:before{right:0;}
    .lnb .menu .depth1 .menu_deco .innerbox .text_box .bottom_desc .black_desc .desc_list .desc_item .text.desc{width:auto;}
    .lnb .menu .depth1 .emblem_box{right:-10px;}
    .lnb .menu .depth1 .depth1_list .depth1_item{width:calc(100% / 4);max-width:none;min-width:0;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{text-align:center;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:before{left:calc(50% - 54px);}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{padding-left:0;text-align:center;}
    .lnb .menu .depth2{overflow:visible;}
    .lnb .menu .depth2 .depth2_list{padding-top:20px;padding-bottom:20px;padding-left:3.2vw;}
    .lnb .menu .depth2 .depth2_list .depth2_item{padding-left:0;}
}
@media all and (max-width:1000px){
    .lnb .menu .depth1 .menu_deco{display:none;}
    .lnb_show .lnb_curtain{z-index:50;background-color:rgba(0, 0, 0, 0.6);visibility:visible;opacity:1;}
    .lnb_show .lnb_curtain button{width:100%;height:100%;visibility:visible;}
    .lnb{position:fixed;z-index:73;top:0;left:auto;right:0;width:100%;max-width:calc(3% + 480px);height:100vh;padding-right:3%;background-color:#fff;overflow-x:hidden;overflow-y:hidden;transform:translateX(103%);transition-property:max-width, transform;transition-duration:250ms;transition-timing-function:ease-in-out;}
    .lnb:before{display:block;position:absolute;bottom:0;left:185px;width:1px;height:100%;background-color:#ddd;content:'';box-sizing:border-box;visibility:hidden;opacity:0;transition-property:visibility, opacity;transition-duration:50ms;transition-timing-function:ease-in-out;}
    .lnb_open .lnb:before{visibility:visible;opacity:1;}
    .lnb_show .lnb{transform:translateX(0);}
    .lnb .lnb_topbox{display:block;width:100%;padding-bottom:58px;box-sizing:border-box;}
    .lnb .lnb_topbox .btn_box{display:block;position:relative;z-index:2;width:100%;min-height:100px;padding-top:30px;padding-right:57px;padding-bottom:30px;background-color:#fff;box-sizing:border-box;text-align:right;}
    .lnb .lnb_topbox .btn_box .link{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
    .lnb .lnb_topbox .btn_box .link.logo_link{display:block;position:absolute;top:22px;left:30px;width:211px;height:54px;background-image:url(../images/common/logo_sprite.png);background-repeat:no-repeat;background-position:left -108px;box-sizing:border-box;}
    .lnb .lnb_topbox .btn_box .link.login_link{width:40px;height:40px;}
    .lnb .lnb_topbox .btn_box .link.login_link:before{display:block;position:absolute;top:6px;right:0;width:26px;height:27px;background-image:url(../images/common/gnb_icon_sprite.png);background-repeat:no-repeat;background-position:-40px -40px;content:'';box-sizing:border-box;}
    .lnb .lnb_topbox .quick_link_box{display:block;position:absolute;top:100px;left:0;z-index:2;width:100%;height:58px;background-color:#009fe0;box-sizing:border-box;}
    .lnb .lnb_topbox .quick_link_box .quick_link{display:block;width:100%;height:100%;padding-top:16px;padding-bottom:15px;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
    .lnb .lnb_topbox .quick_link_box .quick_link .text{display:inline-block;position:relative;width:auto;padding-left:30px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
    .lnb .lnb_topbox .quick_link_box .quick_link .text:before{display:block;position:absolute;top:0;left:0;width:24px;height:27px;background-image:url(../images/common/gnb_icon_sprite.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;}
    .lnb .lnb_topbox .quick_link_box .quick_link .text em{display:inline-block;position:relative;padding-right:22px;font-size:17px;color:#fff;line-height:27px;letter-spacing:-0.03em;font-weight:400;box-sizing:border-box;}
    .lnb .lnb_topbox .quick_link_box .quick_link .text em:before,
    .lnb .lnb_topbox .quick_link_box .quick_link .text em:after{display:block;position:absolute;content:'';box-sizing:border-box;}
    .lnb .lnb_topbox .quick_link_box .quick_link .text em:before{bottom:2px;left:0;width:100%;height:2px;background-color:#fff;}
    .lnb .lnb_topbox .quick_link_box .quick_link .text em:after{top:4px;right:0;width:16px;height:16px;background-image:url(../images/common/lnb_icon_sprite.png);background-repeat:repeat;background-position:left -20px;}
    .lnb .menu_hide{display:block;position:absolute;z-index:2;top:30px;right:5%;width:40px;height:40px;font-size:0;line-height:0;box-sizing:border-box;}
    .lnb .menu_hide .menu_button{display:block;width:100%;height:100%;border:none;box-sizing:border-box;}
    .lnb .menu_hide .menu_button:before{display:block;position:absolute;top:7px;right:2px;width:27px;height:27px;background-image:url(../images/common/gnb_icon_sprite.png);background-repeat:no-repeat;background-position:-80px -80px;content:'';box-sizing:border-box;}
    .lnb .menu{height:100%;}
    .lnb .menu:before{display:none;}
    .lnb .menu .depth1{position:relative;width:100%;height:100%;padding-right:0;padding-left:0;transition-property:width;transition-duration:250ms;transition-timing-function:ease-in-out;}
    .lnb .menu .depth1 .depth1_list{display:block;position:static;width:100%;height:100%;padding-top:42px;box-sizing:border-box;}
    .lnb .menu .depth1 .depth1_list .depth1_item{display:block;position:static;width:100%;max-width:none;min-width:0;height:auto;margin-top:8px;box-sizing:border-box;}
    .lnb .menu .depth1 .depth1_list .depth1_item:first-child{margin-top:0;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{display:block;max-width:100%;padding-left:0px;padding-bottom:11px;font-size:0;line-height:0;text-align:center;transition-property:max-width, padding-left;transition-duration:250ms;transition-timing-function:ease-in-out;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:before{top:calc(100% - 11px);transition-property:left, width, visibility, opacity;}
    .lnb_show.lnb_open .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{max-width:186px;padding-left:39px;text-align:left;}
    .lnb_show.lnb_open .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text:before{left:39px;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{display:inline-block;height:auto;padding-left:0;font-size:22px;color:#151515;line-height:36px;letter-spacing:-0.03em;vertical-align:top;box-sizing:border-box;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:hover span{color:#151515;}
    .lnb_show.lnb_open .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text span{color:#004098;font-weight:600;}
    .lnb .menu .depth2{position:absolute;top:42px;left:186px;width:calc(100% - 186px);height:calc(100% - 42px);visibility:hidden;opacity:0;transform:translateX(100%);transition-property:visibility, opacity, transform;transition-duration:250ms;transition-timing-function:ease-in-out;}
    .lnb_show.lnb_open .lnb .menu .depth1_item.active .depth2{visibility:visible;opacity:1;transform:translateX(0px);}
    .lnb .menu .depth2 .depth2_list{height:100%;padding-top:4px;padding-left:41px;padding-bottom:0;}
    .lnb .menu .depth2 .depth2_list .depth2_item{margin-top:16px;padding-left:0;}
    .lnb .menu .depth2 .depth2_list .depth2_item.has + .depth2_item.has,
    .lnb .menu .depth2 .depth2_list .depth2_item.has + .depth2_item.solo{margin-top:16px;}
    .lnb .menu .depth2 .depth2_list .depth2_item:first-child{margin-top:0;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{width:auto;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:after{display:block;position:absolute;bottom:0;left:0;width:100%;height:2px;background-color:transparent;content:'';box-sizing:border-box;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover{padding-left:0;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover:before{transform:scale(0) translateX(0);}
    .lnb_show.lnb_open .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item.active .depth2_text{padding-left:19px;}
    .lnb_show.lnb_open .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item.active .depth2_text:before{transform:scale(1) translateX(0px);}
    .lnb_show.lnb_open .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item.active .depth2_text:after{background-color:#013ea8;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span{line-height:26px;}
    .lnb_show.lnb_open .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item.active .depth2_text span{color:#013ea8;font-weight:300;}
    .lnb .menu .depth2 .depth2_list .depth2_item.has .depth3{margin-top:16px;}
    .lnb .menu .depth3 .depth3_list{padding-top:0;padding-left:10px;}
    .lnb_show.lnb_open .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item.active .depth3 .depth3_list .depth3_item.active .depth3_text:before{background-color:#013ea8;}
    .lnb_show.lnb_open .lnb .menu .depth1_item.active .depth2 .depth2_list .depth2_item.active .depth3 .depth3_list .depth3_item.active .depth3_text span{color:#013ea8;}
    .lnb .menu .depth1 .emblem_box{display:none;}
    .lnb .m_emblem_box{display:block;position:absolute;z-index:1;bottom:0;right:0;width:100%;font-size:0;color:transparent;line-height:0;box-sizing:border-box;}
    .lnb .m_emblem_box:before{display:block;position:absolute;z-index:1;bottom:0;left:0;width:100%;height:21px;background-image:url(../images/common/menu_deco_bg.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;overflow:hidden;animation-name:menu-deco-before;animation-duration:3000ms;animation-delay:0s;animation-direction:alternate;animation-timing-function:linear;animation-iteration-count:infinite;}
    .lnb .m_emblem_box .mascot{display:block;position:absolute;z-index:1;bottom:52px;left:52px;width:204px;height:156px;background-image:url(../images/common/emblem_mascot.png);background-repeat:no-repeat;background-position:left top;background-size:204px 156px;content:'';box-sizing:border-box;}
    .lnb .m_emblem_box .round_box{display:block;position:absolute;bottom:-69px;right:-74px;width:299px;height:299px;font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;}
    .lnb .m_emblem_box .round_box:before,
    .lnb .m_emblem_box .round_box:after{display:block;position:absolute;background-repeat:no-repeat;background-position:center center;content:'';}
    .lnb .m_emblem_box .round_box:before{bottom:66px;right:67px;width:157px;height:162px;background-image:url(../images/common/emblem_round_before.png);background-size:157px 162px;}
    .lnb .m_emblem_box .round_box:after{bottom:0;right:0;width:299px;height:299px;background-image:url(../images/common/emblem_round_after.png);background-size:299px 299px;animation-name:round;animation-duration:20000ms;animation-timing-function:linear;animation-iteration-count:infinite;}
}
@media all and (max-width:640px){
    .lnb{max-width:100%;}
    .lnb:before{left:129px;}
    .lnb .lnb_topbox{padding-bottom:50px;}
    .lnb .lnb_topbox .btn_box{min-height:60px;padding-top:16px;padding-right:40px;padding-bottom:0px;}
    .lnb .lnb_topbox .btn_box .link.logo_link{top:11px;left:3%;width:135px;height:35px;background-position:-211px -70px;}
    .lnb .lnb_topbox .btn_box .link.login_link{width:30px;height:30px;}
    .lnb .lnb_topbox .btn_box .link.login_link:before{top:4px;width:20px;height:20px;background-position:-160px top;}
    .lnb .lnb_topbox .quick_link_box{top:60px;height:50px;}
    .lnb .lnb_topbox .quick_link_box .quick_link{padding-top:12px;padding-bottom:11px;}
    .lnb .lnb_topbox .quick_link_box .quick_link .text{margin-left:-10px;}
    .lnb .lnb_topbox .quick_link_box .quick_link .text em{font-size:15px;}
    .lnb .menu_hide{top:16px;right:3%;width:30px;height:30px;}
    .lnb .menu_hide .menu_button:before{top:5px;right:0;width:20px;height:20px;background-position:-120px -80px;}
    .lnb .menu .depth1 .depth1_list{padding-top:15px;}
    .lnb .menu .depth1 .depth1_list{width:103%;transition-property:width;transition-duration:250ms;transition-timing-function:ease-in-out;}
    .lnb_open     .lnb .menu .depth1 .depth1_list{width:100%;}
    .lnb_show.lnb_open .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{max-width:130px;padding-left:15px;}
    .lnb_show.lnb_open .lnb .menu .depth1 .depth1_list .depth1_item.active .depth1_text:before{left:10px;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{font-size:18px;}
    .lnb .menu .depth2{top:15px;left:130px;width:calc(100% - 130px);height:calc(100% - 15px);}
    .lnb .menu .depth2 .depth2_list{padding-left:25px;}
    .lnb .menu .depth2 .depth2_list .depth2_item{margin-top:10px;}
    .lnb .menu .depth2 .depth2_list .depth2_item.has + .depth2_item.has,
    .lnb .menu .depth2 .depth2_list .depth2_item.has + .depth2_item.solo{margin-top:10px;}
    .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span{font-size:16px;}
    .lnb .menu .depth2 .depth2_list .depth2_item.has .depth3{margin-top:0;}
    .lnb .menu .depth3 .depth3_list .depth3_item .depth3_text span{font-size:15px;}
    .lnb .m_emblem_box:before{background-size:640px;}
}


/* 푸터(footer) */
#footer{display:block;position:relative;z-index:50;width:100%;min-height:493px;background-color:#060c23;box-sizing:border-box;}
.footer_banner{display:block;width:100%;padding:45px calc((100% - 1560px) / 2) 44px;background-color:#f4f5f6;font-size:0;line-height:0;box-sizing:border-box;}
.footer_banner .banner_list{display:block;width:auto;padding-left:60px;font-size:0;line-height:0;box-sizing:border-box;}
.footer_banner .banner_list .banner_item{display:inline-block;width:auto;margin-right:65px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.footer_banner .banner_list .banner_item:last-child{margin-right:0;}
.footer_banner .banner_list .banner_item .item_title{display:inline-block;width:auto;margin-right:19px;font-size:26px;color:#000;line-height:60px;letter-spacing:-0.03em;font-weight:600;vertical-align:top;box-sizing:border-box;}
.footer_banner .banner_list .banner_item .item_linkzone{display:inline-block;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.footer_banner .banner_list .banner_item .item_linkzone .img_wrap{display:inline-block;width:auto;vertical-align:top;box-sizing:border-box;}
.footer_banner .banner_list .banner_item .item_linkzone .img_wrap img{display:inline-block;width:auto;vertical-align:top;box-sizing:border-box;}
.footer_box{display:block;position:relative;width:100%;box-sizing:border-box;text-align:center;}
.footer_box .top_go{display:block;position:absolute;z-index:1;top:0;right:70px;width:57px;height:62px;font-size:0;line-height:0;box-sizing:border-box;}
.footer_box .top_go .up_button{display:block;position:relative;width:100%;height:100%;background-color:#00b5ff;border:none;font-size:0;line-height:0;box-sizing:border-box;}
.footer_box .top_go .up_button:before{display:block;position:absolute;top:calc(50% - 17px);left:calc(50% - 5px);width:10px;height:34px;background-image:url(../images/common/top_go.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;}
.footer_box .top_go .up_button span{display:block;position:absolute;top:0;left:0;width:0;height:0;font-size:0;color:transparent;line-height:0;}
.footer_box .footer_nav{display:block;position:relative;width:100%;padding:0 70px 0 90px;box-sizing:border-box;}
.footer_box .footer_nav:before{display:block;position:absolute;bottom:0;left:90px;width:calc(100% - 160px);height:1px;background-color:rgba(255, 255, 255, 0.2);content:'';box-sizing:border-box;}
.footer_box .footer_nav ul{display:block;width:100%;padding-top:58px;padding-bottom:35px;font-size:0;line-height:0;box-sizing:border-box;}
.footer_box .footer_nav ul li{display:inline-block;margin-right:50px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.footer_box .footer_nav ul li:last-child{margin-right:0;}
.footer_box .footer_nav ul li a{display:inline-block;font-size:16px;color:#fff;line-height:30px;letter-spacing:-0.03em;font-weight:400;vertical-align:top;box-sizing:border-box;}
.footer_box .footer_nav ul li.privacy a{color:#00b5ff;font-weight:600;}
.footer_box .addressbox{display:block;width:100%;margin-top:46px;box-sizing:border-box;}
.footer_box .addressbox address{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.footer_box .addressbox address span{display:inline-block;font-size:15px;color:rgba(255, 255, 255, 0.6);line-height:25px;letter-spacing:-0.05em;font-weight:400;font-family:'Montserrat';vertical-align:top;box-sizing:border-box;}
.footer_box .addressbox address span.tel_fax{margin-left:20px;}
.footer_box .addressbox address p.info{display:block;width:100%;font-size:15px;color:rgba(255, 255, 255, 0.6);line-height:25px;letter-spacing:-0.05em;font-weight:400;font-family:'Montserrat';box-sizing:border-box;}
.footer_box .copyright{display:block;width:100%;margin-top:14px;font-size:13px;color:rgba(255, 255, 255, 0.6);line-height:25px;letter-spacing:-0.05em;font-weight:400;font-family:'Montserrat';box-sizing:border-box;}
@media all and (max-width:1560px){
    .footer_banner{padding:44px 3%;}
    .footer_banner .banner_list{padding-left:0;text-align:center;}
    .footer_banner .banner_list .banner_item{margin-right:20px;}
    .footer_banner .banner_list .banner_item .item_title{margin-right:10px;}
    .footer_box .wrap{width:94%;}
    .footer_box .top_go{right:0;}
    .footer_box .footer_nav{padding:0;}
    .footer_box .footer_nav:before{left:0;width:100%;}
}
@media all and (max-width:1000px){
    #footer{min-height:0;padding-bottom:84px;}
    .footer_banner{padding:21px 3% 28px;}
    .footer_banner .banner_list{padding-left:20px;text-align:left;}
    .footer_banner .banner_list .banner_item{margin-top:11px;}
    .footer_banner .banner_list .banner_item .item_title{margin-right:13px;font-size:18px;line-height:44px;}
    .footer_banner .banner_list .banner_item .item_linkzone .img_wrap img{height:44px;}
    .footer_box .top_go{width:46px;height:50px;}
    .footer_box .top_go .up_button:before{top:calc(50% - 13px);left:calc(50% - 4px);width:9px;height:26px;background-position:-10px top;}
    .footer_box .footer_nav ul{padding-top:57px;padding-bottom:36px;}
    .footer_box .footer_nav ul li{margin-right:50px;}
    .footer_box .addressbox{margin-top:45px;}
    .footer_box .addressbox address p.info{letter-spacing:-0.1em;word-break:keep-all;}
    .footer_box .copyright{margin-top:15px;}
}
@media all and (max-width:640px){
    #footer{padding-bottom:44px;}
    .footer_banner{padding-top:24px;padding-bottom:24px;}
    .footer_banner .banner_list{padding-left:0;}
    .footer_banner .banner_list .banner_item{margin-top:1px;margin-right:0;}
    .footer_banner .banner_list .banner_item .item_title{margin-right:4px;font-size:14px;line-height:32px;}
    .footer_banner .banner_list .banner_item .item_linkzone .img_wrap img{height:32px;}
    .footer_box .top_go{right:auto;left:calc(50% - 21px);width:42px;height:45px;}
    .footer_box .top_go .up_button:before{top:calc(50% - 11px);left:calc(50% - 3px);width:7px;height:22px;background-position:-20px top;}
    .footer_box .footer_nav ul{padding-top:67px;padding-bottom:18px;}
    .footer_box .footer_nav ul li{margin-right:25px;}
    .footer_box .footer_nav ul li a{font-size:15px;line-height:24px;}
    .footer_box .addressbox{margin-top:24px;}
    .footer_box .addressbox address span{display:block;font-size:14px;line-height:24px;}
    .footer_box .addressbox address span.tel_fax{margin-left:0;}
    .footer_box .addressbox address p.info{margin-top:4px;font-size:12px;line-height:18px;}
    .footer_box .copyright{margin-top:21px;font-size:12px;line-height:18px;}
}
@media all and (max-width:360px){
    .footer_box .footer_nav ul{text-align:left;}
}