@charset "utf-8";

/* Pretendard */
@font-face{
    font-family:'Pretendard';
    font-weight: 600;
    src:url("../font/Pretendard-Bold.woff2") format('woff2'),
    url("../font/Pretendard-Bold.woff") format('woff');
}
@font-face{
    font-family:'Pretendard';
    font-weight: 500;
    src:url("../font/Pretendard-SemiBold.woff2") format('woff2'),
    url("../font/Pretendard-SemiBold.woff") format('woff');
}
@font-face{
    font-family:'Pretendard';
    font-weight: 400;
    src:url("../font/Pretendard-Regular.woff2") format('woff2'),
    url("../font/Pretendard-Regular.woff") format('woff');
}
@font-face{
    font-family:'Pretendard';
    font-weight: 200;
    src:url("../font/Pretendard-Light.woff2") format('woff2'),
    url("../font/Pretendard-Light.woff") format('woff');
}

/* GodoB */
@font-face{
    font-family:'GodoB';
    font-weight: 400;
    src:url("../font/GodoB.woff2") format('woff2'),
    url("../font/GodoB.woff") format('woff');
}

/* Montserrat */
@font-face{
    font-family:'Montserrat';
    font-weight: 400;
    src:url("../font/Montserrat-Regular.woff2") format('woff2'),
    url("../font/Montserrat-Regular.woff") format('woff');
}