@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.07 */

/* 대회소개 > 대회개요 */
.cts4102_wrap{display:block;width:100%;box-sizing:border-box;}
.cts4102_wrap .outline_list{display:block;position:relative;width:100%;margin-top:114px;font-size:0;line-height:0;box-sizing:border-box;}
.cts4102_wrap .outline_list .outline_item{display:block;width:100%;margin-top:20px;font-size:0;line-height:0;box-sizing:border-box;}
.cts4102_wrap .outline_list .outline_item:first-child{margin-top:0;}
.cts4102_wrap .outline_list .outline_item .outline_inner{display:inline-block;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.cts4102_wrap .outline_list .outline_item .outline_inner.left{width:260px;padding-top:12px;}
@media all and (min-width:1001px){
    .cts4102_wrap .outline_list .outline_item .outline_inner.left h4{margin-top:0;margin-bottom:0;}
}
.cts4102_wrap .outline_list .outline_item .outline_inner.right{width:calc(100% - 260px);}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box{display:block;position:relative;width:100%;min-height:110px;background-color:#f3f4f6;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.image_type{padding:0;}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.image_type.deco{overflow:hidden;}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.image_type.deco:before,
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.image_type.deco:after{display:block;position:absolute;bottom:0;background-repeat:no-repeat;background-position:center center;content:'';box-sizing:border-box;transition-property:left, right;transition-duration:250ms;transition-timing-function:ease-in-out;}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.image_type.deco:before{left:0;width:78px;height:55px;background-image:url(../images/contents/cts4102_gray_box_before.png);}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.image_type.deco:after{right:0;width:185px;height:110px;background-image:url(../images/contents/cts4102_gray_box_after.png);}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.image_type img{display:inline-block;vertical-align:top;box-sizing:border-box;}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.text_type{padding:40px 0;}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.text_type .text{display:inline-block;font-size:24px;color:#252525;line-height:30px;letter-spacing:-0.01em;font-weight:400;vertical-align:top;box-sizing:border-box;}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .table_scroll{margin-top:36px;}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .table tbody tr th br{display:none;}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .table tbody tr th,
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .table tbody tr td{word-break:keep-all;}
.cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .table tbody tr td:last-child{text-align:left;}
@media all and (max-width:1560px){
    .cts4102_wrap .outline_list{margin-top:0;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.left{width:180px;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right{width:calc(100% - 180px);}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .table_scroll{margin-top:20px;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .table tbody tr th br{display:block;}
}
@media all and (max-width:1000px){
    .cts4102_wrap .outline_list .outline_item{margin-top:0;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.left{width:100%;padding-top:0;text-align:center;}
    .cts4102_wrap .outline_list .outline_item:first-child .outline_inner.left h4{margin-top:0;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right{width:100%;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box{min-height:0;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.image_type img{height:80px;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.text_type{padding:25px 3%;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.text_type .text{font-size:20px;}
}
@media all and (max-width:640px){
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.image_type.deco:before{left:-20px;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.image_type.deco:after{right:-40px;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.image_type img{height:70px;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.text_type{padding:20px 3%;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.text_type .text{font-size:16px;}
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .table thead tr th,
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .table tbody tr th,
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .table tbody tr td{padding-top:10px;padding-bottom:10px;font-size:16px;}
}
@media all and (max-width:545px){
    .cts4102_wrap .outline_list .outline_item .outline_inner.right .desc_inner .gray_box.image_type.deco:after{right:-35%;}
}

/* 대회소개 > 대회상징물 */
.cts4101_wrap .temp_form.small.icon .btn{min-width:206px;padding-right:90px;}
.cts4101_wrap{display:block;width:100%;box-sizing:border-box;}
.cts4101_wrap .linear_box{display:block;position:relative;width:100%;min-height:394px;margin-top:114px;padding:116px 138px 0;border-radius:116px 116px 0 0;font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;}
.cts4101_wrap .linear_box:before{display:block;position:absolute;top:0;left:0;width:100%;height:63.95%;background-image:linear-gradient(to right, #0daf4d 0%, #0057b1 100%);content:'';box-sizing:border-box;}
.cts4101_wrap .linear_box .inner{display:block;position:relative;width:100%;background-color:#fff;padding-top:60px;padding-bottom:160px;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
.cts4101_wrap .linear_box .inner .linear_title{display:inline-block;position:absolute;bottom:calc(100% + 31px);left:50%;transform:translateX(-50%);margin:0;font-size:36px;color:#fff;line-height:46px;letter-spacing:-0.03em;font-weight:400;font-family:'GodoB';vertical-align:top;box-sizing:border-box;}
.cts4101_wrap .linear_box .inner img{display:inline-block;width:auto;height:auto;vertical-align:top;box-sizing:border-box;}
.cts4101_wrap .array_list{display:block;width:100%;box-sizing:border-box;}
.cts4101_wrap .array_list .array_item{display:block;float:left;width:calc((100% - 60px) / 2);margin-left:60px;box-sizing:border-box;}
.cts4101_wrap .array_list .array_item:first-child{margin-left:0;}
@media all and (min-width:1561px){
    .cts4101_wrap .array_list .array_item .box_img{min-height:391px;padding-top:81px;padding-bottom:79px;}
}
.cts4101_wrap .array_list .array_item .array_desc{display:block;width:100%;margin-top:31px;font-size:0;line-height:0;box-sizing:border-box;}
.cts4101_wrap .array_list .array_item .array_desc .desc_title{display:inline-block;width:120px;font-size:34px;color:#000;line-height:44px;letter-spacing:-0.05em;font-weight:400;font-family:'GodoB';vertical-align:top;box-sizing:border-box;}
.cts4101_wrap .array_list .array_item .array_desc .desc_text_box{display:inline-block;width:calc(100% - 170px);min-height:140px;margin-left:50px;vertical-align:top;box-sizing:border-box;}
.cts4101_wrap .array_list .array_item .array_desc .desc_text_box p{letter-spacing:-0.05em;}
.cts4101_wrap .array_list .array_item .array_btn_box{display:block;width:100%;margin-top:15px;font-size:0;line-height:0;text-align:right;box-sizing:border-box;}
.cts4101_wrap .mascot_box{display:block;position:relative;width:100%;margin-top:106px;padding-left:131px;font-size:0;line-height:0;box-sizing:border-box;}
.cts4101_wrap .mascot_box .mascot_img_box{display:block;position:absolute;z-index:1;top:0;left:0;width:494px;height:305px;padding-left:79px;font-size:0;line-height:0;box-sizing:border-box;}
.cts4101_wrap .mascot_box .mascot_img_box:before,
.cts4101_wrap .mascot_box .mascot_img_box:after{display:block;position:absolute;background-repeat:no-repeat;background-position:center center;content:'';box-sizing:border-box;}
.cts4101_wrap .mascot_box .mascot_img_box:before{top:0;left:0;width:100%;height:100%;background-image:url(../images/contents/cts4101_mascot_box_bg.png);}
.cts4101_wrap .mascot_box .mascot_img_box:after{bottom:48px;right:-65px;width:129px;height:128px;background-image:url(../images/contents/cts4101_mascot_box_deco.png);}
.cts4101_wrap .mascot_box .mascot_img_box img{display:inline-block;position:relative;margin-top:-41px;vertical-align:top;box-sizing:border-box;}
.cts4101_wrap .mascot_box .title_box{display:block;width:100%;padding-top:23px;padding-bottom:25px;padding-left:467px;font-size:0;line-height:0;box-sizing:border-box;}
.cts4101_wrap .mascot_box .title_box .title{display:inline-block;font-size:36px;color:#000;line-height:44px;letter-spacing:-0.03em;font-weight:400;font-family:'GodoB';vertical-align:top;box-sizing:border-box;}
.cts4101_wrap .mascot_box .desc_box{display:block;width:100%;padding-top:46px;padding-bottom:80px;padding-left:467px;background-color:#f3f4f6;font-size:0;line-height:0;box-sizing:border-box;}
.cts4101_wrap .mascot_box .desc_box .desc_btn_box{display:block;width:100%;margin-top:26px;font-size:0;line-height:0;box-sizing:border-box;}
.cts4101_wrap .poster_box{display:block;position:relative;width:100%;padding-top:176px;padding-bottom:342px;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
.cts4101_wrap .poster_box:before{display:block;position:absolute;top:404px;left:0;width:100%;height:510px;background-image:linear-gradient(to right, #f3f4f6 0%, transparent 100%);transform:skewY(-12.7deg);content:'';box-sizing:border-box;}
.cts4101_wrap .poster_box .poster_item{display:inline-block;position:relative;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.cts4101_wrap .poster_box .poster_item + .poster_item{margin-left:182px;}
.cts4101_wrap .poster_box .poster_item img{display:inline-block;vertical-align:top;box-sizing:border-box;}
.cts4101_wrap .poster_box .poster_item .poster_desc{display:block;width:100%;margin-top:30px;font-size:0;line-height:0;text-align:center;box-sizing:border-box;}
.cts4101_wrap .poster_box .poster_item .poster_desc .poster_title{display:inline-block;margin-right:38px;font-size:34px;color:#000;line-height:50px;letter-spacing:-0.03em;font-weight:400;font-family:'GodoB';vertical-align:top;box-sizing:border-box;}
@media all and (max-width:1560px){
    .cts4101_wrap .temp_form.small.icon .btn{min-width:178px;padding-right:60px;}
    .cts4101_wrap .linear_box{min-height:0;margin-top:0;padding:50px 50px 0;border-radius:50px 50px 0 0;}
    .cts4101_wrap .linear_box .inner{padding-bottom:60px;}
    .cts4101_wrap .linear_box .inner .linear_title{bottom:calc(100% + 2px);font-size:30px;}
    .cts4101_wrap .array_list .array_item{width:calc((100% - 30px) / 2);margin-left:30px;}
    .cts4101_wrap .array_list .array_item .box_img{min-height:291px;padding-top:30px;padding-bottom:30px;}
    .cts4101_wrap .array_list .array_item .array_desc{margin-top:20px;}
    .cts4101_wrap .array_list .array_item .array_desc .desc_title{width:100%;text-align:center;}
    .cts4101_wrap .array_list .array_item .array_desc .desc_text_box{width:100%;min-height:190px;margin-top:10px;margin-left:0;text-align:center;}
    .cts4101_wrap .array_list .array_item .array_btn_box{margin-top:10px;text-align:center;}
    .cts4101_wrap .mascot_box{margin-top:60px;padding-left:60px;}
    .cts4101_wrap .mascot_box .mascot_img_box{height:auto;padding:10px 0;text-align:center;}
    .cts4101_wrap .mascot_box .mascot_img_box:before{background-size:cover;}
    .cts4101_wrap .mascot_box .mascot_img_box:after{bottom:auto;top:-20px;right:-20px;}
    .cts4101_wrap .mascot_box .mascot_img_box img{margin-top:0;}
    .cts4101_wrap .mascot_box .title_box{padding:20px 0 20px 470px;}
    .cts4101_wrap .mascot_box .desc_box{padding:20px 3% 40px 470px;}
    .cts4101_wrap .poster_box{padding:60px 0 0;}
    .cts4101_wrap .poster_box:before{top:50%;height:200px;transform:skewY(-12.7deg) translateY(-50%);}
    .cts4101_wrap .poster_box .poster_item{width:calc((100% - 50px) / 2);}
    .cts4101_wrap .poster_box .poster_item + .poster_item{margin-left:50px;}
}
@media all and (max-width:1000px){
    .cts4101_wrap .temp_form.small.icon .btn{min-width:148px;}
    .cts4101_wrap .linear_box{padding:40px 40px 0;border-radius:40px 40px 0 0;}
    .cts4101_wrap .linear_box .inner{padding:30px 5%;}
    .cts4101_wrap .linear_box .inner .linear_title{bottom:100%;font-size:24px;line-height:40px;}
    .cts4101_wrap .array_list .array_item{width:100%;margin-top:15px;margin-left:0;}
    .cts4101_wrap .array_list .array_item:first-child{margin-top:0;}
    .cts4101_wrap .array_list .array_item .box_img{width:90%;margin:0 auto;min-height:0;padding:20px;}
    .cts4101_wrap .array_list .array_item .array_desc{margin-top:15px;}
    .cts4101_wrap .array_list .array_item .array_desc .desc_title{font-size:26px;line-height:30px;}
    .cts4101_wrap .array_list .array_item .array_desc .desc_text_box{margin-top:15px;min-height:0;}
    .cts4101_wrap .array_list .array_item .array_btn_box{margin-top:15px;}
    .cts4101_wrap .mascot_box{margin-top:40px;padding:0;}
    .cts4101_wrap .mascot_box .mascot_img_box{position:relative;width:100%;}
    .cts4101_wrap .mascot_box .mascot_img_box:before{background-position:right top;}
    .cts4101_wrap .mascot_box .mascot_img_box img{width:280px;}
    .cts4101_wrap .mascot_box .title_box{padding:10px 0;text-align:center}
    .cts4101_wrap .mascot_box .title_box .title{font-size:26px;line-height:30px;}
    .cts4101_wrap .mascot_box .desc_box{padding:20px 3%;text-align:center}
    .cts4101_wrap .mascot_box .desc_box p br{display:none;}
    .cts4101_wrap .mascot_box .desc_box .desc_btn_box{margin-top:10px;}
    .cts4101_wrap .poster_box{padding:30px 0 0;}
    .cts4101_wrap .poster_box .poster_item{width:auto;}
    .cts4101_wrap .poster_box .poster_item + .poster_item{margin-left:40px;}
    .cts4101_wrap .poster_box .poster_item img{width:320px;}
    .cts4101_wrap .poster_box .poster_item .poster_desc{margin-top:20px;}
    .cts4101_wrap .poster_box .poster_item .poster_desc .poster_title{margin-right:10px;font-size:26px;line-height:40px;}
}
@media all and (max-width:800px){
    .cts4101_wrap .poster_box .poster_item + .poster_item{margin-top:20px;margin-left:0;}
}
@media all and (max-width:640px){
    .cts4101_wrap .array_list .array_item .array_desc .desc_title{font-size:22px;line-height:26px;}
    .cts4101_wrap .array_list .array_item .array_desc .desc_text_box{margin-top:10px;}
    .cts4101_wrap .poster_box .poster_item .poster_desc .poster_title{font-size:22px;line-height:30px;}
}

/* 대회소개 > 찾아오시는 길 */
.cts4103_wrap{display:block;width:100%;box-sizing:border-box;}

/* 대회소개 > 찾아오시는 길 */
.cts4104_wrap{display:block;width:100%;box-sizing:border-box;}
.cts4104_wrap .map_api_wrap{margin-top:86px;}
.cts4104_wrap .map_api_wrap:first-child{margin-top:0;}
@media all and (min-width:1561px){
    .cts4104_wrap h3:first-child{margin-bottom:107px;}
}
@media all and (max-width:1000px){
    .cts4104_wrap .map_api_wrap{margin-top:30px;}
}

/* 경기정보 > 경기종목 */
.cts4118_wrap{display:block;width:100%;box-sizing:border-box;}
@media all and (min-width:1561px){
    .cts4118_wrap h3{margin-bottom:115px;}
}

/* 경기정보 > 경기장안내 */
.cts4198_wrap{display:block;width:100%;box-sizing:border-box;}
@media all and (max-width:800px){
    .cts4198_wrap .table_scroll{position:relative;max-width:100%;overflow-x:auto;}
    .cts4198_wrap .table_scroll table{min-width:1000px;}
}

/* 경기정보 > 경기장안내 */
.cts4132_wrap{display:block;width:100%;box-sizing:border-box;}
.cts4132_wrap .box_img{padding:0;border:none;}
.cts4132_wrap .area_layer_box{display:none;position:fixed;top:0;left:0;z-index:90;width:100%;height:100%;box-sizing:border-box;font-size:0;line-height:0;}
.cts4132_wrap .area_layer_box.layer_open{display:block;}
.cts4132_wrap .area_layer_box .area_layer_close{display:block;position:absolute;top:0;left:0;z-index:91;width:100%;height:100%;border:none;box-sizing:border-box;background-color:rgba(0, 0, 0, 0.5);font-size:0;line-height:0;}
.cts4132_wrap .area_layer_box .area_list{display:block;position:absolute;top:calc(50% - 310px);left:calc(50% - 260px);z-index:92;width:520px;height:620px;box-sizing:border-box;}
.cts4132_wrap .area_layer_box.layer_fix .area_list{top:auto;bottom:500px;}
.cts4132_wrap .area_layer_box .area_list .area_item{display:none;width:100%;height:100%;box-sizing:border-box;background-color:#fff;font-size:40px;line-height:40px;text-align:center;transition-property:top, bottom;transition-duration:250ms;transition-timing-function:linear;}
.cts4132_wrap .area_layer_box .area_list .area_item.active{display:block;}
.cts4132_wrap .area_layer_box .area_list .area_item .item_close_btn{position:absolute;top:26px;right:24px;width:19px;height:19px;background:url(../images/template/close_X.png) no-repeat center;}
.cts4132_wrap .area_layer_box .area_list .area_item .title{background:url(../images/template/box_img_deco_title2.png) no-repeat;color:white;font-size:28px;font-weight:600;line-height:69px;}
.cts4132_wrap .area_layer_box .area_list .area_item .info{padding:57px 50px;text-align:left;}
.cts4132_wrap .area_layer_box .area_list .area_item .info .photo_box{position:relative;margin-bottom:30px;box-shadow:11px -11px 0 rgba(0, 0, 0, 0.1);}
.cts4132_wrap .area_layer_box .area_list .area_item .info .photo_box:before{display:block;position:absolute;bottom:0;left:0;width:340px;height:50px;background-color:white;content:"";}
.cts4132_wrap .area_layer_box .area_list .area_item .info .photo_box p{position:absolute;bottom:0;left:0;width:340px;color:#0069cb;font-size:26px;font-weight:500;line-height:26px;}
@media all and (min-width:1561px){
    .cts4132_wrap h4{margin-top:106px;margin-bottom:44px;}
}
@media all and (max-width:1560px){
    .cts4132_wrap .area_layer_box .area_list{top:calc(50% - 260px);}
}
@media all and (max-width:1000px){
    .cts4132_wrap .area_layer_box .area_list{height:auto;}
    .cts4132_wrap .area_layer_box.layer_fix .area_list{bottom:510px;}
    .cts4132_wrap .area_layer_box .area_list .area_item .info{padding:30px;}
    .cts4132_wrap .area_layer_box .area_list .area_item .info .photo_box{margin-bottom:10px;box-shadow:none;}
    .cts4132_wrap .area_layer_box .area_list .area_item .info .photo_box img{width:100%;}
    .cts4132_wrap .area_layer_box .area_list .area_item .info .photo_box p{bottom:10px;}
}
@media all and (max-width:640px){
    .cts4132_wrap .area_layer_box .area_list{top:calc(50% - 250px);left:3%;width:94%;}
    .cts4132_wrap .area_layer_box.layer_fix .area_list{bottom:530px;}
    .cts4132_wrap .area_layer_box .area_list .area_item .item_close_btn{top:11px;}
    .cts4132_wrap .area_layer_box .area_list .area_item .title{background-size:cover;font-size:22px;line-height:40px;}
    .cts4132_wrap .area_layer_box .area_list .area_item .info{padding:20px;}
    .cts4132_wrap .area_layer_box .area_list .area_item .info .photo_box{margin-bottom:0;}
    .cts4132_wrap .area_layer_box .area_list .area_item .info .photo_box:before{width:90%;height:40px;}
    .cts4132_wrap .area_layer_box .area_list .area_item .info .photo_box p{bottom:5px;width:90%;font-size:18px;}
    .cts4132_wrap .area_layer_box .area_list .area_item .info li{font-size:15px;}
}


/* 알림마당 > 홍보영상 */
.cts4128_wrap{display:block;width:100%;box-sizing:border-box;}
.cts4128_wrap .video_wrap{display:block;width:100%;margin-top:60px;box-sizing:border-box;}
.cts4128_wrap .video_wrap:first-child{margin-top:0;}
.cts4128_wrap .video_wrap video{display:block;width:80%;margin:0 auto;box-sizing:border-box;cursor:pointer;}
.cts4128_wrap .video_wrap .box_img_deco_title{width:80%;margin:0 auto 20px;}
.cts4128_wrap .video_wrap .box_img_deco_title h3.deco_text{margin:0;}
@media all and (max-width:640px){
    .cts4128_wrap .video_wrap{margin-top:30px;}
    .cts4128_wrap .video_wrap video{width:100%;}
    .cts4128_wrap .video_wrap .box_img_deco_title{width:100%;margin-bottom:10px;}
    .cts4128_wrap .video_wrap .box_img_deco_title h3.deco_text{font-size:19px;}
}

/* 경기정보 > 경기종목 */
.cts4118_wrap .warning{vertical-align:unset;margin-left:5px;}
.cts4118_wrap .bu li .bu li:before, .bu li ul li:before{top:15px;}
.cts4118_wrap .dt{font-size:28px;font-weight:500;color:black;line-height:42px;position:relative;display:inline-block;margin-right:50px;margin-bottom:26px;}
.cts4118_wrap .dt:before{content:"";display:block;position:absolute;bottom:0;left:-7px;width:calc(100% + 14px);height:15px;background-color:#ffd585;}
.cts4118_wrap .dt span{position:relative;}
.cts4118_wrap .dd{font-size:18px;color:#252525;margin-bottom:26px;line-height:30px;}
.cts4118_wrap .dd.inline_block{display:inline-block;}
.cts4118_wrap .play_content .box_img{font-size:inherit;line-height:inherit;text-align:left;padding:85px 165px 136px 95px;font-family:'Pretendard';}
.cts4118_wrap .play_content .box_img .table{text-align:center;}
.cts4118_wrap .play_content .box_img .table .detail{text-align:left;}
.cts4118_wrap .schedule .table{margin-bottom:10px;}
.cts4118_wrap .schedule .table span.skip{overflow:visible;}
.cts4118_wrap .schedule .table span.skip:before{content:"";display:block;position:absolute;width:10px;height:1px;background-color:#333;top:0;left:-4px;}
.cts4118_wrap .stadium .map_api_wrap{margin-bottom:30px;}
.cts4118_wrap .stadium .add_mkr:before{content:"";display:inline-block;width:15px;height:19px;background:url(../images/template/template_sprite.png) no-repeat -40px -40px;vertical-align:middle;margin-right:10px;}
.cts4118_wrap .box_img h5{font-size:32px;color:black;line-height:48px;}
@media (max-width:1000px) {
    .cts4118_wrap .dt{margin-right:30px;font-size:24px;}
    .cts4118_wrap .play_content .box_img{padding:5vw;}
    .cts4118_wrap h4{margin-top:40px;}
}
@media (max-width:640px) {
    .cts4118_wrap .dt{margin-right:20px;margin-bottom:0;font-size:20px;line-height:30px;}
    .cts4118_wrap .dd{font-size:16px;}
    .cts4118_wrap .table_wrap{overflow-x:auto;width:100%;}
    .cts4118_wrap .table th, .cts4118_wrap .table td{font-size:16px;}
    .cts4118_wrap .play_content .box_img{padding:5vw;}
    .cts4118_wrap .table{width:600px;}
    .cts4118_wrap .box_img.deco:before{height:10%;width:15vw;}
    .cts4118_wrap .box_img.deco:after{height:30%;width:40vw;}
}

/* 대진표 */
.cts4120_wrap .box_img_deco_title{margin-bottom:50px;}
.cts4120_wrap .box_img.deco{padding:75px 0 134px;}
.cts4120_wrap .box_img.deco img{max-width:1000px;max-height:1000px;}
.cts4120_wrap .box_img.deco:before, .cts4120_wrap .box_img.deco:after{z-index:2;}

@media (max-width:1200px) {
    .cts4120_wrap .box_img.deco img{max-width:100%;max-height:100%;}
}
@media (max-width:1000px) {
    .cts4120_wrap .box_img.deco{padding:40px 0;}
    .cts4120_wrap .box_img_deco_title{margin-bottom:20px;}
}
@media (max-width:640px) {
    .cts4120_wrap .box_img.deco:before{height:10%;width:15vw;}
    .cts4120_wrap .box_img.deco:after{height:30%;width:40vw;}
}

/* 대회소개 > 조직위원회 */
.cts4103_wrap{display:block;width:100%;box-sizing:border-box;}
.cts4103_wrap .organ_box{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
.cts4103_wrap .organ_box .organ_list{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.cts4103_wrap .organ_box .organ_list .organ_item{position:relative;}
.cts4103_wrap .organ_box .organ_list .organ_item .organ_text{position:relative;width:100%;}
.cts4103_wrap .organ_box .organ_list .organ_item .organ_text em{position:relative;color:#fff;}
.cts4103_wrap .organ_box .bu{position:relative;}
.cts4103_wrap .organ_box .bu:before{display:block;position:absolute;bottom:100%;left:calc(50% - 1px);width:1px;height:13px;background-color:#d2d2d2;content:'';box-sizing:border-box;}
.cts4103_wrap .organ_box .bu li{word-break:keep-all;}
@media all and (min-width:1561px){
    .cts4103_wrap .organ_box.organ1_box{margin-top:128px;}
}
.cts4103_wrap .organ1_box .organ1_list{display:block;width:974px;margin:0 auto;box-sizing:border-box;}
.cts4103_wrap .organ1_box .organ1_list .organ1_item{display:inline-block;width:100%;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text{display:inline-block;width:236px;padding:45px 3% 40px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text:before{display:block;position:absolute;top:-8px;left:-6px;width:279px;height:228px;background:url(../images/contents/cts4103_organ1_bg.png) no-repeat left top;content:'';box-sizing:border-box;}
.cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text:after{display:block;position:absolute;top:100%;left:calc(50% - 1px);width:1px;height:615px;background-color:#d2d2d2;content:'';box-sizing:border-box;}
.cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text em{display:inline-block;width:100%;vertical-align:top;box-sizing:border-box;}
.cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text em:first-child{font-size:18px;line-height:28px;letter-spacing:-0.03em;font-weight:500;}
.cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text em:last-child{padding-top:37px;font-size:28px;line-height:34px;letter-spacing:-0.03em;font-weight:600;}
.cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text em:last-child:before{display:block;position:absolute;top:9px;left:calc(50% - 7px);width:14px;height:15px;background-color:#fff;transform:skewX(-40deg);content:'';box-sizing:border-box;}
.cts4103_wrap .organ2_box{padding-top:55px;}
.cts4103_wrap .organ2_box .organ2_list .organ2_item{display:inline-block;width:calc((100% - 480px) / 2);margin-left:480px;vertical-align:top;box-sizing:border-box;}
.cts4103_wrap .organ2_box .organ2_list .organ2_item .organ2_text{display:inline-block;width:100%;padding:0 3%;background-color:#0069cb;border-radius:28px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.cts4103_wrap .organ2_box .organ2_list .organ2_item .organ2_text em{display:inline-block;font-size:20px;line-height:59px;letter-spacing:-0.03em;font-weight:500;vertical-align:top;box-sizing:border-box;}
.cts4103_wrap .organ2_box .organ2_list .organ2_item:first-child{margin-left:0;}
.cts4103_wrap .organ2_box .organ2_list .organ2_item:first-child .organ2_text:before{display:block;position:absolute;top:calc(50% - 1px);left:100%;width:480px;height:1px;background-color:#d2d2d2;content:'';box-sizing:border-box;}
.cts4103_wrap .organ2_box .organ2_list .organ2_item.type2{display:block;width:100%;margin-left:0;box-sizing:border-box;}
.cts4103_wrap .organ2_box .organ2_list .organ2_item.type2 .organ2_text{width:calc((100% - 480px) / 2);background-color:#409e1f;}
.cts4103_wrap .organ3_box{margin-top:13px;}
.cts4103_wrap .organ3_box .organ3_list{min-height:209px;padding:30px 34px 29px;background-color:#f3f4f6;border-radius:30px;}
.cts4103_wrap .organ2_box .organ2_list .organ2_item.type2 .organ3_box .organ3_list{width:calc((100% - 480px) / 2);min-height:109px;margin:0 auto;padding-top:20px;}
.cts4103_wrap .organ3_box .organ3_list .organ3_item{text-align:left;}
.cts4103_wrap .organ3_box .organ3_list .organ3_item .organ3_text em{font-size:17px;color:#333;font-weight:400;}
.cts4103_wrap .organ4_box{margin-top:225px;}
.cts4103_wrap .organ4_box:before{display:block;position:absolute;bottom:calc(100% + 126px);left:50%;transform:translateX(-50%);width:calc(100% - 247px);height:1px;background-color:#d2d2d2;content:'';box-sizing:border-box;}
.cts4103_wrap .organ4_box .organ4_list .organ4_item{display:inline-block;width:calc((100% - 232px) / 3);margin-left:116px;vertical-align:top;box-sizing:border-box;}
.cts4103_wrap .organ4_box .organ4_list .organ4_item:first-child{margin-left:0;}
.cts4103_wrap .organ4_box .organ4_list .organ4_item .organ4_text{display:inline-block;width:100%;padding:0 3%;background-color:#92278f;border-radius:28px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.cts4103_wrap .organ4_box .organ4_list .organ4_item .organ4_text:before{display:block;position:absolute;bottom:100%;left:calc(50% - 1px);width:1px;height:126px;background-color:#d2d2d2;content:'';box-sizing:border-box;}
.cts4103_wrap .organ4_box .organ4_list .organ4_item .organ4_text em{display:inline-block;font-size:20px;line-height:59px;letter-spacing:-0.03em;font-weight:500;vertical-align:top;box-sizing:border-box;}
.cts4103_wrap .organ5_box{margin-top:13px;}
.cts4103_wrap .organ5_box .organ5_list{min-height:149px;padding:30px 34px 29px;background-color:#f3f4f6;border-radius:30px;}
.cts4103_wrap .organ5_box .organ5_list .organ5_item{text-align:left;}
.cts4103_wrap .organ5_box .organ5_list .organ5_item .organ5_text em{font-size:17px;color:#333;font-weight:400;}
@media all and (max-width:1560px){
    .cts4103_wrap .organ4_box{margin-top:160px;}
    .cts4103_wrap .organ4_box:before{bottom:calc(100% + 80px);}
    .cts4103_wrap .organ4_box .organ4_list .organ4_item .organ4_text:before{height:80px;}
}
@media all and (max-width:1000px){
    .cts4103_wrap .organ1_box .organ1_list{width:100%;}
    .cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text:after{height:409px;}
    .cts4103_wrap .organ2_box{padding-top:30px;}
    .cts4103_wrap .organ2_box .organ2_list .organ2_item{width:30%;margin-left:40%;}
    .cts4103_wrap .organ2_box .organ2_list .organ2_item.type2{margin-top:-120px;}
    .cts4103_wrap .organ2_box .organ2_list .organ2_item.type2 .organ2_text{width:30%;}
    .cts4103_wrap .organ2_box .organ2_list .organ2_item.type2 .organ3_box .organ3_list{width:30%;}
    .cts4103_wrap .organ3_box .organ3_list{padding-right:15px;padding-left:15px;}
    .cts4103_wrap .organ4_box{margin-top:30px;}
    .cts4103_wrap .organ4_box:before{display:none;}
    .cts4103_wrap .organ4_box .organ4_list .organ4_item{width:26.66%;margin-left:10%;}
    .cts4103_wrap .organ4_box .organ4_list .organ4_item .organ4_text:before{bottom:auto;left:auto;top:calc(50% - 1px);right:100%;width:37.5%;height:1px;}
    .cts4103_wrap .organ4_box .organ4_list .organ4_item:first-child .organ4_text:before{display:none;}
    .cts4103_wrap .organ5_box .organ5_list{min-height:200px;padding-right:15px;padding-left:15px;}
}
@media all and (max-width:800px){
    .cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text em:first-child{font-size:16px;}
    .cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text em:last-child{font-size:24px;}
    .cts4103_wrap .organ2_box .organ2_list .organ2_item .organ2_text em{font-size:17px;line-height:40px;}
    .cts4103_wrap .organ3_box .organ3_list{padding-top:15px;padding-bottom:15px;}
    .cts4103_wrap .organ4_box .organ4_list .organ4_item .organ4_text em{font-size:17px;line-height:40px;}
    .cts4103_wrap .organ5_box .organ5_list{padding-top:15px;padding-bottom:15px;}
}
@media all and (max-width:640px){
    .cts4103_wrap .organ_box .bu:before{display:none;}
    .cts4103_wrap .organ_box .bu li em{font-size:15px !important;}
    .cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text{width:100%;}
    .cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text:before{top:50%;left:50%;width:100%;height:100%;transform:translate(-48%, -44%);background-position:center center;background-size:contain;}
    .cts4103_wrap .organ1_box .organ1_list .organ1_item .organ1_text:after{display:none;}
    .cts4103_wrap .organ2_box{padding-top:0;}
    .cts4103_wrap .organ2_box .organ2_list .organ2_item{display:block;width:100%;margin-top:15px;margin-left:0;}
    .cts4103_wrap .organ2_box .organ2_list .organ2_item.type2{margin-top:15px;}
    .cts4103_wrap .organ2_box .organ2_list .organ2_item.type2 .organ2_text{width:100%;}
    .cts4103_wrap .organ2_box .organ2_list .organ2_item.type2 .organ3_box .organ3_list{width:100%;}
    .cts4103_wrap .organ2_box .organ2_list .organ2_item:first-child .organ2_text:before{display:none;}
    .cts4103_wrap .organ3_box .organ3_list{min-height:0;}
    .cts4103_wrap .organ4_box{margin-top:15px;}
    .cts4103_wrap .organ4_box .organ4_list .organ4_item{display:block;width:100%;margin-top:15px;margin-left:0;}
    .cts4103_wrap .organ4_box .organ4_list .organ4_item:first-child{margin-top:0;}
    .cts4103_wrap .organ4_box .organ4_list .organ4_item .organ4_text:before{display:none;}
    .cts4103_wrap .organ5_box .organ5_list{min-height:0;}
}

/* 성화행사 > 성화채화 */
@media all and (max-width:640px){
    .cts4110_wrap .bu li{letter-spacing:-0.09em;}
}

/* 성화행사 > 봉송 */
.cts4111_wrap .box_img{border:none;background-color:#f3f4f6;}
@media all and (min-width:1001px){
    .cts4111_wrap .box_img{padding-top:76px;padding-bottom:76px;}
}
@media all and (max-width:640px){
    .cts4111_wrap .bu li{letter-spacing:-0.09em;}
}

/* 성화행사 > 안치 */
.cts4112_wrap .warning{margin-left:8px;line-height:30px;word-break:keep-all;}
.cts4112_wrap .warning:before{top:5px;}
.cts4112_wrap .map_api_wrap .warning{margin-left:0;text-align:left;}
.cts4112_wrap .map_api_wrap .box_img.deco .inner{position:relative;z-index:3;}
.cts4112_wrap .map_move_box{display:block;width:100%;padding-bottom:10px;font-size:0;line-height:0;box-sizing:border-box;}
.cts4112_wrap .map_move_box .temp_form{width:calc((100% - 30px) / 4);margin-bottom:10px;margin-left:10px;}
.cts4112_wrap .map_move_box .temp_form:nth-child(4n-3){margin-left:0;}
.cts4112_wrap .map_move_box .temp_form .move_btn{width:100%;}
.cts4112_wrap .map_move_box .temp_form .move_btn em{margin-right:5px;}
@media all and (max-width:1560px){
    .cts4112_wrap .map_move_box .temp_form{width:calc((100% - 20px) / 3);}
    .cts4112_wrap .map_move_box .temp_form:nth-child(4n-3){margin-left:10px;}
    .cts4112_wrap .map_move_box .temp_form:nth-child(3n-2){margin-left:0;}
}
@media all and (max-width:1000px){
    .cts4112_wrap .map_move_box .temp_form{width:calc((100% - 10px) / 2);}
    .cts4112_wrap .map_move_box .temp_form:nth-child(3n-2){margin-left:10px;}
    .cts4112_wrap .map_move_box .temp_form:nth-child(2n-1){margin-left:0;}
    .cts4112_wrap .warning{font-size:16px;}
    .cts4112_wrap .map_api_wrap .warning{width:80%;}
}
@media all and (max-width:640px){
    .cts4112_wrap .map_move_box .temp_form .move_btn em{display:none;}
    .cts4112_wrap .map_api_wrap .warning{width:90%;}
}