@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.06 */

/* 컨텐츠 탭메뉴 */
.cts_tab_menu_box{display:block;width:100%;padding-bottom:36px;font-size:0;line-height:0;box-sizing:border-box;}
.cts_tab_menu_box .tab_menu_list{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item{display:inline-block;width:20%;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link{display:block;position:relative;width:100%;border-width:1px;border-style:solid;border-color:#d2d2d2;border-top-width:0px;border-right-width:1px;border-bottom-width:1px;border-left-width:0px;font-size:0;line-height:0;box-sizing:border-box;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link:hover{text-decoration:none;}
@media all and (min-width:1001px){
    .cts_tab_menu_box .tab_menu_list .tab_menu_item:nth-child(-n+5) .tab_menu_link{border-top-width:1px;}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item:nth-child(5n-4) .tab_menu_link{border-left-width:1px;}
}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link:before{display:block;position:absolute;top:-1px;left:-1px;width:calc(100% + 2px);height:calc(100% + 2px);background-color:#000;content:'';box-sizing:border-box;visibility:hidden;opacity:0;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item.cts_active .tab_menu_link:before{visibility:visible;opacity:1;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link:hover:before{visibility:visible;opacity:1;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link .text{display:table;width:100%;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link .text em{display:table-cell;position:relative;z-index:1;height:64px;padding:0 10px;font-size:18px;color:#222;line-height:24px;letter-spacing:-0.03em;font-weight:300;font-family:'Pretendard';word-break:keep-all;vertical-align:middle;box-sizing:border-box;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item.cts_active .tab_menu_link .text em{color:#fff;font-weight:600;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link:hover .text em{color:#fff;font-weight:600;}
.cts_tab_content_box{display:block;width:100%;box-sizing:border-box;}
.cts_tab_content_box .tab_content_list{display:block;width:100%;box-sizing:border-box;}
.cts_tab_content_box .tab_content_list .tab_content_item{display:none;width:100%;box-sizing:border-box;}
.cts_tab_content_box .tab_content_list .tab_content_item.cts_active{display:block;}
@media all and (max-width:1000px){
    .cts_tab_menu_box{padding-bottom:28px;}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item{width:calc(100% / 3);}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link:before{top:0;left:0;width:100%;height:100%;}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link .text em{height:52px;font-size:17px;}
}
@media all and (max-width:1000px) and (min-width:641px){
    .cts_tab_menu_box .tab_menu_list .tab_menu_item:nth-child(-n+3) .tab_menu_link{border-top-width:1px;}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item:nth-child(3n-2) .tab_menu_link{border-left-width:1px;}
}
@media all and (max-width:640px){
    .cts_tab_menu_box .tab_menu_list .tab_menu_item{width:calc(100% / 2);}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item:nth-child(-n+2) .tab_menu_link{border-top-width:1px;}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item:nth-child(2n-1) .tab_menu_link{border-left-width:1px;}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link .text em{height:40px;font-size:15px;line-height:20px;}
}


/* 제목 */
h3, .h3{display:block;width:100%;margin-top:36px;margin-bottom:36px;font-size:46px;color:#000;line-height:66px;letter-spacing:-0.01em;font-weight:500;box-sizing:border-box;text-align:center;}
#contents h3:first-child,
#contents .h3:first-child{margin-top:0;}
@media all and (max-width:1000px){
    h3, .h3{margin-top:28px;margin-bottom:28px;font-size:36px;line-height:52px;}
}
@media all and (max-width:640px){
    h3, .h3{font-size:24px;line-height:28px;}
}


/* 본문 */
p{display:block;width:100%;font-size:18px;color:#424242;line-height:35px;letter-spacing:-0.01em;font-weight:400;word-break:keep-all;box-sizing:border-box;}
@media all and (max-width:1000px){
    p{font-size:17px;line-height:33px;}
}
@media all and (max-width:640px){
    p{font-size:15px;line-height:26px;}
}