@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.06 */

/* 컨텐츠 탭메뉴 */
.cts_tab_menu_box{display:block;width:100%;padding-bottom:36px;font-size:0;line-height:0;box-sizing:border-box;}
.cts_tab_menu_box .tab_menu_list{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item{display:inline-block;width:20%;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link{display:block;position:relative;width:100%;border-width:1px;border-style:solid;border-color:#d2d2d2;border-top-width:0px;border-right-width:1px;border-bottom-width:1px;border-left-width:0px;font-size:0;line-height:0;box-sizing:border-box;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link:hover{text-decoration:none;}
@media all and (min-width:1001px){
    .cts_tab_menu_box .tab_menu_list .tab_menu_item:nth-child(-n+5) .tab_menu_link{border-top-width:1px;}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item:nth-child(5n-4) .tab_menu_link{border-left-width:1px;}
}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link:before{display:block;position:absolute;top:-1px;left:-1px;width:calc(100% + 2px);height:calc(100% + 2px);background-color:#000;content:'';box-sizing:border-box;visibility:hidden;opacity:0;transition-property:visibility, opacity;transition-duration:250ms;transition-timing-function:ease-in-out;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item.cts_active .tab_menu_link:before{visibility:visible;opacity:1;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link:hover:before{visibility:visible;opacity:1;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link .text{display:table;width:100%;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link .text em{display:table-cell;position:relative;z-index:1;height:64px;padding:0 10px;font-size:18px;color:#222;line-height:24px;letter-spacing:-0.03em;font-weight:300;font-family:'Pretendard';word-break:keep-all;vertical-align:middle;box-sizing:border-box;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item.cts_active .tab_menu_link .text em{color:#fff;font-weight:600;}
.cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link:hover .text em{color:#fff;font-weight:600;}
.cts_tab_content_box{display:block;width:100%;box-sizing:border-box;}
.cts_tab_content_box .tab_content_list{display:block;width:100%;box-sizing:border-box;}
.cts_tab_content_box .tab_content_list .tab_content_item{display:none;width:100%;box-sizing:border-box;}
.cts_tab_content_box .tab_content_list .tab_content_item.cts_active{display:block;}
@media all and (max-width:1000px){
    .cts_tab_menu_box{padding-bottom:28px;}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item{width:calc(100% / 3);}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link:before{top:0;left:0;width:100%;height:100%;}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link .text em{height:52px;font-size:17px;}
}
@media all and (max-width:1000px) and (min-width:641px){
    .cts_tab_menu_box .tab_menu_list .tab_menu_item:nth-child(-n+3) .tab_menu_link{border-top-width:1px;}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item:nth-child(3n-2) .tab_menu_link{border-left-width:1px;}
}
@media all and (max-width:640px){
    .cts_tab_menu_box .tab_menu_list .tab_menu_item{width:calc(100% / 2);}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item:nth-child(-n+2) .tab_menu_link{border-top-width:1px;}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item:nth-child(2n-1) .tab_menu_link{border-left-width:1px;}
    .cts_tab_menu_box .tab_menu_list .tab_menu_item .tab_menu_link .text em{height:40px;font-size:15px;line-height:20px;}
}


/* 제목 */
h3, .h3{display:block;width:100%;margin-top:36px;margin-bottom:36px;font-size:46px;color:#000;line-height:66px;letter-spacing:-0.01em;font-weight:500;box-sizing:border-box;text-align:center;}
#contents h3:first-child,
#contents .h3:first-child{margin-top:0;}
h4, .h4{display:block;width:100%;margin-top:24px;margin-bottom:24px;font-size:34px;color:#0069cb;line-height:50px;letter-spacing:-0.01em;font-weight:300;box-sizing:border-box;}
h5, .h5{display:block;position:relative;width:100%;margin-top:14px;margin-bottom:14px;font-size:0;line-height:0;box-sizing:border-box;}
h5 span, .h5 span{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;box-sizing:border-box;}
h5 span:before, .h5 span:before{display:block;position:absolute;bottom:0;left:0;width:100%;height:15px;background-color:#ffd585;content:'';box-sizing:border-box;}
h5 span em, .h5 span em{display:inline-block;position:relative;width:auto;font-size:28px;color:#000;line-height:38px;letter-spacing:-0.01em;font-weight:300;vertical-align:top;box-sizing:border-box;}
@media all and (max-width:1000px){
    h3, .h3{margin-top:28px;margin-bottom:28px;font-size:36px;line-height:52px;}
    h4, .h4{margin-top:20px;margin-bottom:20px;font-size:28px;line-height:34px;}
    h5, .h5{margin-top:10px;margin-bottom:10px;}
    h5 span:before, .h5 span:before{height:12px;}
    h5 span em, .h5 span em{font-size:22px;line-height:27px;}
}
@media all and (max-width:640px){
    h3, .h3{font-size:24px;line-height:28px;}
    h4, .h4{margin-top:10px;margin-bottom:10px;font-size:20px;line-height:26px;}
    h5, .h5{margin-top:5px;margin-bottom:5px;}
    h5 span em, .h5 span em{font-size:18px;line-height:24px;}
}


/* 본문 */
p{display:block;width:100%;font-size:18px;color:#424242;line-height:35px;letter-spacing:-0.01em;font-weight:400;word-break:keep-all;box-sizing:border-box;}
@media all and (max-width:1000px){
    p{font-size:17px;line-height:33px;}
}
@media all and (max-width:640px){
    p{font-size:15px;line-height:26px;}
}


/* 목록 */
@font-face{
    font-family:'Play';
    font-weight: 600;
    src:url("../font/Play-Bold.woff2") format('woff2'),
    url("../font/Play-Bold.woff") format('woff');
}
@font-face{
    font-family:'Play';
    font-weight: 400;
    src:url("../font/Play-Regular.woff2") format('woff2'),
    url("../font/Play-Regular.woff") format('woff');
}
/* .bu 1depth */
.bu{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.bu li{display:block;position:relative;padding-left:17px;font-size:17px;color:#333;line-height:30px;letter-spacing:-0.03em;font-weight:400;box-sizing:border-box;}
.bu li:before{display:block;position:absolute;top:10px;left:0;width:9px;height:10px;background-image:url(../images/template/template_sprite.png);background-repeat:no-repeat;background-position:-20px -40px;content:'';box-sizing:border-box;}
/* .bu 2depth */
.bu li .bu,
.bu li ul{display:block;width:100%;padding-top:6px;font-size:0;line-height:0;box-sizing:border-box;}
.bu li .bu li,
.bu li ul li{display:block;position:relative;padding-left:11px;font-size:16px;color:#666;line-height:26px;letter-spacing:-0.03em;font-weight:400;box-sizing:border-box;}
.bu li .bu li:before,
.bu li ul li:before{display:block;position:absolute;top:11px;left:0;width:3px;height:3px;background-color:#666;content:'';box-sizing:border-box;}
/* .bu 3depth */
.bu li .bu li .bu,
.bu li .bu li ul,
.bu li ul li .bu,
.bu li ul li ul{display:block;width:100%;padding-top:6px;font-size:0;line-height:0;box-sizing:border-box;}
.bu li .bu li .bu li,
.bu li .bu li ul li,
.bu li ul li .bu li,
.bu li ul li ul li{display:block;position:relative;padding-left:8px;font-size:15px;color:#999;line-height:24px;letter-spacing:-0.03em;font-weight:400;box-sizing:border-box;}
.bu li .bu li .bu li:before,
.bu li .bu li ul li:before,
.bu li ul li .bu li:before,
.bu li ul li ul li:before{display:block;position:absolute;top:11px;left:0;width:4px;height:1px;background-color:#999;content:'';box-sizing:border-box;}
/* .num 1depth */
.num{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;counter-reset:revert;overflow:hidden;}
.num li{display:block;position:relative;padding-left:34px;font-size:17px;color:#333;line-height:30px;letter-spacing:-0.03em;font-weight:400;box-sizing:border-box;list-style:decimal;}
.num li:before{display:none;}
.num li .num_item{display:block;position:absolute;top:3px;left:0;width:26px;height:26px;border:2px solid #d2d2d2;border-radius:100%;font-size:14px;color:#000;line-height:22px;letter-spacing:-0.03em;font-weight:600;font-family:'Play';content:'';box-sizing:border-box;text-align:center;}
/* .num 2depth */
.num li .bu,
.num li ul{display:block;width:100%;padding-top:6px;font-size:0;line-height:0;box-sizing:border-box;}
.num li .bu li,
.num li ul li{display:block;position:relative;padding-left:11px;font-size:16px;color:#666;line-height:26px;letter-spacing:-0.03em;font-weight:400;box-sizing:border-box;}
.num li .bu li:before,
.num li ul li:before{display:block;position:absolute;top:11px;left:0;width:3px;height:3px;background-color:#666;content:'';box-sizing:border-box;}
/* .num 3depth */
.num li .bu li .bu,
.num li .bu li ul,
.num li ul li .bu,
.num li ul li ul{display:block;width:100%;padding-top:6px;font-size:0;line-height:0;box-sizing:border-box;}
.num li .bu li .bu li,
.num li .bu li ul li,
.num li ul li .bu li,
.num li ul li ul li{display:block;position:relative;padding-left:8px;font-size:15px;color:#999;line-height:24px;letter-spacing:-0.03em;font-weight:400;box-sizing:border-box;}
.num li .bu li .bu li:before,
.num li .bu li ul li:before,
.num li ul li .bu li:before,
.num li ul li ul li:before{display:block;position:absolute;top:11px;left:0;width:4px;height:1px;background-color:#999;content:'';box-sizing:border-box;}
@media all and (max-width:1000px){
    .bu li, .num li{font-size:16px;}
    .bu li .bu li, .bu li ul li,
    .num li .bu li, .num li ul li{font-size:15px;}
    .bu li .bu li .bu li, .bu li .bu li ul li, .bu li ul li .bu li, .bu li ul li ul li,
    .num li .bu li .bu li, .num li .bu li ul li, .num li ul li .bu li, .num li ul li ul li{font-size:14px;}
    .num li .num_item{top:2px;}
}

/* 테이블 */
.table_unit{display:block;width:100%;font-size:16px;color:#000;line-height:36px;letter-spacing:-0.03em;text-align:right;box-sizing:border-box;}
.table{position:relative;width:100%;}
.table th, .table td{padding:18px 10px;border:1px solid #d2d2d2;vertical-align:middle;}
.table thead tr:first-child th{border-top:2px solid #000;}
.table thead tr th{border-right:none;border-left:none;}
.table th:first-child, .table td:first-child{border-left:none;}
.table th:last-child, .table td:last-child{border-right:none;}
.table thead th,
.table tbody th,
.table tfoot th{background-color:#fafafa;font-size:18px;color:#000;line-height:24px;letter-spacing:-0.03em;font-weight:300;}
.table tbody td,
.table tfoot td{background-color:transparent;font-size:17px;color:#333;line-height:24px;letter-spacing:-0.03em;font-weight:400;text-align:center;}
/* 가로형테이블 */
@media all and (min-width:641px){
    .table.type2 tbody tr:first-child th, .table.type2 tbody tr:first-child td{border-top:2px solid #000;}
}
/* 반응형테이블 */
@media screen and (max-width:640px){
    .table.responsive{border-top:#000 solid 1px;}
    .table.responsive thead{display:none;}
    .table.responsive colgroup{display:none;}
    .table.responsive tbody tr{position:relative;display:block;border-bottom:1px solid #d2d2d2;}
    .table.responsive tbody tr:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
    .table.responsive tbody tr:nth-child(odd){background:#fafafa;}
    .table.responsive tbody td{display:block;padding:4px 3%;border:none;text-align:left;box-sizing:border-box;background-color:transparent;}
    .table.responsive tbody th{display:block;padding:4px 3%;text-align:left;vertical-align:middle;background-color:transparent;border:none;}
    .table.responsive tbody tr:first-child td, .table.responsive tbody tr:first-child th{border-top:none;}
    .table.responsive thead + tbody th:before, .table.responsive tbody td:before{display:inline;color:#000;font-size:17px;font-weight:300;content:attr(data-content)' : ';}/* thead의 내용을 tbody의 th, td에 각각 삽입 */
    .table.type2.responsive thead + tbody th:before, .table.type2.responsive tbody td:before{padding-left:10px;font-size:0;color:transparent;content:'';}
    .table.responsive tfoot tr{position:relative;display:block;border-bottom:1px solid #d2d2d2;}
    .table.responsive tfoot tr:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
    .table.responsive tfoot tr:nth-child(odd){background:#fafafa;}
    .table.responsive tfoot td{display:block;padding:4px 3%;border:none;text-align:left;box-sizing:border-box;background-color:transparent;}
    .table.responsive tfoot th{display:block;padding:4px 3%;text-align:left;vertical-align:middle;background-color:transparent;border:none;}
    .table.responsive tfoot tr:first-child td, .table.responsive tfoot tr:first-child th{border-top:none;}
    .table.responsive tfoot th:before, .table.responsive tfoot td:before{display:inline;content:attr(data-content)' : ';}/* thead의 내용을 tbody의 th, td에 각각 삽입 */
}
/* 스크롤테이블 */
@media only screen and (max-width:640px){
    .table_scroll{position:relative;max-width:100%;overflow-x:auto;}
    .table_scroll table{min-width:800px;}
}


/* 박스 */
/* 박스기본세팅 */
.box{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.box .box_wrap{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.box .box_wrap .title_box{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.box .box_wrap .title_box .title{display:block;width:100%;font-size:34px;color:#0069cb;line-height:40px;letter-spacing:-0.01em;font-weight:300;box-sizing:border-box;}
.box .box_wrap .inner_box{display:block;width:100%;min-height:230px;padding:46px 3%;background-color:#f9f9f9;font-size:0;line-height:0;box-sizing:border-box;}
@media all and (max-width:1000px){
    .box .box_wrap .title_box{margin-top:20px;margin-bottom:20px;}
    .box .box_wrap .title_box .title{font-size:28px;line-height:34px;}
    .box .box_wrap .inner_box{min-height:0;padding:20px 3%;}
}
@media all and (max-width:640px){
    .box .box_wrap .title_box{margin-top:10px;margin-bottom:10px;}
    .box .box_wrap .title_box .title{font-size:20px;line-height:26px;}
}
/* 이미지박스 */
.box.img_type .box_wrap{padding-top:143px;padding-left:131px;}
.box.img_type .box_wrap .img_box{display:block;position:absolute;top:0;left:0;padding-top:40px;padding-left:40px;font-size:0;color:transparent;line-height:0;box-sizing:border-box;transition-property:padding;transition-duration:250ms;transition-timing-function:ease-in-out;}
.box.img_type .box_wrap .img_box:before{display:block;position:absolute;top:0;left:0;width:260px;height:187px;background-image:linear-gradient(145deg, #f83e19 20%, #ffa416 100%);background-size:cover;content:'';box-sizing:border-box;transition-property:width, height;transition-duration:250ms;transition-timing-function:ease-in-out;}
.box.img_type .box_wrap .img_box .img_wrap{display:block;position:relative;width:420px;height:275px;background-color:#fff;background-repeat:no-repeat;background-position:center center;background-size:cover;box-sizing:border-box;transition-property:padding;transition-duration:250ms;transition-timing-function:ease-in-out;}
.box.img_type .box_wrap .img_box .img_wrap img{display:block;position:absolute;top:0;left:0;width:0;height:0;color:transparent;}
.box.img_type .box_wrap .title_box{display:table;position:absolute;top:40px;left:539px;width:auto;}
.box.img_type .box_wrap .title_box .title{display:table-cell;height:103px;vertical-align:middle;}
@media all and (min-width:1001px){
    .box.img_type .box_wrap .inner_box{padding-bottom:65px;padding-left:408px;}
}
@media all and (max-width:1000px){
    .box.img_type .box_wrap{padding-top:0;padding-left:0;}
    .box.img_type .box_wrap .img_box{position:relative;padding-top:5%;padding-left:0;}
    .box.img_type .box_wrap .img_box:before{width:80%;height:80%;}
    .box.img_type .box_wrap .img_box .img_wrap{width:90%;height:0;margin:0 auto;padding:15% 0;}
    .box.img_type .box_wrap .title_box{position:static;display:block;text-align:center;}
    .box.img_type .box_wrap .title_box .title{display:block;height:auto;}
    .box.img_type .box_wrap .title_box .title br{display:none;}
}
@media all and (max-width:640px){
    .box.img_type .box_wrap .img_box .img_wrap{padding:20% 0;}
}
/* 이미지 확대보기 박스 */
.box_img{position:relative;padding:10px;border:1px solid #d2d2d2;font-size:0;line-height:0;text-align:center;box-sizing:border-box;}
.box_img .inner{display:inline-block;line-height:0;}
.box_img img{max-width:100%;}
.box_img .img_zoom{display:none;position:absolute;right:0;bottom:0;z-index:10;width:28px;height:28px;background-color:rgba(0,0,0,0.5);}
.box_img .img_zoom a{display:block;padding:8px;font-size:0;}
.box_img .img_zoom a:before{display:block;width:12px;height:13px;background-repeat:no-repeat;background-image:url(../images/template/img_more.png);content:'';}
@media all and (max-width:1000px){
    .box_img .img_zoom{display:block;}
}


/* 폼영역 */
.temp_wrap{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
/* 버튼 */
.temp_form{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;background-color:#fff;border:1px solid #404040;box-shadow:0px 0px 0px transparent;transition-property:padding, background-color, border-color, box-shadow;transition-duration:250ms;transition-timing-function:ease-in-out;}
.temp_form + .temp_form{margin-left:20px;}
.temp_form.icon:before{display:block;position:absolute;background-image:url(../images/template/template_sprite.png);background-repeat:no-repeat;content:'';box-sizing:border-box;}
.temp_form.icon.type1:before{top:26px;right:30px;width:16px;height:9px;background-position:left top;}
.temp_form.icon.type1:hover:before{background-position:left -20px;}
.temp_form.icon.type2:before{top:22px;right:30px;width:14px;height:16px;background-position:-20px top;}
.temp_form.icon.type2:hover:before{background-position:-20px -20px;}
.temp_form.icon.type3:before{top:22px;right:30px;width:16px;height:16px;background-position:-40px top;}
.temp_form.icon.type3:hover:before{background-position:-40px -20px;}
.temp_form.icon.type4:before{top:21px;right:30px;width:18px;height:18px;background-position:-60px top;}
.temp_form.icon.type4:hover:before{background-position:-60px -20px;}
.temp_form.icon.type5:before{top:21px;right:30px;width:18px;height:18px;background-position:-80px top;}
.temp_form.icon.type5:hover:before{background-position:-80px -20px;}
.temp_form .btn{display:inline-block;position:relative;z-index:1;width:auto;padding:18px 30px;border:none;font-size:18px;color:#303030;line-height:24px;letter-spacing:-0.03em;font-weight:400;font-family:'Pretendard';vertical-align:top;text-align:left;box-sizing:border-box;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.temp_form.icon .btn{padding-right:169px;}
.temp_form:hover{background-color:#013ea8;border-color:#013ea8;box-shadow:0px 6px 12px rgba(1, 62, 168, 0.3);}
.temp_form:hover .btn{color:#fff;text-decoration:none;}
/* 작은버튼 */
.temp_form.small.icon.type1:before{top:20px;right:22px;}
.temp_form.small.icon.type2:before{top:16px;right:22px;}
.temp_form.small.icon.type3:before{top:16px;right:22px;}
.temp_form.small.icon.type4:before{top:15px;right:22px;}
.temp_form.small.icon.type5:before{top:15px;right:22px;}
.temp_form.small .btn{padding:12px 24px;font-size:16px;}
.temp_form.small.icon .btn{padding-right:130px;}
/* 언더라인버튼 */
.temp_form.line{background-color:transparent;border:none;box-shadow:none;}
.temp_form.line:after{display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#636363;content:'';box-sizing:border-box;}
.temp_form.line .btn{padding:0 0 0 0;font-size:17px;}
.temp_form.line.icon .btn{padding-right:22px;}
.temp_form.line.icon.type1:before{top:7px;right:0;}
.temp_form.line.icon.type1:hover:before{background-position:left top;}
.temp_form.line.icon.type2:before{top:3px;right:0;}
.temp_form.line.icon.type2:hover:before{background-position:-20px top;}
.temp_form.line.icon.type3:before{top:3px;right:0;}
.temp_form.line.icon.type3:hover:before{background-position:-40px top;}
.temp_form.line.icon.type4:before{top:2px;right:0;}
.temp_form.line.icon.type4:hover:before{background-position:-60px top;}
.temp_form.line.icon.type5:before{top:2px;right:0;}
.temp_form.line.icon.type5:hover:before{background-position:-80px top;}
.temp_form.line:hover{background-color:transparent;border:none;box-shadow:none;}
.temp_form.line:hover .btn{color:#303030;}
@media all and (max-width:1560px){
    .temp_form + .temp_form{margin-left:10px;}
    .temp_form.icon .btn{padding-right:80px;}
    .temp_form.small.icon .btn{padding-right:60px;}
}
@media all and (max-width:1000px){
    .temp_form.icon.type1:before{top:20px;}
    .temp_form.icon.type2:before{top:16px;}
    .temp_form.icon.type3:before{top:16px;}
    .temp_form.icon.type4:before{top:15px;}
    .temp_form.icon.type5:before{top:15px;}
    .temp_form .btn{padding-top:12px;padding-bottom:12px;font-size:17px;}
    .temp_form.small.icon.type1:before{top:16px;}
    .temp_form.small.icon.type2:before{top:12px;}
    .temp_form.small.icon.type3:before{top:12px;}
    .temp_form.small.icon.type4:before{top:11px;}
    .temp_form.small.icon.type5:before{top:11px;}
    .temp_form.small .btn{padding-top:8px;padding-bottom:8px;font-size:15px;}
    .temp_form.line .btn{font-size:15px;}
}
@media all and (max-width:640px){
    .temp_form .btn{padding:4px 10px;font-size:16px;}
    .temp_form.icon .btn{padding-right:34px;}
    .temp_form.icon.type1:before{top:12px;right:4px;}
    .temp_form.icon.type2:before{top:7px;right:4px;}
    .temp_form.icon.type3:before{top:7px;right:4px;}
    .temp_form.icon.type4:before{top:6px;right:4px;}
    .temp_form.icon.type5:before{top:6px;right:4px;}
    .temp_form.small .btn{padding:2px 10px;font-size:14px;}
    .temp_form.small.icon .btn{padding-right:28px;}
    .temp_form.small.icon.type1:before{top:9px;right:3px;}
    .temp_form.small.icon.type2:before{top:5px;right:3px;}
    .temp_form.small.icon.type3:before{top:5px;right:3px;}
    .temp_form.small.icon.type4:before{top:4px;right:3px;}
    .temp_form.small.icon.type5:before{top:4px;right:3px;}
    .temp_form.line .btn{font-size:14px;}
}


/* 강조, 색깔 */
.warning{display:inline-block;position:relative;padding-left:24px;font-size:17px;color:#f84e18;line-height:35px;letter-spacing:-0.03em;font-weight:400;vertical-align:top;box-sizing:border-box;}
.warning:before{display:block;position:absolute;top:7px;left:0;width:18px;height:19px;background-image:url(../images/template/template_sprite.png);background-repeat:no-repeat;background-position:left -40px;content:'';}
@media all and (max-width:1000px){
    .warning{padding-left:21px;line-height:33px;}
    .warning:before{top:7px;}
}
@media all and (max-width:640px){
    .warning{font-size:15px;line-height:26px;}
    .warning:before{top:3px;}
}
.em_black{color:#000;font-weight:400;}
.em_blue{color:#013ea8;font-weight:400;}
.em_orange{color:#f84e18;font-weight:400;}
.em_green{color:#409e1f;font-weight:400;}
.em_purple{color:#92278f;font-weight:400;}
.em_b_black{color:#000;font-weight:600;}
.em_b_blue{color:#013ea8;font-weight:600;}
.em_b_orange{color:#f84e18;font-weight:600;}
.em_b_green{color:#409e1f;font-weight:600;}
.em_b_purple{color:#92278f;font-weight:600;}


/* 텍스트 정렬 */
.text_center{text-align:center;}
.text_right{text-align:right;}
.text_left{text-align:left;}
.vertical_top{vertical-align:top;}
.vertical_middle{vertical-align:middle;}
.vertical_bottom{vertical-align:bottom;}

/* 들여쓰기 */
.indent{margin-left:25px;}
.indent10{margin-left:10px;}
.indent20{margin-left:20px;}
.indent30{margin-left:30px;}
.indent40{margin-left:40px;}
.indent50{margin-left:50px;}

/* margin */
.margin_0{margin:0 !important;}
.margin_10{margin:10px !important;}
.margin_20{margin:20px !important;}
.margin_30{margin:30px !important;}

.margin_t_0{margin-top:0 !important;}
.margin_t_5{margin-top:5px !important;}
.margin_t_10{margin-top:10px !important;}
.margin_t_15{margin-top:15px !important;}
.margin_t_20{margin-top:20px !important;}
.margin_t_25{margin-top:25px !important;}
.margin_t_30{margin-top:30px !important;}
.margin_t_35{margin-top:35px !important;}
.margin_t_40{margin-top:40px !important;}
.margin_t_45{margin-top:45px !important;}
.margin_t_50{margin-top:50px !important;}

.margin_r_0{margin-right:0 !important;}
.margin_r_5{margin-right:5px !important;}
.margin_r_10{margin-right:10px !important;}
.margin_r_15{margin-right:15px !important;}
.margin_r_20{margin-right:20px !important;}
.margin_r_25{margin-right:25px !important;}
.margin_r_30{margin-right:30px !important;}
.margin_r_35{margin-right:35px !important;}
.margin_r_40{margin-right:40px !important;}
.margin_r_45{margin-right:45px !important;}
.margin_r_50{margin-right:50px !important;}

.margin_b_0{margin-bottom:0 !important;}
.margin_b_5{margin-bottom:5px !important;}
.margin_b_10{margin-bottom:10px !important;}
.margin_b_15{margin-bottom:15px !important;}
.margin_b_20{margin-bottom:20px !important;}
.margin_b_25{margin-bottom:25px !important;}
.margin_b_30{margin-bottom:30px !important;}
.margin_b_35{margin-bottom:35px !important;}
.margin_b_40{margin-bottom:40px !important;}
.margin_b_45{margin-bottom:45px !important;}
.margin_b_50{margin-bottom:50px !important;}

.margin_l_0{margin-left:0 !important;}
.margin_l_5{margin-left:5px !important;}
.margin_l_10{margin-left:10px !important;}
.margin_l_15{margin-left:15px !important;}
.margin_l_20{margin-left:20px !important;}
.margin_l_25{margin-left:25px !important;}
.margin_l_30{margin-left:30px !important;}
.margin_l_35{margin-left:35px !important;}
.margin_l_40{margin-left:40px !important;}
.margin_l_45{margin-left:45px !important;}
.margin_l_50{margin-left:50px !important;}

/* padding */
.padding_0{padding:0 !important;}
.padding_10{padding:10px !important;}
.padding_20{padding:20px !important;}
.padding_30{padding:30px !important;}

.padding_t_0{padding-top:0 !important;}
.padding_t_5{padding-top:5px !important;}
.padding_t_10{padding-top:10px !important;}
.padding_t_15{padding-top:15px !important;}
.padding_t_20{padding-top:20px !important;}
.padding_t_25{padding-top:25px !important;}
.padding_t_30{padding-top:30px !important;}
.padding_t_35{padding-top:35px !important;}
.padding_t_40{padding-top:40px !important;}
.padding_t_45{padding-top:45px !important;}
.padding_t_50{padding-top:50px !important;}

.padding_r_0{padding-right:0 !important;}
.padding_r_5{padding-right:5px !important;}
.padding_r_10{padding-right:10px !important;}
.padding_r_15{padding-right:15px !important;}
.padding_r_20{padding-right:20px !important;}
.padding_r_25{padding-right:25px !important;}
.padding_r_30{padding-right:30px !important;}
.padding_r_35{padding-right:35px !important;}
.padding_r_40{padding-right:40px !important;}
.padding_r_45{padding-right:45px !important;}
.padding_r_50{padding-right:50px !important;}

.padding_b_0{padding-bottom:0 !important;}
.padding_b_5{padding-bottom:5px !important;}
.padding_b_10{padding-bottom:10px !important;}
.padding_b_15{padding-bottom:15px !important;}
.padding_b_20{padding-bottom:20px !important;}
.padding_b_25{padding-bottom:25px !important;}
.padding_b_30{padding-bottom:30px !important;}
.padding_b_35{padding-bottom:35px !important;}
.padding_b_40{padding-bottom:40px !important;}
.padding_b_45{padding-bottom:45px !important;}
.padding_b_50{padding-bottom:50px !important;}

.padding_l_0{padding-left:0 !important;}
.padding_l_5{padding-left:5px !important;}
.padding_l_10{padding-left:10px !important;}
.padding_l_15{padding-left:15px !important;}
.padding_l_20{padding-left:20px !important;}
.padding_l_25{padding-left:25px !important;}
.padding_l_30{padding-left:30px !important;}
.padding_l_35{padding-left:35px !important;}
.padding_l_40{padding-left:40px !important;}
.padding_l_45{padding-left:45px !important;}
.padding_l_50{padding-left:50px !important;}

/* width */
.w5p{width:5% !important;}
.w10p{width:10% !important;}
.w15p{width:15% !important;}
.w20p{width:20% !important;}
.w25p{width:25% !important;}
.w30p{width:30% !important;}
.w35p{width:35% !important;}
.w40p{width:40% !important;}
.w45p{width:45% !important;}
.w50p{width:50% !important;}
.w55p{width:55% !important;}
.w60p{width:60% !important;}
.w65p{width:65% !important;}
.w70p{width:70% !important;}
.w75p{width:75% !important;}
.w80p{width:80% !important;}
.w85p{width:85% !important;}
.w90p{width:90% !important;}
.w95p{width:95% !important;}
.w100p{width:100% !important;}

@media all and (max-width:800px){
    .w-sm-5p{width:5% !important;}
    .w-sm-10p{width:10% !important;}
    .w-sm-15p{width:15% !important;}
    .w-sm-20p{width:20% !important;}
    .w-sm-25p{width:25% !important;}
    .w-sm-30p{width:30% !important;}
    .w-sm-35p{width:35% !important;}
    .w-sm-40p{width:40% !important;}
    .w-sm-45p{width:45% !important;}
    .w-sm-50p{width:50% !important;}
    .w-sm-55p{width:55% !important;}
    .w-sm-60p{width:60% !important;}
    .w-sm-65p{width:65% !important;}
    .w-sm-70p{width:70% !important;}
    .w-sm-75p{width:75% !important;}
    .w-sm-80p{width:80% !important;}
    .w-sm-85p{width:85% !important;}
    .w-sm-90p{width:90% !important;}
    .w-sm-95p{width:95% !important;}
    .w-sm-100p{width:100% !important;}
}


/* 컨텐츠 준비중 */
.prepare{display:block;width:100%;position:relative;min-height:620px;font-size:0;line-height:0;text-align:center;box-sizing:border-box;}
.prepare:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-image:url(../images/template/prepare.jpg);background-repeat:no-repeat;background-position:center center;background-size:cover;content:'';box-sizing:border-box;}
.prepare img{display:block;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0;color:transparent;}
@media all and (max-width:1000px){
    .prepare{min-height:300px;}
}
@media all and (max-width:640px){
    .prepare{min-height:260px;}
}