@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.06 */

/* 제목 */
h3, .h3{display:block;width:100%;margin-top:36px;margin-bottom:36px;font-size:46px;color:#000;line-height:66px;letter-spacing:-0.01em;font-weight:500;box-sizing:border-box;text-align:center;}
#contents h3:first-child,
#contents .h3:first-child{margin-top:0;}
@media all and (max-width:1000px){
    h3, .h3{margin-top:28px;margin-bottom:28px;font-size:36px;line-height:52px;}
}
@media all and (max-width:640px){
    h3, .h3{font-size:24px;line-height:28px;}
}

/* 본문 */
p{display:block;width:100%;font-size:18px;color:#424242;line-height:35px;letter-spacing:-0.01em;font-weight:400;word-break:keep-all;box-sizing:border-box;}
@media all and (max-width:1000px){
    p{font-size:17px;line-height:33px;}
}
@media all and (max-width:640px){
    p{font-size:15px;line-height:26px;}
}