@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.11 */

/* 횡성 열린군수실 메인전용 폰트 시작 */
/* TTF */
@font-face{
    font-family:'TTF';
    font-weight:600;
    src:url("../font/GmarketSansTTFBold.woff2") format('woff2'),
    url("../font/GmarketSansTTFBold.woff") format('woff');
}
/* 횡성 열린군수실 메인전용 폰트 끝 */

/* 횡성 열린군수실 메인 상단깨기 시작 */
.lnb .menu:after{display:none;}
@media screen and (min-width:1651px){
    #header .header_gnb .wrap{width:1650px;}
    #header .header_box .wrap{width:1650px;}
    .lnb .menu .depth1{width:1650px;padding-left:700px;}
    .lnb .menu .depth2{padding-right:calc((100% - 1650px) / 2);padding-left:calc((100% - 1650px) / 2);}
    .lnb .menu .depth2 .menu_depth2_title{left:calc((100% - 1650px) / 2);}
    .header_info{right:calc((100% - 1650px) / 2);}
}
@media screen and (min-width:1001px) and (max-width:1650px){
    #header .header_gnb .wrap{width:94%;}
    #header .header_box .wrap{width:94%;}
    .lnb .menu .depth1{width:94%;}
    .header_info{right:3%;}
}
@media screen and (min-width:1001px){
    body[data-trans="white"] .header_gnb:before{background-color:#d5d5d5;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item .site_link .site_text:before{border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;border-left:0px solid #d5d5d5;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item:first-child .site_link .site_text:before{border-left:1px solid #d5d5d5;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item .site_link .site_text em{color:rgba(0, 0, 0, 0.5);}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item .site_link:hover .site_text em,
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item.active .site_link .site_text em{color:#fff;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item.www .site_link .site_text em:before{background-position:left top;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item.council .site_link .site_text em:before{background-position:-80px top;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item.tour .site_link .site_text em:before{background-position:-120px top;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item.reserve .site_link .site_text em:before{background-position:-160px top;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .direct .direct_list .direct_item.primary .direct_link{background-color:#faebc8;border:0;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .direct .direct_list .direct_item.primary .direct_link .direct_text{color:#6c6a66;line-height:30px;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .direct .direct_list .direct_item.primary .direct_link .direct_text:before{background-position:left -60px;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .direct .direct_list .direct_item.welfare .direct_link{background-color:#d9ebff;border:0;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .direct .direct_list .direct_item.welfare .direct_link .direct_text{color:#3470b2;line-height:30px;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .direct .direct_list .direct_item.welfare .direct_link .direct_text:before{background-position:left -90px;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .sns .sns_list .sns_item.facebook .sns_btn:before{opacity:1;background-position:-30px top;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .sns .sns_list .sns_item.blog .sns_btn:before{opacity:1;background-position:-30px -30px;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .sns .sns_list .sns_item.youtube .sns_btn:before{opacity:1;background-position:-30px -60px;}
    body[data-layout-type="public-type"][data-trans="white"] .header_box .wrap .logo a .logo_icon{background-image:url(../../public/images/common/public_logo.png);}
    body[data-trans="white"] .header_box .wrap .logo a span{color:#000;}
    body[data-trans="white"] .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{color:#000;}
    body[data-trans="white"] .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text[target="_blank"] span em:before{background-position:left top;}
    body[data-trans="white"] .header_info.public_type .header_info_inner{background-image:url(../images/main/public_header_info.png);}
    body[data-trans="white"] .header_info .header_info_inner .info_list .info_item.search .info_btn:before{background-position:left top;}
    body[data-trans="white"] .header_info .header_info_inner .info_list .info_item.certi .info_btn:before{background-position:-40px top;}
    body[data-trans="white"] .header_info .header_info_inner .info_list .info_item.sitemap .info_btn:before{background-position:-80px top;}
    body[data-trans="white"] .header_info .header_info_inner .info_list .info_item .info_btn:after{border:1px solid #000;}
}
@media screen and (min-width:641px) and (max-width:1000px){
    body[data-trans="white"] .header_box:before{display:none;}
    body[data-trans="white"] .header_box .wrap .logo a span{color:#000;}
    body[data-layout-type="public-type"][data-trans="white"] .header_box .wrap .logo a .logo_icon{background-image:url(../../public/images/common/public_logo.png);}
    body[data-layout-type="public-type"][data-trans="white"] .header_box .mobile_btn_box{background-image:url(../images/main/public_header_info_800.png);}
    body[data-trans="white"] .header_box .mobile_btn_box .mobile_menu.search .mobile_menu_btn:before{background-position:left -40px;}
    body[data-trans="white"] .header_box .mobile_btn_box .mobile_menu.certi .mobile_menu_btn:before{background-position:-40px -40px;}
    body[data-trans="white"] .header_box .mobile_btn_box .mobile_menu.menu_show .mobile_menu_btn:before{background-position:-80px -40px;}
}
@media screen and (max-width:640px){
    .header_box:before{display:none;}
    body[data-layout-type="public-type"][data-trans="white"] .header_box .wrap .logo a .logo_icon{background-image:url(../../public/images/common/public_logo_360_v2.png);}
    body[data-trans="white"] .header_box .wrap .logo a span{color:#000;}
    body[data-layout-type="public-type"][data-trans="white"] .header_box .mobile_btn_box{background-image:url(../images/main/public_header_info_360.png);}
    body[data-trans="white"] .header_box .mobile_btn_box .mobile_menu.search .mobile_menu_btn:before{background-position:left -80px;}
    body[data-trans="white"] .header_box .mobile_btn_box .mobile_menu.certi .mobile_menu_btn:before{background-position:-40px -80px;}
    body[data-trans="white"] .header_box .mobile_btn_box .mobile_menu.menu_show .mobile_menu_btn:before{background-position:-80px -80px;}
}
/* 횡성 열린군수실 메인 상단깨기 끝 */


/* 횡성 열린군수실 메인 컨테이너, 푸터 시작 */

/* 횡성 열린군수실 메인 컨테이너, 푸터 끝 */


/* rowgroup1(오늘의 일정 영역) 시작 */
.rowgroup1{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.mayor_today{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.mayor_today .mayor_today_wrap{display:block;position:relative;width:100%;padding:160px calc((100% - 1650px) / 2) 0;background-color:#f1f1f1;font-size:0;line-height:0;box-sizing:border-box;}

.mayor_today .mayor_today_wrap .title_wrap{display:inline-block;position:relative;width:1076px;min-height:907px;padding-left:78px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.mayor_today .mayor_today_wrap .title_wrap:before{display:block;position:absolute;top:33px;left:-165px;width:351px;height:243px;background-image:url(../images/main/mayor_title_wrap_before.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;}
.mayor_today .mayor_today_wrap .title_wrap .title_box{display:block;position:relative;z-index:2;width:100%;padding-top:194px;font-size:0;line-height:0;box-sizing:border-box;}
.mayor_today .mayor_today_wrap .title_wrap .title_box span{display:block;position:relative;font-size:0;line-height:0;box-sizing:border-box;}
.mayor_today .mayor_today_wrap .title_wrap .title_box span em{display:inline-block;position:relative;letter-spacing:-0.03em;font-weight:600;font-family:'TTF';vertical-align:top;box-sizing:border-box;}
.mayor_today .mayor_today_wrap .title_wrap .title_box .red{display:inline-block;vertical-align:top;box-sizing:border-box;}
.mayor_today .mayor_today_wrap .title_wrap .title_box .red + .red{margin-left:15px;}
.mayor_today .mayor_today_wrap .title_wrap .title_box .red + .red:before{display:block;position:absolute;bottom:5px;left:50%;transform:translateX(-50%);width:calc(100% + 10px);height:20px;background-color:#faebc8;content:'';box-sizing:border-box;}
.mayor_today .mayor_today_wrap .title_wrap .title_box .red em{font-size:58px;color:#b00d33;line-height:62px;}
.mayor_today .mayor_today_wrap .title_wrap .title_box .brown{margin-top:9px;}
.mayor_today .mayor_today_wrap .title_wrap .title_box .brown em{font-size:70px;color:#a47f64;line-height:75px;}
.mayor_today .mayor_today_wrap .title_wrap .title_box .black{margin-top:-5px;}
.mayor_today .mayor_today_wrap .title_wrap .title_box .black em{font-size:70px;color:#000;line-height:75px;}

.mayor_today .mayor_today_wrap .title_wrap .img_box{display:block;position:absolute;z-index:1;top:calc(100% - 653px);right:104px;width:511px;height:653px;font-size:0;line-height:0;box-sizing:border-box;}
.mayor_today .mayor_today_wrap .title_wrap .img_box img{display:block;position:absolute;top:0;left:0;width:100%;height:100%;font-size:0;line-height:0;box-sizing:border-box;}
.mayor_today .mayor_today_wrap .title_wrap .mayor_sns_box{display:block;position:relative;margin-top:144px;font-size:0;line-height:0;box-sizing:border-box;}
.mayor_today .mayor_today_wrap .title_wrap .mayor_sns_box .mayor_sns_title{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.mayor_today .mayor_today_wrap .title_wrap .mayor_sns_box .mayor_sns_title em{display:inline-block;font-size:30px;color:#bfbabb;line-height:32px;letter-spacing:-0.03em;font-weight:600;font-family:'TTF';vertical-align:top;box-sizing:border-box;}
.mayor_today .mayor_today_wrap .title_wrap .mayor_sns_box .mayor_sns_title em:last-child{position:absolute;top:-3px;left:calc(100% + 3px);font-size:20px;line-height:22px;}


.mayor_today .mayor_today_wrap .title_wrap .mayor_sns_box .mayor_sns_list{}
.mayor_today .mayor_today_wrap .title_wrap .mayor_sns_box .mayor_sns_list .mayor_sns_item{}
.mayor_today .mayor_today_wrap .title_wrap .mayor_sns_box .mayor_sns_list .mayor_sns_item .mayor_sns_link{}



.mayor_today .mayor_today_wrap .daily_wrap{display:inline-block;position:relative;width:calc(100% - 1076px);font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap{}
.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_title_box{}
.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_title_box .text{}
.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_title_box .text.today{}
.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_title_box .text.month{}
.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_title_box .text.dot{}
.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_title_box .text.year{}

.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_tab_box{}
.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_tab_box .daily_tab_item{}
.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_tab_box .daily_tab_item .daily_tab_btn{}
.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_tab_box .daily_tab_item.active .daily_tab_btn{}

.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_con_box{}
.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_con_box .daily_con_item{display:none;}
.mayor_today .mayor_today_wrap .daily_wrap .daily_slide_wrap .daily_con_box .daily_con_item.active{display:block;}



/* rowgroup1(오늘의 일정 영역) 끝 */