@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.11 */

/* 횡성 열린군수실 메인전용 폰트 시작 */

/* 횡성 열린군수실 메인전용 폰트 끝 */

/* 횡성 열린군수실 메인 상단깨기 시작 */
.lnb .menu:after{display:none;}
@media screen and (min-width:1651px){
    #header .header_gnb .wrap{width:1650px;}
    #header .header_box .wrap{width:1650px;}
    .lnb .menu .depth1{width:1650px;padding-left:700px;}
    .lnb .menu .depth2{padding-right:calc((100% - 1650px) / 2);padding-left:calc((100% - 1650px) / 2);}
    .lnb .menu .depth2 .menu_depth2_title{left:calc((100% - 1650px) / 2);}
    .header_info{right:calc((100% - 1650px) / 2);}
}
@media screen and (min-width:1001px) and (max-width:1650px){
    #header .header_gnb .wrap{width:94%;}
    #header .header_box .wrap{width:94%;}
    .lnb .menu .depth1{width:94%;}
    .header_info{right:3%;}
}
@media screen and (min-width:1001px){
    body[data-trans="white"] .header_gnb:before{background-color:#d5d5d5;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item .site_link .site_text:before{border-top:1px solid #d5d5d5;border-right:1px solid #d5d5d5;border-left:0px solid #d5d5d5;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item:first-child .site_link .site_text:before{border-left:1px solid #d5d5d5;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item .site_link .site_text em{color:rgba(0, 0, 0, 0.5);}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item .site_link:hover .site_text em,
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item.active .site_link .site_text em{color:#fff;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item.www .site_link .site_text em:before{background-position:left top;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item.council .site_link .site_text em:before{background-position:-80px top;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item.tour .site_link .site_text em:before{background-position:-120px top;}
    body[data-trans="white"] .header_gnb .site_link_wrap .site_link_list .site_link_item.reserve .site_link .site_text em:before{background-position:-160px top;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .direct .direct_list .direct_item.primary .direct_link{background-color:#faebc8;border:0;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .direct .direct_list .direct_item.primary .direct_link .direct_text{color:#6c6a66;line-height:30px;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .direct .direct_list .direct_item.primary .direct_link .direct_text:before{background-position:left -60px;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .direct .direct_list .direct_item.welfare .direct_link{background-color:#d9ebff;border:0;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .direct .direct_list .direct_item.welfare .direct_link .direct_text{color:#3470b2;line-height:30px;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .direct .direct_list .direct_item.welfare .direct_link .direct_text:before{background-position:left -90px;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .sns .sns_list .sns_item.facebook .sns_btn:before{opacity:1;background-position:-30px top;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .sns .sns_list .sns_item.blog .sns_btn:before{opacity:1;background-position:-30px -30px;}
    body[data-trans="white"] .header_gnb .direct_link_wrap .sns .sns_list .sns_item.youtube .sns_btn:before{opacity:1;background-position:-30px -60px;}
    body[data-layout-type="public-type"][data-trans="white"] .header_box .wrap .logo a .logo_icon{background-image:url(../../public/images/common/public_logo.png);}
    body[data-trans="white"] .header_box .wrap .logo a span{color:#000;}
    body[data-trans="white"] .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{color:#000;}
    body[data-trans="white"] .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text[target="_blank"] span em:before{background-position:left top;}
    body[data-trans="white"] .header_info.public_type .header_info_inner{background-image:url(../images/main/public_header_info.png);}
    body[data-trans="white"] .header_info .header_info_inner .info_list .info_item.search .info_btn:before{background-position:left top;}
    body[data-trans="white"] .header_info .header_info_inner .info_list .info_item.certi .info_btn:before{background-position:-40px top;}
    body[data-trans="white"] .header_info .header_info_inner .info_list .info_item.sitemap .info_btn:before{background-position:-80px top;}
    body[data-trans="white"] .header_info .header_info_inner .info_list .info_item .info_btn:after{border:1px solid #000;}
}
@media screen and (min-width:641px) and (max-width:1000px){
    body[data-trans="white"] .header_box:before{display:none;}
    body[data-trans="white"] .header_box .wrap .logo a span{color:#000;}
    body[data-layout-type="public-type"][data-trans="white"] .header_box .wrap .logo a .logo_icon{background-image:url(../../public/images/common/public_logo.png);}
    body[data-layout-type="public-type"][data-trans="white"] .header_box .mobile_btn_box{background-image:url(../images/main/public_header_info_800.png);}
    body[data-trans="white"] .header_box .mobile_btn_box .mobile_menu.search .mobile_menu_btn:before{background-position:left -40px;}
    body[data-trans="white"] .header_box .mobile_btn_box .mobile_menu.certi .mobile_menu_btn:before{background-position:-40px -40px;}
    body[data-trans="white"] .header_box .mobile_btn_box .mobile_menu.menu_show .mobile_menu_btn:before{background-position:-80px -40px;}
}
@media screen and (max-width:640px){
    .header_box:before{display:none;}
    body[data-layout-type="public-type"][data-trans="white"] .header_box .wrap .logo a .logo_icon{background-image:url(../../public/images/common/public_logo_360_v2.png);}
    body[data-trans="white"] .header_box .wrap .logo a span{color:#000;}
    body[data-layout-type="public-type"][data-trans="white"] .header_box .mobile_btn_box{background-image:url(../images/main/public_header_info_360.png);}
    body[data-trans="white"] .header_box .mobile_btn_box .mobile_menu.search .mobile_menu_btn:before{background-position:left -80px;}
    body[data-trans="white"] .header_box .mobile_btn_box .mobile_menu.certi .mobile_menu_btn:before{background-position:-40px -80px;}
    body[data-trans="white"] .header_box .mobile_btn_box .mobile_menu.menu_show .mobile_menu_btn:before{background-position:-80px -80px;}
}
/* 횡성 열린군수실 메인 상단깨기 끝 */


/* 횡성 열린군수실 메인 컨테이너, 푸터 시작 */

/* 횡성 열린군수실 메인 컨테이너, 푸터 끝 */


/* rowgroup1(오늘의 일정 영역) 시작 */
.rowgroup1{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.mayor_today{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.mayor_today .mayor_today_wrap{display:block;position:relative;width:100%;min-height:907px;padding:0 calc((100% - 1650px) / 2);background-color:#f1f1f1;font-size:0;line-height:0;box-sizing:border-box;}
/* rowgroup1(오늘의 일정 영역) 끝 */