@charset "UTF-8";

/* PretendardGOV */
@font-face{
    font-family:'PretendardGOV';
    font-weight:100;
    src:url("../font/PretendardGOV-Thin.woff2") format('woff2'),
    url("../font/PretendardGOV-Thin.woff") format('woff');
}
@font-face{
    font-family:'PretendardGOV';
    font-weight:200;
    src:url("../font/PretendardGOV-Light.woff2") format('woff2'),
    url("../font/PretendardGOV-Light.woff") format('woff');
}
@font-face{
    font-family:'PretendardGOV';
    font-weight:300;
    src:url("../font/PretendardGOV-ExtraLight.woff2") format('woff2'),
    url("../font/PretendardGOV-ExtraLight.woff") format('woff');
}
@font-face{
    font-family:'PretendardGOV';
    font-weight:400;
    src:url("../font/PretendardGOV-Regular.woff2") format('woff2'),
    url("../font/PretendardGOV-Regular.woff") format('woff');
}
@font-face{
    font-family:'PretendardGOV';
    font-weight:500;
    src:url("../font/PretendardGOV-Medium.woff2") format('woff2'),
    url("../font/PretendardGOV-Medium.woff") format('woff');
}
@font-face{
    font-family:'PretendardGOV';
    font-weight:600;
    src:url("../font/PretendardGOV-Bold.woff2") format('woff2'),
    url("../font/PretendardGOV-Bold.woff") format('woff');
}
@font-face{
    font-family:'PretendardGOV';
    font-weight:700;
    src:url("../font/PretendardGOV-SemiBold.woff2") format('woff2'),
    url("../font/PretendardGOV-SemiBold.woff") format('woff');
}
@font-face{
    font-family:'PretendardGOV';
    font-weight:800;
    src:url("../font/PretendardGOV-ExtraBold.woff2") format('woff2'),
    url("../font/PretendardGOV-ExtraBold.woff") format('woff');
}