@charset "utf-8";

/* S */
#header{display:block;position:fixed;z-index:1;top:0;left:0;width:100%;height:80px;background-color:#f0f;box-sizing:border-box;opacity:0.3;}
@media all and (min-height:501px) and (min-width:1601px){

}

.fullpage_navi{display:block;position:fixed;z-index:1;top:50%;transform:translateY(-50%);right:3%;box-sizing:border-box;}
.fullpage_navi ul li a span{color:#fff;}
.fullpage_navi ul li.active a span{color:#f0f;}

.rowgroup{display:block;width:100%;height:100vh;box-sizing:border-box;}
.rowgroup1{background-color:rgba(0, 0, 0, 0.8);}
.rowgroup2{background-color:rgba(0, 0, 0, 0.7);}
.rowgroup3{background-color:rgba(0, 0, 0, 0.6);}
.rowgroup4{background-color:rgba(0, 0, 0, 0.5);}
.rowgroup .fullpage_inner{display:block;position:relative;width:90%;margin:0 auto;background-color:#000;box-sizing:border-box;}
@media all and (min-height:501px) and (min-width:1601px){
    .rowgroup .fullpage_inner{top:50%;transform:translateY(-50%);}
}
.rowgroup1 .fullpage_inner{min-height:100px;}
.rowgroup2 .fullpage_inner{min-height:200px;}
.rowgroup3 .fullpage_inner{min-height:350px;}
.rowgroup4 .fullpage_inner{min-height:500px;}

#footer{display:block;width:100%;height:300px !important;background-color:#800080;}
/* E */