@charset "utf-8";

.weatherbox{display:none;}
.header_box .wrap .logo a .logo_text{line-height:28px;}
@media all and (min-width:1401px){
    #lnb .nav .depth1 .depth1_list{width:720px;}
    #lnb .nav .depth1 .depth1_list .depth1_item{width:25%;}
}
@media all and (min-width:1001px) and (max-width:1400px){
    .header_box .wrap .logo a .logo_text{font-size:18px;text-align:left;}
    #lnb .nav .depth1 .depth1_list{width:630px;}
    #lnb .nav .depth1 .depth1_list .depth1_item{width:25%;}
    #lnb .nav .depth1 .depth1_list .depth1_item .depth1_text{padding:44px 0 40px;font-size:17px;letter-spacing:-0.04em;}
    #lnb .nav .depth1 .depth1_list .depth1_item .depth1_text span{word-break:keep-all;}
}
@media all and (max-width:1000px){
    .header_box .wrap .logo a .logo_text{line-height:20px;}
}a