/* AI > 야생철새 농가방역실시 요령 */
.cts3944_wrap .box_dot {padding:10px 40px;}
.cts3944_wrap .box_dot .item{position:relative; height: 160px; padding:50px 30px 50px 150px;}
.cts3944_wrap .box_dot .item:before {display: block; position: absolute; width: 101px; height: 101px; background: url('/site/fmd/images/contents/cts3944_sprite_icon.png')no-repeat 0 0; top:calc(50% - 50px); left:20px;}
.cts3944_wrap .box_dot .item:nth-child(2):before {background-position-y:-160px;}
.cts3944_wrap .box_dot .item:nth-child(3):before {background-position-y:-320px;}
.cts3944_wrap .box_dot .item:nth-child(4):before {background-position-y:-480px;}
.cts3944_wrap .box_dot .item:nth-child(5):before {background-position-y:-640px;}
.cts3944_wrap .box_dot .item:nth-child(6):before {background-position-y:-800px;}
.cts3944_wrap .box_dot .item:nth-child(7):before {background-position-y:-960px;}
.cts3944_wrap .box_dot .item:nth-child(8):before {background-position-y:-1120px;}
.cts3944_wrap .box_dot .item:after {display: block; position: absolute; width:100%; height: 1px; background-color: #e9e9e9; bottom:0; left:0;}
.cts3944_wrap .box_dot .item:last-child:after {display: none;}
.cts3944_wrap .box_dot .item.line_one .tit{margin-top:17px;}
.cts3944_wrap .box_dot .item .tit {font-size: 20px; font-weight:400; line-height: 26px; letter-spacing: -0.03em; color:#222222;}
.cts3944_wrap .box_dot .item .txt {margin-top:8px; font-size: 16px; line-height: 25px; letter-spacing: -0.03em; color:#444444;}

@media all and (max-width: 1400px) {
    .cts3944_wrap .box_dot .item.line_one .tit{margin-top:0;}
}
@media all and (max-width: 640px) {
    .cts3944_wrap .box_dot {padding:10px 20px;}
    .cts3944_wrap .box_dot .item {height: auto; padding:40px 10px 40px 110px;}
    .cts3944_wrap .box_dot .item:before {left:10px; background-size:80%; background-position-y:9px;}
    .cts3944_wrap .box_dot .item:nth-child(2):before {background-position-y:-119px;}
    .cts3944_wrap .box_dot .item:nth-child(3):before {background-position-y:-247px;}
    .cts3944_wrap .box_dot .item:nth-child(4):before {background-position-y:-375px;}
    .cts3944_wrap .box_dot .item:nth-child(5):before {background-position-y:-502px;}
    .cts3944_wrap .box_dot .item:nth-child(6):before {background-position-y:-629px;}
    .cts3944_wrap .box_dot .item:nth-child(7):before {background-position-y:-758px;}
    .cts3944_wrap .box_dot .item:nth-child(8):before {background-position-y:-887px;}
    .cts3944_wrap .box_dot .item .tit {font-size: 18px;}
    .cts3944_wrap .box_dot .item .txt {font-size: 14px;}
}
/* AI > AI 대책 Q&A 3942,3916,3938 공통디자인 */
.top_img_box {position:relative; margin-bottom:40px;}
.top_img_box:before {z-index:-1; display: block; position: absolute; top:0; left:0; width: 100%; height: 198px; background-color: #f8f8fa;}
.top_img_box:after {z-index:-1; display: block; position: absolute; bottom:80px; left:0; width: 100%; height: 1px; background-color: #dedfe1;}
.top_img_box .inner {overflow: hidden; padding: 50px 50px 30px 70px;}
.top_img_box .title {display: inline-block; margin-top:18px;}
.top_img_box .title > p {word-break:keep-all; font-size: 42px; line-height: 55px; letter-spacing: -0.03em; color:#363f4d; }
.top_img_box .title .sub_txt {display:inline-block; position: relative; margin-bottom:16px; padding-left:27px; font-size: 22px; font-weight: 400; line-height: 29px; color:#06895f;}
.top_img_box .title .sub_txt:before {display: block; position: absolute; width: 22px; height: 22px; background: url('/site/fmd/images/contents/cts3916_icon.png')no-repeat; top:4px; left:0;}
.top_img_box .title .sub_txt:after {display: block; position: absolute; width:100%; height: 1px; background-color: #06895f; bottom:0; left:0;}
.top_img_box .title .em_b_point {font-weight: 600;}
.top_img_box .img_area {float: right; border-radius: 20px; box-shadow: 5px 9px 22px 0px rgba(0, 0, 0, 0.2); }

.ask_list_box {margin-bottom:40px; }
.ask_list_box .icon {width:41px; height: 41px; margin:0 20px 0 3px; border-radius: 50%;  text-align: center; color:#fff; font-size: 18px; line-height: 41px; letter-spacing: -0.03em; font-weight: 600; vertical-align:middle;}
.ask_list_box .q_area {margin-bottom:10px;}
.ask_list_box .q_area .icon{display:inline-block; background-color: #fa5b6e;}
.ask_list_box .q_area .q_txt{display:inline-block; width:calc(100% - 68px); color:#fa5b6e; font-size: 20px; line-height: 22px; letter-spacing: -0.03em; font-weight: 400; vertical-align:middle;}
.ask_list_box .a_area .icon{display:inline-block; background-color: #5c6065;}
.ask_list_box .a_area .a_txt{display:inline-block; width:calc(100% - 68px); margin-top:8px; color:#444444; font-size: 16px; line-height: 25px; letter-spacing: -0.03em; vertical-align:top;}
.ask_list_box .line {margin:35px 0;}

@media all and (max-width: 1400px) {
    .top_img_box .inner {padding:50px 30px; text-align: center;}
    .top_img_box .title {margin-top:0;}
    .top_img_box .title > p br {display: none;}
    .top_img_box .img_area {float: none; display: inline-block; margin-top:20px;}
}
@media all and (max-width: 640px) {
    .top_img_box .inner {padding:5%;}
    .ask_list_box .icon {vertical-align: top;}
    .top_img_box .title > p {font-size: 35px; line-height: 40px;}
    .top_img_box .img_area {box-shadow: none;}

    .ask_list_box .q_area .q_txt {font-size: 18px;}
    .ask_list_box .q_area .a_txt {font-size: 14px;}
}



























