/*테이블 패딩값 조절*/
.table.t_pad tbody td {padding:14px 10px;}

/* ASF > ASF 알아보기 > 아프리카돼지열병(ASF)이란? */
.cts3915_wrap .origin_box{display:block;width:100%;padding:50px 39px 39px 40px;border:1px solid #06895f;box-sizing:border-box;}
.cts3915_wrap .origin_box .origin_item{display:block;position:relative;width:100%;margin-top:38px;padding-bottom:26px;font-size:0;line-height:0;box-sizing:border-box;}
.cts3915_wrap .origin_box .origin_item:before{display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAEElEQVQImWPYtGnTfwYoAAAf9gMWnVCEYgAAAABJRU5ErkJggg==) left top;content:'';}
.cts3915_wrap .origin_box .origin_item:first-child{margin-top:0;}
.cts3915_wrap .origin_box .origin_item:last-child{padding-bottom:0;}
.cts3915_wrap .origin_box .origin_item:last-child:before{display:none;}
.cts3915_wrap .origin_box .origin_item .year_title{display:inline-block;position:relative;width:136px;padding-left:5px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.cts3915_wrap .origin_box .origin_item .year_title:before{display:block;position:absolute;z-index:1;top:-10px;left:0;width:29px;height:29px;background-color:#e6f9eb;border-radius:29px;content:'';}
.cts3915_wrap .origin_box .origin_item .year_title span{display:inline-block;width:100%;font-size:26px;color:#026447;line-height:30px;letter-spacing:-0.03em;font-weight:400;font-family:'Lato','NotoKr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;vertical-align:top;box-sizing:border-box;}
.cts3915_wrap .origin_box .origin_item .year_title .title1{position:relative;z-index:2;padding-left:9px;}
.cts3915_wrap .origin_box .origin_item .year_title .title2{position:relative;z-index:2;padding-left:35px;}
.cts3915_wrap .origin_box .origin_item .year_title .title2:before{display:block;position:absolute;top:16px;left:0;width:19px;height:1px;background-color:#026447;content:'';}
.cts3915_wrap .origin_box .origin_item .year_title .title2.type2{padding-left:56px;font-size:24px;}
.cts3915_wrap .origin_box .origin_item .year_title .title2.type2:before{width:39px;}
.cts3915_wrap .origin_box .origin_item .year_desc{display:inline-block;font-size:16px;color:#444;line-height:30px;letter-spacing:-0.03em;vertical-align:top;box-sizing:border-box;}
.cts3915_wrap .origin_box .origin_item.type2 .year_desc{line-height:60px;}
.cts3915_wrap .origin_box .origin_item.type3{padding-right:189px;padding-bottom:94px;}
.cts3915_wrap .origin_box .origin_item.type3 .year_desc{padding-top:5px;line-height:25px;}
.cts3915_wrap .origin_box .origin_item.type3 .year_desc .warning{margin-top:10px;}
.cts3915_wrap .origin_box .origin_item.type3 img{display:block;position:absolute;top:-8px;right:0;min-width:189px;min-height:163px;}
.cts3915_wrap .cause_box{display:block;width:100%;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAEElEQVQImWOYOXPmfwYoAAAcvQLLkzX8EwAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAEElEQVQImWNggIOZM2f+BwAGbwLL9DastQAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAEElEQVQImWNggIOZM2f+BwAGbwLL9DastQAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAEElEQVQImWOYOXPmfwYoAAAcvQLLkzX8EwAAAABJRU5ErkJggg==);background-repeat:repeat-x, repeat-y, repeat-y, repeat-x;background-position:left bottom, right top, left top, left top;box-sizing:border-box;}
.cts3915_wrap .cause_box .cause_box_wrap{display:block;width:100%;padding:38px 45px 75px 39px;box-sizing:border-box;}
.cts3915_wrap .cause_box .cause_box_wrap .title{display:block;font-size:18px;color:#026447;line-height:22px;font-weight:400;text-decoration:underline;}
.cts3915_wrap .cause_box .cause_box_wrap .desc_box{display:block;width:100%;margin-top:61px;padding-left:7px;font-size:0;line-height:0;text-align:center;box-sizing:border-box;}
.cts3915_wrap .cause_box .cause_box_wrap .desc_box .desc_title{display:inline-block;width:160px;margin-bottom:12px;background-color:#fa5b6e;border-radius:18px;font-size:17px;color:#fff;line-height:40px;letter-spacing:0.02em;vertical-align:top;}
.cts3915_wrap .cause_box .cause_box_wrap .desc_box .desc_sub_title{display:inline-block;width:100%;margin-bottom:54px;font-size:30px;color:#747983;line-height:30px;letter-spacing:0;}
.cts3915_wrap .cause_box .cause_box_wrap .desc_box .desc_sub_title em{color:#f23737;}
.cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box{display:block;position:relative;width:100%;box-sizing:border-box;}
.cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .cause_list{display:block;width:100%;box-sizing:border-box;}
.cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .cause_list .cause_item{display:block;width:calc((100% - 113px) / 2);height:80px;margin-top:16px;background-color:#f9f9fb;border-radius:38px;font-size:0;line-height:80px;box-sizing:border-box;}
.cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .cause_list .cause_item:nth-child(2n-1){float:left;}
.cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .cause_list .cause_item:nth-child(2n){float:right;}
.cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .cause_list .cause_item .text{display:inline-block;width:100%;font-size:17px;color:#363f4d;line-height:26px;letter-spacing:-0.11em;font-weight:400;vertical-align:middle;}
.cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .cause_list .cause_item .text em{font-size:15px;font-weight:200;}
.cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .img_box{display:block;position:absolute;top:0;left:calc(50% - 143px);width:287px;height:316px;}

@media all and (max-width:1400px){
    .cts3915_wrap .origin_box{padding:30px;}
    .cts3915_wrap .origin_box .origin_item{padding-bottom:15px;}
    .cts3915_wrap .origin_box .origin_item.type3{padding-bottom:60px;}
    .cts3915_wrap .origin_box .origin_item .year_title{display:block;width:100%;}
    .cts3915_wrap .origin_box .origin_item .year_title .title1{display:inline-block;width:auto;padding-left:0;vertical-align:top;}
    .cts3915_wrap .origin_box .origin_item .year_title .title2{display:inline-block;width:auto;padding-left:20px;vertical-align:top;}
    .cts3915_wrap .origin_box .origin_item .year_title .title2:before{left:5px;width:10px;}
    .cts3915_wrap .origin_box .origin_item .year_title .title2.type2{padding-left:20px;}
    .cts3915_wrap .origin_box .origin_item .year_title .title2.type2:before{left:5px;width:10px;}
    .cts3915_wrap .origin_box .origin_item .year_desc{display:block;width:100%;line-height:24px;word-break:keep-all;}
    .cts3915_wrap .origin_box .origin_item .year_desc br{display:none;}
    .cts3915_wrap .origin_box .origin_item.type2 .year_desc{line-height:24px;}
    .cts3915_wrap .origin_box .origin_item.type3 img{top:0;}
    .cts3915_wrap .cause_box .cause_box_wrap{padding:30px;text-align:center;}
    .cts3915_wrap .cause_box .cause_box_wrap .title{display:inline-block;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box{margin-top:20px;padding-left:0;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .desc_sub_title{margin-bottom:30px;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box{padding-top:150px;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .img_box{top:-20px;left:calc(50% - 100px);width:200px;height:200px;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .cause_list .cause_item{width:49%;}
}
@media all and (max-width:1000px){
    .cts3915_wrap .origin_box .origin_item.type3{padding-right:200px;padding-bottom:80px;}
}
@media all and (max-width:800px){
    .cts3915_wrap .origin_box .origin_item{margin-top:20px;}
    .cts3915_wrap .origin_box .origin_item .year_title span{font-size:23px;}
    .cts3915_wrap .origin_box .origin_item .year_desc{font-size:15px;}
    .cts3915_wrap .origin_box .origin_item.type3 .year_desc .warning{font-size:15px;}
    .cts3915_wrap .cause_box .cause_box_wrap .title{font-size:17px;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .desc_title{font-size:16px;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .desc_sub_title{font-size:26px;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .img_box{left:calc(50% - 90px);width:180px;height:180px;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .cause_list .cause_item .text{font-size:16px;}
}
@media all and (max-width:640px){
    .cts3915_wrap .origin_box .origin_item .year_title span{font-size:20px;}
    .cts3915_wrap .origin_box .origin_item .year_title .title2.type2{font-size:20px;}
    .cts3915_wrap .origin_box .origin_item.type3{padding-right:0;padding-bottom:15px;}
    .cts3915_wrap .origin_box .origin_item.type3 img{position:static;width:189px;margin:10px auto 0;}

    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .desc_sub_title{font-size:19px;word-break:keep-all;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .cause_list .cause_item{height:60px;line-height:60px;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .cause_list .cause_item:first-child{margin-top:0;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .cause_list .cause_item:nth-child(2n-1){float:none;width:100%;}
    .cts3915_wrap .cause_box .cause_box_wrap .desc_box .list_box .cause_list .cause_item:nth-child(2n){float:none;width:100%;}
}

/* ASF > ASF 차단방역 행동수칙 > 국민행동요령 , 가축질병 국민예방 수칙 */
.fmd_bg .deco_box{display:block;position:relative;width:100%;padding-top:47px;padding-right:547px;padding-left:50px;box-sizing:border-box;}
.fmd_bg .deco_box:before{display:block;position:absolute;top:0;right:30px;width:565px;height:306px;background:url(../images/contents/cts3918_img01.png) no-repeat left top;content:'';}
.fmd_bg.cts3923_wrap .deco_box:before{display:block;position:absolute;top:0;right:30px;width:565px;height:306px;background:url(../images/contents/cts3923_img01.png) no-repeat left top;content:'';}
.fmd_bg .deco_box .title{display:block;width:100%;margin-bottom:23px;font-size:0;line-height:0;box-sizing:border-box;}
.fmd_bg .deco_box .title span{display:inline-block;width:100%;font-size:46px;line-height:53px;letter-spacing:-0.03em;font-weight:600;vertical-align:top;box-sizing:border-box;}
.fmd_bg .deco_box .title span.blue{color:#3f63bf;}
.fmd_bg .deco_box .title span.dark{color:#363f4d;}
.fmd_bg .deco_box .title span.red{color:#fa5b6e;}
.fmd_bg .deco_box .title span.red em{color:#363f4d;}
.fmd_bg .deco_box .desc{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.fmd_bg .deco_box .desc span{display:inline-block;font-size:18px;line-height:26px;font-weight:600;}
.fmd_bg .deco_box .desc .desc1{color:#363f4d;letter-spacing:-0.03em;}
.fmd_bg .deco_box .desc .desc2{position:relative;margin-left:9px;padding-left:29px;color:#06895f;letter-spacing:0;font-weight:400;font-family:'Lato','NotoKr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
.fmd_bg .deco_box .desc .desc2:before{display:block;position:absolute;top:1px;left:0;width:24px;height:24px;background:url(../images/contents/cts3918_phone_icon.png) no-repeat left top;content:'';}
.fmd_bg .deco_box .desc .desc3{display:block;margin-bottom:19px;font-size:18px;color:#363f4d;line-height:38px;letter-spacing:-0.03em;box-sizing:border-box;}
@media all and (min-width:1401px){
    .fmd_bg.cts3923_wrap .deco_box .desc .desc3{line-height:26px;}
}
.fmd_bg .deco_box .desc .desc3 em{color:#f23737;font-weight:600;}
.fmd_bg .deco_box .desc .icon_btn{margin:0;}
@media all and (max-width:1400px){
    .fmd_bg .deco_box{padding:306px 0 0;}
    .fmd_bg .deco_box:before{right:calc(50% - 282px);}
    .fmd_bg.cts3923_wrap .deco_box:before{right:calc(50% - 282px);}
    .fmd_bg .deco_box .title{text-align:center;}
    .fmd_bg .deco_box .desc{text-align:center;}
}
@media all and (max-width:1000px){
    .fmd_bg .deco_box{padding-top:200px;}
    .fmd_bg .deco_box:before{right:calc(50% - 175px);width:350px;height:200px;background-size:350px auto;}
    .fmd_bg.cts3923_wrap .deco_box:before{right:calc(50% - 175px);width:350px;height:200px;background-size:350px auto;}
    .fmd_bg .deco_box .title{margin-bottom:10px;}
    .fmd_bg .deco_box .title span{font-size:30px;line-height:36px;}
    .fmd_bg .deco_box .desc span{font-size:17px;}
    .fmd_bg .deco_box .desc .desc3{margin-bottom:10px;font-size:17px;}
}
@media all and (max-width:640px){
    .fmd_bg .deco_box{padding-top:180px;}
    .fmd_bg .deco_box:before{right:calc(50% - 160px);width:320px;height:200px;background-size:320px auto;}
    .fmd_bg.cts3923_wrap .deco_box:before{right:calc(50% - 160px);width:320px;height:200px;background-size:320px auto;}
    .fmd_bg .deco_box .title span{font-size:26px;line-height:30px;}
    .fmd_bg .deco_box .desc span{font-size:16px;}
    .fmd_bg .deco_box .desc .desc3{font-size:16px;line-height:26px;}
}

/* AI > 야생철새 농가방역실시 요령 */
.cts3944_wrap .box .box_title{margin-bottom:0;}
.cts3944_wrap .dot_box{display:block;width:100%;margin-top:30px;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAEElEQVQImWOYOXPmfwYoAAAcvQLLkzX8EwAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAEElEQVQImWNggIOZM2f+BwAGbwLL9DastQAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAEElEQVQImWNggIOZM2f+BwAGbwLL9DastQAAAABJRU5ErkJggg==), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAEElEQVQImWOYOXPmfwYoAAAcvQLLkzX8EwAAAABJRU5ErkJggg==);background-repeat:repeat-x, repeat-y, repeat-y, repeat-x;background-position:left bottom, right top, left top, left top;box-sizing:border-box;}
.cts3944_wrap .dot_box .dot_box_wrap{display:block;width:100%;padding:39px 38px 40px 40px;box-sizing:border-box;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list{display:block;width:100%;box-sizing:border-box;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item{display:block;position:relative;width:100%;min-height:101px;margin-top:29px;padding-top:24px;padding-bottom:51px;padding-left:149px;box-sizing:border-box;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:before{display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#e9e9e9;content:'';}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:last-child{padding-bottom:0;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:last-child:before{display:none;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:after{display:block;position:absolute;top:0;left:0;width:101px;height:101px;background:url(../images/contents/cts3944_icon.png) no-repeat;content:'';}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:first-child{margin-top:0;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:nth-child(2):after{background-position:-101px top;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:nth-child(3):after{background-position:-202px top;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:nth-child(4):after{background-position:-303px top;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:nth-child(5):after{background-position:-404px top;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:nth-child(6):after{background-position:-505px top;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:nth-child(7):after{background-position:-606px top;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:nth-child(8):after{background-position:-707px top;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item .ai_box{min-height:56px;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item .ai_box .title{display:block;width:100%;margin-bottom:8px;font-size:20px;color:#222;line-height:26px;letter-spacing:-0.03em;font-weight:400;box-sizing:border-box;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item.type2 .ai_box .title{margin-bottom:0;line-height:56px;}
.cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item .ai_box .desc{display:block;width:100%;font-size:16px;color:#444;line-height:22px;letter-spacing:-0.03em;box-sizing:border-box;}
@media all and (max-width:1400px){
    .cts3944_wrap .dot_box .dot_box_wrap{padding:30px;}
    .cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item{padding-top:10px;}
    .cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item .ai_box .title{line-height:28px;}
    .cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item.type2 .ai_box .title{line-height:28px;}
}
@media all and (max-width:1000px){
    .cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item .ai_box .title{margin-bottom:5px;word-break:keep-all;}
}
@media all and (max-width:640px){
    .cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item{padding:110px 0 3%;text-align:center;}
    .cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item:after{left:calc(50% - 50px);}
    .cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item .ai_box{min-height:auto;}
    .cts3944_wrap .dot_box .dot_box_wrap .ai_list .ai_item .ai_box .title{font-size:17px;line-height:26px;}
}