@charset "UTF-8";

@font-face{font-family:'Nanum BP';src:url("../../../common/font/NanumBarunpen-Bold.eot");src:url("../../../common/font/NanumBarunpen-Bold.eot?#iefix") format('embedded-opentype'),
url("../../../common/font/NanumBarunpen-Bold.woff") format('woff'),
url("../../../common/font/NanumBarunpen-Bold.ttf") format('truetype');}

@font-face{font-family:'SeoulNS';src:url("../../../common/font/SeoulNamsanB.eot");src:url("../../../common/font/SeoulNamsanB.eot?#iefix") format('embedded-opentype'),
url("../../../common/font/SeoulNamsanB.woff") format('woff'),
url("../../../common/font/SeoulNamsanB.ttf") format('truetype');}

/* 본고딕 */
/* 2021.09. 신규업로드 200-light, 400-regular, 600-bold */
@font-face{
	font-family: 'NotoKr';
	font-weight: 200;
	src: url("../font/noto-sans-kr-v13-latin_korean-300.woff2") format('woff2'),
	url("../font/noto-sans-kr-v13-latin_korean-300.woff") format('woff');
}
@font-face{
	font-family: 'NotoKr';
	font-weight: 400;
	src: url("../font/noto-sans-kr-v13-latin_korean-regular.woff2") format('woff2'),
	url("../font/noto-sans-kr-v13-latin_korean-regular.woff") format('woff');
}
@font-face{
	font-family: 'NotoKr';
	font-weight: 500;
	src: url("../font/noto-sans-kr-v13-latin_korean-500.woff2") format('woff2'),
	url("../font/noto-sans-kr-v13-latin_korean-500.woff") format('woff');
}
@font-face{
	font-family: 'NotoKr';
	font-weight: 600;
	src: url("../font/noto-sans-kr-v13-latin_korean-700.woff2") format('woff2'),
	url("../font/noto-sans-kr-v13-latin_korean-700.woff") format('woff');
}