@charset "utf-8";

/* default setting */
body{position:relative;font-size:16px;color:#fff;line-height:24px;letter-spacing:-0.03em;font-weight:400;font-family:'Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
a:link{color:#fff;text-decoration:none;}
a:visited{color:#fff;text-decoration:none;}
a:hover{color:#fff;text-decoration:underline;}
a:active{color:#fff;text-decoration:underline;}
a span{cursor:pointer;}
button{cursor:pointer;font-family:'Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input{font-family:'Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input[type="submit"]{cursor:pointer;}

/* #wrapper, .wrap area */
#wrapper{position:relative;min-width:1600px;overflow:hidden;}
.wrap{position:relative;width:1600px;margin:0 auto;}
.skip{overflow:hidden;}
@media all and (max-width:1600px){
    #wrapper{min-width:1000px;}
    .wrap{width:1000px;}
}
@media all and (max-width:1000px){
    #wrapper{min-width:0;}
    .wrap{width:94%;}
}