@charset "utf-8";

/* (주)한신정보기술 박남규 - 2023.04 */

/* IE and Edge */
body{-ms-overflow-style:none;}
/* Firefox */
body{scrollbar-width:none;}
/* Chrome, Safari, Opera*/
body::-webkit-scrollbar{display:none;}

/* header */
#header{display:block;position:fixed;z-index:2;top:0;left:0;width:100%;padding:1vw 0;background-color:rgba(29, 167, 220, 0.5);font-size:2vw;color:#fff;line-height:1em;font-weight:600;box-sizing:border-box;text-align:center;transition-property:background-color, text-shadow;transition-duration:250ms;transition-timing-function:ease-in-out;}
html[data-ctr="off"] #header{position:relative;}
html[data-idx="1"] #header{background-color:rgba(12, 60, 48, 0.5);text-shadow:0px 0px 10px rgba(12, 60, 48, 1);}
html[data-idx="2"] #header{background-color:rgba(220, 191, 29, 0.5);text-shadow:0px 0px 10px rgba(220, 191, 29, 1);}
html[data-idx="3"] #header{background-color:rgba(220, 29, 99, 0.5);text-shadow:0px 0px 10px rgba(220, 29, 99, 1);}
html[data-idx="4"] #header{background-color:rgba(4, 27, 38, 0.5);text-shadow:0px 0px 10px rgba(4, 27, 38, 1);}

/* container */
.fixed_dots_wrap{display:block;position:fixed;z-index:1;top:10vw;left:0;width:100%;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
html[data-ctr="off"] .fixed_dots_wrap{display:none;}
.fixed_dots_wrap .fixed_dots{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.fixed_dots_wrap .fixed_dots ul{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.fixed_dots_wrap .fixed_dots ul li{display:inline-block;position:relative;width:20vw;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.fixed_dots_wrap .fixed_dots ul li + li{margin-left:1vw;}
.fixed_dots_wrap .fixed_dots ul li a{display:inline-block;position:relative;width:100%;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.fixed_dots_wrap .fixed_dots ul li a span{display:inline-block;width:100%;font-size:2vw;color:rgba(12, 60, 48, 1);line-height:1em;font-weight:600;text-shadow:0px 0px 10px rgba(20, 212, 194, 0.8);vertical-align:top;box-sizing:border-box;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.fixed_dots_wrap .fixed_dots ul li[data-active="on"] a span{color:#fff;}

.full_wrap{display:block;position:relative;width:100%;box-sizing:border-box;}
.full_wrap .full_group{display:block;position:relative;width:100%;height:100vh;box-sizing:border-box;text-align:center;}
.full_wrap .full_group.rowgroup01{background-color:rgba(12, 60, 48, 0.3);}
.full_wrap .full_group.rowgroup02{background-color:rgba(12, 60, 48, 0.4);}
.full_wrap .full_group.rowgroup03{background-color:rgba(12, 60, 48, 0.5);}
.full_wrap .full_group.rowgroup04{background-color:rgba(12, 60, 48, 0.6);}
.full_wrap .full_group span{display:inline-block;position:relative;top:50%;transform:translateY(-50%);font-size:10vw;color:#fff;line-height:1em;text-shadow:10px 10px 10px rgba(12, 60, 48, 0.8);box-sizing:border-box;}

/* footer */
#footer{display:block;position:relative;width:100%;height:200px;background-color:#000;box-sizing:border-box;}
