/* 태양광산업 R&D클러스터 */
.rdc .map {width:100%;height:823px;padding:25px 2%;background:url(./../images/contents/map.jpg) left top no-repeat;background-size:cover;}
.rdc .tap {display:inline-block;width:100%;text-align:center;}
.rdc .tap li {float:left;width:23%;margin:0 1%;text-align:center;}
.rdc .tap li a {display:block;}
.rdc .tap li a:hover .txt_box {background:#555;}
.rdc .tap li img {width:100%;}
.rdc .tap li .txt_box {line-height:45px;text-align:center;background:#2e5789;color:#fff;font-size:14px;}
.rdc .tap li .lh {line-height:normal !important;}
.rdc .tap li + li + li + li + li {margin-top:320px;}
.rdc .tap li.lh .txt_box {padding:3px 0 2px;line-height:normal;}
.rdc .tap .img_box {padding:0;border:0;display:block;}

@media only screen and (max-width:767px){
    .rdc .map {height:auto;padding:0;background:none;}
    .rdc .tap li {width:49%;margin:0 0.5% 1% 0.5%;text-align:center;}
    .rdc .tap li + li + li + li + li {margin-top:0;}
}


/* 충북태양광산업특구 > 미래에너지 태양광 > 신재생에너지 */
.cts1685_wrap .box.point .bu > li > ul > li > ul > li{display:inline-block;margin-right:5px;vertical-align:top;}
.cts1685_wrap .box.point .bu > li > ul > li > ul > li:last-child{margin-right:0;}
