@charset "UTF-8";

/* (주)한신정보기술 박남규 - 2023.08 */

/* 열린시장실 header 시작 */
#header .menu.eachdown .depth1_list .depth1_item .depth1_text .depth1_sub_text{display:none;}
body#main.main #header .header_box:before{background-color:transparent;}
@media screen and (min-width:1001px){
    .lnb_open body#main.main #header .header_box:before{background-color:#cccfd5;}
    #header .menu.eachdown .depth1_list .depth1_item{min-width:0;margin-left:60px;}
    #header .menu.eachdown .depth1_list .depth1_item:first-child{margin-left:0;}
    #header .menu.eachdown .depth1_list .depth1_item .depth1_text{padding-top:32px;font-size:0;line-height:0;text-align:left;}
    #header .menu.eachdown .depth1_list .depth1_item .depth1_text .depth1_sub_text{display:block;font-size:15px;line-height:20px;font-weight:400;}
    #header .menu.eachdown .depth1_list .depth1_item .depth1_text span{display:inline-block;position:static;padding-bottom:32px;font-size:20px;line-height:25px;font-weight:600;vertical-align:top;}
    #header .menu.eachdown .depth1_list .depth1_item .depth1_text .depth1_sub_text + span{margin-top:1px;}
}
@media screen and (min-width:1001px) and (max-width:1200px){
    #header .menu.eachdown .depth1_list .depth1_item{margin-left:30px;}
    #header .menu.eachdown .depth1_list .depth1_item .depth1_text{padding-top:22px;}
    #header .menu.eachdown .depth1_list .depth1_item .depth1_text .depth1_sub_text{font-size:13px;}
    #header .menu.eachdown .depth1_list .depth1_item .depth1_text span{padding-bottom:22px;font-size:18px;}
}
/* 열린시장실 header 끝 */

/* 열린시장실 footer 시작 */
#footer{background-color:#000a1c;}
#footer .footer_banner{border-top:none;}
#footer .footer_banner .slide_control .banner_btn{background:url(../images/common/banner_arrow.png) no-repeat -1px -1px;}
#footer .footer_banner .banner_list .banner_item a{color:#fff;}
#footer .footer_address .footer_link .link_item a{color:#fff;}
#footer .footer_address .footer_link .link_item.point_link a{color:#f39800;}
#footer .footer_address .footer_link .link_item.point_link a:before{background-image:url(../images/common/footer_icon.png);}
#footer .footer_address .footer_info{color:#fff;}
#footer .up{position:absolute;}
/* 열린시장실 footer 끝 */