@charset "UTF-8";

/* (주)한신정보기술 박남규 - 2022.01 */

@media all and (min-width:1401px){
    #header .lnb .menu .depth1_item:nth-child(1){width:26%;}
    #header .lnb .menu .depth1_item:nth-child(2){width:18%;}
    #header .lnb .menu .depth1_item:nth-child(3){width:14%;}
    #header .lnb .menu .depth1_item:nth-child(4){width:14%;}
    #header .lnb .menu .depth1_item:nth-child(5){width:14%;}
    #header .lnb .menu .depth1_item:nth-child(6){width:14%;}
    #header .lnb .menu .depth1_text{padding-right:10px;padding-left:10px;text-align:center;}
}
@media all and (min-width:1001px) and (max-width:1400px){
    #header .lnb .menu .depth1_list{width:790px;}
}