@charset "UTF-8";

/*애터미*/
@font-face{
    font-family: 'Atomy';
    font-weight: 200;
    src: url("../font/Atomy-Light.woff2") format('woff2'),
    url("../font/Atomy-Light.woff") format('woff');
}

@font-face{
    font-family: 'Atomy';
    font-weight: 400;
    src: url("../font/Atomy-Medium.woff2") format('woff2'),
    url("../font/Atomy-Medium.woff") format('woff');
}

@font-face{
    font-family: 'Atomy';
    font-weight: 600;
    src: url("../font/Atomy-Bold.woff2") format('woff2'),
    url("../font/Atomy-Bold.woff") format('woff');
}