@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.10 */

/* 상단깨기 */
@media screen and (min-width:1501px){
    .lnb .menu .depth1{padding-left:352px;}
    .lnb .menu .depth1 .depth1_list .depth1_item{margin-left:0;margin-right:60px;}
}
@media screen and (min-width:1301px) and (max-width:1500px){
    .lnb .menu .depth1{padding-left:275px;}
}
@media screen and (min-width:1001px) and (max-width:1500px){
    .lnb .menu .depth1{padding-right:calc(3% + 100px);}
    .lnb .menu .depth1 .depth1_list .depth1_item{margin-right:1.5vw;}
}

/* 하단깨기 */
@media screen and (min-width:1501px){
    .footer_box .footer_middle, .footer_box .footer_bottom{padding-left:324px;}
}
