@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.12 */

/* 횡성 군의회 전용 폰트 추가 시작 */
/* NotoKR */
@font-face{
    font-family:'NotoKR';
    font-weight:500;
    src:url("../font/NotoSansKR-Medium.woff2") format('woff2'),
    url("../font/NotoSansKR-Medium.woff") format('woff');
}
@font-face{
    font-family:'NotoKR';
    font-weight:400;
    src:url("../font/NotoSansKR-Regular.woff2") format('woff2'),
    url("../font/NotoSansKR-Regular.woff") format('woff');
}
@font-face{
    font-family:'NotoKR';
    font-weight:200;
    src:url("../font/NotoSansKR-Light.woff2") format('woff2'),
    url("../font/NotoSansKR-Light.woff") format('woff');
}
/* Nexen */
@font-face{
    font-family:'Nexen';
    font-weight:600;
    src:url("../font/NEXEN_B.woff2") format('woff2'),
    url("../font/NEXEN_B.woff2") format('woff');
}
@font-face{
    font-family:'Nexen';
    font-weight:400;
    src:url("../font/NEXEN_R.woff2") format('woff2'),
    url("../font/NEXEN_R.woff2") format('woff');
}
/* Montserrat */
@font-face{
    font-family:'Montserrat';
    font-weight:700;
    src:url("../font/Montserrat-SemiBold.woff2") format('woff2'),
    url("../font/Montserrat-SemiBold.woff") format('woff');
}
@font-face{
    font-family:'Montserrat';
    font-weight:400;
    src:url("../font/Montserrat-Regular.woff2") format('woff2'),
    url("../font/Montserrat-Regular.woff") format('woff');
}
/* Tmoney */
@font-face{
    font-family:'Tmoney';
    font-weight:800;
    src:url("../font/TmoneyRoundWindExtraBold.woff2") format('woff2'),
    url("../font/TmoneyRoundWindExtraBold.woff") format('woff');
}
/* 횡성 군의회 전용 폰트 추가 끝 */

/* 비주얼 영역 시작 */
.rowgroup1{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.visual{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.visual .visual_wrap{background-color:#f00;display:block;position:relative;width:100%;min-height:862px;padding:0 calc((100% - 1500px) / 2);font-size:0;line-height:0;box-sizing:border-box;}
.visual .visual_wrap .visual_deco{display:block;position:absolute;z-index:2;bottom:0;left:0;width:100%;height:234px;font-size:0;line-height:0;box-sizing:border-box;}
.visual .visual_wrap .visual_deco:before{display:block;position:absolute;top:0;left:0;width:1920px;height:100%;background-image:url(../images/main/visual_deco_bg.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;}
.visual .visual_wrap .visual_slide_wrap{}
.visual .visual_wrap .visual_slide_wrap .visual_slide_list{}
.visual .visual_wrap .visual_slide_wrap .visual_slide_list .slick-list{}
.visual .visual_wrap .visual_slide_wrap .visual_slide_list .slick-slide{}
.visual .visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item{}
.visual .visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item .visual_slide_inner{}
.visual .visual_wrap .visual_slide_wrap .visual_slide_control{}
.visual .visual_wrap .visual_slide_wrap .visual_slide_control button{}
.visual .visual_wrap .visual_slide_wrap .visual_slide_control button:before{}
.visual .visual_wrap .visual_slide_wrap .visual_slide_control .prev:before{}
.visual .visual_wrap .visual_slide_wrap .visual_slide_control .next:before{}
.visual .visual_wrap .visual_slide_wrap .visual_slide_control .auto.slick-play:before{}
.visual .visual_wrap .visual_slide_wrap .visual_slide_control .auto.slick-pause:before{}
/* 비주얼 영역 끝 */


/* 체험프로그램 영역 시작 */
.rowgroup2{display:block;position:relative;width:100%;margin-top:-36px;font-size:0;line-height:0;box-sizing:border-box;}
.play{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.play .play_wrap{display:block;position:relative;width:100%;min-height:668px;padding-left:calc((100% - 1500px) / 2);font-size:0;line-height:0;box-sizing:border-box;}
/* 체험프로그램 영역 끝 */