@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.11 */

/* 횡성여행 메인전용 폰트 시작 */
/* Trirong */
@font-face{
    font-family:'Trirong';
    font-weight:400;
    src:url("../font/Trirong-Regular.woff2") format('woff2'),
    url("../font/Trirong-Regular.woff") format('woff');
}
/* Mont */
@font-face{
    font-family:'Mont';
    font-weight:500;
    src:url("../font/Montserrat-SemiBold.woff2") format('woff2'),
    url("../font/Montserrat-SemiBold.woff") format('woff');
}
/* Hahmlet */
@font-face{
    font-family:'Hahmlet';
    font-weight:600;
    src:url("../font/Hahmlet-Bold.woff2") format('woff2'),
    url("../font/Hahmlet-Bold.woff") format('woff');
}
@font-face{
    font-family:'Hahmlet';
    font-weight:500;
    src:url("../font/Hahmlet-SemiBold.woff2") format('woff2'),
    url("../font/Hahmlet-SemiBold.woff") format('woff');
}
@font-face{
    font-family:'Hahmlet';
    font-weight:400;
    src:url("../font/Hahmlet-Regular.woff2") format('woff2'),
    url("../font/Hahmlet-Regular.woff") format('woff');
}
@font-face{
    font-family:'Hahmlet';
    font-weight:300;
    src:url("../font/Hahmlet-ExtraLight.woff2") format('woff2'),
    url("../font/Hahmlet-ExtraLight.woff") format('woff');
}
@font-face{
    font-family:'Hahmlet';
    font-weight:200;
    src:url("../font/Hahmlet-Light.woff2") format('woff2'),
    url("../font/Hahmlet-Light.woff") format('woff');
}
/* SB */
@font-face{
    font-family:'SB';
    font-weight:400;
    src:url("../font/SBAggroM.woff2") format('woff2'),
    url("../font/SBAggroM.woff") format('woff');
}
/* 횡성여행 메인전용 폰트 끝 */

/* 횡성여행 메인 상단깨기 시작 */
.lnb .menu:after{display:none;}
@media screen and (min-width:1681px){
    #header .header_gnb .wrap{width:1680px;}
    #header .header_box .wrap{width:1680px;}
    .lnb .menu .depth1{width:1680px;padding-left:557px;}
    .lnb .menu .depth2{padding-right:calc((100% - 1680px) / 2);padding-left:calc((100% - 1680px) / 2);}
    .lnb .menu .depth2 .menu_depth2_title{left:calc((100% - 1680px) / 2);}
    .header_info{right:calc((100% - 1680px) / 2);}
}
@media screen and (min-width:1001px) and (max-width:1680px){
    #header .header_gnb .wrap{width:94%;}
    #header .header_box .wrap{width:94%;}
    .lnb .menu .depth1{width:94%;}
    .header_info{right:3%;}
}
@media screen and (min-width:1001px){
    #header{transform:translateY(-30%);opacity:0;transition-property:transform, opacity;transition-duration:1000ms;transition-delay:1000ms;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
    .hsg_tour #header{transform:translateY(0px);opacity:1;}
}
/* 횡성여행 메인 상단깨기 끝 */

/* 횡성여행 메인 컨테이너, 푸터 시작 */
#container{z-index:29;}
#footer{z-index:28;}
/* 횡성여행 메인 컨테이너, 푸터 끝 */

/* rowgroup1(비주얼) 시작 */
.rowgroup1{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.tour_visual{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.tour_visual .tour_visual_wrap{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .slick-list{display:block;width:100%;min-height:0;font-size:0;line-height:0;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .slick-slide{display:block;width:100%;min-height:0;font-size:0;line-height:0;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item .visual_img_wrap{display:block;position:relative;width:100%;height:0;padding:25.67% 0;font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item .visual_img_wrap .back_img{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-repeat:no-repeat;background-position:center center;box-sizing:border-box;transform-origin:center center;transform:scale(1.3);transition-property:transform;transition-duration:3000ms;transition-timing-function:ease-out;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .slick-slide.active_loading .visual_slide_item .visual_img_wrap .back_img{transform:scale(1);}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item .visual_title_wrap{display:inline-block;position:absolute;top:36.74%;left:calc((100% - 1680px) / 2);width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item .visual_title_wrap .big_title{display:inline-block;width:auto;vertical-align:top;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item .visual_title_wrap .big_title span{display:block;height:130px;font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item .visual_title_wrap .big_title span em{display:inline-block;font-size:120px;color:#fff;line-height:130px;letter-spacing:0;font-weight:400;font-family:'Trirong';vertical-align:top;box-sizing:border-box;transform:translateY(100%);opacity:0;transition-property:transform, opacity;transition-duration:1200ms;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.hsg_tour .tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item .visual_title_wrap .big_title span em{transform:translateY(0px);opacity:1;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item .visual_title_wrap .bottom_desc{display:block;width:auto;margin-top:33px;vertical-align:top;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item .visual_title_wrap .bottom_desc span{display:block;height:38px;font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item .visual_title_wrap .bottom_desc span em{display:inline-block;font-size:26px;color:#fff;line-height:38px;letter-spacing:-0.03em;font-weight:500;font-family:'Pretendard';vertical-align:top;box-sizing:border-box;transform:translateY(100%);opacity:0;transition-property:transform, opacity;transition-duration:1200ms;transition-delay:400ms;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.hsg_tour .tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_list .visual_slide_item .visual_title_wrap .bottom_desc span em{transform:translateY(0px);opacity:1;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control{display:block;position:absolute;z-index:5;bottom:5.84%;left:calc((100% - 1680px) / 2);font-size:0;line-height:0;box-sizing:border-box;opacity:0;transition-property:opacity;transition-duration:1000ms;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.hsg_tour .tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control{opacity:1;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control .count_box{display:inline-block;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control .count_box span{display:inline-block;font-weight:500;font-family:'Mont';vertical-align:top;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control .count_box .current{width:49px;margin-right:3px;font-size:40px;color:#fff;line-height:49px;letter-spacing:-0.03em;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control .count_box .dash{margin-top:6px;margin-right:3px;font-size:16px;color:rgba(255, 255, 255, 0.5);line-height:26px;letter-spacing:-0.03em;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control .count_box .total{margin-top:6px;font-size:24px;color:rgba(255, 255, 255, 0.5);line-height:26px;letter-spacing:-0.03em;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control .progress_box{display:inline-block;position:relative;width:160px;height:3px;margin-top:19px;margin-right:32px;margin-left:27px;background-color:rgba(255, 255, 255, 0.4);font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
@keyframes progress-bar {
    from{width:0;}
    to{width:100%;}
}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control .progress_box .bar{display:block;position:absolute;top:0;left:0;height:100%;background-color:#fff;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control.pro_ani .progress_box .bar{animation-name:progress-bar;animation-duration:4000ms;animation-timing-function:cubic-bezier(0.4, 0, 0.2, 1);animation-fill-mode:both;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control .btn_box{display:inline-block;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control .btn_box button{display:inline-block;position:relative;width:30px;height:26px;margin-top:6px;border:0;font-size:0;line-height:0;box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control .btn_box button:before{display:block;position:absolute;top:calc(50% - 8px);left:calc(50% - 5px);width:10px;height:17px;background-image:url(../images/main/visual_btn.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control .btn_box .next{margin-left:22px;}
.tour_visual .tour_visual_wrap .visual_slide_wrap .visual_slide_control .btn_box .next:before{transform:rotate(180deg);}
/* rowgroup1(비주얼) 끝 */

/* rowgroup1(퀵메뉴) 시작 */
.quick_link_box{display:block;position:fixed;z-index:10;top:calc(50% - 301px);right:0;width:120px;padding-left:34px;font-size:0;line-height:0;box-sizing:border-box;transform:translateX(86px);transition-property:transform;transition-duration:400ms;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.quick_link_box.active{transform:translateX(0px);}
.quick_link_box .quick_open_box{display:block;position:absolute;top:calc(50% - 30px);left:4px;font-size:0;line-height:0;box-sizing:border-box;}
.quick_link_box .quick_open_box .quick_open_btn{display:inline-block;position:relative;width:30px;height:60px;background-color:#000;border:0;border-radius:8px 0 0 8px;vertical-align:top;box-sizing:border-box;transition-property:background-color;transition-duration:400ms;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.quick_link_box.active .quick_open_box .quick_open_btn{background-color:#fff;}
.quick_link_box .quick_open_box .quick_open_btn:before{display:block;position:absolute;top:calc(50% - 6px);left:calc(50% - 4px);width:9px;height:13px;background-image:url(../images/main/quick_open_btn.png);background-repeat:no-repeat;background-position:-20px top;content:'';box-sizing:border-box;}
.quick_link_box.active .quick_open_box .quick_open_btn:before{background-position:left top;}
.quick_link_box .quick_list_box{display:block;position:relative;width:100%;background-color:#fff;font-size:0;line-height:0;box-sizing:border-box;}
.quick_link_box .quick_list_box .quick_list{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.quick_link_box .quick_list_box .quick_list .quick_item{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.quick_link_box .quick_list_box .quick_list .quick_item.quick01{background-color:#0058a6;}
.quick_link_box .quick_list_box .quick_list .quick_item .quick_link{display:table;width:100%;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
.quick_link_box .quick_list_box .quick_list .quick_item .quick_link span{display:table-cell;height:86px;font-size:0;line-height:0;vertical-align:middle;box-sizing:border-box;}
.quick_link_box .quick_list_box .quick_list .quick_item .quick_link span em{display:inline-block;position:relative;padding-top:40px;font-size:14px;color:#000;line-height:18px;letter-spacing:-0.03em;font-weight:400;font-family:'Pretendard';vertical-align:top;box-sizing:border-box;}
.quick_link_box .quick_list_box .quick_list .quick_item.quick01 .quick_link span em{color:#fff;}
.quick_link_box .quick_list_box .quick_list .quick_item .quick_link span em:before{display:block;position:absolute;background-image:url(../images/main/quick_link_icon.png);background-repeat:no-repeat;content:'';box-sizing:border-box;transform:rotateY(0deg);transition-duration:750ms;transition-timing-function:ease-in-out;}
.quick_link_box .quick_list_box .quick_list .quick_item .quick_link:hover span em:before{transform:rotateY(360deg);}
.quick_link_box .quick_list_box .quick_list .quick_item.quick01 .quick_link span em:before{top:9px;left:calc(50% - 15px);width:29px;height:26px;background-position:left top;}
.quick_link_box .quick_list_box .quick_list .quick_item.quick02 .quick_link span em:before{top:8px;left:calc(50% - 12px);width:25px;height:25px;background-position:-60px top;}
.quick_link_box .quick_list_box .quick_list .quick_item.quick03 .quick_link span em:before{top:7px;left:calc(50% - 9px);width:18px;height:27px;background-position:-120px top;}
.quick_link_box .quick_list_box .quick_list .quick_item.quick04 .quick_link span em:before{top:7px;left:calc(50% - 12px);width:24px;height:26px;background-position:-180px top;}
.quick_link_box .quick_list_box .quick_list .quick_item.quick05 .quick_link span em:before{top:8px;left:calc(50% - 15px);width:29px;height:26px;background-position:-240px top;}
.quick_link_box .quick_list_box .quick_list .quick_item.quick06 .quick_link span em:before{top:2px;left:calc(50% - 11px);width:23px;height:31px;background-position:-300px top;}
.quick_link_box .quick_list_box .quick_list .quick_item.quick07 .quick_link span em:before{top:3px;left:calc(50% - 14px);width:28px;height:29px;background-position:-360px top;}
/* rowgroup1(퀵메뉴) 끝 */

/* rowgroup2(추천여행지) 시작 */
.rowgroup2{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.hsg_map{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.hsg_map .hsg_map_wrap{min-height:1054px;display:block;position:relative;width:100%;padding:0 calc((100% - 1680px) / 2);font-size:0;line-height:0;box-sizing:border-box;}
.hsg_map .hsg_map_wrap .map_title_box{display:inline-block;position:relative;min-width:585px;padding-top:231px;padding-left:53px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.hsg_map .hsg_map_wrap .map_title_box:before{display:block;position:absolute;top:144px;right:0;width:212px;height:200px;background-image:url(../images/main/hsg_map_title_icon.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;transform-origin:left center;transform:scale(0) translateX(-20px);transition-property:transform;transition-duration:1500ms;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.scroll_ani .hsg_map .hsg_map_wrap .map_title_box:before{transform:scale(1) translateX(0px);}
.hsg_map .hsg_map_wrap .map_title_box .map_title{display:inline-block;position:relative;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.hsg_map .hsg_map_wrap .map_title_box .map_title span{display:block;height:85px;font-size:0;line-height:0;box-sizing:border-box;overflow:hidden;}
.hsg_map .hsg_map_wrap .map_title_box .map_title span em{display:inline-block;font-size:68px;line-height:85px;letter-spacing:-0.03em;font-family:'Hahmlet';vertical-align:top;box-sizing:border-box;transform:translateY(100%);opacity:0;transition-property:transform, opacity;transition-duration:1500ms;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.scroll_ani .hsg_map .hsg_map_wrap .map_title_box .map_title span em{transform:translateY(0px);opacity:1;}
.hsg_map .hsg_map_wrap .map_title_box .map_title span:first-child em{color:#393f59;font-weight:200;}
.hsg_map .hsg_map_wrap .map_title_box .map_title span:last-child em{color:#36488b;font-weight:500;}

.hsg_map .hsg_map_wrap .map_slide_wrap{display:block;position:absolute;z-index:1;top:140px;right:calc(((100% - 1680px) / 2) + 16px);min-width:967px;font-size:0;line-height:0;box-sizing:border-box;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_bg{display:block;position:relative;width:100%;height:0;padding:43.49% 0;background-image:url(../images/main/map_slide_bg.png);background-repeat:no-repeat;background-position:right top;background-size:cover;font-size:0;line-height:0;box-sizing:border-box;transform:translateY(50px);opacity:0;transition-property:transform, opacity;transition-duration:2000ms;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_bg{transform:translateY(0px);opacity:1;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list{display:block;position:static;font-size:0;line-height:0;box-sizing:border-box;}
@media screen and (min-width:641px){
    .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .slick-list{display:block;position:static;font-size:0;line-height:0;box-sizing:border-box;overflow:visible !important;}
    .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .slick-track{position:static !important;width:100% !important;transform:none !important;}
    .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .slick-slide{display:inline-block;float:none;width:auto;min-height:0;vertical-align:top;box-sizing:border-box;}
}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item{display:block;position:static;font-size:0;line-height:0;box-sizing:border-box;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item .map_slide_btn{display:block;position:absolute;width:94px;height:111px;padding-top:24px;padding-bottom:30px;border:0;font-size:0;line-height:0;box-sizing:border-box;text-align:center;transform:translateY(100%) rotateY(360deg);opacity:0;transition-property:transform, opacity;transition-duration:2000ms;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item .map_slide_btn{transform:translateY(0px) rotateY(0deg);opacity:1;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item .map_slide_btn:before,
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item .map_slide_btn:after{display:block;position:absolute;z-index:0;top:0;left:0;width:100%;height:100%;background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;transition-property:transform, opacity;transition-duration:500ms;transition-timing-function:ease-in-out;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item .map_slide_btn:before{transform:scale(1);opacity:1;background-image:url(../images/main/map_slide_btn_before.png);}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item.active .map_slide_btn:before{transform:scale(0);opacity:0;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item .map_slide_btn:after{transform:scale(0);opacity:0;background-image:url(../images/main/map_slide_btn_after.png);}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item.active .map_slide_btn:after{transform:scale(1);opacity:1;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item .map_slide_btn em{display:inline-block;position:relative;z-index:1;font-size:17px;color:#294f8a;line-height:19px;letter-spacing:-0.03em;font-weight:400;font-family:'SB';vertical-align:top;box-sizing:border-box;transition-property:color;transition-duration:500ms;transition-timing-function:ease-in-out;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item.active .map_slide_btn em{color:#fff;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="0"] .map_slide_btn{top:157px;left:143px;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="1"] .map_slide_btn{top:116px;left:243px;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="2"] .map_slide_btn{top:169px;left:485px;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="3"] .map_slide_btn{top:77px;left:525px;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="4"] .map_slide_btn{top:39px;left:860px;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="5"] .map_slide_btn{top:196px;left:836px;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="6"] .map_slide_btn{top:387px;left:672px;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="7"] .map_slide_btn{top:295px;left:581px;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="8"] .map_slide_btn{top:399px;left:500px;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="9"] .map_slide_btn{top:351px;left:406px;}
.hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="10"] .map_slide_btn{top:335px;left:287px;}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="0"] .map_slide_btn{transition-delay:100ms;}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="1"] .map_slide_btn{transition-delay:200ms;}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="2"] .map_slide_btn{transition-delay:300ms;}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="3"] .map_slide_btn{transition-delay:400ms;}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="4"] .map_slide_btn{transition-delay:500ms;}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="5"] .map_slide_btn{transition-delay:600ms;}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="6"] .map_slide_btn{transition-delay:700ms;}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="7"] .map_slide_btn{transition-delay:800ms;}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="8"] .map_slide_btn{transition-delay:900ms;}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="9"] .map_slide_btn{transition-delay:1000ms;}
.scroll_ani .hsg_map .hsg_map_wrap .map_slide_wrap .map_slide_list .map_slide_item[data-map-index="10"] .map_slide_btn{transition-delay:1100ms;}

.hsg_map .hsg_map_wrap .desc_slide_wrap{display:block;position:relative;z-index:1;width:50%;margin-top:16px;padding-left:53px;font-size:0;line-height:0;box-sizing:border-box;}
.hsg_map .hsg_map_wrap .desc_slide_wrap .desc_slide_list{display:inline-block;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
@media screen and (min-width:641px){
    .hsg_map .hsg_map_wrap .desc_slide_wrap .desc_slide_list .slick-list{overflow:visible !important;}
    .hsg_map .hsg_map_wrap .desc_slide_wrap .desc_slide_list .slick-track{width:100% !important;transform:none !important;}
    .hsg_map .hsg_map_wrap .desc_slide_wrap .desc_slide_list .slick-slide{float:none;width:auto;min-height:0;}
}
.hsg_map .hsg_map_wrap .desc_slide_wrap .desc_slide_list .desc_slide_item{display:inline-block;position:relative;height:0;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;visibility:hidden;opacity:0;}
.hsg_map .hsg_map_wrap .desc_slide_wrap .desc_slide_list .desc_slide_item.active{height:auto;visibility:visible;opacity:1;}
.hsg_map .hsg_map_wrap .desc_slide_wrap .desc_slide_list .desc_slide_item .desc_slide_link{display:block;position:relative;width:750px;padding-top:81px;font-size:0;line-height:0;box-sizing:border-box;}
.hsg_map .hsg_map_wrap .desc_slide_wrap .desc_slide_list .desc_slide_item .desc_slide_link .round_box{display:block;position:relative;width:100%;min-height:440px;background-color:#fff;border:5px solid #496fb4;border-radius:40px;box-sizing:border-box;box-shadow:13px 22px 50px rgba(0, 0, 0, 0.16);}



/* rowgroup2(추천여행지) 끝 */