@charset "utf-8";

/* (주)한신정보기술 박남규 - 2023.09 */

/* ----- header 시작 ----- */
/* header_gnb 시작 */
@media screen and (min-width:1001px){
    .header_gnb .etc_choice .etc_choice_list .etc_choice_item.korea_quick{display:inline-block;}
    .header_gnb .etc_choice .etc_choice_list .etc_choice_item.language{display:inline-block;}
}
/* header_box 시작 */
@media screen and (min-width:1001px){
    .header_box .logo .logo_link .logo_site_name{display:none;}
}
/* lnb 시작 */
@media screen and (min-width:1001px){
    /* 분야별정보 전용 */
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list{padding-left:40px;}
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item{width:calc((100% - 210px) / 8);margin-top:60px;margin-right:30px;padding:0;}
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item:last-child{margin-right:0;}
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item:before{display:none;}
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item .depth2_text{height:auto;padding:120px 0 0;border-radius:0;text-align:center;overflow:visible;}
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item .depth2_text:before,
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item .depth2_text:after{top:0;left:0;width:100%;height:120px;border-radius:0;clip-path:none;}
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item .depth2_text:before{border:1px solid #ccc;border-radius:22px;transform:translateY(-100%);visibility:hidden;opacity:0;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item .depth2_text:before{transform:translateY(0px);visibility:visible;opacity:1;transition-property:transform, visibility, opacity;transition-duration:300ms;transition-timing-function:cubic-bezier(.25, .46, .450, .94);}
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item.active .depth2_text:before{border-color:#333;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(1) .depth2_text:before{transition-delay:0ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(2) .depth2_text:before{transition-delay:50ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(3) .depth2_text:before{transition-delay:100ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(4) .depth2_text:before{transition-delay:150ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(5) .depth2_text:before{transition-delay:200ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(6) .depth2_text:before{transition-delay:250ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(7) .depth2_text:before{transition-delay:300ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(8) .depth2_text:before{transition-delay:350ms;}
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item .depth2_text:after{background-color:transparent;}
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item .depth2_text span{position:static;transform:none;padding:17px 0 0;visibility:hidden;opacity:0;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item .depth2_text span{visibility:visible;opacity:1;transition-property:transform, visibility, opacity;transition-duration:300ms;transition-timing-function:cubic-bezier(.25, .46, .450, .94);}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(1) .depth2_text span{transition-delay:0ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(2) .depth2_text span{transition-delay:50ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(3) .depth2_text span{transition-delay:100ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(4) .depth2_text span{transition-delay:150ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(5) .depth2_text span{transition-delay:200ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(6) .depth2_text span{transition-delay:250ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(7) .depth2_text span{transition-delay:300ms;}
    .lnb .menu .depth1_item:last-child.active .depth2 .depth2_list .depth2_item:nth-child(8) .depth2_text span{transition-delay:350ms;}
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item .depth2_text span em{padding-right:0;transition-property:color;}
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item.active .depth2_text span em{color:transparent;font-weight:600;background-clip:text;-webkit-background-clip:text;background-image:linear-gradient(45deg, #cd408f 0%, #094fc3 100%);transition-property:color, font-weight;}
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item .depth2_text span em:before,
    .lnb .menu .depth1_item:last-child .depth2 .depth2_list .depth2_item .depth2_text span em:after{display:none;}
    .lnb .menu .depth1_item:last-child .depth3{display:none;}
}
/* ----- header 끝 ----- */