@charset "utf-8";

/* (주)한신정보기술 박남규 - 2023.09 */

/* ----- sub_visual 시작 ----- */
.sub_visual{display:block;}
/* ----- sub_visual 끝 ----- */

/* ----- side, colgroup, sub_head, contents 시작 ----- */
.side{margin-top:-98px;}
.sub_head{margin-top:0;}
/* ----- side, colgroup, sub_head, contents 끝 ----- */