@charset "utf-8";

/* (주)한신정보기술 박남규 - 2023.07 */

/* 메인전용 header 시작 */
@media screen and (min-width:1001px){
    .lnb .menu:before{width:100%;visibility:visible;opacity:1;}
}
/* 메인전용 header 끝 */

/* 메인전용 footer 시작 */

/* 메인전용 footer 끝 */

/* 메인전용 container 시작 */
#container main{display:block;width:100%;box-sizing:border-box;}
/* 메인전용 container 끝 */

/* rowgroup1 시작 */
.rowgroup1{display:block;width:100%;box-sizing:border-box;}
.edu_visual{}
.edu_visual .edu_visual_wrap{}
@media screenc and (max-width:1600px){

}
@media screenc and (max-width:1000px){

}
@media screenc and (max-width:640px){

}
/* rowgroup1 끝 */

/* rowgroup2 시작 */
.rowgroup2{display:block;width:100%;box-sizing:border-box;}
.edu_search{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.edu_search .edu_search_wrap{display:block;position:relative;width:100%;min-height:248px;padding:64px calc((100% - 1600px) / 2);font-size:0;line-height:0;box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner{display:block;position:relative;z-index:1;width:100%;padding:0 115px;font-size:0;line-height:0;box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner .search_deco{display:block;position:absolute;z-index:1;top:-64px;left:-91px;width:220px;height:252px;font-size:0;line-height:0;box-sizing:border-box;}
@keyframes search-deco-before {
    from{transform:scale(1) translateY(0px);}
    to{transform:scale(0.9) translateY(-10px);}
}
@keyframes search-deco-after {
    from{transform:scaleX(1);}
    to{transform:scaleX(0.8);}
}
.edu_search .edu_search_wrap .search_inner .search_deco:before,
.edu_search .edu_search_wrap .search_inner .search_deco:after{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-repeat:no-repeat;background-position:left top;background-size:100% 100%;content:'';box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner .search_deco:before{background-image:url(../images/main/search_deco01_wide.png);}
.edu_search .edu_search_wrap .search_inner .search_deco:after{background-image:url(../images/main/search_deco02_wide.png);opacity:0.15;}
@media screen and (min-width:1001px){
    .edu_search .edu_search_wrap .search_inner .search_deco:before,
    .edu_search .edu_search_wrap .search_inner .search_deco:after{animation-duration:2000ms;animation-direction:alternate;animation-iteration-count:infinite;animation-timing-function:cubic-bezier(.25, .46, .450, .94);}
    .edu_search .edu_search_wrap .search_inner .search_deco:before{animation-name:search-deco-before;}
    .edu_search .edu_search_wrap .search_inner .search_deco:after{animation-name:search-deco-after;}
}

.edu_search .edu_search_wrap .search_inner form,
.edu_search .edu_search_wrap .search_inner fieldset{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner legend{font-size:0;line-height:0;}
.edu_search .edu_search_wrap .search_inner .search_box{display:block;position:relative;width:100%;padding-right:29px;font-size:0;line-height:0;box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box{display:block;position:relative;width:100%;min-height:120px;padding:28px 188px 27px 54px;background-color:#24243b;border-radius:55px;font-size:0;line-height:0;box-sizing:border-box;box-shadow:10px 17px 30px rgba(0, 0, 0, 0.3);}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item{display:inline-block;position:relative;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item.type01{width:397px;padding-right:20px;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item.type02{width:calc(100% - 397px);}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_title_area{display:inline-block;position:relative;width:calc(100% - 180px);padding:15px 27px 20px 0;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_title_area:before{display:block;position:absolute;top:18px;right:26px;width:1px;height:29px;background-color:rgba(255, 255, 255, 0.25);content:'';box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_title_area .title{display:inline-block;position:relative;padding-left:48px;font-size:28px;color:#fff;line-height:30px;letter-spacing:-0.05em;font-weight:600;font-family:'Elice';vertical-align:top;box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_title_area .title:before{display:block;position:absolute;top:5px;left:0;width:32px;height:26px;background-image:url(../images/main/search_box_icons.png);background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;}

.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area{display:inline-block;position:relative;width:180px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner{display:inline-block;position:relative;width:100%;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner .select_btn{display:block;position:relative;width:100%;padding:17px 36px 18px 20px;background-color:#fff;border:none;border-radius:30px;font-size:0;line-height:0;box-sizing:border-box;text-align:left;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner .select_btn:before{display:block;position:absolute;top:29px;right:23px;width:13px;height:8px;background-image:url(../images/main/search_box_icons.png);background-repeat:no-repeat;background-position:left -40px;content:'';box-sizing:border-box;transform:rotateX(0deg);transition-property:transform;transition-duration:800ms;transition-timing-function:cubic-bezier(.2, 1, .3, 1);}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner.active .select_btn:before{transform:rotateX(540deg);}


.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner .select_btn em{display:block;position:relative;width:100%;font-size:18px;color:#000;line-height:30px;letter-spacing:-0.03em;font-weight:200;font-family:'NotoKr';box-sizing:border-box;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner .select_choice_list{display:block;position:absolute;top:0;left:0;width:100%;padding-top:0px;padding-bottom:0px;background-color:#fff;border:none;border-radius:30px;font-size:0;line-height:0;box-sizing:border-box;transform:translateY(65px);visibility:hidden;opacity:0;box-shadow:0px 0px 50px transparent;transition-property:padding-top, padding-bottom, transform, visibility, opacity, box-shadow;transition-duration:800ms;transition-timing-function:cubic-bezier(.2, 1, .3, 1);}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner.active .select_choice_list{padding-top:17px;padding-bottom:18px;transform:translateY(0px);visibility:visible;opacity:1;box-shadow:0px 0px 15px rgba(0, 0, 0, 0.3);}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner .select_choice_list:before{display:block;position:absolute;top:29px;right:23px;width:13px;height:8px;background-image:url(../images/main/search_box_icons.png);background-repeat:no-repeat;background-position:left -40px;content:'';box-sizing:border-box;transform:rotateX(0deg);transition-property:transform;transition-duration:800ms;transition-timing-function:cubic-bezier(.2, 1, .3, 1);}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner.active .select_choice_list:before{transform:rotateX(540deg);}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner .select_choice_list .select_choice_item{display:block;position:relative;width:100%;margin-top:0px;font-size:0;line-height:0;box-sizing:border-box;transition-property:margin-top;transition-duration:800ms;transition-timing-function:cubic-bezier(.2, 1, .3, 1);}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner.active .select_choice_list .select_choice_item{margin-top:7px;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner.active .select_choice_list .select_choice_item:first-child{margin-top:0px;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner .select_choice_list .select_choice_item .select_choice_btn{display:block;position:relative;width:100%;padding-right:36px;padding-left:20px;border:none;font-size:0;line-height:0;box-sizing:border-box;text-align:left;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner .select_choice_list .select_choice_item .select_choice_btn em{display:block;position:relative;width:100%;font-size:0px;color:#000;line-height:0px;letter-spacing:-0.03em;font-weight:200;font-family:'NotoKr';box-sizing:border-box;transition-property:font-size, line-height;transition-duration:800ms;transition-timing-function:cubic-bezier(.2, 1, .3, 1);}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner .select_choice_list .select_choice_item .select_choice_btn:hover em{text-decoration:underline;text-underline-position:under;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_select_area .select_area_inner.active .select_choice_list .select_choice_item .select_choice_btn em{font-size:18px;line-height:30px;}

.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_text_area{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_text_area .search_input{display:block;position:relative;width:100%;min-height:65px;padding:17px 36px 18px 20px;background-color:#fff;border:none;border-radius:30px;font-size:18px;color:#999;line-height:30px;letter-spacing:-0.03em;font-weight:200;font-family:'NotoKr';box-sizing:border-box;text-align:left;}
.edu_search .edu_search_wrap .search_inner .search_box .input_box .input_item .input_text_area .search_input::placeholder{}
.edu_search .edu_search_wrap .search_inner .search_box .submit_box{display:inline-block;position:absolute;z-index:1;top:42px;right:0;width:auto;background-color:#248cff;border-radius:0 42px 42px 42px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;transition-property:background-color;transition-duration:800ms;transition-timing-function:cubic-bezier(.2, 1, .3, 1);}
.edu_search .edu_search_wrap .search_inner .search_box .submit_box:hover{background-color:#3897ff;}
.edu_search .edu_search_wrap .search_inner .search_box .submit_box .submit_icon{display:block;position:absolute;top:35px;left:45px;width:28px;height:28px;background-image:url(../images/main/search_box_icons.png);background-repeat:no-repeat;background-position:left -80px;font-size:0;line-height:0;box-sizing:border-box;}
.edu_search .edu_search_wrap .search_inner .search_box .submit_box .submit_input{display:block;position:relative;z-index:1;min-width:170px;padding:35px 43px 39px 83px;border:none;font-size:24px;color:#fff;line-height:26px;letter-spacing:-0.03em;font-weight:600;font-family:'Elice';box-sizing:border-box;}

@media screenc and (max-width:1600px){

}
@media screenc and (max-width:1000px){

}
@media screenc and (max-width:640px){

}
/* rowgroup2 끝 */

/* rowgroup3 시작 */
.rowgroup3{display:block;width:100%;box-sizing:border-box;}
.edu_schedule{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.edu_schedule .edu_schedule_wrap{background-color:skyblue;display:block;position:relative;width:100%;min-height:856px;padding:0 calc((100% - 1600px) / 2);font-size:0;line-height:0;box-sizing:border-box;}
@media screenc and (max-width:1600px){

}
@media screenc and (max-width:1000px){

}
@media screenc and (max-width:640px){

}
/* rowgroup3 끝 */

/* rowgroup4 시작 */
.rowgroup4{display:block;width:100%;box-sizing:border-box;}
.edu_quick{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.edu_quick .edu_quick_wrap{background-color:orange;display:block;position:relative;width:100%;min-height:350px;padding:0 calc((100% - 1600px) / 2);font-size:0;line-height:0;box-sizing:border-box;}
@media screenc and (max-width:1600px){

}
@media screenc and (max-width:1000px){

}
@media screenc and (max-width:640px){

}
/* rowgroup4 끝 */