@charset "UTF-8";


/* OpenSans */
@font-face{
	font-family:'Opensans';
	font-weight: 200;
	src:url("../font/OpenSans-Light.eot");
	src:url("../font/OpenSans-Light.eot?#iefix") format('embedded-opentype');
}

@font-face{
	font-family:'Opensans';
	font-weight: 400;
	src:url("../font/OpenSans-Regular.eot");
	src:url("../font/OpenSans-Regular.eot?#iefix") format('embedded-opentype');
}

@font-face{
	font-family:'Opensans';
	font-weight: 600;
	src:url("../font/OpenSans-Bold.eot");
	src:url("../font/OpenSans-Bold.eot?#iefix") format('embedded-opentype');
}