@charset "utf-8";

/* (주)한신정보기술 박남규 - 2023.11 */

@media screen and (min-width:1001px) and (max-width:1460px){
    .lnb .menu .depth1{padding:0 100px 0 280px;}
}
@media screen and (min-width:1461px){
    .lnb .menu .depth1 .depth1_list .depth1_item{margin-left:70px;}
}
@media screen and (min-width:1201px) and (max-width:1460px){
    .lnb .menu .depth1 .depth1_list .depth1_item{padding:0 1.6vw;}
}
@media screen and (min-width:1001px) and (max-width:1200px){
    .lnb .menu .depth1 .depth1_list .depth1_item{padding:0 0.68vw;}
}