@charset "UTF-8";

/* S-CoreDream */
@font-face {
  font-family: 'SCoreDream';
  font-weight: 200;
  src: url("../font/S-CoreDream-2ExtraLight.woff") format('woff');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 400;
  src: url("../font/S-CoreDream-4Regular.woff") format('woff');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 500;
  src: url("../font/S-CoreDream-5Medium.woff") format('woff');
}
@font-face {
  font-family: 'SCoreDream';
  font-weight: 600;
  src: url("../font/S-CoreDream-6Bold.woff") format('woff');
}

/* 넥센타이어 */
@font-face {
  font-family: 'nexen';
  font-weight: 400;
  src: url("../font/NEXEN_TIRE_Regular.woff") format('woff');
}
@font-face {
  font-family: 'nexen';
  font-weight: 600;
  src: url("../font/NEXEN_TIRE_Bold.woff") format('woff');
}

/* 지마켓 폰트 GmarketSans */
@font-face {
  font-family: 'GmarketSans';
  font-weight: 400;
  src: url("../font/GmarketSansMedium.woff") format('woff');
}
@font-face {
  font-family: 'GmarketSans';
  font-weight: 600;
  src: url("../font/GmarketSansBold.woff") format('woff');
}