@charset "UTF-8";

/* 본고딕 NotoKR */
@font-face{
    font-family:'NotoKr';
    font-weight: 400;
    src:url("../font/SpoqaHanSans-Regular.woff2") format('woff2'),
    url("../font/SpoqaHanSans-Regular.woff") format('woff');
}
@font-face{
    font-family:'NotoKr';
    font-weight: 600;
    src:url("../font/SpoqaHanSans-Bold.woff2") format('woff2'),
    url("../font/SpoqaHanSans-Bold.woff") format('woff');
}

/* 지마켓 */
@font-face{
    font-family:'Gmark';
    font-weight: 200;
    src:url("../font/GmarketSansLight.woff2") format('woff2'),
    url("../font/GmarketSansLight.woff") format('woff');
}
@font-face{
    font-family:'Gmark';
    font-weight: 400;
    src:url("../font/GmarketSansMedium.woff2") format('woff2'),
    url("../font/GmarketSansMedium.woff") format('woff');
}
