@charset "utf-8";

/* (주)한신정보기술 박남규 - 2024.06 */

/* --------------- sub_visual 시작 --------------- */
.sub_visual{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.sub_visual:before,
.sub_visual:after,
.sub_visual *,
.sub_visual *:before,
.sub_visual *:after{border:none;font-size:0;line-height:0;box-sizing:border-box;}
.sub_visual .sub_deco_inner{display:block;position:absolute;bottom:0;left:0;width:100%;height:calc(100% + 164px);background-image:url(../images/sub/sub_deco_inner_bg.jpg);background-repeat:no-repeat;background-position:center center;}
.sub_visual .sub_deco_inner .cloud_box{display:block;position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;}
.sub_visual .sub_deco_inner .cloud_box .cloud{display:block;position:absolute;background-repeat:no-repeat;background-position:center center;}
.sub_visual .sub_deco_inner .cloud_box .cloud:nth-child(1){bottom:calc(100% - 195px);right:calc(100% - 365px);width:757px;height:418px;background-image:url(../images/sub/sub_deco_cloud01.png);}
.sub_visual .sub_deco_inner .cloud_box .cloud:nth-child(2){top:159px;left:-121px;width:1247px;height:1061px;background-image:url(../images/sub/sub_deco_cloud02.png);}
.sub_visual .sub_deco_inner .cloud_box .cloud:nth-child(3){top:187px;left:calc(50% + 137px);width:179px;height:106px;background-image:url(../images/sub/sub_deco_cloud03.png);}
.sub_visual .sub_deco_inner .cloud_box .cloud:nth-child(4){top:0;left:calc(100% - 443px);width:757px;height:418px;background-image:url(../images/sub/sub_deco_cloud04.png);}
.sub_visual .sub_deco_inner .person_box{display:block;position:absolute;top:0;left:0;width:100%;height:100%;}
.sub_visual .sub_deco_inner .person_box .person{display:block;position:absolute;background-repeat:no-repeat;background-position:center center;}
.sub_visual .sub_deco_inner .person_box .person:nth-child(1){bottom:76px;left:calc(((100% - 1600px) / 2) + 3px);width:81px;height:89px;background-image:url(../images/sub/sub_deco_person01.png);}
.sub_visual .sub_deco_inner .person_box .person:nth-child(2){bottom:-28px;left:calc(50% + 237px);width:115px;height:110px;background-image:url(../images/sub/sub_deco_person02.png);transform-origin:100% 100%;}
.sub_visual .sub_deco_inner .person_box .person:nth-child(3){bottom:86px;right:calc(((100% - 1600px) / 2) - 33px);width:128px;height:115px;background-image:url(../images/sub/sub_deco_person03.png);transform-origin:50% 100%;}
.sub_visual .sub_deco_inner .tree_box{display:block;position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;}
.sub_visual .sub_deco_inner .tree_box .tree{display:block;position:absolute;bottom:-17px;right:calc(((100% - 1600px) / 2) - 101px);width:674px;height:133px;background-image:url(../images/sub/sub_deco_tree.png);background-repeat:no-repeat;background-position:center center;}
.sub_visual .visual_title{display:block;position:relative;width:100%;height:220px;padding:0 calc((100% - 1600px) / 2);text-align:center;}
.sub_visual .visual_title .current_title{display:inline-block;position:relative;top:50%;transform:translateY(calc(-50% - 14px));font-size:40px;color:#000;line-height:48px;letter-spacing:-0.02em;font-weight:600;font-family:'WantedSans';vertical-align:top;}
@media all and (max-width:1600px){
    .sub_visual .sub_deco_inner .cloud_box .cloud:nth-child(2){top:50px;left:-380px;}
    .sub_visual .sub_deco_inner .cloud_box .cloud:nth-child(3){top:30px;left:calc(50% + 30px);}
    .sub_visual .sub_deco_inner .cloud_box .cloud:nth-child(4){left:calc(100% - 550px);}
    .sub_visual .sub_deco_inner .person_box .person:nth-child(1){left:calc(3% + 3px);}
    .sub_visual .sub_deco_inner .person_box .person:nth-child(3){right:calc(3% - 33px);}
    .sub_visual .visual_title{height:200px;}
    .sub_visual .visual_title .current_title{font-size:34px;line-height:40px;}
}
@media all and (max-width:1000px){

}
/* --------------- sub_visual 끝 --------------- */

/* --------------- container 시작 --------------- */
/* --------------- container 끝 --------------- */

/* --------------- side, colgroup 시작 --------------- */
.side{display:block;float:left;position:relative;width:280px;margin-top:-41px;font-size:0;line-height:0;box-sizing:border-box;}
.side:before,
.side:after,
.side *,
.side *:before,
.side *:after{border:none;font-size:0;line-height:0;box-sizing:border-box;}
.side .side_top{display:block;position:relative;width:100%;height:172px;text-align:center;}
.side .side_top .side_deco_inner{display:block;position:absolute;top:0;left:0;width:100%;height:100%;}
.side .side_top .side_deco_inner .gra_bg{display:block;position:absolute;top:0;left:0;width:100%;height:100%;border-radius:30px 50px 30px 10px;overflow:hidden;}
@keyframes side-gra-before{100%{transform:translate(-50%, -50%) rotate(360deg);}}
.side .side_top .side_deco_inner .gra_bg:before{display:block;position:absolute;top:50%;left:50%;width:200%;height:200%;transform:translate(-50%, -50%);background-image:linear-gradient(-35deg, #1873de 35%, #02876b 75%);content:'';animation:side-gra-before 5000ms infinite ease;}
.side .side_top .side_deco_inner .space_box{display:block;position:absolute;top:0;left:0;width:100%;height:10px;transform-origin:100% 0%;}
@keyframes side-space{0%{transform:rotate(0deg);}100%{transform:rotate(-15deg);}}
.side .side_top .side_deco_inner .space_box .space{display:block;position:absolute;bottom:calc(100% - 84px);left:calc(100% - 91px);width:226px;height:223px;background-image:url(../images/sub/side_deco_space.png);background-repeat:no-repeat;background-position:center center;background-size:100% 100%;transform-origin:0% 100%;animation:side-space 5000ms alternate infinite ease;}
.side .side_top .side_text_inner{display:inline-block;position:relative;top:50%;transform:translateY(-50%);width:100%;padding:0 15px;vertical-align:top;}
.side .side_top .side_text_inner .title{display:block;position:relative;font-size:28px;color:#fff;line-height:32px;letter-spacing:-0.02em;font-weight:600;font-family:'WantedSans';}
.side .side_top .side_text_inner .desc{display:block;position:relative;margin:10px 0 0;font-size:15px;color:#fff;line-height:20px;letter-spacing:-0.02em;font-weight:400;font-family:'WantedSans';}
.side .side_menu{display:block;position:relative;width:100%;margin-top:-13px;}
.side .side_menu .menu{display:block;position:relative;width:100%;}
.side .side_menu .menu .depth1{display:block;position:static;width:100%;}
.side .side_menu .menu .depth1:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #dedede;border-radius:30px;background-color:#fff;box-shadow:0px 20px 40px rgba(0, 0, 0, 0.05);content:'';}
.side .side_menu .menu .depth1 .depth1_list{display:block;position:static;width:100%;padding:26px 0 80px;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item{display:block;position:static;width:100%;padding:0 30px;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text{display:block;position:relative;width:100%;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text:before{display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#dedede;content:'';}
.side .side_menu .menu .depth1 .depth1_list .depth1_item.active .depth1_text:before{background-color:#102f63;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item.has .depth1_text{padding-right:16px;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item.has .depth1_text:after{display:block;position:absolute;top:calc(50% - 3px);right:3px;width:13px;height:7px;background-image:url(../images/sub/side_icon.png);background-repeat:no-repeat;background-position:left top;content:'';transition:transform 400ms ease;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item.has.active .depth1_text:after{background-position:-20px top;transform:rotateX(180deg);}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text[target="_blank"]{padding-right:16px;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text[target="_blank"]:after{display:block;position:absolute;top:calc(50% - 8px);right:0;width:16px;height:16px;background-image:url(../images/sub/side_icon.png);background-repeat:no-repeat;background-position:left -20px;content:'';}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text[target="_blank"]:hover:after{background-position:-20px -20px;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text span{display:block;position:relative;width:100%;padding:11px 0;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text span em{display:inline-block;position:relative;font-size:18px;color:#444;line-height:24px;letter-spacing:-0.02em;font-weight:400;font-family:'WantedSans';vertical-align:top;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text:hover span em{color:#102f63;}
.side .side_menu .menu .depth1 .depth1_list .depth1_item.active .depth1_text span em{color:#102f63;font-weight:600;}
.side .side_menu .menu .depth2{display:block;position:relative;width:100%;visibility:hidden;opacity:0;transition:visibility 400ms ease, opacity 400ms ease;}
.side .side_menu .menu .depth1_item.active .depth2{visibility:visible;opacity:1;}
.side .side_menu .menu .depth2 .depth2_list{display:block;position:relative;width:100%;padding:0px 0px 0px;transition:padding 400ms ease;}
.side .side_menu .menu .depth1_item.active .depth2 .depth2_list{padding:20px 0 26px;}
.side .side_menu .menu .depth2 .depth2_list:before{display:block;position:absolute;bottom:0;left:0;width:100%;height:0px;background-color:#dedede;content:'';visibility:hidden;opacity:0;transition:height 400ms ease, visibility 400ms ease, opacity 400ms ease;}
.side .side_menu .menu .depth1_item.active .depth2 .depth2_list:before{height:1px;visibility:visible;opacity:1;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item{display:block;position:relative;width:100%;margin-top:0px;transition:margin-top 400ms ease;}
.side .side_menu .menu .depth1_item.active .depth2 .depth2_list .depth2_item{margin-top:6px;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text{display:block;position:relative;width:100%;padding-left:16px;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text:hover{text-decoration:none;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text:before{display:block;position:absolute;top:0px;left:0;width:5px;height:5px;border-radius:100%;background-color:#ccc;content:'';transform:scale(0);transition:top 400ms ease, transform 400ms ease, background-color 400ms ease;}
.side .side_menu .menu .depth1_item.active .depth2 .depth2_list .depth2_item .depth2_text:before{top:9px;transform:scale(1);}
.side .side_menu .menu .depth2 .depth2_list .depth2_item.active .depth2_text:before,
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text:hover:before{background-color:#4e80d1;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"]{padding-right:16px;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"]:after{display:block;position:absolute;top:0px;right:0;width:16px;height:16px;background-image:url(../images/sub/side_icon.png);background-repeat:no-repeat;background-position:left -40px;content:'';transform:scale(0);transition:top 400ms ease, transform 400ms ease;}
.side .side_menu .menu .depth1_item.active .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"]:after{top:4px;transform:scale(1);}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"]:hover:after{background-position:-20px -40px;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text span{display:block;position:relative;width:100%;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text span em{display:inline;position:relative;padding-bottom:4px;font-size:0px;color:#666;line-height:0px;letter-spacing:-0.02em;font-weight:400;font-family:'WantedSans';vertical-align:top;transition:font-size 400ms ease, color 400ms ease, line-height 400ms ease;}
.side .side_menu .menu .depth1_item.active .depth2 .depth2_list .depth2_item .depth2_text span em{font-size:17px;line-height:24px;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text:hover span em{color:#4e80d1;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAAXNSR0IArs4c6QAAABRJREFUGFdj9Gu4+H9Tgz4jAxAAACSSBAJZi7ccAAAAAElFTkSuQmCC);background-repeat:repeat-x;background-position:left bottom;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item.active .depth2_text span em{color:#010101;font-weight:500;}
.side .side_menu .menu .depth2 .depth2_list .depth2_item.active .depth2_text:hover span em{background-image:none;}
@media all and (max-width:1600px){
    .side{width:220px;}
    .side .side_top{height:140px;}
    .side .side_top .side_deco_inner .space_box .space{width:186px;height:184px;}
    .side .side_top .side_text_inner .title{font-size:24px;line-height:28px;}
    .side .side_top .side_text_inner .desc{margin:5px 0 0;font-size:14px;}
    .side .side_menu .menu .depth1 .depth1_list{padding:20px 0 44px;}
    .side .side_menu .menu .depth1 .depth1_list .depth1_item{padding:0 20px;}
    .side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text span{padding:10px 0;}
    .side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text span em{font-size:16px;line-height:20px;}
    .side .side_menu .menu .depth1_item.active .depth2 .depth2_list{padding:10px 0 15px;}
    .side .side_menu .menu .depth1_item.active .depth2 .depth2_list .depth2_item{margin-top:5px;}
    .side .side_menu .menu .depth2 .depth2_list .depth2_item .depth2_text{padding-left:10px;}
    .side .side_menu .menu .depth1_item.active .depth2 .depth2_list .depth2_item .depth2_text:before{top:6px;}
    .side .side_menu .menu .depth1_item.active .depth2 .depth2_list .depth2_item .depth2_text span em{font-size:15px;line-height:18px;}
    .side .side_menu .menu .depth1_item.active .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"]:after{top:1px;}
}
@media all and (max-width:1300px){
    .side{width:180px;}
    .side .side_top .side_text_inner .title{font-size:18px;line-height:22px;}
    .side .side_top .side_text_inner .desc{font-size:12px;}
    .side .side_menu .menu .depth1 .depth1_list .depth1_item .depth1_text span em{font-size:14px;}
    .side .side_menu .menu .depth1_item.active .depth2 .depth2_list .depth2_item .depth2_text span em{font-size:13px;}
}
@media all and (max-width:1000px){
    .side{display:none;}
}

.colgroup{display:block;float:right;position:relative;width:1240px;box-sizing:border-box;}
.colgroup article{display:block;position:relative;width:100%;box-sizing:border-box;}
.sub_head{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.sub_head:before,
.sub_head:after,
.sub_head *,
.sub_head *:before,
.sub_head *:after{border:none;font-size:0;line-height:0;box-sizing:border-box;}
.sub_head .sub_head_top{display:block;position:relative;width:100%;margin-bottom:60px;padding:21px 98px 22px 0;}
.sub_head .sub_head_top:before{display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#dedede;content:'';}
.sub_head .sub_head_top .path_box{display:inline-block;position:relative;vertical-align:top;}
.sub_head .sub_head_top .path_box ul{display:inline-block;position:relative;vertical-align:top;}
.sub_head .sub_head_top .path_box ul li{display:inline-block;position:relative;margin-right:12px;padding:14px 0 10px 20px;vertical-align:top;}
.sub_head .sub_head_top .path_box ul li:before{display:block;position:absolute;top:calc(50% - 2px);left:-2px;width:9px;height:8px;border-width:2px 2px 0 0;border-style:solid;border-color:#666;content:'';transform-origin:50% 50%;transform:rotate(45deg);}
.sub_head .sub_head_top .path_box ul li:last-child{margin-right:0;}
.sub_head .sub_head_top .path_box ul li a{display:inline-block;position:relative;font-size:18px;color:#666;line-height:20px;letter-spacing:-0.03em;font-weight:400;font-family:'WantedSans';vertical-align:top;}
.sub_head .sub_head_top .path_box ul li a:hover{text-decoration:underline;text-underline-position:under;}
.sub_head .sub_head_top .path_box ul li:last-child a{color:#102f63;}
.sub_head .sub_head_top .path_box ul li.home{margin-right:0;padding-left:0;}
.sub_head .sub_head_top .path_box ul li.home:before{display:none;}
.sub_head .sub_head_top .path_box ul li.home a{width:30px;height:20px;font-size:0;line-height:0;}
.sub_head .sub_head_top .path_box ul li.home a:before{display:block;position:absolute;top:1px;left:0;width:18px;height:18px;background-image:url(../images/sub/sub_head_icon.png);background-repeat:no-repeat;background-position:left top;content:'';}
.sub_head .sub_head_top .etc_box{display:inline-block;position:absolute;top:21px;right:0;width:98px;vertical-align:top;}
.sub_head .sub_head_top .etc_box .sns_area,
.sub_head .sub_head_top .etc_box .print_area{display:inline-block;position:relative;width:calc((100% - 10px) / 2);margin-left:10px;vertical-align:top;}
.sub_head .sub_head_top .etc_box .sns_area{margin-left:0;}
.sub_head .sub_head_top .etc_box .sns_area .share_btn,
.sub_head .sub_head_top .etc_box .print_area .print_btn{display:block;position:relative;width:100%;height:44px;background-color:#fff;border:1px solid #d7d7d7;border-radius:16px;transition:background-color 400ms ease, border-color 400ms ease;}
.sub_head .sub_head_top .etc_box .sns_area.active .share_btn,
.sub_head .sub_head_top .etc_box .sns_area .share_btn:hover,
.sub_head .sub_head_top .etc_box .print_area .print_btn:hover{background-color:#102f63;border-color:#102f63;}
.sub_head .sub_head_top .etc_box .sns_area .share_btn:before,
.sub_head .sub_head_top .etc_box .print_area .print_btn:before{display:block;position:absolute;background-image:url(../images/sub/sub_head_icon.png);background-repeat:no-repeat;content:'';}
.sub_head .sub_head_top .etc_box .sns_area .share_btn:before{top:calc(50% - 9px);left:calc(50% - 9px);width:18px;height:18px;background-position:left -80px;}
.sub_head .sub_head_top .etc_box .sns_area .share_btn:hover:before{top:calc(50% - 9px);left:calc(50% - 9px);width:18px;height:18px;background-position:-40px -80px;}
.sub_head .sub_head_top .etc_box .sns_area.active .share_btn:before{top:calc(50% - 7px);left:calc(50% - 7px);width:14px;height:14px;background-position:-80px -80px;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer{display:none;position:absolute;z-index:1;top:calc(100% + 10px);right:0;width:330px;padding:20px;vertical-align:top;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#fff;border:1px solid #dedede;border-radius:20px;content:'';box-shadow:0px 20px 40px rgba(0, 0, 0, 0.1)}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item{display:inline-block;position:relative;width:calc((100% - 40px) / 5);margin-right:10px;vertical-align:top;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item:last-child{margin-right:0;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item .layer_btn{display:block;position:relative;width:100%;height:50px;border-radius:15px;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item.copy .layer_btn{border:1px solid #d7d7d7;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item.facebook .layer_btn{background-color:#1e4daf;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item.twitter .layer_btn{background-color:#000;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item.blog .layer_btn{background-color:#32b44a;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item.kakao .layer_btn{background-color:#6a5cff;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item .layer_btn:before{display:block;position:absolute;background-image:url(../images/sub/sub_head_icon.png);background-repeat:no-repeat;content:'';transform-origin:50% 50%;transform:rotateY(0deg);transition:transform 400ms ease;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item .layer_btn:hover:before{transform:rotateY(360deg);}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item.copy .layer_btn:before{top:calc(50% - 16px);left:calc(50% - 12px);width:24px;height:32px;background-position:left -120px;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item.facebook .layer_btn:before{top:calc(50% - 10px);left:calc(50% - 6px);width:12px;height:21px;background-position:-40px -120px;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item.twitter .layer_btn:before{top:calc(50% - 9px);left:calc(50% - 9px);width:18px;height:18px;background-position:-80px -120px;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item.blog .layer_btn:before{top:calc(50% - 7px);left:calc(50% - 16px);width:32px;height:14px;background-position:-120px -120px;}
.sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item.kakao .layer_btn:before{top:calc(50% - 12px);left:calc(50% - 8px);width:16px;height:25px;background-position:-160px -120px;}
.sub_head .sub_head_top .etc_box .print_area .print_btn:before{top:calc(50% - 9px);left:calc(50% - 9px);width:18px;height:18px;background-position:left -40px;}
.sub_head .sub_head_top .etc_box .print_area .print_btn:hover:before{background-position:-40px -40px;}
.sub_head .cms_tab_box{display:block;position:relative;width:100%;margin-bottom:40px;}
.sub_head .cms_tab_box .cms_tab_inner{display:block;position:relative;width:100%;}
.sub_head .cms_tab_box .cms_tab_inner + .cms_tab_inner{margin-top:10px;}
.sub_head .cms_tab_box .cms_tab_inner .tab_open_btn{display:none;}
.sub_head .cms_tab_box .cms_tab_inner .cms_tab_list{display:block;position:relative;width:100%;}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list{}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item{display:inline-block;position:relative;width:calc((100% - 30px) / 4);margin-top:10px;margin-right:10px;vertical-align:top;}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item:nth-child(4n){margin-right:0;}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item:nth-child(-n+4){margin-top:0;}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item .cms_tab_link{display:block;position:relative;width:100%;}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item .cms_tab_link:hover{text-decoration:none;}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item .cms_tab_link:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#fff;border:1px solid #ccc;border-radius:10px;content:'';}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item .cms_tab_link:hover:before{background-color:#f2f7ff;}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item.active .cms_tab_link:before{background-color:#fff;border-color:#4e80d1;box-shadow:0px 20px 40px rgba(0, 0, 0, 0.1);}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item .cms_tab_link span{display:block;position:relative;width:100%;height:66px;text-align:center;}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item .cms_tab_link span em{display:inline-block;position:relative;top:50%;transform:translateY(-50%);font-size:18px;color:#444;line-height:20px;letter-spacing:-0.02em;font-weight:400;font-family:'WantedSans';vertical-align:top;}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item .cms_tab_link:hover span em{color:#000;}
.sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item.active .cms_tab_link span em{color:#4e80d1;font-weight:600;}
.sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list{padding:17px 19px;}
.sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:#f5f5f5;border:1px solid #ccc;border-radius:10px;content:'';}
.sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list .cms_tab_item{display:inline-block;position:relative;padding:0 21px;vertical-align:top;}
.sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list .cms_tab_item:before{display:block;position:absolute;top:5px;right:0;width:1px;height:16px;background-color:#ccc;content:'';}
.sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list .cms_tab_item:last-child:before{display:none;}
.sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list .cms_tab_item .cms_tab_link{display:inline-block;position:relative;vertical-align:top;}
.sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list .cms_tab_item .cms_tab_link:hover{text-decoration:none;}
.sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list .cms_tab_item .cms_tab_link span{display:inline-block;position:relative;vertical-align:top;}
.sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list .cms_tab_item .cms_tab_link span em{display:inline-block;position:relative;font-size:17px;color:#444;line-height:26px;letter-spacing:-0.02em;font-weight:400;font-family:'WantedSans';vertical-align:top;}
.sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list .cms_tab_item .cms_tab_link:hover span em{color:#000;}
.sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list .cms_tab_item.active .cms_tab_link span em{color:#102f63;text-decoration:underline;text-underline-position:under;}
@media all and (max-width:1600px){
    .colgroup{float:left;width:calc(100% - 260px);margin-left:40px;}
    .sub_head .sub_head_top{margin-bottom:30px;padding:11px 44px 12px 0;}
    .sub_head .sub_head_top .path_box ul li a{font-size:16px;}
    .sub_head .sub_head_top .etc_box{top:11px;width:44px;}
    .sub_head .sub_head_top .etc_box .sns_area{display:block;width:100%;}
    .sub_head .sub_head_top .etc_box .sns_area .share_layer{top:calc(100% + 5px);width:280px;padding:15px 20px;}
    .sub_head .sub_head_top .etc_box .sns_area .share_layer .layer_item .layer_btn{height:40px;}
    .sub_head .sub_head_top .etc_box .print_area{display:none;}
    .sub_head .cms_tab_box{margin-bottom:20px;}
    .sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item .cms_tab_link span{height:50px;}
    .sub_head .cms_tab_box .cms_tab_inner.depth4 .cms_tab_list .cms_tab_item .cms_tab_link span em{font-size:16px;line-height:18px;}
    .sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list{padding:16px 9px;}
    .sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list .cms_tab_item{padding:0 16px;}
    .sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list .cms_tab_item:before{top:0;}
    .sub_head .cms_tab_box .cms_tab_inner.depth5 .cms_tab_list .cms_tab_item .cms_tab_link span em{font-size:14px;line-height:16px;}
}
@media all and (max-width:1300px){
    .colgroup{width:calc(100% - 210px);margin-left:30px;}
    .sub_head .sub_head_top .path_box ul li a{font-size:14px;}
}
@media all and (max-width:1000px){
    .colgroup{float:none;width:100%;margin-left:0;}
}

#contents{display:block;width:100%;min-height:760px;margin-bottom:60px;box-sizing:border-box;}
#contents > *:first-child{margin-top:0;}
/* --------------- side, colgroup 끝 --------------- */