@charset "utf-8";

/* (주)한신정보기술 박남규 - 2023.11 */

@media screen and (min-width:1461px){
    .lnb .menu .depth1{padding:0 98px 0 440px;}
    .lnb .menu .depth1 .depth1_list .depth1_item{margin-left:50px;}
}
@media screen and (min-width:1201px) and (max-width:1460px){
    .lnb .menu .depth1 .depth1_list .depth1_item{padding:0 1%;}
}
@media screen and (min-width:1001px) and (max-width:1200px){
    .lnb .menu .depth1{padding:0 100px 0 285px;}
    .lnb .menu .depth1 .depth1_list .depth1_item{padding:0 6px;}
    .lnb .menu .depth1 .depth1_list .depth1_item:nth-child(5),
    .lnb .menu .depth1 .depth1_list .depth1_item:last-child{width:50px;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span em{font-size:17px;line-height:20px;}
    .lnb .menu .depth1 .depth1_list .depth1_item:nth-child(5) .depth1_text span em,
    .lnb .menu .depth1 .depth1_list .depth1_item:last-child .depth1_text span em{word-break:break-all;}
}