/*테이블 padding 조절*/
.table.t_padding tbody td{padding:14px 10px;}
/*이미지박스*/
.box_dot.bio{padding:20px 25px;}
.box_dot.bio .images{display: inline-block; margin-right:20px; vertical-align: top;}
.box_dot.bio .desc{display: inline-block; width: calc(100% - 201px);}
.cts1796_wrap .box_dot.bio .desc{display: inline-block; width: calc(100% - 265px);}

@media all and (max-width: 640px){
    .box_dot.bio .images{display: block; margin-right:0; margin-bottom: 15px; text-align: center;}
    .box_dot.bio .desc{display: block; width:100%;}
    .cts1796_wrap .box_dot.bio .desc{display: block; width:100%;}
}
/*BIO 홍보관 > 오송첨단의료복합단지*/
.bio_step_box{margin:20px 0; text-align: center;}
.bio_step_box ul{font-size:0;line-height:0;}
.bio_step_box .item{display: inline-block; width:calc(25% - 85px); margin:0 41px; vertical-align: top;  }
.bio_step_box .item .title{width:124px; height: 123px; margin: 0 auto; background: url('/site/bioindustry/images/contents/cts1796_img.png')no-repeat 0 0; font-size: 0;}
.bio_step_box .item .cont{margin-top:15px;}
.bio_step_box .item:nth-child(2) .title{background-position-x:-192px; }
.bio_step_box .item:nth-child(3) .title{background-position-x:-382px; }
.bio_step_box .item:nth-child(4) .title{background-position-x:-572px; }

@media all and (max-width: 1400px){
    .bio_step_box .item{width:calc(50% - 180px); margin:0 55px 10px;}
}
@media all and (max-width: 800px){
    .bio_step_box .item{width:calc(50% - 150px); margin:0 25px 10px;}
}
@media all and (max-width: 640px){
    .bio_step_box .item{width:calc(50% - 65px); }
}
@media all and (max-width: 425px){
    .bio_step_box .item{width:180px;}
}

/* BIO 홍보관 > 오송생명과학단지 */
.cts1795_wrap .box.point_text ul{margin-top:0;}

/* 홈페이지 소개 > 인사말 */
.cts1785_wrap .img_box{display:block;position:relative;width:100%;min-height:330px;padding-left:270px;box-sizing:border-box;}
.cts1785_wrap .img_box:before{display:block;position:absolute;top:0;left:0;width:260px;height:330px;background:url(../images/contents/cts1785_img01.gif) no-repeat left top;content:'';}
.cts1785_wrap .img_box .warning_box{min-height:330px;}
.cts1785_wrap .img_box .warning_box p{margin-top:30px;}
@media all and (max-width:1000px){
    .cts1785_wrap .img_box{padding-top:350px;padding-left:0;}
    .cts1785_wrap .img_box:before{left:calc(50% - 130px);background-size:contain;}
    .cts1785_wrap .img_box .warning_box{min-height:auto;}
    .cts1785_wrap .img_box .warning_box p{margin-top:10px;}
    .cts1785_wrap .img_box .warning_box p br{display:none;}
}