/* jalnan */
@font-face {
    font-family: 'yg-jalnan';
    font-weight: normal;
    src: url('../../../common/font/JalnanOTF00.woff2') format('woff2'),
         url('../../../common/font/Jalnan.woff') format('woff');
}
