@charset "utf-8";

/* (주)한신정보기술 박남규 - 2022.10 */

/* sub_visual */
.sub_visual{display:block;width:100%;min-height:52px;background-color:#f9f9f9;box-sizing:border-box;}
.sub_visual .path_box{display:block;width:auto;padding-top:14px;padding-bottom:14px;font-size:0;line-height:0;box-sizing:border-box;}
.sub_visual .path_box .path_list{display:block;float:right;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;text-align:right;}
.sub_visual .path_box .path_list .path_item{display:inline-block;position:relative;width:auto;margin-left:12px;padding-right:18px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.sub_visual .path_box .path_list .path_item:first-child{margin-left:0;}
.sub_visual .path_box .path_list .path_item:before{}
.sub_visual .path_box .path_list .path_item:first-child:before{}
.sub_visual .path_box .path_list .path_item .path_link{display:inline-block;width:auto;vertical-align:top;box-sizing:border-box;}
.sub_visual .path_box .path_list .path_item .path_link .path_text{display:inline-block;position:relative;font-size:15px;color:#656565;line-height:24px;letter-spacing:-0.03em;font-weight:400;font-family:'Pretendard';vertical-align:top;box-sizing:border-box;transition-property:color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.sub_visual .path_box .path_list .path_item .path_link:hover .path_text{color:#000;}
.sub_visual .path_box .path_list .path_item:last-child .path_link .path_text{color:#000;}
.sub_visual .path_box .path_list .path_item .path_link .path_text:before{display:block;position:absolute;bottom:0;left:0;width:0px;height:1px;background-color:transparent;content:'';box-sizing:border-box;transition-property:width, background-color;transition-duration:250ms;transition-timing-function:ease-in-out;}
.sub_visual .path_box .path_list .path_item .path_link:hover .path_text:before{width:100%;background-color:#3e3e3e;}
.sub_visual .path_box .path_list .path_item:last-child .path_link .path_text:before{width:100%;background-color:#3e3e3e;}
.sub_visual .path_box .path_list .path_item.home .path_link{width:24px;height:24px;background-color:#f00;}
.sub_visual .path_box .path_list .path_item.home .path_link .path_text{font-size:0;line-height:0;}

/* container */
#container{margin-top:50px;}
/* side */
.side{display:block;float:left;width:270px;min-height:500px;background-color:pink;box-sizing:border-box;}

/* main */
#container main{display:block;float:right;width:1150px;min-height:500px;background-color:blue;box-sizing:border-box;}