@charset "utf-8";

/* 공공누리 */
#container .colgroup .sub_foot .kogl {padding:20px 2%;}
#container .colgroup .sub_foot .kogl img {float:left; margin-right:20px;}
#container .colgroup .sub_foot .kogl p {font-size:16px; line-height:27px;}
#container .colgroup .sub_foot .kogl p strong {font-weight:400;}
#container .colgroup .sub_foot .kogl p strong, #container .colgroup .sub_foot .kogl p em {color:#df0101;}
@media screen and (max-width:640px) {
    #container .colgroup .sub_foot .kogl img {max-height:40px; margin-right:10px;}
    #container .colgroup .sub_foot .kogl p {font-size:14px; line-height:20px;}
}

/* 만족도 조사 */
#container .colgroup .sub_foot .satisfaction {padding:20px 2%; background-color:#f7f7f7;}
#container .colgroup .sub_foot .satisfaction p {margin-bottom:10px; padding-bottom:7px; padding-left:36px; background:url('/common/images/program/comment_smile.png') no-repeat left top; color:#000; font-weight:600; font-size:16px; line-height:21px;}
#container .colgroup .sub_foot .satisfaction .evaluation ul li {float:left; margin-right:25px;}
#container .colgroup .sub_foot .satisfaction .evaluation ul li label {display:inline-block; position:relative; font-size:16px; line-height:18px; vertical-align:middle;}
#container .colgroup .sub_foot .satisfaction .evaluation ul li input[type='radio'] {width:16px; height:16px; margin-right:5px;}
#container .colgroup .sub_foot .satisfaction .opinion {position:relative; margin-top:10px; padding-right:110px;}
#container .colgroup .sub_foot .satisfaction input[type='text'] {width:100%; height:34px; padding:5px; border:1px solid #e1e1e1; font-size:16px;}
#container .colgroup .sub_foot .satisfaction input[type='submit'] {display:block; position:absolute; top:0; right:0; width:100px; height:100%; background-color:#202e70; color:#fff;}
@media screen and (max-width:640px) {
    #container .colgroup .sub_foot .satisfaction p {margin-bottom:0; padding-bottom:12px; font-size:14px; line-height:16px;}
    #container .colgroup .sub_foot .satisfaction .evaluation ul li {margin-right:10px;}
    #container .colgroup .sub_foot .satisfaction .evaluation ul li label {font-size:14px; line-height:16px;}
    #container .colgroup .sub_foot .satisfaction .opinion {padding-right:0;}
    #container .colgroup .sub_foot .satisfaction input[type='text'] {font-size:14px;}
    #container .colgroup .sub_foot .satisfaction input[type='submit'] {position:static; width:100%; height:40px; margin-top:10px; font-size:14px;}
}

/* 담당자 정보 */
#container .colgroup .sub_foot .manager {overflow:hidden; position:relative; padding-right:2%; padding-left:2%;}
#container .colgroup .sub_foot .manager ul {margin-top:-5px; padding-top:15px; padding-bottom:15px;}
#container .colgroup .sub_foot .manager ul li {float:left; margin-top:5px; margin-right:25px; color:#666; font-size:16px; line-height:18px;}
#container .colgroup .sub_foot .manager ul li strong {display:inline-block; position:relative; margin-right:5px; padding-right:6px; color:#000; font-weight:400;}
#container .colgroup .sub_foot .manager ul li strong:after {display:block; position:absolute; top:50%; right:0; width:1px; height:14px; margin-top:-7px; background-color:#ccc;}
@media screen and (max-width:640px) {
    #container .colgroup .sub_foot .manager ul li {font-size:14px; line-height:16px;}
}