@charset "utf-8";

body[data-layout-type="www-type"]{}
/* 대표전용 상단깨기 */
.header_box .logo a .logo_icon{width:196px;height:44px;background-image:url(../images/common/www_logo.png);}
@media screen and (min-width:1001px){
    .header_gnb .direct_link_wrap .language{display:inline-block;}
    .header_box .logo a .logo_icon{top:calc(50% - 22px);}
    .header_box .logo a span{display:none;}
    .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span:before{top:calc(100% - 6px);left:calc(50% - 4px);width:9px;height:9px;}
}