@charset "utf-8";

/* KoPubWorldDotum */
@font-face{
    font-family : 'KoPubWorldDotum';
    font-weight : 600;
    src : url("../font/KoPubWorldDotumBold.woff2") format('woff2'),
    url("../font/KoPubWorldDotumBold.woff") format('woff');
}
@font-face{
    font-family : 'KoPubWorldDotum';
    font-weight : 400;
    src : url("../font/KoPubWorldDotumMedium.woff2") format('woff2'),
    url("../font/KoPubWorldDotumMedium.woff") format('woff');
}
@font-face{
    font-family : 'KoPubWorldDotum';
    font-weight : 200;
    src : url("../font/KoPubWorldDotumLight.woff2") format('woff2'),
    url("../font/KoPubWorldDotumLight.woff") format('woff');
}

/* KoPubWorldBatang */
@font-face{
    font-family : 'KoPubWorldBatang';
    font-weight : 600;
    src : url("../font/KoPubWorldBatangBold.woff2") format('woff2'),
    url("../font/KoPubWorldBatangBold.woff") format('woff');
}
@font-face{
    font-family : 'KoPubWorldBatang';
    font-weight : 400;
    src : url("../font/KoPubWorldBatangMedium.woff2") format('woff2'),
    url("../font/KoPubWorldBatangMedium.woff") format('woff');
}
@font-face{
    font-family : 'KoPubWorldBatang';
    font-weight : 200;
    src : url("../font/KoPubWorldBatangLight.woff2") format('woff2'),
    url("../font/KoPubWorldBatangLight.woff") format('woff');
}

/* NotoKr */
@font-face{
    font-family : 'NotoKr';
    font-weight : 600;
    src : url("../font/NotoSansKR-Bold.woff") format('woff');
}
@font-face{
    font-family : 'NotoKr';
    font-weight : 400;
    src : url("../font/NotoSansKR-Regular.woff") format('woff');
}
@font-face{
    font-family : 'NotoKr';
    font-weight : 200;
    src : url("../font/NotoSansKR-Light.woff2") format('woff2'),
    url("../font/NotoSansKR-Light.woff") format('woff');
}