@charset "utf-8";

/* NotoSerifCJKkr */
@font-face{
    font-family : 'NotoSerifCJKkr';
    font-weight : 800;
    src : url("../font/NotoSerifCJKkr-Black.woff") format('woff');
}
@font-face{
    font-family : 'NotoSerifCJKkr';
    font-weight : 700;
    src : url("../font/NotoSerifCJKkr-SemiBold.woff") format('woff');
}
@font-face{
    font-family : 'NotoSerifCJKkr';
    font-weight : 600;
    src : url("../font/NotoSerifCJKkr-Bold.woff") format('woff');
}
@font-face{
    font-family : 'NotoSerifCJKkr';
    font-weight : 500;
    src : url("../font/NotoSerifCJKkr-Medium.woff") format('woff');
}
@font-face{
    font-family : 'NotoSerifCJKkr';
    font-weight : 400;
    src : url("../font/NotoSerifCJKkr-Regular.woff") format('woff');
}
@font-face{
    font-family : 'NotoSerifCJKkr';
    font-weight : 300;
    src : url("../font/NotoSerifCJKkr-ExtraLight.woff") format('woff');
}
@font-face{
    font-family : 'NotoSerifCJKkr';
    font-weight : 200;
    src : url("../font/NotoSerifCJKkr-Light.woff") format('woff');
}