@charset "UTF-8";

/* (주)한신정보기술 - 2024. 09. */

/* ---------------------- 시티투어 wrapper 시작 ---------------------- */
body{overflow-x:hidden;}
#wrapper:before{display:none;}
@media all and (max-width:1600px) {
}

/* ---------------------- 시티투어 wrapper 끝 ---------------------- */

/* ---------------------- 시티투어 header 시작 ---------------------- */
#header{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
@media all and (min-width:1001px){
    #header{padding-bottom:0;background-color:transparent;}
    /* header_box */
    #header .header_box{transition:none;box-sizing:border-box;}
    #header .header_box .lnb_wrap{display:block;position:relative;width:100%;box-sizing:border-box;}
    #header .header_box .lnb_wrap .wrap{width:100%;height:130px;padding:0 calc((100% - 1600px) / 2);}
    #header .header_box .lnb_wrap .wrap .logo{display:inline-block;position:absolute;z-index:21;top:58px;left:calc((100% - 1600px) / 2);width:auto;height:auto;vertical-align:top;box-sizing:border-box;}
    #header .header_box .lnb_wrap .wrap .logo *{border:none;font-size:0;line-height:0;box-sizing:border-box;}
    #header .header_box .lnb_wrap .wrap .logo .logo_anchor{display:inline-block;position:relative;width:auto;height:auto;vertical-align:top;}
    #header .header_box .lnb_wrap .wrap .logo .logo_image{display:inline-block;position:relative;width:auto;height:auto;vertical-align:top;}
    #header .header_box .lnb_wrap .wrap .logo .logo_image img{}
    #header .header_box .lnb_wrap .wrap .logo .logo_name{width:auto;margin:0;padding:0;visibility:hidden;opacity:0;}
    /* lnb */
    #header .lnb{z-index:20;top:89px;width:100%;border:none;}
    #header .lnb .menu{height:auto !important;}
    #header .lnb .menu:before,
    #header .lnb .menu:after{display:none;}
    #header .lnb .menu .lnb_topbox{display:inline-block;position:absolute;top:auto;left:auto;bottom:calc(100% + 24px);right:calc((100% - 1600px) / 2);width:auto;height:auto;margin:0;padding:0;vertical-align:top;box-sizing:border-box;}
    #header .lnb .menu .lnb_topbox .wrap{display:inline-block;position:relative;width:auto;height:auto;margin:0;padding:0;vertical-align:top;box-sizing:border-box;}
    #header .lnb .menu .lnb_topbox .wrap .gnb{display:inline-block;position:relative;width:auto;height:auto;margin:0;padding:0;vertical-align:top;box-sizing:border-box;}
    #header .lnb .menu .lnb_topbox .wrap .gnb ul{display:inline-block;position:relative;width:auto;height:auto;margin:0;padding:0;vertical-align:top;box-sizing:border-box;}
    #header .lnb .menu .lnb_topbox .wrap .gnb ul li{display:inline-block;position:relative;width:auto;height:auto;margin:0 0 0 4px;padding:0;vertical-align:top;box-sizing:border-box;}
    #header .lnb .menu .lnb_topbox .wrap .gnb ul li:first-child{margin-left:0;}
    @keyframes lnb-topbox-ani {
        0%{transform:translateY(0px);}
        100%{transform:translateY(-5px);}
    }
    #header .lnb .menu .lnb_topbox .wrap .gnb ul li:before{display:block;position:absolute;top:10px;left:0;width:100%;height:calc(100% - 20px);background-color:transparent;background-image:url(../images/common/lnb_topbox_li_before_w.png);background-repeat:no-repeat;background-position:left top;background-size:100% 100%;content:'';}
    #header .lnb .menu .lnb_topbox .wrap .gnb ul li:hover:before{animation:lnb-topbox-ani 700ms 100ms alternate infinite cubic-bezier(.25, .46, .450, .94);}
    #header .lnb .menu .lnb_topbox .wrap .gnb ul li a{display:inline-block;position:relative;width:auto;height:auto;margin:0;padding:10px 19px;font-size:15px;color:rgba(255, 255, 255, 0.7);line-height:32px;letter-spacing:0;font-weight:200;font-family:'SUITE','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;vertical-align:top;box-sizing:border-box;}
    #header .lnb .menu .lnb_topbox .wrap .gnb ul li a:hover{text-decoration:none;animation:lnb-topbox-ani 700ms 0ms alternate infinite cubic-bezier(.25, .46, .450, .94);}
    
    #header .lnb .menu .depth1{display:block;position:relative;width:100%;padding:0 calc(((100% - 1600px) / 2) + 257px) 0 calc(((100% - 1600px) / 2) + 173px);box-sizing:border-box;}
    #header .lnb .menu .depth1 .depth1_list{display:block;position:relative;width:100%;box-sizing:border-box;text-align:right;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item{display:inline-block;position:relative;width:auto;margin:0 0 0 132px;padding:0;vertical-align:top;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item:first-child{margin-left:0;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{display:inline-block;position:relative;margin:0;padding:0;vertical-align:top;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:before{display:none;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{display:inline-block;position:relative;margin:0;padding:10px 0;font-size:21px;color:#fff;line-height:21px;letter-spacing:0;font-weight:600;font-family:'SUITE','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;word-break:keep-all;vertical-align:top;}
    
    #header .lnb .menu .depth2{display:inline-block;overflow:visible;position:absolute;bottom:auto;right:auto;top:100%;left:calc((100% - 170px) / 2);width:170px;height:auto;padding:0;background-color:#fff;border-radius:20px;vertical-align:top;box-sizing:border-box;box-shadow:15px 30px 30px 0 rgba(1, 83, 69, 0.2);opacity:0;visibility:hidden;transition-property:opacity, visibility;transition-duration:0.4s;transition-timing-function:cubic-bezier(0.35, 0.3, 0.3, 0.5);}
    #header .lnb .menu .depth1_item.active .depth2{opacity:1;visibility:visible;}
    #header .lnb .menu .depth2:before,
    #header .lnb .menu .depth2:after{display:block;position:absolute;background-repeat:no-repeat;background-position:left top;content:'';box-sizing:border-box;}
    #header .lnb .menu .depth2:before{top:0px;right:0px;width:53px;height:16px;background-image:url(../images/common/lnb_deco01.png);opacity:0;visibility:hidden;transition-property:top, right, opacity, visibility;transition-duration:0.4s;transition-timing-function:cubic-bezier(0.35, 0.3, 0.3, 0.5);}
    #header .lnb .menu .depth1_item.active .depth2:before{top:-11px;right:-28px;opacity:1;visibility:visible;}
    #header .lnb .menu .depth2:after{bottom:-17px;left:-23px;width:55px;height:70px;background-image:url(../images/common/lnb_deco02.png);opacity:0;visibility:hidden;transform:scale(0.7);transition-property:transform, opacity, visibility;transition-duration:0.4s;transition-timing-function:cubic-bezier(0.35, 0.3, 0.3, 0.5);}
    #header .lnb .menu .depth1_item.active .depth2:after{transform:scale(1);opacity:1;visibility:visible;}
    #header .lnb .menu .depth2 .depth2_list{display:block;position:relative;width:100%;margin:0;padding:16px 10px;vertical-align:top;box-sizing:border-box;text-align:center;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item{display:block;position:relative;width:100%;min-width:auto;margin:0;box-sizing:border-box;transition:none;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{display:block;overflow:visible;position:relative;width:100%;height:42px;margin:0;padding:0;border-radius:0;border:none;background-color:transparent;font-size:0;line-height:0;box-sizing:border-box;transition:none;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:before{display:none;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text{border:none;box-shadow:none;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text:before{}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span{display:inline-block;position:relative;top:50%;width:auto;margin:0;padding:0;font-size:17px;color:#5a676f;line-height:21px;letter-spacing:0;font-weight:600;font-family:'SUITE','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;word-break:keep-all;vertical-align:top;box-sizing:border-box;transform:translateY(-50%);transition:color 0.4s ease-in-out;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item.active .depth2_text span{color:#283136;text-decoration:underline;text-decoration-color:#0bae5e;text-decoration-thickness:3px;text-underline-position:from-font;}
    #header .lnb .menu .depth3{display:none;}
    
    /* sitemap_quick */
    .sitemap_quick{display:inline-block;position:absolute;z-index:21;bottom:0;right:calc((100% - 1600px) / 2);width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
    .sitemap_quick .sitemap_link{display:inline-block;position:relative;width:31px;height:41px;background-image:url(../images/common/sitemap_menushow.png);background-repeat:no-repeat;background-position:right 1px center;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
    /* menu_show */
    .menu_show{display:none;}
}
@media all and (min-width:1001px) and (max-width:1600px){
    /* header_box */
    #header .header_box .lnb_wrap .wrap{padding:0 3%;}
    #header .header_box .lnb_wrap .wrap .logo{left:3%;}
    /* lnb */
    #header .lnb .menu .lnb_topbox{right:3%;}
    #header .lnb .menu .depth1{padding:0 calc(3% + 100px) 0 calc(3% + 173px);}
    #header .lnb .menu .depth1 .depth1_list .depth1_item{margin:0 0 0 8vw;}
    #header .lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{font-size:20px;}
    #header .lnb .menu .depth2{left:calc((100% - 160px) / 2);width:160px;}
    #header .lnb .menu .depth2:before{transform:scale(0.9);}
    #header .lnb .menu .depth2:after{left:-25px;transform:scale(0.5);}
    #header .lnb .menu .depth1_item.active .depth2:before{top:-8px;right:-25px;}
    #header .lnb .menu .depth1_item.active .depth2:after{transform:scale(0.85);}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{height:40px;}
    #header .lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span{font-size:16px;line-height:20px;}
    /* sitemap_quick */
    .sitemap_quick{right:3%;}
}
@media all and (max-width:1000px){
    #header{position:relative;background-color:transparent;}
    #header *{font-family:'SUITE','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
    /* header_box */
    #header .header_box{z-index:80;}
    #header .header_box .lnb_wrap{height:auto;}
    #header .header_box .lnb_wrap .wrap{height:auto;padding:22px 3% 0;}
    #header .header_box .lnb_wrap .wrap .logo{display:inline-block;position:relative;top:0;left:0;width:auto;height:auto;vertical-align:top;box-sizing:border-box;}
    #header .header_box .lnb_wrap .wrap .logo *{border:none;font-size:0;line-height:0;box-sizing:border-box;}
    #header .header_box .lnb_wrap .wrap .logo .logo_anchor{display:inline-block;position:relative;width:auto;height:auto;vertical-align:top;}
    #header .header_box .lnb_wrap .wrap .logo .logo_image{display:inline-block;position:relative;width:auto;height:auto;vertical-align:top;}
    #header .header_box .lnb_wrap .wrap .logo .logo_image img{width:117px;height:50px;}
    #header .header_box .lnb_wrap .wrap .logo .logo_name{width:auto;margin:0;padding:0;visibility:hidden;opacity:0;}
    /* lnb */
    #header .lnb{position:fixed;top:0;border-top:none;}
    #header .lnb .menu{}
    #header .lnb .menu .lnb_topbox{height:auto;}
    #header .lnb .menu .lnb_topbox .wrap{height:72px;padding:22px 45px 0 0;}
    #header .lnb .menu .lnb_topbox .wrap .gnb{}
    #header .lnb .menu .lnb_topbox .wrap .gnb ul{}
    #header .lnb .menu .lnb_topbox .wrap .gnb ul li{}
    #header .lnb .menu .lnb_topbox .wrap .gnb ul li a{}
    /* sitemap_quick */
    .sitemap_quick{display:none;}
    /* menu_show */
    .menu_show{display:block;top:22px;right:3%;margin-top:0;}
    .menu_show .menu_button{width:40px;height:30px;border:none;background-image:url(../images/common/sitemap_menushow_m.png);background-repeat:no-repeat;background-position:right 1px center;background-size:auto;}
    .menu_show .close_button{width:40px;height:30px;border:none;background-position:-68px -74px;}
}
/* ---------------------- 시티투어 header 끝 ---------------------- */

/* ---------------------- 시티투어 container 시작 ---------------------- */
#container{display:block;z-index:10;position:relative;width:100%;margin:0;padding:0;background-color:transparent;box-sizing:border-box;}
.wrap{position:relative;width:1600px;margin:0 auto;}
@media all and (max-width:1600px) {
    .wrap{width:94%;}
}
@media all and (max-width:1000px) {

}
/* ---------------------- 시티투어 container 끝 ---------------------- */

/* --------------- 시티투어 footer 시작 --------------- */
@keyframes move_bus {
    0%, 100%{transform:rotate(0deg);}
    60%{transform:rotate(-1deg);}
    80%{transform:rotate(-1.5deg);}
}
@keyframes move_wheel {
    0%, 100%{transform:scale(1);transform-origin:center bottom;}
    50%{transform:scale(0.97);transform-origin:center bottom;}
}
@keyframes move_road {
    from{transform:translateX(0px);}
    to{transform:translateX(50px);}
}

#footer{display:block;position:relative;z-index:60;width:100%;border:none;background-color:#d4f3e6;box-sizing:border-box;}
#footer:before{display:block;position:absolute;top:-34px;left:0;width:100vw;height:35px;background:url(../images/common/footer_deco.png) no-repeat center top;content:'';box-sizing:border-box;}
#footer .wrap{padding:74px 0;}
#footer .footer_top{display:inline-block;z-index:5;position:absolute;bottom:55px;right:-50px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
#footer .footer_top .top_btn{display:inline-block;position:relative;width:169px;height:86px;border:none;font-size:0;color:transparent;line-height:0;vertical-align:top;box-sizing:border-box;text-align:left;}
/*#footer .footer_top .top_btn{background-color:black;}*/
#footer .footer_top .top_btn > span{display:inline-block;position:relative;width:100%;height:100%;font-size:0;color:transparent;line-height:0;vertical-align:top;box-sizing:border-box;}
#footer .footer_mid{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
#footer .footer_mid .footer_logo{display:block;position:relative;top:0;left:0;width:100%;box-sizing:border-box;}
#footer .footer_mid .footer_logo .logo_anchor{display:inline-block;position:relative;width:auto;vertical-align:top;box-sizing:border-box;}
#footer .footer_mid .footer_logo .logo_anchor .logo_image{display:inline-block;width:auto;vertical-align:top;box-sizing:border-box;}
#footer .footer_mid .footer_logo .logo_anchor .logo_name{width:auto;margin:0;padding:0;font-size:0;color:transparent;line-height:0;vertical-align:top;opacity:0;visibility:hidden;}
#footer .footer_mid .footer_info{display:block;position:relative;width:100%;font-size:0;color:transparent;line-height:0;box-sizing:border-box;}
#footer .footer_mid .footer_info .info_list{display:block;position:relative;width:100%;box-sizing:border-box;}
#footer .footer_mid .footer_info .info_list .info_item{display:block;font-size:17px;color:#34403b;line-height:28px;letter-spacing:0;font-weight:500;font-family:'SUITE','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;word-break:keep-all;box-sizing:border-box;}
#footer .footer_mid .footer_info .info_list .info_item.add{}
#footer .footer_mid .footer_info .info_list .info_item.tel{}
#footer .footer_mid .footer_info .copyright{display:block;position:relative;margin-top:4px;font-size:15px;color:#708f82;line-height:25px;letter-spacing:0;font-weight:400;font-family:'SUITE','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;word-break:keep-all;box-sizing:border-box;}
#footer .footer_nav{display:block;position:relative;width:100%;margin-top:74px;padding:0;box-sizing:border-box;}
#footer .footer_nav .nav_list{display:block;position:relative;width:100%;font-size:0;line-height:0;box-sizing:border-box;text-align:center;}
#footer .footer_nav .nav_list .nav_item{display:inline-block;position:relative;float:none;width:auto;margin:0;padding:0 13px 0 17px;vertical-align:top;box-sizing:border-box;}
#footer .footer_nav .nav_list .nav_item:first-child:before{display:none;}
#footer .footer_nav .nav_list .nav_item .nav_link{display:inline-block;padding:0;font-size:16px;color:#697d75;line-height:28px;letter-spacing:0;font-weight:500;font-family:'SUITE','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;vertical-align:top;box-sizing:border-box;}
#footer .footer_nav .nav_list .nav_item .nav_link:hover{color:#34403b;text-decoration:none;}
#footer .footer_nav .nav_list .nav_item .nav_link:before{display:none;}
@media all and (min-width:641px) {
    #footer .footer_mid .footer_info .copyright > br{display:none;}
}
@media all and (min-width:801px) {
    #footer .footer_nav .nav_list .nav_item:before{display:block;position:absolute;top:calc((100% - 4px) / 2);left:0;width:4px;height:4px;border-radius:100%;background-color:#b9decf;content:'';box-sizing:border-box;}
}
@media all and (min-width:1001px) {
    #footer .footer_top .top_btn > span:before,
    #footer .footer_top .top_btn > span:after{display:block;position:absolute;left:0;width:169px;height:100%;content:'';box-sizing:border-box;}
    #footer .footer_top .top_btn > span:before{top:0;background:url(../images/common/footer_top_btn1.png) no-repeat left top;}
    #footer .footer_top .top_btn > span:after{bottom:0;background:url(../images/common/footer_top_btn2.png) no-repeat left top;}
    #footer .footer_top .top_btn:hover > span{animation:move_road 0.8s ease-out both;}
    #footer .footer_top .top_btn:hover > span:before,
    #footer .footer_top .top_btn:hover > span:after{animation-duration:0.8s;animation-timing-function:ease-out;animation-fill-mode:both;}
    #footer .footer_top .top_btn:hover > span:before{animation-name:move_bus;}
    #footer .footer_top .top_btn:hover > span:after{animation-name:move_wheel;}
    #footer .footer_mid .footer_logo{display:inline-block;position:relative;top:0;left:0;width:auto;padding-top:2px;vertical-align:top;box-sizing:border-box;}
    #footer .footer_mid .footer_info{display:inline-block;position:relative;width:auto;padding-left:55px;font-size:0;color:transparent;line-height:0;vertical-align:top;box-sizing:border-box;text-align:left;}
    #footer .footer_nav .nav_list .nav_item:before{top:calc((100% - 5px) / 2);width:5px;height:5px;}
}
@media all and (min-width:1601px) and (max-width:1800px) {
    #footer .footer_top{right:50px;}
}
@media all and (max-width:1600px) {
    #footer .wrap{padding:70px 0 125px;}
    #footer .footer_top{bottom:25px;right:25px;}
    #footer .footer_mid .footer_info .info_list .info_item{font-size:16px;}
    #footer .footer_nav{margin-top:30px;}
}
@media all and (max-width:1000px) {
    #footer:before{top:-28px;height:30px;background-image:url(../images/common/footer_m_deco.png);}
    #footer .wrap{padding:43px 0 120px;}
    #footer .footer_top{right:0;}
    #footer .footer_top .top_btn{width:139px;height:71px;}
    #footer .footer_top .top_btn > span{background:url(../images/common/footer_top_btn.png) no-repeat left top / cover;}
    #footer .footer_mid, #footer .footer_nav{padding:0 3%;}
    #footer .footer_mid .footer_logo .logo_anchor .logo_image > img{width:142px;height:60px;}
    #footer .footer_mid .footer_info{margin-top:30px;}
    #footer .footer_mid .footer_info .info_list .info_item{font-size:15px;line-height:25px;}
    #footer .footer_mid .footer_info .copyright{margin-top:10px;font-size:14px;line-height:23px;}
    #footer .footer_nav .nav_list .nav_item{padding:0 12px 0 15px;}
    #footer .footer_nav .nav_list .nav_item .nav_link{font-size:15px;}
}
@media all and (min-width:571px) and (max-width:800px) {
    #footer .footer_nav .nav_list{padding:0 12%;}
}
@media all and (max-width:640px) {
    #footer .footer_top .top_btn{width:124px;height:63px;}
    #footer .footer_mid .footer_info{margin-top:27px;}
    #footer .footer_mid .footer_info .info_list .info_item{font-size:14px;line-height:23px;}
    #footer .footer_mid .footer_info .copyright{font-size:13px;line-height:20px;}
    #footer .footer_nav .nav_list .nav_item{padding:0 13px;}
    #footer .footer_nav .nav_list .nav_item .nav_link{font-size:14px;}
}
/* --------------- 시티투어 footer 끝 --------------- */

