@charset "UTF-8";

/* Hak */
@font-face{
    font-family : 'Hak';
    font-weight : 400;
    src : url("../font/HakgyoansimRikodeoR.woff") format('woff');
}

/* Tan */
@font-face{
    font-family : 'Tan';
    font-weight : 600;
    src : url("../font/Tangerine-Bold.woff") format('woff');
}
@font-face{
    font-family : 'Tan';
    font-weight : 400;
    src : url("../font/Tangerine-Regular.woff") format('woff');
}

/* SUITE */
@font-face{
    font-family : 'SUITE';
    font-weight : 900;
    src : url("../font/SUITE-Heavy.woff") format('woff');
}
@font-face{
    font-family : 'SUITE';
    font-weight : 800;
    src : url("../font/SUITE-ExtraBold.woff") format('woff');
}
@font-face{
    font-family : 'SUITE';
    font-weight : 600;
    src : url("../font/SUITE-Bold.woff") format('woff');
}
@font-face{
    font-family : 'SUITE';
    font-weight : 500;
    src : url("../font/SUITE-Medium.woff") format('woff');
}
@font-face{
    font-family : 'SUITE';
    font-weight : 400;
    src : url("../font/SUITE-Regular.woff") format('woff');
}
@font-face{
    font-family : 'SUITE';
    font-weight : 200;
    src : url("../font/SUITE-Light.woff") format('woff');
}