@charset "UTF-8";

/* (주)한신정보기술 박남규 - 2022.03 */

/* 기본세팅 */
body{position:relative;font-size:16px;color:#444;line-height:25px;letter-spacing:-0.03em;font-weight:200;font-family:'Notokr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
a:link{color:#444;text-decoration:none;}
a:visited{color:#444;text-decoration:none;}
a:hover{color:#444;text-decoration:underline;}
a:active{color:#444;text-decoration:underline;}
a span{cursor:pointer;}
button{cursor:pointer;font-family:'Notokr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input{font-family:'Notokr','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
input[type="submit"]{cursor:pointer;}

/* Slider */
.slick-slider{position:relative;display:block;box-sizing:border-box;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;}
.slick-track{ position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;width:100%;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
#scrollbar{display:block;visibility:hidden;overflow-x:scroll;overflow-y:scroll;position:absolute;top:-100px;left:-100px;z-index:-1;width:100px;height:100px;}

/* 메뉴공통css */
/* 메뉴 */
.menu.init, .menu.init:before, .menu.init:after, .menu.init .depth, .menu.init .depth:before, .menu.init .depth:after, .menu.init .depth_list, .menu.init .depth_list:before, .menu.init .depth_list:after, .menu.init .depth_item, .menu.init .depth_item:before, .menu.init .depth_item:after, .menu.init .depth_text, .menu.init .depth_text:before, .menu.init .depth_text:after, .menu.init .depth_title, .menu.init .depth_title:before, .menu.init .depth_title:after {transition-property:all;transition-duration:0.25s;transition-timing-function:linear;}
.menu, .menu .depth, .menu .depth_list, .menu .depth_item, .menu .depth_text {position:relative;}
.menu {font-size:0;line-height:0px;}
.menu .depth:not(.depth1) {visibility:hidden;opacity:0;overflow:hidden;}
.menu .depth1 {z-index:30;}
.menu .depth_list {z-index:10;}
.menu .depth_text {display:inline-block;}

/* 1, 2차 메뉴 배경 */
.menu.before:before, .menu.after:after {display:block;position:absolute;}
.menu.before:before {z-index:10;}
.menu.after:after {z-index:20;}

/* 제목 상자 */
.menu .depth_title {overflow:hidden;position:absolute;z-index:20;}

/* 옵션 */
.menu .depth1.clearfix .depth1_list {float:right;}
.menu .depth_list.clearfix > .depth_item {float:left;}
.menu .depth_list.cut > .depth_item {display:inline-block;vertical-align:top;}

/* 풀 다운 */
.menu.pulldown .depth1 {height:100%;}
.menu.pulldown .depth1_list, .menu.pulldown .depth1_item {height:inherit;}
.menu.pulldown .depth2 {position:absolute;bottom:0;left:0;width:100%;}

/* 이치 다운 */
.menu.eachdown .depth1 {height:100%;}
.menu.eachdown .depth1_list, .menu.eachdown .depth1_item {position:static;height:inherit;}
.menu.eachdown .depth2 {position:absolute;bottom:0;left:0;width:100%;}

/* 드롭 다운 */
.menu.dropdown .depth2 {position:absolute;top:100%;left:0;width:100%;transform-origin:center top;transform:scaleY(0);}

#wrapper{position:relative;min-width:1400px;overflow:hidden;}
.wrap{position:relative;width:1400px;margin:0 auto;}
.skip{overflow:hidden;}
#screen{display:none;}
@media screen and (max-width:1400px){
    #wrapper{min-width:1000px;}
    .wrap{width:1000px;}
}
@media screen and (max-width:1000px){
    #wrapper{min-width:0;}
    .wrap{width:94%;}
}

/* 의정부 미래혁신교육협력센터 헤더 */
/* header_top 영역 */
#header{display:block;position:relative;z-index:50;width:100%;box-sizing:border-box;}
.header_top{display:block;position:relative;z-index:50;width:100%;background-color:#383d47;box-sizing:border-box;}
.header_top .gnb{display:block;float:right;box-sizing:border-box;}
.header_top .gnb ul{display:block;width:auto;font-size:0;line-height:0;box-sizing:border-box;}
.header_top .gnb ul li{display:inline-block;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_top .gnb ul li a{display:inline-block;position:relative;min-width:234px;padding-top:12px;padding-bottom:11px;background-color:transparent;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;text-align:center;transition-property:background-color;transition-duration:150ms;transition-timing-function:ease-in-out;}
.header_top .gnb ul li a:before{display:block;position:absolute;top:0;left:0;width:1px;height:100%;background-color:rgba(255, 255, 255, 0.2);box-sizing:border-box;content:'';}
.header_top .gnb ul li a:hover{background-color:#fff;}
.header_top .gnb ul li a span{display:inline-block;position:relative;padding-left:18px;font-size:14px;color:#fff;line-height:18px;font-weight:400;font-family:'NotoKr';vertical-align:top;box-sizing:border-box;transition-property:color;transition-duration:150ms;transition-timing-function:ease-in-out;}
.header_top .gnb ul li a:hover span{color:#383d47;}
.header_top .gnb ul li a span:before{display:block;position:absolute;background-image:url(../images/common/gnb_icon.png);background-repeat:no-repeat;box-sizing:border-box;content:'';}
.header_top .gnb ul li.login a span:before{top:2px;left:3px;width:11px;height:13px;background-position:left top;}
.header_top .gnb ul li.login a:hover span:before{background-position:left -18px;}
.header_top .gnb ul li.sitemap a span:before{top:4px;left:2px;width:10px;height:9px;background-position:-18px top;}
.header_top .gnb ul li.sitemap a:hover span:before{background-position:-18px -18px;}
.header_top .gnb ul li.home a span:before{top:3px;left:1px;width:13px;height:12px;background-position:-36px top;}
.header_top .gnb ul li.home a:hover span:before{background-position:-36px -18px;}
/* header_box 영역 */
@media all and (min-width:1001px){
    .header_box .menu_show{display:none;}
}
.header_box{display:block;height:105px;box-sizing:border-box;}
.header_box .logo{display:block;position:absolute;z-index:31;top:17px;left:2px;box-sizing:border-box;}
.header_box .logo a{display:inline-block;position:relative;width:145px;height:68px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.header_box .logo a:before{display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/sub/logo.png) no-repeat center center;content:'';box-sizing:border-box;}
.header_box .logo a span{display:inline-block;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
/* lnb 영역 */
@media all and (min-width:1001px){
    .lnb .lnb_topbox{display:none;}
    .lnb .menu_hide{display:none;}
}
.lnb{display:block;position:absolute;z-index:30;top:41px;left:0;width:100%;box-sizing:border-box;}
.lnb .menu{height:105px;background-color:#fff;transition-property:height;transition-duration:0.25s;transition-timing-function:ease-in-out;overflow:hidden;}
.lnb .menu:before{display:block;position:absolute;top:104px;left:0;width:100%;height:1px;background-color:#e5e5e5;box-sizing:border-box;content:'';}
.lnb .menu .depth1{display:block;position:static;width:1400px;margin:auto;padding-left:500px;box-sizing:border-box;}
.lnb .menu .depth1 .depth1_list{display:block;float:right;box-sizing:border-box;text-align:right;}
.lnb .menu .depth1 .depth1_list .depth1_item{display:inline-block;float:none;margin-left:70px;vertical-align:top;box-sizing:border-box;}
.lnb .menu .depth1 .depth1_list .depth1_item:first-child{margin-left:0;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text{display:table;position:relative;width:auto;padding:0 10px;box-sizing:border-box;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:before{display:block;position:absolute;bottom:0;left:50%;transform:translateX(-50%);width:100%;height:7px;background-color:#383d47;box-sizing:border-box;content:'';opacity:0;transition-property:opacity;transition-duration:200ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:hover{text-decoration:none;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text:hover:before{opacity:1;}
.lnb .menu .depth1 .depth1_list .depth1_item .depth1_text span{display:table-cell;height:105px;font-size:19px;color:#000;line-height:28px;letter-spacing:-0.04em;font-weight:400;vertical-align:middle;box-sizing:border-box;}
.lnb .menu .depth2{top:105px;bottom:auto;background-color:#fff;transition-property:visibility, opacity;transition-duration:200ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth1_item.active .depth2{visibility:visible;opacity:1;}
.lnb .menu .depth2 .depth2_list{display:block;width:1400px;margin:auto;padding-top:39px;padding-bottom:22px;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth2 .depth2_list .depth2_item{display:block;float:left;width:calc((100% - 100px) / 5);margin-right:25px;margin-bottom:20px;font-size:0;line-height:0;box-sizing:border-box;}
.lnb .menu .depth2 .depth2_list .depth2_item:nth-child(5n){margin-right:0;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text{display:table;position:relative;width:100%;padding-right:36px;padding-left:19px;background-color:#fff;border:1px solid #d9d9d9;border-radius:10px;font-size:0;line-height:0;text-align:left;box-sizing:border-box;transition-property:background-color;transition-duration:200ms;transition-timing-function:ease-in-out;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:before{display:block;position:absolute;top:50%;right:23px;transform:translateY(-50%);width:9px;height:14px;background-image:url(../images/common/lnb_icon.png);background-repeat:no-repeat;background-position:left top;content:'';}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover{background-color:#f6f8f9;text-decoration:none;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text:hover:before{background-position:left -18px;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"]:before{right:20px;width:16px;height:15px;background-position:-18px top;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text[target="_blank"]:hover:before{background-position:-18px -18px;}
.lnb .menu .depth2 .depth2_list .depth2_item .depth2_text span{display:table-cell;width:100%;height:48px;font-size:17px;color:#000;line-height:20px;letter-spacing:-0.03em;font-weight:400;word-break:keep-all;vertical-align:middle;box-sizing:border-box;}
.lnb_curtain{display:block;position:fixed;z-index:0;top:0;left:0;width:100%;height:100vh;background-color:transparent;font-size:0;line-height:0;box-sizing:border-box;visibility:hidden;opacity:0;transition-property:visibility, opacity, background-color;transition-duration:300ms;transition-timing-function:ease-in-out;}
.lnb_open .lnb_curtain{z-index:21;background-color:rgba(0, 0, 0, 0.6);opacity:1;visibility:visible;}
.lnb_curtain button{display:block;position:absolute;top:0;left:0;width:0;height:0;border:none;font-size:0;line-height:0;box-sizing:border-box;}
@media all and (min-width:1001px) and (max-width:1400px){
    .lnb .menu .depth1{width:1000px;padding-left:150px;}
    .lnb .menu .depth1 .depth1_list .depth1_item{margin-left:20px;}

    .lnb .menu .depth2 .depth2_list{width:1000px;}
    .lnb .menu .depth2 .depth2_list .depth2_item{width:calc((100% - 75px) / 4);}
    .lnb .menu .depth2 .depth2_list .depth2_item:nth-child(5n){margin-right:25px;}
    .lnb .menu .depth2 .depth2_list .depth2_item:nth-child(4n){margin-right:0;}
}



/* 의정부 미래혁신교육협력센터 푸터 */
#footer{display:block;position:relative;z-index:50;width:100%;box-sizing:border-box;}
.footer_banner{display:block;width:100%;padding:20px 0;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;box-sizing:border-box;}
.footer_banner .banner_slide_wrap{display:block;position:relative;width:100%;padding-left:112px;box-sizing:border-box;}
.footer_banner .banner_slide_wrap .banner_control{display:block;position:absolute;top:0;left:0;font-size:0;line-height:0;box-sizing:border-box;text-align:left;}
.footer_banner .banner_slide_wrap .banner_control .banner_btn{display:inline-block;position:relative;width:25px;height:25px;margin-left:4px;border:1px solid #d9d9d9;border-radius:100%;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.footer_banner .banner_slide_wrap .banner_control .banner_btn:first-child{margin-left:0;}
.footer_banner .banner_slide_wrap .banner_control .banner_btn:before{display:block;position:absolute;background-image:url(../images/common/footer_banner_icon.png);background-repeat:no-repeat;content:'';}
.footer_banner .banner_slide_wrap .banner_control .banner_btn.prev:before{top:calc(50% - 5px);left:calc(50% - 3px);width:5px;height:9px;background-position:left top;}
.footer_banner .banner_slide_wrap .banner_control .banner_btn.next:before{top:calc(50% - 5px);left:calc(50% - 2px);width:5px;height:9px;background-position:-20px top;}
.footer_banner .banner_slide_wrap .banner_control .banner_btn.auto.slick-play:before{top:calc(50% - 4px);left:calc(50% - 2px);width:6px;height:7px;background-position:-40px top;}
.footer_banner .banner_slide_wrap .banner_control .banner_btn.auto.slick-pause:before{top:calc(50% - 4px);left:calc(50% - 2px);width:5px;height:8px;background-position:-10px top;}
.footer_banner .banner_slide_wrap .banner_control .banner_btn.more:before{top:calc(50% - 5px);left:calc(50% - 4px);width:9px;height:9px;background-position:-30px top;}
.footer_banner .banner_slide_wrap .banner_list{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.footer_banner .banner_slide_wrap .banner_list .slick-list{margin-left:50px;}
.footer_banner .banner_slide_wrap .banner_list .slick-slide{width:auto;margin-left:50px;}
.footer_banner .banner_slide_wrap .banner_list .banner_item{display:inline-block;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.footer_banner .banner_slide_wrap .banner_list .banner_item .banner_link{display:inline-block;font-size:16px;color:#000;line-height:25px;letter-spacing:0;font-weight:200;vertical-align:top;box-sizing:border-box;}
.footer_box{display:block;width:100%;padding-top:34px;padding-bottom:34px;box-sizing:border-box;}
.footer_box .footer_nav{display:block;width:100%;font-size:0;line-height:0;box-sizing:border-box;}
.footer_box .footer_nav ul{display:inline-block;width:auto;vertical-align:top;box-sizing:border-box;}
.footer_box .footer_nav ul li{display:inline-block;position:relative;width:auto;margin-left:40px;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.footer_box .footer_nav ul li:first-child{margin-left:0;}
.footer_box .footer_nav ul li.privacy{padding-left:27px;}
.footer_box .footer_nav ul li.privacy:before{display:block;position:absolute;top:calc(50% - 9px);left:1px;width:19px;height:19px;background:url(../images/common/privacy_logo.png) no-repeat center center;content:'';box-sizing:border-box;}
.footer_box .footer_nav ul li a{display:inline-block;font-size:17px;color:#000;line-height:25px;letter-spacing:0;font-weight:200;vertical-align:top;box-sizing:border-box;}
.footer_box .addressbox{display:block;width:100%;margin-top:24px;font-size:0;line-height:0;box-sizing:border-box;}
.footer_box .addressbox address{display:inline-block;width:auto;font-size:0;line-height:0;vertical-align:top;box-sizing:border-box;}
.footer_box .addressbox address span{display:inline-block;margin-left:38px;font-size:15px;color:#000;line-height:25px;letter-spacing:0;font-weight:200;vertical-align:top;box-sizing:border-box;}
.footer_box .addressbox address span:first-child{margin-left:0;}
.footer_box .copyright{display:block;width:100%;font-size:15px;color:#000;line-height:23px;letter-spacing:0;font-weight:200;font-family:'Lato';box-sizing:border-box;}
