@charset "UTF-8";

/* Notokr */
@font-face{
    font-family:'Notokr';
    font-weight: 600;
    src:url("../font/NotoSansKR-Medium.woff") format('woff');
}
@font-face{
    font-family:'Notokr';
    font-weight: 400;
    src:url("../font/NotoSansKR-Regular.woff") format('woff');
}
@font-face{
    font-family:'Notokr';
    font-weight: 200;
    src:url("../font/NotoSansKR-Light.woff2") format('woff2'),
    url("../font/NotoSansKR-Light.woff") format('woff');
}

/* CJK */
@font-face{
    font-family:'CJK';
    font-weight: 400;
    src:url("../font/NotoSansCJKkr-Regular.woff2") format('woff2'),
    url("../font/NotoSansCJKkr-Regular.woff") format('woff');
}