@charset "UTF-8";

/* (주)한신정보기술 박남규 - 2021.12 */

@media all and (min-width:1401px){
    #header .lnb .menu .depth1_list{width:860px;}
    #header .lnb .menu .depth1_item{width:20%;}
    #header .lnb .menu .depth1_text{padding-right:20px;padding-left:20px;text-align:center;}
    #header .lnb .menu .depth1_item:nth-child(2) .depth1_text{padding-left:30px;}
    #header .lnb .menu .depth1_item:nth-child(3) .depth1_text{padding-left:54px;}
}
@media all and (min-width:1001px) and (max-width:1400px){
    #header .lnb .menu .depth1_list{width:690px;}
    #header .lnb .menu .depth1_item{width:20%;}
    #header .lnb .menu .depth1_text{text-align:center;}
}


